

/* --- 공통 : owl-carousel --- */

/* base.css */
.homepage_banner .slick-slider{margin-bottom:10px;}
.owl-prev{position:absolute;top:50%;left:40px;float:left;width:30px;height:30px;margin-top:-15px;font-weight:100;}
.owl-next{position:absolute;top:50%;right:40px;float:left;width:30px;height:30px;margin-top:-15px;font-weight:100;}
.owl-dots{position:absolute;right:80px;bottom:30px;width:auto;}
.owl-dots .owl-dot span{opacity:1;background:#ffffff;box-shadow:0 0 2px #555555;}
.owl-dots .owl-dot.active span{background:#8a9fb8;}
@media (max-width: 768px){
	.owl-dots{right:auto;bottom:12px;width:100%;}
}

/* akl_common.css 라인 487*/
.akl .owl-nav div {background:none; text-indent: -999px; height:22px}
.akl .owl-nav div::before {display:none;}
.akl .owl-nav .owl-prev { left:0; background: url('../images/akl_common/icon_slide_prev_off.png') no-repeat left 50% !important; text-indent:-999px; overflow:hidden}
.akl .owl-nav .owl-next { right:0; background: url('../images/akl_common/icon_slide_next_off.png') no-repeat right 50% !important; text-indent:-999px; overflow:hidden}
.akl .owl-nav .owl-prev:hover {background: url('../images/akl_common/icon_slide_prev_on.png') no-repeat left 50% !important;}
.akl .owl-nav .owl-next:hover {background: url('../images/akl_common/icon_slide_next_on.png') no-repeat right 50% !important;}


/* 쇼핑메인(G00000.html) */
.akl #banner_list .owl-nav .owl-prev, .akl #sub_banner_list .owl-nav .owl-prev {left:30px;}
.akl #banner_list .owl-nav .owl-next, .akl #sub_banner_list .owl-nav .owl-next {right:30px;}

/* 함께하면 좋은 제품 */
.akl .amway-suggest__list .owl-nav .owl-prev {left:-15px;}
.akl .amway-suggest__list .owl-nav .owl-next {right:-15px;}

/* 최근 본 제품 */
#recentlyViewedListTab.owl-carousel .owl-item {padding:18px;}

/* 관련자료/온라인 교육자료 */
.akl .amway-theme .owl-carousel .carousel-link-wrap .primary-link span {font-weight:500; font-size:16px; line-height: 1.1; text-align: left;color: #fff;display: block; height: 77px;padding: 15px 24px 0 19px;text-transform: capitalize;}
.akl #productLearningListTabs .owl-prev {left: -15px;}
.akl #productLearningListTabs .owl-next {right: -15px;}

/* 장바구니 > 추천 프로모션 */
.akl .carousel-title-containeramway-suggest__list .owl-nav .owl-prev {left:0;}
.akl .carousel-title-containeramway-suggest__list .owl-nav .owl-next {right:0;}





/* --- 공통 : 탭 --- */
.amway-theme .tabs-toggles .tab-toggle-wrap {min-width:120px;}
.amway-theme .tabs-toggles .tab-toggle-wrap .tab-toggle {width:100%; height:50px; padding:0 20px; text-align:center; word-break:break-all; display:flex; align-items:center;}
.amway-theme .tabs-toggles .tab-toggle-wrap .tab-toggle .toggle-text {display:block; width:100%; font-weight:500; font-size:14px; line-height:120%; word-break:break-all;}
.amway-theme .tabs-toggles .tab-toggle-wrap.active .tab-toggle {position:relative; padding-top:0; text-transform:none; border-top:0;}
.amway-theme .tabs-toggles .tab-toggle-wrap.active .tab-toggle:before {content:''; position:absolute; top:0; left:0; width:100%; height:4px; background:#008fc5;}
.amway-theme .tabs-toggles.width-auto .tab-toggle-wrap {min-width:auto;}
.amway-theme .tabs-toggles.width-auto .tab-toggle-wrap .tab-toggle {padding:0 5px;}
.akl .outer-border-bottom .tabs-toggles .tab-toggle-wrap .tab-toggle .toggle-text i {display:inline-block;}
.akl .outer-border-bottom .tabs-toggles.case01 .tab-toggle-wrap {min-width:160px;}
.akl .outer-border-bottom .tabs-toggles.case01 .tab-toggle-wrap .tab-toggle {min-width:160px;}

/* 검색 > 탭 */
.col-search-tab {position:relative; margin:0 0 40px; padding:0;}
.col-search-tab ul {display:flex; margin:0; padding:0; border-bottom: 1px solid #dadada;}
.col-search-tab ul li {width:12%; margin-bottom:-1px;}
.col-search-tab ul li a {display:flex; width:100%; height:50px; padding:15px 0; word-break:break-all; justify-content:center; align-items:center; color:#55565a; border:1px solid #dadada; border-right:0; background: #f4f4f4;}
.col-search-tab ul li a span {font-weight:500;}
.col-search-tab ul li:nth-of-type(7){width:16%}
.col-search-tab ul li:nth-of-type(8) a{ border-right: 1px solid #dadada;}
.col-search-tab ul li {display: inline-flex;}
.col-search-tab ul li.active a {position:relative; background:#fff; border-bottom:0;}
.col-search-tab ul li.active a:before { content:""; position:absolute; top:-1px; left:-1px; right:-1px;  border-top: 4px solid #008fc5; }

/* 비즈니스 > 사업성장 특별보상 프로그램 */
.col-search-tab.num04  ul li {width:25%; margin-bottom: -1px;}
.col-search-tab.num04  ul li:nth-of-type(4) a {border-right:1px solid #dadada;}

/* 주문결제 > 결제방법 선택 > 카드사 혜택보기팝업 */
.col-search-tab.card {margin-bottom:30px}
.col-search-tab.card ul li {width:20%;}
.col-search-tab.card ul li:last-child {border-right:1px solid #dadada}

@media (min-device-width:1025px){
	/* webkit 스크롤 */
	.tabs-toggles::-webkit-scrollbar-track, .col-search-tab>ul::-webkit-scrollbar-track {background-color:rgba(245,245,245,0.1); -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);}
	.tabs-toggles::-webkit-scrollbar, .col-search-tab>ul::-webkit-scrollbar {width:6px; height:6px; background-color: rgba(245,245,245,.8);}
	.tabs-toggles::-webkit-scrollbar-thumb, .col-search-tab>ul::-webkit-scrollbar-thumb {width:6px; height:6px; background-color:rgba(0,0,0,0.1);}
	/* IE 스크롤 */
	.tabs-toggles, .col-search-tab>ul {-ms-overflow-style:-ms-autohiding-scrollbar; scrollbar-face-color:rgba(245,245,245,0); scrollbar-arrow-color:rgba(245,245,245,0); scrollbar-track-color:rgba(245,245,245,0.4); scrollbar-shadow-color:rgb(255,255,255,0.5); scrollbar-highlight-color:rgb(255,255,255,0); scrollbar-3dlight-color:rgb(255,255,255,0); scrollbar-darkshadow-Color:rgb(255,255,255,0);}
}
@media (max-width: 768px){
	/* --- 공통 : 탭 --- */
	/* common > tabs (base.css 재정의) */
	.amway-theme .outer-border-bottom {position:relative;}
	.amway-theme .outer-border-bottom:before {content:''; position:absolute; box-sizing:content-box; width:100%; padding-left:15px; padding-right:15px; height:1px; left:-15px; right:0; bottom:0; background:#dadada;}
	.amway-theme .tab-toggle-wrap {display:inline-table; display: block; flex:auto; min-width:auto;	margin:0; justify-content:center; align-items:center;}
	.amway-theme .tabs-toggles .tab-toggle-wrap {min-width:auto; margin-bottom:0; border-bottom:1px solid #dadada;}
	.amway-theme .tabs-toggles .tab-toggle-wrap:last-of-type .tab-toggle{border:0;}
	.amway-theme .tabs-toggles .tab-toggle-wrap .tab-toggle {min-width:auto; border:0; background:#fff; word-break:; text-align:center;}
	.amway-theme .tabs-toggles .tab-toggle-wrap .tab-toggle .toggle-text {display:block; padding:0; white-space:nowrap; color:#55565a; font-size:14px; font-weight:500; vertical-align: middle; line-height:120%; background:none;}
	.amway-theme .tabs-toggles .tab-toggle-wrap.active .tab-toggle {padding-top:0; border:0;}
	.amway-theme .tabs-toggles .tab-toggle-wrap.active .tab-toggle:before {top:auto; bottom:-1px;}
	.amway-theme .tabs-toggles .tab-toggle-wrap.active .tab-toggle .toggle-text,
	.amway-theme .tabs-toggles .tab-toggle-wrap .tab-toggle:hover .toggle-text {color:#002f5f;}

	/* wrapper가 있는 경우 (js에서 .border-none 추가) */
	.amway-theme .outer-border-bottom.border-none {border:0;}
	.amway-theme .outer-border-bottom.border-none .tabs-toggles .tab-toggle-wrap {border-bottom:0;}
	.amway-theme .outer-border-bottom.border-none .tabs-toggles .tab-toggle-wrap .tab-toggle {border-bottom:1px solid #dadada;}

	.akl .amway-theme .tabs-toggles {overflow-x:auto; overflow-y:hidden; margin-left:0; border:0;}
	.akl .tabs-toggles .tab-toggle-wrap .tab-toggle .toggle-text i {display: inline-block;}
	.akl .outer-border-bottom {position:relative; margin-left:0; margin-right:0;}
	.akl .outer-border-bottom .tabs-toggles {margin-left:0; margin-right:0;}
	.akl .outer-border-bottom .tabs-toggles .tab-toggle-wrap {margin-bottom: 0 !important; min-width:auto;}
	.akl .outer-border-bottom .tabs-toggles .tab-toggle-wrap .tab-toggle,
	.akl .outer-border-bottom .tabs-toggles.case01 .tab-toggle-wrap,
	.akl .outer-border-bottom .tabs-toggles.case01 .tab-toggle-wrap .tab-toggle,
	.akl .tabs-toggles.case01 .tab-toggle-wrap,
	.akl .tabs-toggles.case01 .tab-toggle-wrap .tab-toggle {min-width:auto;}

	/* 검색 > 탭 */
	.col-search-tab {position:relative; margin: 0 0 30px;}
	.col-search-tab:before {content:''; position:absolute; box-sizing:content-box; width:100%; padding-left:15px; padding-right:15px; height:1px; left:-15px; right:0; bottom:0; background:#dadada;}
	.col-search-tab ul {overflow-x:auto; overflow-y:hidden; margin-left:0; border:0; width:auto;}
	.col-search-tab ul li {display:inline-table; display: block; flex:auto; width:auto;	margin:0; justify-content:center; align-items:center;}
	.col-search-tab ul li.active a:before {content:''; position:absolute; top:auto; bottom:0; left:0; right:0;  border-top: 4px solid #008fc5;}
	.col-search-tab ul li a {display:block; padding:15px 20px; word-break:keep-all; white-space:nowrap; color:#55565a; font-size:14px; font-weight:500; vertical-align: middle; line-height:120%; background:none; border:0;}
	.col-search-tab ul li:nth-of-type(7) {width:auto;}
	.col-search-tab ul li:last-child a {border-right:0;}
	.col-search-tab.num04 ul li:last-child a {border-right:0;}
	.col-search-tab.num04 ul li {display:inline-table; display: block; flex:auto; width:auto;	margin:0; justify-content:center; align-items:center; width:auto}
	.col-search-right .plp-add-to-ditto button {position:static;}

	/* 스크롤 영역 표시 */
	.scrollable-area {position:absolute; left:0; top:-1px; width:60px; height:100%; z-index:2;}
	.scrollable-area.left {left:-15px;
		background:    -moz-linear-gradient(left, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background:     linear-gradient(to right, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}
	.scrollable-area.right {left:auto; right:-15px;
		background:    -moz-linear-gradient(right, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(right, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background:       linear-gradient(to left, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}
}
