/* 상품목록 (장바구니,주문결제, 위시리스트 ) */

/* 장바구니 */
.akl .sort-refine-bar {height:50px;}
.akl .sort-refine-bar .form-group select.cart-detail__size {margin-left:0;font-size:14px;width:195px;}
.akl .pagination-left {float:left;margin:0;vertical-align:middle;padding:8px 0 0;text-align:left;}
.akl .pagination-left .wish-del {padding-top:0}
.akl .pagination-wrap {margin:5px 0 8px; text-align:right;}
.akl .pagination-wrap .wish-num {display:inline-block;vertical-align:middle;padding:9px 10px 0 0;height:42px;}
.akl .pagination-wrap .wish-num span {vertical-align:middle;}
.akl .pagination-wrap .wish-num strong {color:#002f5f}

.akl .shop-cart-conts .shopping-cart-item-list .col-xs-3 {width:20%;}
.akl .shop-cart-conts .shopping-cart-item-list .col-xs-1.list-item-total {width:13.33333333%}
.akl .shop-cart-conts .product-list-item .col-md-3 {width:20%;}
.akl .shop-cart-conts .product-list-item .col-md-1.list-item-total {width:13.33333333%; }

.akl .shop-cart-conts .shopping-cart-item-list {clear:both;display:block;font-family:'Noto Sans KR', sans-serif;}
.akl .shop-cart-conts .shopping-cart-item-list .list-header { padding:9px 0 5px;vertical-align:top;border-top:1px solid #e3e3e3;border-bottom:1px solid #e3e3e3;}
.akl .shop-cart-conts .shopping-cart-item-list .list-header .list-item-info {padding-left:15px; text-align:center}
.akl .shop-cart-conts .shopping-cart-item-list .list-header .list-item-quantity,
.akl .shop-cart-conts .shopping-cart-item-list .list-header .list-item-set-price,
.akl .shop-cart-conts .shopping-cart-item-list .list-header .list-item-price,
.akl .shop-cart-conts .shopping-cart-item-list .list-header .list-item-total {font-size:13px !important;letter-spacing:-1px; text-align:center; font-weight:500 }
.akl .shop-cart-conts .shopping-cart-item-list .list-header label {padding:0 0;margin:0 0;vertical-align:middle; float:left}
.akl .shop-cart-conts .shopping-cart-item-list .list-header .all-txt {display:inline-block;vertical-align:top;font-size:13px;font-weight:500}
.akl .shop-cart-conts .shopping-cart-item-list .proabo-btn .product-availability span.sto-blue{margin:0 0 0 10px; position:relative;}
.akl .shop-cart-conts .shopping-cart-item-list .proabo-btn .product-availability .bt-akl-white {margin-bottom:2px}

.akl .shopping-cart-item-list .product-list-item .product-item-element .total-price-label,
.akl .shopping-cart-item-list .product-list-item .product-item-element .ibo-price-label,
.akl .shopping-cart-item-list .product-list-item .product-item-element .price-label,
.akl .shopping-cart-item-list .product-list-item .product-item-element .total-pv-bv-label,
.akl .shopping-cart-item-list .product-list-item .product-item-element .qty-label,
.akl .shopping-cart-item-list .product-list-item .product-item-element .option-label {display: none;font-size: 14px;line-height: 20px;letter-spacing:-1px;color: #002f5f;font-weight: 500;margin: 0;text-transform: none;}
.akl .shopping-cart-item-list .product-list-item .list-item-info .product-name {font-size:14px;line-height:20px;letter-spacing:-1px;font-weight: 500;padding:0 0 0;}
.akl .shopping-cart-item-list .product-list-item .list-item-pv-bv {font-size: 14px;line-height: 20px;letter-spacing:-1px;font-weight:500;}
.akl .shopping-cart-item-list .product-list-item .list-item-price,
.akl .shopping-cart-item-list .product-list-item .list-item-total {letter-spacing:0;font-size: 14px;line-height: 20px;}
.akl .shopping-cart-item-list .product-code {padding:5px 0 0;}
.akl .product-code,.akl .product-category,.akl .product-pvbv {font-size:13px;line-height:18px;color:#808285;}
.akl .shopping-cart-item-list .product-list-item .list-item-info .product-category {line-height:18px;padding:0 0 3px}
.akl .shopping-cart-item-list .sort-refine-bar .form-group select.cart-detail__size {font-weight:500;color:#002f5f;}
.akl .shopping-cart-item-list .all-ak-check {display:inline-block;vertical-align:middle;margin:9px 15px 11px;}
.akl .shopping-cart-item-list .all-ak-check ._checkbox-element-global-class ~ span._checkbox-element-global-span:before {bottom:4px;}
.akl .shopping-cart-item-list .cart-content-wrapper .cart-actions {padding:40px 0 45px }
.akl .shopping-cart-item-list .value-wrapper.right {text-align:right !important;}
.akl .shopping-cart-item-list .value-wrapper.option img {width:30px;height:30px;}
.akl .shopping-cart-item-list .value-wrapper.option .option-info {display:block;padding:5px 0 0;}
.akl .shopping-cart-item-list .value-wrapper.option .option-info span {font-size:14px;font-weight:500;padding:0 0;margin:0 0;}
.akl .shopping-cart-item-list .value-wrapper.option .option-info .link-btn {display:block;}
.akl .shopping-cart-item-list .product-list-item .list-item-ibo-price {line-height:20px;}

.akl .shopping-cart-item-list .product-status-value {display:block;margin-bottom:5px;}
.akl .shopping-cart-item-list .icon-x-red {display: inline-block;width:14px;height:24px;vertical-align:middle;background:url("../images/akl_common/ico_x_red.png") no-repeat left 7px;}
.akl .shopping-cart-item-list .icon-x-red:before {content:'';}
.akl .shopping-cart-item-list .text-no-uppercase {color:#e11e45;vertical-align:middle;}
.akl .shopping-cart-item-list .shop-list-right {display:block;clear:both;height:80px;margin-top:15px}
.akl .shopping-cart-item-list .akl-toggle-wrap.sort-order .accordion-custom { border-top:0;}
.akl .shopping-cart-item-list .akl-toggle-wrap.sort-order .accordion-custom .panel { border-bottom: 0;}
.akl #shopping-list-content {box-sizing:border-box;margin:0;padding:0;}

.akl .wish-promotion .shopping-cart-item-list {padding:0;box-sizing:border-box;}
.akl .wish-promotion .shopping-cart-item-list .list-header.change-list-header {text-align:center; background-color:#F4F4F4;color:#002F5F;font-size:13px;font-weight:500;letter-spacing:-1px; border-bottom-width:1px;border-top:1px solid #e3e3e3;padding:5px 0;}
.akl .wish-promotion .shopping-cart-item-list .list-header.change-list-header .list-item-info{ text-align:center; }
.akl .wish-promotion .shopping-cart-item-list .list-header.change-list-header .col-xs-12 {width:100%;}
.akl .wish-promotion .shopping-cart-item-list .list-header.change-list-header .col-xs-5 {width:41.66666667%}
.akl .wish-promotion .shopping-cart-item-list .list-header.change-list-header .col-xs-3 {width:20%}
.akl .wish-promotion .shopping-cart-item-list .list-header.change-list-header .col-xs-2 {width:16%}
.akl .wish-promotion .shopping-cart-item-list .list-header.change-list-header .col-xs-1 {width:11%}

.shopping-cart-item-list .list-header {line-height:initial; border:1px solid red !important}
.akl .wish-promotion .shopping-cart-item-list .list-header.change-list-header label {margin-bottom: 0; margin-right: 10px; padding-top:0;float: left;line-height: 1.1;display: inline-block;color: #002f5f;max-width: 100%;}
.akl .wish-promotion .shopping-cart-item-list [type="checkbox"]:not(:checked) {left: -9999px;position: absolute; }
.akl .wish-promotion .shopping-cart-item-list input[type="radio"], input[type="checkbox"] {margin: 4px 0 0; margin-top: 1px \9;line-height: normal;}
._checkbox-element-global-class ~ span._checkbox-element-global-span {display: inline-block;width: 20px;height: 20px;margin-right: 5px;border: 1px solid #dadada;background: white;position: relative;top: 0px;cursor: pointer;}
._checkbox-element-global-class~span._checkbox-element-global-span:before {position: relative;top: 4px; left: 3px;float: left;font-family: 'AmwayIcons'!important; font-size: 9px;font-weight: normal;font-style: normal;font-variant: normal;
    line-height: 1; content: '\e909';text-transform: none;color: #ffffff; speak: none;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.akl .wish-promotion .shopping-cart-item-list .list-header .list-item-info {padding-left:15px;}
.akl .wish-promotion .shopping-cart-item-list .product-list-item {position: relative;padding:40px 0 40px;letter-spacing:-0.05em;font-size:14px;font-family:'Noto Sans KR', sans-serif;}
.akl .wish-promotion .shopping-cart-item-list .product-list-item .list-item-toggle {width:auto;}
.akl .wish-promotion .shopping-cart-item-list .product-list-item .product-item-element {display: table-cell;}
.akl .wish-promotion .shopping-cart-item-list .product-list-item .list-item-amount { text-align:center;}
.akl .wish-promotion .shopping-cart-item-list .product-list-item .list-item-image {padding: 0 10px;vertical-align: top;}
.akl .wish-promotion .shopping-cart-item-list .product-list-item .list-item-image img {width: 67px;height: auto;border: 1px solid #e3e3e3;}
.akl .wish-promotion .shopping-cart-item-list .product-list-item .list-item-info {vertical-align:top;padding: 0 10px;}
.akl .wish-promotion .shopping-cart-item-list .product-list-item .list-item-info .product-name {font-size: 14px;line-height:20px;margin-bottom:10px;display: block;}
.akl .wish-promotion .shopping-cart-item-list .product-list-item .list-item-info .product-code {font-size: 14px;line-height:18px;}
.akl .wish-promotion .shopping-cart-item-list .product-list-item .list-item-info .product-category {font-size: 14px;line-height:18px;}
.akl .wish-promotion .shopping-cart-item-list .product-list-item .list-item-amount {padding-top: 0.1em;}
.akl .wish-promotion .shopping-cart-item-list .product-list-item .product-item-element .qty-label {display: none;font-size: 14px;line-height: 2.5em;color: #002F5F;font-weight:500;margin: 0;text-transform: uppercase;}
.akl .wish-promotion .shopping-cart-item-list .product-list-item .list-item-info .product-stock {font-size: 14px;line-height: 1.43em;font-weight: 500;padding-top: 0.5em;}
.akl .wish-promotion .shopping-cart-item-list .product-list-item .list-item-quantity {padding-top:0; text-align:center}

.akl .wish-promotion .shopping-cart-item-list .product-list-item .col-md-5 {width:41.66666667%}
.akl .wish-promotion .shopping-cart-item-list .product-list-item .col-md-3 {width:20%}
.akl .wish-promotion .shopping-cart-item-list .product-list-item .col-md-2 {width:16%}
.akl .wish-promotion .shopping-cart-item-list .product-list-item .col-md-1 {width:11%; text-align:center;font-size:14px;font-family:'Noto Sans KR', sans-serif;font-weight:400}

/* 주문결제*/
.akl .payment-promotion {clear:both;display:block;padding:50px 0 30px;}
.akl .payment-promotion .shopping-cart-item-list .gwp-item.product-list-item .list-item-image {padding-left:10px;}
.akl .payment-promotion .shopping-cart-item-list .product-list-item .list-item-info {width:100%;}
.akl .payment-promotion .shopping-cart-item-list .list-header {padding:0 0;}
.akl .payment-promotion .shopping-cart-item-list .list-header .col-xs-5 {width:44%; text-align:center;}
.akl .payment-promotion .shopping-cart-item-list .list-header .col-xs-3 {width:10%; text-align:center;}
.akl .payment-promotion .shopping-cart-item-list .list-header .col-xs-2 {width:22%;  text-align:center;  }
.akl .payment-promotion .shopping-cart-item-list .list-header .col-xs-1 {width:12%; text-align:center;}

.akl .payment-promotion .shopping-cart-item-list .product-list-item {padding:40px 0;}
.akl .payment-promotion .shopping-cart-item-list .product-list-item .col-md-5 {width:44%;}
.akl .payment-promotion .shopping-cart-item-list .product-list-item .col-md-3 {width:10%; text-align:center;}
.akl .payment-promotion .shopping-cart-item-list .product-list-item .col-md-2 {width:22%; text-align:center;}

.akl .payment-promotion .shopping-cart-item-list .product-list-item .col-md-1 {width:12%;text-align:center; }
.akl .payment-promotion .shopping-cart-item-list .gwp-item.product-list-item .gwp-gift-selections {width:600px;}
.akl .payment-promotion .view-bundle-contents {width:740px;}
.akl .payment-promotion .view-bundle-contents .view-setcomp .v-subject {width:70%;}
.akl .payment-promotion .view-bundle-contents .view-setcomp .v-number {width:10%;}
.akl .payment-promotion .view-bundle-contents .view-setcomp .v-option {width:20%;}


/* 온라인 팩스주문 */
.akl .faxOrder-prdt-list .shopping-cart-item-list .list-header {border-top:1px solid #e3e3e3;border-bottom:1px solid #e3e3e3;font-weight:500;letter-spacing:-1px;line-height:1.0;}
.akl .faxOrder-prdt-list .shopping-cart-item-list .list-header .list-item-info {padding-left:0;}
.akl .faxOrder-prdt-list ._checkbox-element-global-class ~ span._checkbox-element-global-span {top:2px;}
.akl .faxOrder-prdt-list .shopping-cart-item-list .all-ak-check {margin:9px 10px 11px 15px;}
.akl .faxOrder-prdt-list .all-txt {font-size:13px !important;}
.akl .faxOrder-prdt-list .list-header .list-item-quantity {padding:13px 0 0;font-size:13px !important;}
.akl .faxOrder-prdt-list .list-header .list-item-set-price {padding:13px 0 0;font-size:13px !important;}
.akl .faxOrder-prdt-list .list-header .list-item-price {padding:13px 0 0;font-size:13px !important;}
.akl .faxOrder-prdt-list .list-header .list-item-total {padding:13px 0 0;font-size:13px !important;}

@media (max-width: 768px){
	.akl .wish-promotion .shopping-cart-item-list .list-header.change-list-header {padding:0;}
	.akl .wish-promotion .shopping-cart-item-list .list-header.change-list-header label {padding-top:0; margin-top:15px;}
	.change-list-header .list-item-info {height:50px;}
	.change-list-header .list-item-info>em,
	.change-list-header .list-item-quantity,
	.change-list-header .list-item-set-price,
	.change-list-header .list-item-price,
	.change-list-header .list-item-total {display:none;}

	.akl .shopping-cart-item-list.new-shopping-cart-item-list .visible-md.visible-lg {display:none;}
	.akl .shopping-cart-item-list.new-shopping-cart-item-list .visible-xs {margin-bottom:20px;}
	.akl .shopping-cart-item-list.new-shopping-cart-item-list .visible-xs .list-header label.checkbox-element-wrapper {padding-left:15px}

	/* 주문결제 */
	.akl .payment-promotion .shopping-cart-item-list .list-header {height:35px;}
	.akl .payment-promotion .shopping-cart-item-list .product-list-item .list-item-info {float:left;margin-left:12px;width:-webkit-calc(100% - 95px);width:-moz-calc(100% - 95px);width:calc(100% - 95px);}

	.akl .payment-promotion .shopping-cart-item-list .product-list-item {padding:20px 10px;}
	.akl .payment-promotion .shopping-cart-item-list .product-list-item .col-md-5 {clear:both;display:block;width:100%;}
	.akl .payment-promotion .shopping-cart-item-list .product-list-item .col-md-3 {clear:both;display:block;width:calc(100% - 84px);}
	.akl .payment-promotion .shopping-cart-item-list .product-list-item .col-md-2 {clear:both;display:block;width:calc(100% - 84px);}
	.akl .payment-promotion .shopping-cart-item-list .product-list-item .col-md-1 {clear:both;display:block;width:calc(100% - 84px);padding-right:0;}

	.payment-promotion .shopping-cart-item-list .gwp-item.product-list-item .list-item-image {padding-left:0;}
	.akl .payment-promotion .shopping-cart-item-list .product-list-item.gwp-item .list-item-info {float:left;margin-left:12px;width:-webkit-calc(100% - 84px);width:-moz-calc(100% - 84px);width:calc(100% - 84px);}
	.akl .payment-promotion .shopping-cart-item-list .gwp-item.product-list-item .gwp-gift-selections {width:100%;margin-left:0;}
	.akl .payment-promotion .shopping-cart-item-list .gwp-item.product-list-item .gwp-gift-selections .col-xs-9 {padding:0 10px;}


}



/* 장바구니 */
.shopping-cart-item-list.js-shopping-cart-item-list.new-shopping-cart-item-list.change-shopping-cart-item-list {}

/* 주문결제 */
.shopping-cart-item-list.js-shopping-cart-item-list.new-shopping-cart-item-list.change-shopping-cart-item-list {}

/* 온라인 팩스주문 */
.shopping-cart-item-list.js-shopping-cart-item-list.shopping-cart-product-item-list {}

/* 위시리스트 */
.shopping-cart-item-list.js-shopping-cart-item-list.shopping-cart-product-item-list {}

/* --- 공통 : owl-carousel --- */

/* base.css */
.homepage_banner .slick-slider{margin-bottom:10px;}
.owl-prev{position:absolute;top:50%;left:40px;float:left;width:30px;height:30px;margin-top:-15px;font-weight:100;}
.owl-next{position:absolute;top:50%;right:40px;float:left;width:30px;height:30px;margin-top:-15px;font-weight:100;}
.owl-dots{position:absolute;right:80px;bottom:30px;width:auto;}
.owl-dots .owl-dot span{opacity:1;background:#ffffff;box-shadow:0 0 2px #555555;}
.owl-dots .owl-dot.active span{background:#8a9fb8;}
@media (max-width: 768px){
	.owl-dots{right:auto;bottom:12px;width:100%;}
}

/* akl_common.css 라인 487*/
.akl .owl-nav div {background:none; text-indent: -999px; height:22px}
.akl .owl-nav div::before {display:none;}
.akl .owl-nav .owl-prev { left:0; background: url('../images/akl_common/icon_slide_prev_off.png') no-repeat left 50% !important; text-indent:-999px; overflow:hidden}
.akl .owl-nav .owl-next { right:0; background: url('../images/akl_common/icon_slide_next_off.png') no-repeat right 50% !important; text-indent:-999px; overflow:hidden}
.akl .owl-nav .owl-prev:hover {background: url('../images/akl_common/icon_slide_prev_on.png') no-repeat left 50% !important;}
.akl .owl-nav .owl-next:hover {background: url('../images/akl_common/icon_slide_next_on.png') no-repeat right 50% !important;}


/* 쇼핑메인(G00000.html) */
.akl #banner_list .owl-nav .owl-prev, .akl #sub_banner_list .owl-nav .owl-prev {left:30px;}
.akl #banner_list .owl-nav .owl-next, .akl #sub_banner_list .owl-nav .owl-next {right:30px;}

/* 함께하면 좋은 제품 */
.akl .amway-suggest__list .owl-nav .owl-prev {left:-15px;}
.akl .amway-suggest__list .owl-nav .owl-next {right:-15px;}

/* 최근 본 제품 */
#recentlyViewedListTab.owl-carousel .owl-item {padding:18px;}

/* 관련자료/ 온라인 교육자료 */
.akl .amway-theme .owl-carousel .carousel-link-wrap .primary-link span {font-weight:500; font-size:16px; line-height: 1.1; text-align: left;color: #fff;display: block; height: 77px;padding: 15px 24px 0 19px;text-transform: capitalize;}
.akl #productLearningListTabs .owl-prev {left: -15px;}
.akl #productLearningListTabs .owl-next {right: -15px;}

/* 장바구니 > 추천 프로모션 */
.akl .carousel-title-containeramway-suggest__list .owl-nav .owl-prev {left:0;}
.akl .carousel-title-containeramway-suggest__list .owl-nav .owl-next {right:0;}

.amway-suggest__list .owl-nav .owl-prev {left:-15px;}
.amway-suggest__list .owl-nav .owl-next {right:-15px;}



/* --- 공통 : 탭 --- */
.amway-theme .tabs-toggles .tab-toggle-wrap {min-width:120px;}
.amway-theme .tabs-toggles .tab-toggle-wrap .tab-toggle {width:100%; height:50px; padding:0 20px; text-align:center; word-break:break-all; display:flex; align-items:center;}
.amway-theme .tabs-toggles .tab-toggle-wrap .tab-toggle .toggle-text {display:block; width:100%; font-weight:500; font-size:14px; line-height:120%; word-break:break-all;}
.amway-theme .tabs-toggles .tab-toggle-wrap.active .tab-toggle {position:relative; padding-top:0; text-transform:none; border-top:0;}
.amway-theme .tabs-toggles .tab-toggle-wrap.active .tab-toggle:before {content:''; position:absolute; top:0; left:0; width:100%; height:4px; background:#008fc5;}
.amway-theme .tabs-toggles.width-auto .tab-toggle-wrap {min-width:auto;}
.amway-theme .tabs-toggles.width-auto .tab-toggle-wrap .tab-toggle {padding:0 5px;}
.akl .outer-border-bottom .tabs-toggles .tab-toggle-wrap .tab-toggle .toggle-text i {display:inline-block;}
.akl .outer-border-bottom .tabs-toggles.case01 .tab-toggle-wrap {min-width:160px;}
.akl .outer-border-bottom .tabs-toggles.case01 .tab-toggle-wrap .tab-toggle {min-width:160px;}

/* 검색 > 탭 */
.col-search-tab {position:relative; margin:0 0 40px; padding:0;}
.col-search-tab ul {display:flex; margin:0; padding:0; border-bottom: 1px solid #dadada;}
.col-search-tab ul li {width:12%; margin-bottom:-1px;}
.col-search-tab ul li a {display:flex; width:100%; height:50px; padding:15px 0; word-break:break-all; justify-content:center; align-items:center; color:#55565a; border:1px solid #dadada; border-right:0; background: #f4f4f4;}
.col-search-tab ul li a span {font-weight:500;}
.col-search-tab ul li:nth-of-type(7){width:16%}
.col-search-tab ul li:nth-of-type(8) a{ border-right: 1px solid #dadada;}
.col-search-tab ul li {display: inline-flex;}
.col-search-tab ul li.active a {position:relative; background:#fff; border-bottom:0;}
.col-search-tab ul li.active a:before { content:""; position:absolute; top:-1px; left:-1px; right:-1px;  border-top: 4px solid #008fc5; }

/* 비즈니스 > 사업성장 특별보상 프로그램 */
.col-search-tab.num04  ul li {width:25%; margin-bottom: -1px;}
.col-search-tab.num04  ul li:nth-of-type(4) a {border-right:1px solid #dadada;}

/* 주문결제 > 결제방법 선택 > 카드사 혜택보기팝업 */
.col-search-tab.card {margin-bottom:30px}
.col-search-tab.card ul li {width:20%;}
.col-search-tab.card ul li:last-child {border-right:1px solid #dadada}

@media (min-device-width:1025px){
	/* webkit 스크롤 */
	.tabs-toggles::-webkit-scrollbar-track, .col-search-tab>ul::-webkit-scrollbar-track {background-color:rgba(245,245,245,0.1); -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);}
	.tabs-toggles::-webkit-scrollbar, .col-search-tab>ul::-webkit-scrollbar {width:6px; height:6px; background-color: rgba(245,245,245,.8);}
	.tabs-toggles::-webkit-scrollbar-thumb, .col-search-tab>ul::-webkit-scrollbar-thumb {width:6px; height:6px; background-color:rgba(0,0,0,0.1);}
	/* IE 스크롤 */
	.tabs-toggles, .col-search-tab>ul {-ms-overflow-style:-ms-autohiding-scrollbar; scrollbar-face-color:rgba(245,245,245,0); scrollbar-arrow-color:rgba(245,245,245,0); scrollbar-track-color:rgba(245,245,245,0.4); scrollbar-shadow-color:rgb(255,255,255,0.5); scrollbar-highlight-color:rgb(255,255,255,0); scrollbar-3dlight-color:rgb(255,255,255,0); scrollbar-darkshadow-Color:rgb(255,255,255,0);}
}
@media (max-width: 768px){
	/* --- 공통 : 탭 --- */
	/* common > tabs (base.css 재정의) */
	.amway-theme .outer-border-bottom {position:relative;}
	.amway-theme .outer-border-bottom:before {content:''; position:absolute; box-sizing:content-box; width:100%; padding-left:15px; padding-right:15px; height:1px; left:-15px; right:0; bottom:0; background:#dadada;}
	.amway-theme .tab-toggle-wrap {display:inline-table; display: block; flex:auto; min-width:auto;	margin:0; justify-content:center; align-items:center;}
	.amway-theme .tabs-toggles .tab-toggle-wrap {min-width:auto; margin-bottom:0; border-bottom:1px solid #dadada;}
	.amway-theme .tabs-toggles .tab-toggle-wrap:last-of-type .tab-toggle{border:0;}
	.amway-theme .tabs-toggles .tab-toggle-wrap .tab-toggle {min-width:auto; border:0; background:#fff; word-break:; text-align:center;}
	.amway-theme .tabs-toggles .tab-toggle-wrap .tab-toggle .toggle-text {display:block; padding:0; white-space:nowrap; color:#55565a; font-size:14px; font-weight:500; vertical-align: middle; line-height:120%; background:none;}
	.amway-theme .tabs-toggles .tab-toggle-wrap.active .tab-toggle {padding-top:0; border:0;}
	.amway-theme .tabs-toggles .tab-toggle-wrap.active .tab-toggle:before {top:auto; bottom:-1px;}
	.amway-theme .tabs-toggles .tab-toggle-wrap.active .tab-toggle .toggle-text,
	.amway-theme .tabs-toggles .tab-toggle-wrap .tab-toggle:hover .toggle-text {color:#002f5f;}

	/* wrapper가 있는 경우 (js에서 .border-none 추가) */
	.amway-theme .outer-border-bottom.border-none {border:0;}
	.amway-theme .outer-border-bottom.border-none .tabs-toggles .tab-toggle-wrap {border-bottom:0;}
	.amway-theme .outer-border-bottom.border-none .tabs-toggles .tab-toggle-wrap .tab-toggle {border-bottom:1px solid #dadada;}

	.akl .amway-theme .tabs-toggles {overflow-x:auto; overflow-y:hidden; margin-left:0; border:0;}
	.akl .tabs-toggles .tab-toggle-wrap .tab-toggle .toggle-text i {display: inline-block;}
	.akl .outer-border-bottom {position:relative; margin-left:0; margin-right:0;}
	.akl .outer-border-bottom .tabs-toggles {margin-left:0; margin-right:0;}
	.akl .outer-border-bottom .tabs-toggles .tab-toggle-wrap {margin-bottom: 0 !important; min-width:auto;}
	.akl .outer-border-bottom .tabs-toggles .tab-toggle-wrap .tab-toggle,
	.akl .outer-border-bottom .tabs-toggles.case01 .tab-toggle-wrap,
	.akl .outer-border-bottom .tabs-toggles.case01 .tab-toggle-wrap .tab-toggle,
	.akl .tabs-toggles.case01 .tab-toggle-wrap,
	.akl .tabs-toggles.case01 .tab-toggle-wrap .tab-toggle {min-width:auto;}

	/* 검색 > 탭 */
	.col-search-tab {position:relative; margin: 0 0 30px;}
	.col-search-tab:before {content:''; position:absolute; box-sizing:content-box; width:100%; padding-left:15px; padding-right:15px; height:1px; left:-15px; right:0; bottom:0; background:#dadada;}
	.col-search-tab ul {overflow-x:auto; overflow-y:hidden; margin-left:0; border:0; width:auto;}
	.col-search-tab ul li {display:inline-table; display: block; flex:auto; width:auto;	margin:0; justify-content:center; align-items:center;}
	.col-search-tab ul li.active a:before {content:''; position:absolute; top:auto; bottom:0; left:0; right:0;  border-top: 4px solid #008fc5;}
	.col-search-tab ul li a {display:block; padding:15px 20px; word-break:keep-all; white-space:nowrap; color:#55565a; font-size:14px; font-weight:500; vertical-align: middle; line-height:120%; background:none; border:0;}
	.col-search-tab ul li:nth-of-type(7) {width:auto;}
	.col-search-tab ul li:last-child a {border-right:0;}
	.col-search-tab.num04 ul li:last-child a {border-right:0;}
	.col-search-tab.num04 ul li {display:inline-table; display: block; flex:auto; width:auto;	margin:0; justify-content:center; align-items:center; width:auto}
	.col-search-right .plp-add-to-ditto button {position:static;}

	/* 스크롤 영역 표시 */
	.scrollable-area {position:absolute; left:0; top:-1px; width:60px; height:100%; z-index:2;}
	.scrollable-area.left {left:-15px;
		background:    -moz-linear-gradient(left, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background:     linear-gradient(to right, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}
	.scrollable-area.right {left:auto; right:-15px;
		background:    -moz-linear-gradient(right, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(right, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background:       linear-gradient(to left, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}
}
