/************************************************
Version : AKL Hybris UIUX 1.0
Date : 2018.05.03
Editor : ji-min Park
*************************************************/




/**************************************************
				new에 합칠 공통 추가
***************************************************/
.txt-info-visual .v-tit{line-height:1.2;}
.txt-info-visual .v-txt {word-break: keep-all;word-wrap: break-word;} /* 비주얼 영역에 단어단위로 줄내림 */
.txt-info-visual .v-etc{margin: 20px 10% 0;font-size: 14px;color: #dadada;font-weight: 300;line-height: 1.6;letter-spacing: -1px;}

/* 폰트컬러 값 */
.txt-green, strong.green{color: #1ef1d9;}
.txt-white{color:#ffffff;}


/**************************************************
			          뷰티	비주얼 영역
***************************************************/
.visual-area.type02.ad_vitamin{background: #f8f8f8 url(../images/akl_product/beauty/bg_intensive_advanced_1480.png) no-repeat top center;height:929px;}     /*01 인텐시브 비타민 */
.visual-area.type02.boosting_infusion{background: #f8f8f8 url(../images/akl_product/beauty/bg_intensive_boosting_infusion.png) no-repeat top center;height:1039px;}     /*01 인텐시브 부스팅 인퓨전  */
.visual-area.type02.intensive_skin{background: #f8f8f8 url(../images/akl_product/beauty/bg_intensive_skincare.png) no-repeat top center;height:1085px;}               /*01 인텐시브 스킨케어 */
.visual-area.type02.intensive_restore{background: #f8f8f8 url(../images/akl_product/beauty/bg_intensive_night_restore.png) no-repeat top center;height:1098px;}     /*01 인텐시브 리스토어 프로그램*/
.visual-area.type02.youth_xtend{background: #f8f8f8 url(../images/akl_product/beauty/bg_youth_xtend.png) no-repeat top center;height:1085px;}                       /* 02 Youth_Xtend*/
.visual-area.type02.youth_xtend_set{background: #f8f8f8 url(../images/akl_product/beauty/bg_youth_xtend_set.png) no-repeat top center;height:1090px;}              /* 02 Youth_Xtend set*/
.visual-area.type02.ultra_lifting{background: #f8f8f8 url(../images/akl_product/beauty/bg_youth_xtend_ultra_lifting.png) no-repeat top center;height:1189px;}      /*03 Youth Xtend lifting */
.visual-area.type02.Ideal{background: #f8f8f8 url(../images/akl_product/beauty/bg_ideal_radience.png) no-repeat top center;height:1100px;}                 /* 4. 아이디얼 */
.visual-area.type02.ideal_uv{background: #f8f8f8 url(../images/akl_product/beauty/bg_ideal_radience_uv_protect.png) no-repeat top center;height:1064px;}    /* 4. 아이디얼 프로덱트 */
.visual-area.type02.zone_patch{background: #f8f8f8 url(../images/akl_product/beauty/bg_zone_patch.png) no-repeat top center;height:904px;}                 /* 4. 아이디얼 존패치 */
.visual-area.type02.hydrav{background: #f8f8f8 url(../images/akl_product/beauty/bg_hydrav_refreshing.png) no-repeat top center;height:1189px;}                      /*05 하이드라v */
.visual-area.type02.hydrav_set{background: #f8f8f8 url(../images/akl_product/beauty/bg_hydrav_aqua_set.png) no-repeat top center;height:911px;}                    /*05 하이드라v 기프트세트 */
.visual-area.type02.special_care{background: #f8f8f8 url(../images/akl_product/beauty/bg_special_care.png) no-repeat top center;height:1095px;}            /*06 스페셜 케어 */
.visual-area.type02.water_uv{background: #f8f8f8 url(../images/akl_product/beauty/bg_sun_protect_1416.png) no-repeat top center;height:1141px;}            /*06 스페셜 케어 - 워터에센스 선 프로텍트 */
.visual-area.type02.special_care{background: #f8f8f8 url(../images/akl_product/beauty/bg_duma_sonic_4779.png) no-repeat top center;height:1036px;}            /*06 스페셜 케어 더마 갈바닉 */





/**************************************************
				 뷰티 스킨케어 common
***************************************************/	
.skin-care p, .skin-care div, p{word-break: keep-all;word-wrap: break-word;}								 
.skin-care .txt-info-visual .v-tit{padding: 32px 0 0;}
.skin-care .txt-info-visual .v-tit strong{font-size: 60px;font-weight: 500;line-height: 1;}
.skin-care .txt-info-visual .v-tit strong.green{color: #1ef1d9;font-size: 60px;font-weight: 500;line-height: 1;}


.skin-care .ingredient_list{display: block;overflow:hidden;margin-top:10px;}
.skin-care .ingredient_list li{width: 22%;display: inline-block;float: left;margin: 0 0 4% 4%;}
.skin-care .ingredient_list li:first-child, .skin-care .ingredient_list li:nth-child(4n+1){margin-left:0;}
.skin-care .ingredient_list li img{width:100%;}

/* 4523 */
.ade-photo{}
.ade-photo .reposom-wrap{position: relative;margin:40px 0 60px;}
.ade-photo .reposom-wrap img{text-align:center;}
.ade-photo .reposom-wrap em{position:absolute;display:inline-block;padding-left:5px;font-size:14px;color:#20893d;font-weight:300;line-height:1.2;vertical-align:middle;letter-spacing:-1px;text-align:left;}
.ade-photo .reposom-wrap em br{line-height:0;}
.ade-photo .reposom-wrap em.own{top:0;right:0; margin-right: 34px;}
.ade-photo .reposom-wrap em.two{bottom: 50%;right: 50%; margin-right: -135px; margin-bottom:-17%;}

/* 하이드라 브이 1323 */
























@media (max-width: 768px) {


}