/************************************************
Version : AKL Hybris UIUX 1.0
*************************************************/ 
/*** 비주얼 영역 ***/
.visual-area {width:100%;position:relative;text-align:center;}
.visual-area.type01 {background:#eeede3 url('../images/akl_product/bg_NU02_01.png') no-repeat top center;height:840px;}
.visual-area.type02 {background:#c9e3f6;min-height:619px;padding:0 20px 30px;}


.visual-area .bg-top {position:absolute;top:0;left:0;width:100%;}
.visual-area .bg-top img {width:100%;height:auto;}
.visual-area .v-logo {padding:80px 0 0}
.visual-area .v-logo.nutrition-health img {width:238px;height:25px;}
.visual-area .v-logo.beauty img {width:auto;height:auto;}

.txt-info-visual {position:relative;}
.txt-info-visual .v-logo-txt {font-size:18px;font-weight:400;letter-spacing:-2px;padding:13px 0 0}
.txt-info-visual .v-tit {font-size:35px;letter-spacing:-2px;font-weight:400;padding:18px 0 0}
.txt-info-visual .v-tit span {display:inline-block;font-weight:500;font-size:35px;}
.txt-info-visual .v-txt {font-size:16px;line-height:24px;font-weight:300;margin:20px 20%;letter-spacing:-1px;}
.v-pro {margin-top:70px;width:100%;text-align:center;}
.v-pro span {display:block;text-align:center;margin:0 auto;width:100%;}
.v-pro span img {text-align:center;width:auto;height:auto;}

.visual-area.type02 .txt-info-visual .v-logo-txt {font-size:26px;}
.visual-area.type02 .txt-info-visual .v-tit {font-size:60px;}
.visual-area.type02 .txt-info-visual .v-tit span {display:block;font-size:60px;}

.blue {color:#0075a4;}

/* 공통 부분 */
.com-tit {font-size:44px;font-weight:400;letter-spacing:-2px;line-height:1.2}
.com-tit span {display:inline-block;font-weight:400;font-size:44px;}
.com-tit2 {font-size:30px;font-weight:400;letter-spacing:-2px;}
.com-txt {font-size:16px;color:#808285;letter-spacing:-1px;font-weight:300;margin-top:15px;}
.com-etc {font-size:16px;font-weight:300;margin-top:15px;letter-spacing:-1px;color:#818286}
.po-tit {font-size:16px;font-weight:400;letter-spacing:-1px;}
.po-txt {font-size:16px;letter-spacing:-1px;font-weight:300;}

/**** 설명부분 ****/
/* guide 01 */
.description-area {clear:both;display:block;margin:50px 0 0;padding:0;width:100%;text-align:center;}
.description-area .cd-txt {font-size:20px;font-weight:300;letter-spacing:-2px;line-height:26px;margin:20px 10%;}
.description-area .cd-pro {margin:20px 0 0;text-align:center;}
.description-area .cd-pro img {text-align:center;margin:0 auto;width:auto;height:auto;}

.info-p-list {clear:both;display:block;margin:30px auto;}
.info-p-list ul {width:100%;margin:0 auto;}
.info-p-list ul:after {content:'';clear:both;display:block;}
.info-p-list ul li {float:left;width:14.28%;text-align:center;vertical-align:top;min-height:140px;}
.info-p-list ul li span {display:block;padding:10px 10px 0;text-align:center;}
.info-p-list ul li span img {width:auto;height:auto;}
.info-p-list ul li p {margin:10px 0 0;font-size:16px;letter-spacing:-1px;}

.description-area.line-box {clear:both;display:block;border:1px solid #e3e3e3;padding:35px 40px;}
.description-area.line-box .cd-tit {font-size:30px;}
.description-area.line-box .cd-tit span {font-size:30px;}
.description-area.line-box .cd-txt {font-size:18px;}

.pro-composition {clear:both;display:block;text-align:center;margin:36px auto 0;}
.pcomp-area {clear:both;display:block;margin:30px 0 0;padding:20px 0;border-top:1px solid #e3e3e3;border-bottom:1px solid #e3e3e3;overflow:hidden;}
.pcomp-list {width:100%;margin:0 auto;}
.code-im  {position:relative;display:block;height:180px;width:100%;text-align:center;vertical-align:bottom;margin:0 auto;}
.code-im span {position:absolute;bottom:0;left:0;right:0;text-align:center;}
.code-im span img {display:block;text-align:center;margin:0 auto;}
.pcomp-list div.comp-info {float:left;vertical-align:top;text-align:center;}
.comp-info dl {display:block;position:relative;width:100%;vertical-align:top;padding:10px 30px;}
.comp-info dl dt {min-height:34px;font-family:'Noto Sans KR', sans-serif;}
.comp-info dl dt span.blue {display:block;}
.comp-info dl dd p {font-size:14px;font-weight:300;color:#808285;padding:5px 0 10px}

.pcomp-list.deaf04 div.comp-info {width:25%;}
.pcomp-list.deaf03 div.comp-info {width:33.3%;}
.pcomp-list.deaf02 div.comp-info {width:50%;}
.pcomp-list.deaf01 div.comp-info {width:100%;}

.ingestion-usage {}
.ingestion-usage dl {clear:both;display:block;width:100%;margin:20px 0 0;padding:0;}
.ingestion-usage dl:after {content:'';clear:both;display:block;}
.ingestion-usage dl dt, .ingestion-usage dl dd {float:left;box-sizing:border-box;}
.ingestion-usage dl dt {width:20%;vertical-align:top;font-size:26px;font-weight:500;letter-spacing:-2px;}
.ingestion-usage dl dd {width:80%;vertical-align:top;padding:8px 0 0}
.ingestion-usage dl dd p {margin:0 0;font-size:16px;font-weight:300;letter-spacing:-1px;}

.inge-lst01 {}
.inge-lst01 li {font-size:16px;letter-spacing:-1px;font-weight:300;}

.inge-lst02 {padding:10px 0 0}
.inge-lst02 li {font-size:16px;letter-spacing:-1px;font-weight:400;color:#008fc5;} 

.inge-lst03 {padding:10px 0 0}
.inge-lst03 li {position:relative;font-size:14px;letter-spacing:-1px;font-weight:300;color:#000;padding-left:10px;} 
.inge-lst03 li:after {position: absolute;top: 10px;left: 0;display: inline-block; width: 5px;height: 5px;border-radius: 50%;background-color: #c9c9c9;content: "";}

.inge-numlst01 {}
.inge-numlst01 li {font-size:16px;letter-spacing:-1px;font-weight:300;}
.inge-numlst01 li ul {padding:0 0 0 15px}

/* 제품 주요특징 */
.special-feat {clear:both;display:block;margin-top:20px;}
.special-feat ul {display:block;width:100%;border-bottom:1px solid #e3e3e3;}
.special-feat ul > li {display:table;width:100%;table-layout:fixed;box-sizing: border-box;padding:20px 50px;border-top:1px solid #e3e3e3;background: url(../images/akl_product/ico_bullet.png) no-repeat 8% 50%}
.special-feat ul li > div {display:table-cell;box-sizing: border-box;vertical-align:middle;}
div.feat-txt {width:65%;text-align:left;letter-spacing:-2px;padding:0 10%}
div.feat-txt p {font-weight:400;font-size:20px;margin:0 0;}
div.feat-txt span {font-weight:400;font-size:20px;}
div.feat-txt ul {border-bottom:0 none;padding:0 0;margin:0 0;}
div.feat-txt ul li {font-size:16px;letter-spacing:-1px;font-weight:300;background:none;padding:0 0 0;border-top:none;color:#818286;}
div.feat-img {width:35%;text-align:middle;text-align:center;}
div.feat-img img {text-align:center;}

/* guide 02 */
.advantage-area {display:table;width:100%;table-layout:fixed;box-sizing: border-box;}
.advan-left, .advan-right {display:table-cell;box-sizing: border-box;}
.advan-left {width:50%;vertical-align:top;}
.advan-right {width:50%;vertical-align:middle;}

.advan-left.v-mid {vertical-align:middle;}
.advan-right.v-top {vertical-align:top;}
.ade-photo {margin:0 auto;text-align:center;}
.ade-photo img {text-align:center;}
.sie-box {padding:30px 12% 0;}
.ad-setp-lst {width:100%;font-size: 16px;letter-spacing: -1px;}
.ad-setp-lst dt {color: #0075a4;font-weight: 400;margin-top:23px}
.ad-setp-lst dd {font-weight: 300;}

@media (max-width: 1024px) {
	.info-p-list ul li span img {width:100%;height:auto;}

	.pcomp-list div.comp-info {clear:both;display:block;width:100%;}
	.ingestion-usage dl dt {width:25%;}
	.ingestion-usage dl dt {width:75%;}

}

@media (max-width: 768px) {

	.visual-area .v-logo.nutrition-health img {width:auto;height:18px;}
	.txt-info-visual .v-txt {font-size:14px;margin:20px 18%;}
	.v-pro span img {text-align:center;width:100%;height:auto;}

	.description-area .cd-pro img {text-align:center;margin:0 auto;width:100%;height:auto;}
	
	.com-tit {font-size:26px;}
	.com-tit span {font-size:26px;}

	.info-p-list ul li {float:left;width:25%;text-align:center;vertical-align:top;min-height:120px;}
	.info-p-list ul li span img {width:100%;height:auto;}
	.info-p-list ul li p {font-size:14px;}

	.pcomp-list.deaf04 div.comp-info {clear:both;display:block;width:100%;}
	.pcomp-list.deaf03 div.comp-info {clear:both;display:block;width:100%;}
	.pcomp-list.deaf02 div.comp-info {clear:both;display:block;width:100%;}
	.pcomp-list.deaf01 div.comp-info {clear:both;display:block;width:100%;}

	.ingestion-usage dl dt {width:100%;}
	.ingestion-usage dl dd {width:100%;}

	.visual-area.type02 {background:#c9e3f6;min-height:619px;padding:0 20px 30px;}
	
	.special-feat ul > li {padding:20px 10px;border-top:1px solid #e3e3e3;background:none;}
	div.feat-txt {padding:0 0}
	div.feat-txt p {font-size:14px;margin:0 0;}
	div.feat-txt span {font-size:14px;}
	div.feat-txt ul li {font-size:14px;}
	div.feat-img img {width:100%;height:auto;}

}	
