/************************************************ 
Version : AKL Hybris UIUX 1.0
Date : 2018-03-13
Editor : sookkyung Han
*************************************************/ 
/*** 상품상세 가이드 ***/
.product-detail-view{padding-bottom:40px;}
.product-detail-view > div{max-width:1100px;margin:0 auto;}
.product-detail-view > .product-visual{max-width:100%;padding:78px 0 70px;}
.typeA .product-visual,
.typeC .product-visual{background-color:#eeede3;}
.typeB .product-visual{background-color:#c0def4;}
.typeD .product-visual{background-color:#e9bab8;}

.color01.product-detail-view .product-visual{background-color:#faffee;}/* 연두 */
.color02.product-detail-view .product-visual{background-color:#ffeaea;} /* 레드 */

.product-detail-view .product-visual{position:relative;overflow:hidden;}
.product-visual .visual-bg img{position:absolute;display:inline-block;bottom:0;}
.product-visual .visual-bg .top{top:0;bottom:auto;}
.product-visual .visual-info{position:relative;padding:0 30px;}
.product-visual .txt-area{text-align:center;}
.product-visual .visual-logo{display:inline-block;}
.product-visual .logo-txt{display:block;margin-top:12px;font-size:26px;color:#56565a;letter-spacing:-2px}
.product-visual .visual-tit{margin-top:24px;font-size:60px;color:#56565a;font-weight:400;line-height:0.9;letter-spacing:-2px;}
.product-visual .visual-tit strong{font-size:60px;font-weight:500;}
.typeA .product-visual .visual-tit strong,
.typeC .product-visual .visual-tit strong{color:#20893d;}
.typeB .product-visual .visual-tit strong{color:#0075a4;}
.typeD .product-visual .visual-tit strong,
.color02 .product-visual .visual-tit strong{color:#c4133f;}
.product-visual .txt-area .visual-txt{margin-top:9px;font-size:16px;color:#444;font-weight:300;line-height:1.6;letter-spacing:-1px}
.product-visual .visual-img{width:100%;margin-top:65px;text-align:center;}
.product-visual .visual-img span{display:inline-block;}

.product-detail-view .detail-tit{display:block;font-size:44px;color:#57565b;font-weight:400;letter-spacing:-2px;text-align:center;}
.product-detail-view .detail-tit.small{font-size:30px;color:#57565b;font-weight:500;}
.product-detail-view .detail-tit em{font-size:44px;color:#20893d;font-weight:400;letter-spacing:-2px;}
.product-detail-view .detail-info-txt{font-size:20px;color:#57565b;font-weight:300;letter-spacing:-2px;}
.product-detail-view .detail-info-etc{display:block;font-size:16px;color:#818286;font-weight:300;letter-spacing:-1px;}
.product-detail-view .detail-info-etc.big{font-size:18px;letter-spacing:-2px;}
.product-detail-view .tit-blue-s{font-size:16px;color:#0090c5;font-weight:400;letter-spacing:-1px;}
.product-detail-view .tit-blue-b{font-size:18px;color:#0075a4;font-weight:400;letter-spacing:-2px;}
.typeA.product-detail-view .detail-tit em,
.typeC.product-detail-view  .detail-tit em{color:#20893d;}
.color02.product-detail-view  .detail-tit em,
.typeD.product-detail-view  .detail-tit em{color:#c4133f;}
.product-detail-view .detail-img{display:inline-block;}
.product-detail-view .mt0{margin-top:0;}

.product-detail-view .product-info{padding-top:56px;border-top:1px solid #e3e3e3;text-align:center;}
.product-detail-view .product-visual + .product-info{border-top:none;}
.product-info .detail-info{margin-top:13px;}
.product-info .detail-info-etc{margin-top:19px;}
.product-info .detail-img{margin:50px 0 20px;}

.product-detail-view .info-img-list{width:-webkit-calc(100% + 58px);width:-moz-calc(100% + 58px);width:calc(100% + 58px);margin:19px 0 0 -29px;text-align:left;}
.info-img-list li{display:inline-block;width:14%;padding-top:26px;min-height:140px;vertical-align:top;}
.info-img-list span{display:block;padding:4px 10px 0;font-size:16px;color:#57565b;letter-spacing:-1px;text-align:center;}
.info-img-list .img-box{padding:0 29px;}

.product-detail-view .product-info-box{margin-top:50px;padding:35px 20px 40px;border:1px solid #e3e3e3;text-align:center;}
.product-info-box .detail-info{margin-top:4px;}
.product-info-box .detail-img{margin-top:36px;}

.product-detail-view .product-notice{padding:5px 0 60px;margin-top:50px;border:solid #e3e3e3;border-width:1px 0;}
.product-notice .notice-list > li{float:none;display:table;padding-top:27px;}
.product-notice .detail-tit{display:table-cell;float:none;font-size:26px;color:#444;font-weight:500;text-align:left;vertical-align:top;letter-spacing:-2px;}
.product-notice .detail-list{display:table-cell;padding-top:7px;font-size:16px;color:#666;font-weight:300;vertical-align:top;letter-spacing:-1px;}
.product-notice .detail-list li{padding-top:2px;margin-left:17px;text-indent:-17px;font-size:16px;color:#666;font-weight:300;letter-spacing:-1px;}
.product-notice .detail-list li:first-child{padding-top:0;}

.product-detail-view .product-feature{margin-top:36px;text-align:center;}
.feature-list{margin-top:18px;}
.feature-list > li{display:table;width:100%;padding:0 93px;border:solid #e3e3e3;border-width:0 0 1px;table-layout:fixed;}
.feature-list > li:first-child{border-width:1px 0;}
.feature-list .detail-bullet{display:table-cell;width:36px;vertical-align:middle;}
.feature-list .detail-txt{display:table-cell;padding:20px 50px 20px 20px;font-size:20px;color:#57565b;vertical-align:middle;text-align:left;letter-spacing:-2px;}
.feature-list .detail-txt strong{display:block;font-size:20px;font-weight:400;color:#20893d;letter-spacing:-2px;}
.feature-list .detail-img{width:260px;display:table-cell;vertical-align:middle;text-align:right;}

.detail-dot{position:relative;padding-left:15px;font-size:16px;text-align:left;color:#808285;letter-spacing:-1px;}
.product-feature .detail-dot{margin:15px 0 0 94px;}
.detail-dot:after{position:absolute;top:10px;left:0;display:inline-block;width:5px;height:5px;border-radius:50%;background-color:#c9c9c9;content:"";}

.akl .product-detail-view .product-setup{margin-top:36px;overflow:hidden;}
.product-setup{text-align:center;}
.setup-list{display:table;width:100%;margin-top:16px;padding-bottom:50px;border:solid #e3e3e3;border-width:1px 0;text-align:center;}
.akl .accordion-collapse-wrapper .col-lg-12.setup-list{padding-bottom:50px;}
.setup-list li{display:table-cell;float:none;position:relative;padding:17px 30px 66px;text-align:center;vertical-align:top;}
.akl .accordion-collapse-wrapper .setup-list li.col-lg-12{padding:30px 30px 66px;}
.setup-list.divid01 li{width:100%;}
.setup-list.divid02 li{width:50%;}
.setup-list.divid03 li{width:33.3%;}
.setup-list .detail-img{max-width:180px;margin:0 auto;vertical-align:middle;}
.setup-list .setup-info{margin-top:36px;}
.setup-list .setup-tit{display:block;margin-top:3px;font-size:16px;color:#56565a;font-weight:400;letter-spacing:-1px;line-height:1.3;}
.setup-list .setup-tit-etc{display:block;margin-top:3px;font-size:15px;color:#008fc5;letter-spacing:-1px;}
.setup-list .setup-txt{display:block;margin-top:5px;font-size:14px;color:#808285;font-weight:300;letter-spacing:-1px;}
.setup-list .btn-box{position:absolute;bottom:0;left:0;width:100%;}
.akl .setup-list .btn-box a.bt-akl-blue{padding:7px 20px 8px;}
.setup-list .setup-mark{display:inline-block;position:absolute;top:40px;right:15px;width:66px;height:66px;padding:12px 5px 0;font-size:14px;color:#fff;line-height:1.4;letter-spacing:-1px;border-radius:50%;background-color:#bbb;}
.setup-list .setup-txt br,
.setup-list .setup-mark br{line-height:0;}

.product-detail-view .product-feature02{margin-top:42px;}
.product-feature02{padding-bottom:30px;border-bottom:1px solid #e3e3e3;overflow:hidden;}
.product-feature02 .detail-tit{text-align:left;line-height:1.2;}

.feature-box li{display:table;padding:0;table-layout:fixed;}
.product-feature02 .feature-box{margin-top:25px;padding:0;vertical-align:middle;}
.feature-box li{padding:10px 0;}
.feature-box .ico-box{display:table-cell;width:80px;height:80px;border-radius:50%;text-align:center;vertical-align:middle;background-color:#ffeaea;}
.feature-box .ico-img{display:inline-block;width:22px;}
.feature-box .ico-txt{display:block;font-size:16px;color:#ff0075;letter-spacing:-1px;vertical-align:middle;}
.feature-box p{display:table-cell;padding:0 10px 0 16px;font-size:16px;color:#666;letter-spacing:-1px;vertical-align:middle;}

.product-detail-view .product-effect-info{margin-top:70px;}
.product-detail-view .product-visual + .product-effect-info{margin-top:50px;}
.product-effect-info{border:solid #e3e3e3;border-width:1px;}
.product-effect-info .detail-tit{padding:15px 0 18px;background-color:#eeefef;}
.effect-info{padding:30px 90px;border:solid #e3e3e3;border-width:1px 0 0;}
.effect-info .info-txt{font-size:16px;color:#808285;font-weight:300;letter-spacing:-1px;line-height:1.7;}

.effect-info .effect-info-tit{display:block;margin-bottom:15px;font-size:30px;color:#56565a;font-weight:400;letter-spacing:-2px;}
.effect-info-wrap > div{padding-left:20px;}
.effect-info-wrap > div:first-child{padding:0 20px 0 0;}
.effect-info-box{float:none;display:table-cell;vertical-align:top;font-size:16px;color:#808285;font-weight:300;letter-spacing:-1px;line-height:1.7;}
.effect-info-wrap{float:none;display:table;padding:0;table-layout:fixed;}
.effect-info.effect-info-wrap{padding:30px 92px;}
.effect-info-wrap .effect-info-img,
.effect-info-wrap .effect-info-right{float:none;display:table-cell;width:50%;padding-right:0;vertical-align:top;text-align:right;}
.effect-info-wrap .effect-info-right{text-align:left;}
.mid .effect-info-box,
.mid .effect-info-img{vertical-align:middle;}

.effect-info .effect-info-list{margin-top:-6px;}
.effect-info-list li{float:none;display:inline-block;width:50%;padding:20px 5% 0 0;vertical-align:top;}
.effect-info-list .detail-img{display:table-cell;width:81px;vertical-align:middle;}
.age-group{display:table-cell;padding-left:20px;vertical-align:middle;}
.age-group-tit{display:block;font-size:16px;color:#56565a;font-weight:500;letter-spacing:-1px;}
.age-group-txt{display:block;margin-top:2px;font-size:13px;color:#808285;font-weight:300;line-height:1.6;letter-spacing:-1px;}
.age-group-txt br{line-height:0;}

.effect-info .info-graph{margin-top:30px;}
.info-graph li{width:50%;padding:0 0 0 8px;}
.info-graph li:first-child{padding:0 8px 0 0;}
.effect-info .tit-blue-s{display:block;margin-bottom:7px;}
.effect-info .tit-blue-b{margin-top:30px;}
.effect-info .tit-blue-b:first-child{margin-top:0;}

.product-effect-info .dot-list{margin-top:36px;}
.dot-list li{position:relative;padding-left:14px;margin-top:15px;}
.dot-list li:first-child{margin-top:0;}
.dot-list .dot-tit{display:block;font-size:14px;color:#56565a;font-weight:300;letter-spacing:-1px;}
.dot-list .dot-tit:after,
.dot-list .dot-txt.dot:after{position:absolute;top:8px;left:0;display:inline-block;width:5px;height:5px;border-radius:50%;background-color:#c9c9c9;content:"";}
.dot-list .dot-txt{display:block;margin-top:1px;font-size:14px;color:#808285;font-weight:300;letter-spacing:-1px;}

.product-detail-view .product-advantage{overflow:hidden;margin-top:50px;}
.product-detail-view .product-advantage + .product-advantage{padding-top:50px;border-top:1px solid #e3e3e3;}
.product-advantage .detail-tit{text-align:left;line-height:1.2;}
.advantage-box{text-align:left;padding:0;}
.reverse .advantage-box{float:right;}
.product-advantage .advantage-txt{margin-top:18px;font-size:16px;color:#808285;letter-spacing:-1px;font-weight:300;line-height:1.6;}
.product-advantage .advantage-txt-etc{font-size:16px;color:#008fc5;letter-spacing:-1px;}
.product-advantage .advantage-txt-etc:first-child{margin-top:20px;}
.product-advantage .advantage-img{float:right;text-align:left;padding:0 0 0 50px;}
.product-advantage.reverse .advantage-img{float:left;text-align:left;padding:0 50px 0 0;}
.product-advantage .detail-tit + .advantage-list{margin-top:-5px;}
.product-advantage .advantage-list .list-box{margin-top:23px;}
.product-advantage .advantage-list .list-tit{display:block;font-size:16px;color:#0075a4;font-weight:400;letter-spacing:-1px;}
.product-advantage .advantage-list .list-txt{display:block;font-size:16px;color:#808285;font-weight:300;letter-spacing:-1px;}
.product-advantage .advantage-list .detail-dot{margin-top:20px;padding-left:10px;font-size:14px;color:#000;font-weight:300;}
.product-advantage .advantage-list .detail-dot:after{top:8px;}
.product-advantage .advantage-list .advantage-list-tit{display:block;padding-top:8px;font-size:20px;font-weight:400;letter-spacing:-2px;}
.product-advantage .advantage-list .advantage-list-tit + ul{margin-top:-3px;}

.advantage-step .step-tit{display:block;font-size:30px;color:#808285;font-weight:300;letter-spacing:-2px;line-height:1;}
.advantage-step .step-tit em{display:block;font-size:30px;font-weight:400;letter-spacing:-2px;}
.advantage-step .program-list li{display:table;width:100%;padding-top:20px;}
.advantage-step .program-list .program-box{display:table-cell;width:50%;padding-right:15px;vertical-align:middle;}
.advantage-step .program-list .program-img{display:table-cell;width:50%;padding-right:10px;vertical-align:middle;}
.advantage-step .program-list .program-step{display:block;width:140px;height:40px;line-height:40px;font-size:18px;color:#fff;text-align:center;background-color:#ad9172;border-radius:20px;}
.advantage-step .program-list .program-tit{display:block;padding-left:15px;margin-top:10px;font-size:16px;color:#56565a;font-weight:400;letter-spacing:-1px;}
.advantage-step .program-list .program-txt{display:block;padding-left:15px;font-size:14px;color:#808285;font-weight:300;letter-spacing:-1px;}

.color02 .product-advantage .advantage-list .list-tit,
.color02 .product-advantage .advantage-list .advantage-list-tit{color:#ad9172;}
.color02 .advantage-step .step-tit em{color:#ad9172;}

.product-detail-view .effect-info .img-wrap{margin-top:50px}

.product-detail-view .product-process{padding:26px 50px 23px;margin-top:50px;border:10px solid #eff0f1;}
.product-process .detail-tit{font-size:36px;color:#444;}
.product-process .product-process-step{margin-top:36px;}
.product-process-step .owl-item,
.product-process-step > .step-flow{display:inline-block;padding:0 10px;vertical-align:top;text-align:center;}
.step05.product-process-step .owl-item,
.step05.product-process-step > .step-flow{width:20%;}
.product-process-step .step-img{display:inline-block;}
.product-process-step .step-num{display:block;max-width:60px;margin:30px auto 0;padding:0px 10px;border-radius:10px;font-size:14px;color:#fff;letter-spacing:-1px;font-weight:300;background-color:#bbb;}
.product-process-step .step-txt{display:block;margin-top:7px;font-size:14px;color:#808285;letter-spacing:-1px;font-weight:300;line-height:1.7;}
.akl .product-process .owl-theme .owl-controls .owl-nav .owl-prev{left:-22px;}
.akl .product-process .owl-theme .owl-controls .owl-nav .owl-next{right:-22px;}
.product-process .owl-theme .owl-dots .owl-dot{padding:0 5px;}
.product-process .owl-theme .owl-dots .owl-dot span{width:15px;height:15px;margin:0 0;background-color:#eff0f1;}
.product-process .owl-theme .owl-dots .owl-dot.active span{margin:0;background-color:#bbb;}
	
.product-detail-view .effect-info-step{margin-top:47px;}
.effect-info-step{width:-webkit-calc(100% + 30px);width:-moz-calc(100% + 30px);width:-ms-calc(100% + 30px);width:calc(100% + 30px);display:table;float:none;padding:0;margin-left:-30px;}
.effect-info-step li{float:none;position:relative;display:table-cell;padding:0 0 0 30px;text-align:center;}
.effect-info-step li:before{display:inline-block;position:absolute;top:50%;left:10px;width:10px;height:17px;margin-top:-8px;background:url('../images/akl_product/ico_arr_right.png') no-repeat 0 0;content:"";}
.effect-info-step li:first-child:before{display:none;}
.effect-info-step.divid03 li{width:33.33%;text-align:center;} 
.effect-info-step .effect-step-txt{display:block;margin-top:30px;font-size:14px;color:#56565a;font-weight:300;letter-spacing:-1px;}
.effect-step-etc{margin-top:25px;font-size:14px;color:#56565a;text-align:center;letter-spacing:-1px;font-weight:300;}
.effect-step-etc br{line-height:0;}

.bor-img-list{width:-webkit-calc(100% + 30px);width:-moz-calc(100% + 30px);width:-ms-calc(100% + 30px);width:calc(100% + 30px);margin:-30px 0 20px -30px;}
.bor-img-list li{float:none;display:inline-block;padding:0 0 0 30px;margin-top:30px;text-align:center;vertical-align:top;}
.bor-img-list .img-txt{display:block;margin-top:8px;font-size:14px;color:#56565a;line-height:1;letter-spacing:-1px;}
.bor-img-list .img-box{display:inline-block;border:2px solid #c7cdd1;border-radius:50%;}
.bor-img-list br{line-height:1.3;}

.effect-part{margin:0 0 0 -30px;}
.effect-part li{float:none;display:inline-block;margin-top:15px;padding:0 0 0 30px;vertical-align:top;}
.effect-part .part-tit{display:inline-block;width:75px;padding:2px 2px 3px;font-size:14px;letter-spacing:-1px;text-align:center;color:#fff;background-color:#20893d;border-radius:20px;}
.effect-part .part-txt{display:block;margin-top:6px;font-size:14px;color:#808285;font-weight:300;letter-spacing:-1px;}

.akl .accordion-collapse-wrapper .col-lg-12.product-rank{padding:40px 86px;}
.product-rank{display:table;padding:40px 86px;background-color:#f2f8ec;}
.product-rank .detail-tit{font-size:26px;color:#56565a;font-weight:400;text-align:left;letter-spacing:-2px;}
.product-detail-view .product-rank{float:none;margin-top:50px;}
.product-rank .dot-list{margin-top:20px;}
.product-rank .rank-img{display:table-cell;vertical-align:middle;}
.product-rank .rank-img .img-box{display:inline-block;}
.product-rank .rank-box{display:table-cell;padding-left:20px;vertical-align:middle;}
.product-rank .rank-box .effect-info-tit{font-size:26px;font-weight:400;color:#56565a;letter-spacing:-2px;}

.effect-info .effect-difference{display:inline-block;width:50%;margin-top:28px;}
.effect-difference:after{content:'';display:block;clear:both;}
.effect-difference .img-box{float:left;}
.effect-difference .difference-box{float:left;margin:10px 0 0 30px;}
.difference-box .difference-tit{font-size:20px;color:#222;font-weight:400;letter-spacing:-2px;}
.difference-box .difference-txt{font-size:16px;color:#666;font-weight:300;letter-spacing:-1px;}
.difference-box ul{padding-top:9px;}
.difference-box li{margin-top:4px;}
.difference-box .list-bar{position:relative;padding-left:10px;font-size:14px;color:#808285;font-weight:300;letter-spacing:-1px;}
.difference-box .list-bar:before{position:absolute;display:inline-block;width:4px;height:1px;top:10px;left:0;background-color:#808285;content:"";}

.effect-info .effect-num-list{width:-webkit-calc(100% + 30px);width:-moz-calc(100% + 30px);width:-ms-calc(100% + 30px);width:calc(100% + 30px);margin:6px 0 0 -30px;}
.effect-num-list li{display:inline-block;padding:0 0 0 30px;vertical-align:top;text-align:center;}
.divide05.effect-num-list li{width:20%;}
.effect-num-list .num-img{display:inline-block;width:23px;height:33px;padding-top:10px;font-size:14px;color:#fff;background:url('../images/akl_product/bg_num-list.png') no-repeat left center;}
.effect-num-list .num-txt{display:block;margin-top:5px;font-size:16px;color:#808285;font-weight:300;letter-spacing:-1px;}

.round-list{width:-webkit-calc(100% + 30px);width:-moz-calc(100% + 30px);width:-ms-calc(100% + 30px);width:calc(100% + 30px);margin:0 0 0 -30px;float:none;padding:0;}
.effect-info .round-list{margin-top:-20px;}
.round-list li{float:none;display:inline-block;padding:30px 0 0 30px;vertical-align:middle;}
.round-list .round-list-tit{display:table-cell;width:80px;height:80px;color:#fff;font-size:14px;font-weight:400;text-align:center;vertical-align:middle;letter-spacing:-1px;border-radius:50%;}
.yellow.round-list .round-list-tit{background-color:#f3be0f;}
.orange.round-list .round-list-tit{background-color:#f37427;}
.cherry.round-list .round-list-tit{background-color:#e11e45;}
.round-list .round-list-tit span{display:block;position:relative;margin-top:1px;font-size:14px;}
.round-list .round-list-tit span:before{display:inline-block;width:60px;height:1px;position:absolute;top:0;left:50%;margin-left:-30px;content:"";}
.yellow.round-list .round-list-tit span:before{background-color:#f9df87;}
.orange.round-list .round-list-tit span:before{background-color:#f9ba93;}
.cherry.round-list .round-list-tit span:before{background-color:#f08fa2;}
.round-list .round-list-tit span:first-child{margin-top:0;}
.round-list .round-list-tit span:first-child:before{display:none;}
.round-list .round-list-tit sub{font-size:10px;bottom:0;font-size:14px;}
.round-list .round-list-txt{display:table-cell;padding-left:20px;font-size:14px;font-weight:300;color:#808285;vertical-align:middle;letter-spacing:-1px;}







@media (max-width: 768px) {
	.product-detail-view{padding-bottom:25px;}
	.product-detail-view .visual-info{padding:0 20px;}
	.product-detail-view .product-visual + .product-info{padding-top:31px;}
	.product-detail-view .product-visual{padding:40px 0 35px}
	.product-visual .logo-txt{margin-top:8px;font-size:18px;line-height:1.3;}
	.product-visual .visual-logo img{width:50%;}
	.product-visual .visual-tit{margin-top:12px;font-size:30px;line-height:1;}
	.product-visual .visual-tit strong{font-size:30px;line-height:1;}
	.product-visual .txt-area .visual-txt{margin-top:17px;font-size:14px;}
	.product-visual .visual-img{margin-top:45px;}
	.product-visual .visual-img span{width:auto;height:50%;}
	
	.product-detail-view .detail-tit{font-size:26px;line-height:0.8;}
	.product-detail-view .detail-tit em{font-size:26px;}
	.product-detail-view .product-info{padding-top:26px;}
	.product-detail-view .product-info .detail-tit em{display:block;font-size:26px;}
	.product-detail-view .detail-info-txt{font-size:14px;}
	.product-detail-view .product-info .detail-info-etc{margin-top:16px;font-size:13px;}
	
	.product-detail-view .info-img-list{width:-webkit-calc(100% + 20px);width:-moz-calc(100% + 20px);width:calc(100% + 20px);margin:0 0 0 -10px;}
	.info-img-list li{width:25%;min-height:auto;padding-top:23px;}
	.info-img-list .img-box{padding:0 10px;}
	.info-img-list span{font-size:12px;line-height:1.2;}
	
	.product-detail-view .product-info-box{margin-top:25px;padding:26px 10px 0;}
	.product-detail-view .detail-tit.small{font-size:18px;line-height:1.3;}
	.product-detail-view .detail-info-etc{font-size:13px;}
	.product-detail-view .detail-info-etc.big{margin-top:9px;font-size:13px;letter-spacing:-1px;}
	
	.akl .product-detail-view .product-setup{margin-top:18px;}
	.product-setup .detail-tit em{color:#57565b;}
	.setup-list{margin-top:8px;}
	.setup-list li{display:block;width:100%;margin-top:25px;border-top:1px solid #e3e3e3;}
	.setup-list.divid01 li,
	.setup-list.divid02 li,
	.setup-list.divid03 li{width:100%;}
	.setup-list li:first-child{padding-top:0;margin-top:0;border-top:none;}
	.setup-list .setup-info{margin-top:15px;}
	.setup-list .setup-tit{margin-top:0;font-size:13px;letter-spacing:-1px;color:#56565a}
	.setup-list .setup-tit-etc{font-size:12px;}
	.setup-list .setup-txt{margin-top:5px;font-size:12px;color:#808285;line-height:1.3;}
	.setup-list .setup-mark{top:25px;}
	.setup-list .btn-box{margin-top:18px;}
	.setup-list .bt-akl-blue{height:45px;font-size:16px;font-weight:600;}
	
	.product-detail-view .product-feature{margin-top:22px;}
	.feature-list{margin-top:8px;}
	.feature-list > li{padding:15px 10px;}
	.feature-list .detail-bullet{display:none;}
	.feature-list .detail-txt{padding:0 15px 10px 0;font-size:14px;line-height:1.4;letter-spacing:-1px;}
	.feature-list .detail-txt strong{font-size:14px;}
	.feature-list .detail-img{width:30%;}
	.product-feature .detail-dot{margin:8px 0 0 0;font-size:13px;padding-left:10px;}
	.detail-dot:after{top:8px;}
	
	.product-detail-view .product-notice{margin-top:25px;padding:0;}

	.product-notice .detail-tit{display:block;font-size:18px;}
	.product-notice .detail-list{display:block;margin:6px 0 0;font-size:13px;line-height:1.4;}
	.product-notice .detail-list li{display:block;margin-left:12px;text-indent:-12px;font-size:13px;line-height:1.4;}
	.product-notice .notice-list{padding:3px 0 22px;}
	.product-notice .notice-list > li{padding-top:23px;}
	
	.product-detail-view .product-advantage + .product-advantage{border-top:1px solid #e3e3e3;}
	.product-detail-view .advantage-box{width:100%;padding:0;}
	.product-advantage .advantage-img, 
	.product-advantage.reverse .advantage-img{padding:0;margin-top:25px;text-align:center;}
	
	.product-advantage .detail-tit{line-height:1.1;}
	.product-advantage .advantage-txt{margin-top:8px;font-size:14px;}
	.product-advantage .advantage-txt-etc{font-size:14px;}
	.product-advantage .advantage-txt-etc:first-child{margin-top:0;}
	
	.product-detail-view .product-advantage{margin-top:22px;border-top:none;}
	.product-detail-view .product-advantage + .product-advantage{margin-top:25px;padding-top:22px;border-top:1px solid #e3e3e3;}
	.product-advantage .detail-tit + .advantage-list{margin-top:0;}
	.product-advantage .advantage-list .list-box{margin-top:17px;}
	.product-advantage .advantage-list .list-tit{font-size:14px;}
	.product-advantage .advantage-list .list-txt{font-size:14px;}
	.product-advantage .advantage-list .detail-dot{margin-top:17px;}
	
	.product-detail-view .product-process{margin-top:25px;padding:25px 0;}
	.product-process .detail-tit{font-size:18px;}
	.product-process .product-process-step{margin-top:25px;}
	.product-process-step .step-num{margin-top:15px;}
	.product-process-step .step-txt{line-height:1.3;}
	.step05.product-process-step > .step-flow{width:50%;}
	.akl .product-process .owl-theme .owl-controls .owl-nav .owl-prev{left:5px;}	
	.akl .product-process .owl-theme .owl-controls .owl-nav .owl-next{right:5px;}
	
	.product-feature02 .detail-tit{line-height:1;}
	.product-feature02 .feature-box li{width:100%;}
	.feature-box p{padding-left:10px;font-size:14px;}
	
	.product-detail-view .product-effect-info{margin-top:30px;}
	.product-effect-info .effect-info{padding:18px 25px;}
	.product-detail-view .detail-img{text-align:center;}
	.effect-info-wrap{display:block;width:100%;}
	.product-effect-info .effect-info-box{display:block;width:100%;font-size:14px;line-height:1.6;}
	.effect-info-wrap > div:first-child{padding:0;}
	.effect-info-wrap .effect-info-img{display:block;width:100%;padding:0;text-align:center;}
	.effect-info-wrap .effect-info-img, 
	.effect-info-wrap .effect-info-right{margin-top:15px;}
	.effect-info-wrap .effect-info-right{display:block;width:100%;padding:0;}
	.product-effect-info .effect-info .effect-info-list .detail-img,
	.product-effect-info .effect-info .effect-info-list .age-group{vertical-align:top;}
	.product-effect-info .detail-tit{padding:10px 0 12px;}
	.product-effect-info .effect-info .effect-info-tit{margin-bottom:8px;font-size:18px;}
	.product-effect-info .effect-info .effect-info-list li{width:100%;padding-right:0;}
	.product-effect-info .effect-info .info-graph li{width:100%;margin-top:20px;text-align:center;}
	.product-effect-info .effect-info .info-graph li:first-child{margin-top:0;}
	.effect-info-list .detail-img{max-width:60px;}
	.age-group-tit{font-size:14px;}
	.age-group{padding-left:10px;}
	.effect-info .info-graph{margin-top:15px;text-align:center;}
	.product-effect-info .dot-list{margin-top:15px;}
	.dot-list .dot-tit{font-size:13px;}
	.dot-list .dot-txt{font-size:13px;}
	.dot-list li{margin-top:10px;}
	.product-detail-view .tit-blue-s{font-size:14px;}
	.effect-info .tit-blue-b{margin-top:15px;font-size:16px;}
	.product-effect-info .effect-info-box dd{font-size:14px;line-height:1.6;}
	.product-detail-view .effect-info-step{margin-top:21px;}
	.effect-info-step li{display:block;width:100%;padding:40px 0 0;}
	.effect-info-step li:first-child{padding:0;}
	.effect-info-step li:before{top:12px;left:50%;margin:0 0 0 -5px;-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);-moz-transform:rotate(90deg);transform:rotate(90deg);}
	.effect-info-step .effect-step-txt{margin-top:15px;}
	.product-detail-view .effect-info .img-wrap{margin:15px 0 0 0;text-align:center;}
	.bor-img-list{width:calc(100% + 15px);margin:-15px 0 0 -15px;}
	.bor-img-list li{width:33.33%;margin-top:15px;padding:0 0 0 15px;}
	.effect-part li{display:block;margin-top:8px;}
	.product-detail-view .product-rank{margin-top:30px;}
	.akl .accordion-collapse-wrapper .col-lg-12.product-rank{width:100%;padding:20px 30px;}
	.product-rank .rank-img{display:block;text-align:center;}
	.product-rank .rank-box{display:block;padding:15px 0 0 0;}
	.product-rank .dot-list{margin-top:10px;}
	.product-rank .rank-box .effect-info-tit{font-size:18px;}
	.effect-info .effect-num-list li{display:table;width:100%;margin-top:10px;text-align:left;}
	.effect-info .effect-num-list li:first-child{margin-top:0;}
	.effect-num-list .num-img{display:table-cell;padding:4px 0 0;text-align:center;vertical-align:middle;}
	.effect-num-list .num-txt{display:table-cell;padding-left:10px;font-size:14px;vertical-align:middle;}
	.effect-info .round-list{margin-top:-13px;}
	.round-list li{width:100%;padding:15px 0 0 30px;}
	.round-list .round-list-txt{padding-left:10px;}
	.product-advantage .advantage-list .advantage-list-tit{padding-top:0;margin-top:-5px;font-size:16px;}
	.product-advantage .advantage-list .list-box{margin-top:7px;}
	.advantage-step{margin-top:11px;}
	.advantage-step .step-tit,
	.advantage-step .step-tit em{font-size:24px;}
	.advantage-step .program-list{margin-top:3px;}
	.advantage-step .program-list li{padding-top:15px;}
	.advantage-step .program-list .program-step{width:130px;height:30px;line-height:30px;font-size:16px;}
	.advantage-step .program-list .program-tit{margin-top:5px;}
	.advantage-step .program-list .program-img{padding:0;text-align:right;}

	/* br 삭제 */
	.product-detail-view .txt-area .visual-txt br,
	.product-detail-view .detail-info-txt br,
	.product-detail-view .info-img-list span br,
	.product-detail-view .detail-info-etc br,
	.product-detail-view .advantage-txt br,
	.product-effect-info .effect-info .info-txt br,
	.product-effect-info .effect-info-box br,
	.effect-info-step .effect-step-txt br,
	.age-group-txt br,
	.feature-box p br,
	.setup-list .setup-txt br,
	.product-advantage .detail-tit br,
	.advantage-step .step-tit br,
	.feature-list .detail-txt br{display:none;}
	
	
	
}




