/************************************************
Version : AKL Hybris UIUX 1.0
Date : 2018-07-02
Editor : 
*************************************************/ 

/***** 암웨이 소개 *****/ 
/* 한국암웨이 */ 
/* 글로벌 암웨이 */ 

@media (max-width: 768px) { 
/***** 암웨이 소개 *****/ 
	/* 한국암웨이 */ 
	/* 글로벌 암웨이 */	 
}