/************************************************
Version : AKL Hybris UIUX 1.0
암웨이 플라자 옮김 : 2018.04.10
*************************************************/   
/*** 암웨이 플라자 ***/
.akl .shop-finder-container .order-history-container .order-history-search-wrapper .form-wrapper form button{ }
.akl .shop-finder-main-content-body-area-left { padding-left: 0;}
.akl .shop-finder-main-content-body-area-right { padding-right: 0; margin-top:-79px;}
.akl .shop-finder-main-content-body-area #business-page-accordion {padding: 20px 0;}
.akl .shop-finder-main-content .tab-pane { margin-top: 10px; }
.shop-finder-container .shop-finder-main-content .shop-finder-main-content-body-area .shop-finder-main-content-body-area-left .QA-container {height:680px;}
.akl .tab-content .shop-finder-main-content-body-area {min-height:680px; }
.akl .shop-finder-main-content-body-area p {position:relative; height:680px; background:#f0f0f0 }
.akl .shop-finder-main-content-body-area .no-map span{ position: absolute; left:50%; top:50%; padding-top:85px; text-align:center; transform: translate(-50%,-50%); font-size:14px; background: url("../images/akl_common/ico_nomap.png") no-repeat 50% 0; }
.akl .shop-finder-main-content-body-area .no-map.no-img span { background: url("../images/akl_common/ico_noimg.png") no-repeat 50% 0; }
.akl .shop-finder-container #business-page-accordion .panel-title .accordion-header-text{font-size: 18px; display: block; font-weight:500; padding: 30px 0 10px}
.akl .shop-finder-container #business-page-accordion .panel-title div { padding: 23px 0; position: relative; }
.akl .shop-finder-container #business-page-accordion .panel-title div span {font-size: 18px}
.akl .shop-finder-container #business-page-accordion .panel-title div.collapsed span.indicator:after {position:absolute; top: 15px; right: 0}
.akl .shop-finder-container #business-page-accordion {font-size: 14px;font-family:'Noto Sans KR', sans-serif}
.akl .shop-finder-container .shop-finder-main-content .shop-finder-main-content-body-area .shop-finder-main-content-body-area-left .business-page-accordion#business-page-accordion .panel .panel-collapse .shop-finder-wrapper-top:first-child {padding-top:10px; }
.akl .shop-finder-container .shop-finder-main-content .shop-finder-main-content-body-area .shop-finder-main-content-body-area-left .business-page-accordion#business-page-accordion .panel .panel-collapse { padding-left:5px;}
.akl .shop-finder-container .shop-finder-main-content .shop-finder-main-content-body-area .shop-finder-main-content-body-area-left .business-page-accordion#business-page-accordion .panel .panel-heading .shop-finder-position {padding:10px 0 30px;}
.akl .business-page-accordion .icon-minus { margin-top: -35px;}
.akl .business-page-accordion .icon-minus:before {font-size:22px;font-weight:700;line-height:20px; }
.akl .shop-finder-container .shop-finder-main-content .shop-finder-main-content-title-area .shop-finder-main-content-title { font-weight:700; font-size:18px; padding-top:30px;letter-spacing:-2px }
.akl .shop-finder-container .shop-finder-main-content .shop-finder-main-content-body-area .shop-finder-main-content-body-area-left .QA-container {top: 15px;}
.akl .shop-finder-container .shop-finder-main-content .shop-finder-main-content-body-area .shop-finder-main-content-body-area-left .business-page-accordion#business-page-accordion .panel .panel-heading .shop-finder-position .shop-finder-title-area span {font-size: 14px; }
.akl .order-history-container .order-history-search-wrapper .form-wrapper select.form-control.width185 { margin-right:5px;}
.akl .order-history-container .order-history-search-wrapper .form-wrapper select.form-control.width185 + button { vertical-align:top !important;}
.check-area { display: none}
.map-list .wrapper { position: relative; left:0; top:0;width: 100%; height:680px}
.map-list .wrapper img { width: 100%}
.akl .shop-finder-container .owl-carousel {padding:0}
.akl .shop-finder-container .owl-theme .owl-controls .owl-dots { margin-top:-50px}
.akl .shop-finder-container .owl-theme .owl-dots .owl-dot span { opacity: 0.9;  background: #fff;}
.akl .shop-finder-container .owl-theme .owl-dots .owl-dot.active span { opacity: 0.6; background: #685d52;}
.akl .shop-finder-container .owl-theme .owl-controls .owl-nav .owl-prev { left: 10px;}
.akl .shop-finder-container .owl-theme .owl-controls .owl-nav .owl-next { right: 10px;}  
 
/* 공지사항 */
.customer-wrap {padding:0 0 0 30px;}
.my-count-page-wrap {padding:0;}
.akl .order-history-container .order-history-search-wrapper .form-wrapper.search-form-wrapper {text-align:left;}
.akl .order-history-container .order-history-search-wrapper .form-wrapper {text-align:right;}
.fa, .fas, .far {display:inline-block;}
.fa-notice {position: relative;top:0;left:0;display:inline-block;}
.fa-notice:before {content:'';position: absolute;top:-15px;left:0;background: url("../images/akl_common/ico_notice.png") no-repeat left center;width:20px;height:20px;}

.page-title.customer span {padding:0 0 0 0;}
.akl .announcement-search-result {font-size:14px;font-weight:400;letter-spacing:-1px;padding:15px 0 0}
.akl .announcement-search-result strong {font-size:14px;font-weight:700;color:#002f5e;}

/* 공지사항 > tab */
.akl .customer-wrap .amway-theme .tabs-toggles .tab-toggle-wrap .tab-toggle {min-width:148px;}
.akl .customer-wrap .outer-border-bottom .tabs-toggles .tab-toggle-wrap {min-width:148px;}

/* 공지사항 > 필터,검색 */
.akl .customer-wrap .order-history-search-wrapper .cuton-form-wrapper button {font-size:14px;}
.akl .customer-wrap .toggle-buttons-container.cutomer button span {color:#0075a4;}

.akl .customer-wrap .order-history-container .order-history-search-wrapper .form-wrapper.search-form-wrapper input[type="text"] {margin-bottom:0;}
.akl .customer-wrap .order-history-container .order-history-search-wrapper .form-wrapper.search-form-wrapper input[type="text"].input-st{width:250px;margin-right:8px}
.cuton-form-wrapper .form-s {margin-bottom:0;}
.cuton-sel select {font-size:14px;font-weight:400;letter-spacing:-1px;color:#002f5f;}

/* 공지사항 > 목록  */
.akl .bod-customer {padding:10px 0 0}
.akl .bod-customer .content-list .con-list-item > div {font-size:14px;font-weight:400;letter-spacing:-0.05em;}
.akl .list-row-title div.cuo-num {width:10%;padding-left:20px;}
.akl .list-row-title div.cuo-subje {width:42%;padding-left:20px;}
.akl .list-row-title div.cuo-cate {width:15%;padding-left:20px;}
.akl .list-row-title div.cuo-autho {width:15%;padding-left:20px;}
.akl .list-row-title div.cuo-date {width:18%;padding-left:20px;}

.akl .con-list-item div.cuo-num {width:10%;padding-left:20px;}
.akl .con-list-item div.cuo-subje {width:42%;padding:0 20px;}
.akl .con-list-item div.cuo-cate {width:15%;padding-left:20px;}
.akl .con-list-item div.cuo-autho {width:15%;padding-left:20px;}
.akl .con-list-item div.cuo-date {width:18%;padding-left:20px;}

.akl .con-list-item > div a {color:#56565a;}
.akl .con-list-item > div a:hover {color:#0075a4;}

/* 공지사항 > 상세보기 */
.board-details {}
.btn-page-list {display:block;background:url(../images/akl_common/ico_msg_arrw.png) 0 50% no-repeat;font-size:14px;font-weight:500;padding:0 0 0 15px;letter-spacing:-1px;}
.bod-view-head {position: relative;margin-top:26px;border-top:1px solid #e3e3e3;padding:0 0 20px;}
.bod-view-head h2.head-title {font-size:32px;color:#002f5f;letter-spacing:-2px;line-height:40px;}
.bod-view-head .head-txt-box {display:block;}
.bod-view-head .head-txt-box span {display:inline-block;margin-right:25px;font-size:14px;font-weight:400;letter-spacing:-1px;}
.bod-view-head .head-txt-box span:last-child {margin-right:0;}
.bod-view-body {border-top:1px solid #e3e3e3;padding:20px 0 30px;}
.bod-view-sns {position:relative;float:right;}
.bod-view-sns > div {display:inline-block;margin-right:8px}
.bod-view-sns > div:last-child {margin-right:0;}
.bod-view-sns > div img {width:25px;height:auto;}
.bod-view-sns > div.url-copy .url_pop {top:32px}
.bod-view-sns .kakaotalk {display:none;}
.bod-view-txt {clear:both;display:block;padding:25px 0 0;}
.bod-correction-guide {clear:both;display:block;margin-top:30px}
.bod-correction-guide p.txt-tit {font-size:16px;font-weight:500;letter-spacing:-1px;margin:0 0;}

.akl .list-row-title div.corr-prev {width:40%;padding-left:20px;}
.akl .list-row-title div.corr-next {width:40%;padding-left:20px;}
.akl .list-row-title div.corr-remarks {width:20%;padding-left:20px;}

.akl .con-list-item div.corr-prev {width:40%;padding-left:20px;}
.akl .con-list-item div.corr-next {width:40%;padding-left:20px;}
.akl .con-list-item div.corr-remarks {width:20%;padding-left:20px;}

.prev-bod-confirm {clear:both;display:block;padding:10px 0}

/* 공지사항 읽기 화면 */
.easy-wrap {margin-top:0;}
.easy-wrap .customer-wrap {padding:0 30px;}

.bod-view-info {border-top:1px solid #d3d3d3;border-bottom:1px solid #d3d3d3;padding:30px 0;margin:40px 0 0}
.container-custom {width:100%;height:110px;background:url(../images/akl_common/bg_gray.png) repeat-x left bottom;text-align:center;margin-bottom:30px}
.container-custom h1 {margin:0 auto;text-align:center;padding:20px 0 0}

/* 뉴스룸 > 목록 */
.akl .list-row-title div.news-num {width:12%;padding-left:20px;}
.akl .list-row-title div.news-subje {width:73%;padding-left:20px;}
.akl .list-row-title div.news-date {width:15%;padding-left:20px;}

.akl .content-list .con-list-item div.news-num {width:12%;padding-left:20px;}
.akl .content-list .con-list-item div.news-subje {width:73%;padding:0 20px;}
.akl .content-list .con-list-item div.news-date {width:15%;padding-left:20px;}

@media (max-width: 768px) { 
    
	/* 공지사항 */
	.akl .customer-wrap .order-history-search-wrapper {border:0 none;}
	.akl .customer-wrap .order-history-container .order-history-search-wrapper .toggle-buttons-container button {border:1px solid #d3d3d3;width:48%;margin-right:12px;}
	.akl .customer-wrap .order-history-container .order-history-search-wrapper .toggle-buttons-container button:last-child {margin-right:0;width:47%;}
	.akl .customer-wrap .order-history-container .order-history-search-wrapper .form-wrapper {border:0 none;padding:20px 0 0;}
	.akl .customer-wrap .order-history-container .order-history-search-wrapper .form-wrapper.search-form-wrapper input[type="text"].input-st {width:100%;padding-right:50px;}
	.akl .customer-wrap .order-history-container .order-history-search-wrapper .form-wrapper.search-form-wrapper {padding:20px 0 0;}
	.akl .customer-wrap .order-history-container .order-history-search-wrapper .form-wrapper button {border:0 none;}
	.akl .cuton-form-wrapper .form-s input.input-st {width:100%;padding-right:50px;}
	.akl .cuton-form-wrapper .form-s button {border:0 none;}
	

	/* 공지사항 > 목록 */
	.akl .bod-customer .list-content .list-row-title {padding:0 0;border-bottom:0 none;}
	.akl .bod-customer .list-content .list-row-title > div {display:none;}
	.akl .bod-customer .con-list-item span.tite-label {display:block;} 

	.akl .content-list .con-list-item > div.cuo-num {display:block;width:90%;padding:5px 20px;}
	.akl .content-list .con-list-item > div.cuo-subje {display:block;width:90%;padding:5px 20px;}
	.akl .content-list .con-list-item > div.cuo-cate {display:block;width:90%;padding:5px 20px;}
	.akl .content-list .con-list-item > div.cuo-autho {display:block;width:90%;padding:5px 20px;}
	.akl .content-list .con-list-item > div.cuo-date {display:block;width:90%;padding:5px 20px;}
	
	/* 공지사항 > 상세보기 */
	.customer-wrap {padding:0 10px;}
	.akl .content-list .con-list-item > div.corr-prev {display:block;width:90%;padding:5px 20px;}
	.akl .content-list .con-list-item > div.corr-next {display:block;width:90%;padding:5px 20px;}
	.akl .content-list .con-list-item > div.corr-remarks {display:block;width:90%;padding:5px 20px;}
	
	.bod-view-sns .print {display:none;}
	.bod-view-sns .kakaotalk {display:inline-block;}
	.bod-view-sns > div.url-copy .url_pop {top:32px;left:-45px;}

	/* 공지사항 > 읽기화면 */
	.easy-wrap .customer-wrap {padding:0 15px;}

	/* 뉴스룸 > 목록 */
	.akl .content-list .con-list-item > div.news-num {display:block;width:100%;padding:5px 20px;}
	.akl .content-list .con-list-item > div.news-subje {display:block;width:90%;padding:5px 20px;}
	.akl .content-list .con-list-item > div.news-date {display:block;width:90%;padding:5px 20px;}

} 
