/************************************************
Version : AKL Hybris UIUX 1.0
Date : 2018-03-13
Editor : sookkyung Han
*************************************************/

@import url("akl-product02.css");
@import url("akl-product_new.css");

.visual-area.type01.doubleX,
.visual-area.shopping_large{min-height:1000px;}
.visual-area.type01.doubleX_10days{min-height:930px;}
.visual-area.aqua_supplement{min-height:680px;}
.visual-area.bodykey,
.visual-area.scoop{min-height:710px;}

.visual-area.type03.I2GO{min-height:890px;background:#ffeaea;}
.visual-area.type03.kids{min-height:800px;background:#a9d4d7 url(../images/akl_product/nutrition-health/bg_health_kid.png) no-repeat bottom center;}
.visual-area.type03.energy01{min-height:866px;background:#000 url(../images/akl_product/nutrition-health/bg_energy_01.png) no-repeat bottom center;}
.visual-area.type03.energy02{min-height:819px;background:url(../images/akl_product/nutrition-health/bg_energy_02.png) no-repeat center center;}
.visual-area.type03.energy03{min-height:752px;background:url(../images/akl_product/nutrition-health/bg_energy_03.png) no-repeat center center;}
.visual-area.type03.energy04{min-height:877px;background:url(../images/akl_product/nutrition-health/bg_energy_04.png) no-repeat center center;}
.visual-area.type03.energy05{min-height:874px;background:url(../images/akl_product/nutrition-health/bg_energy_05.png) no-repeat center center;}

.visual-area.type02.signature-select01{min-height:1220px;background:url(../images/akl_product/beauty/bg_signature_select_01.png) no-repeat center center;}
.visual-area.type02.signature-select02{min-height:882px;background:url(../images/akl_product/beauty/bg_signature_select_02.png) no-repeat center center;}
.visual-area.type02.signature-select03{min-height:845px;background:url(../images/akl_product/beauty/bg_signature_select_03.png) no-repeat center center;}
.visual-area.type02.signature-select04{min-height:856px;background:url(../images/akl_product/beauty/bg_signature_select_04.png) no-repeat center center;}
.visual-area.type02.signature-select05{min-height:856px;background:url(../images/akl_product/beauty/bg_signature_select_05.png) no-repeat center center;}
.visual-area.type02.signature-select06{min-height:939px;background:url(../images/akl_product/beauty/bg_signature_select_06.png) no-repeat center center;}
.visual-area.type02.signature-select07{min-height:928px;background:url(../images/akl_product/beauty/bg_signature_select_07.png) no-repeat center center;}

.visual-area.point-makeup01{min-height:1056px;background:url(../images/akl_product/beauty/bg_point_makeup_01.png) no-repeat center center;}
.visual-area.point-makeup02{min-height:919px;background:url(../images/akl_product/beauty/bg_point_makeup_02.png) no-repeat center center;}
.visual-area.point-makeup03{min-height:1014px;background:url(../images/akl_product/beauty/bg_point_makeup_03.png) no-repeat center center;}
.visual-area.point-makeup04{min-height:1014px;background:url(../images/akl_product/beauty/bg_point_makeup_03.png) no-repeat center center;}
.visual-area.mascara{min-height:1067px;background:url(../images/akl_product/beauty/bg_mascara.png) no-repeat center center;}
.visual-area.tools{min-height:1085px;background:url(../images/akl_product/beauty/bg_brush.png) no-repeat center top;}
.visual-area.tools.min-tools{min-height:800px;}
.visual-area.artistry_flora_perfume{min-height:1140px;background:url(../images/akl_product/beauty/bg_flora_chic_perfume.png) no-repeat top center;}

.visual-area.satinique-extra{min-height:1035px;background:url(../images/akl_product/bath-body/bg_satinique_extra.png) no-repeat bottom center;}
.visual-area.satinique-glossy{min-height:1035px;background:url(../images/akl_product/bath-body/bg_satinique_glossy.png) no-repeat bottom center;}
.visual-area.satinique-anti{min-height:1035px;background:url(../images/akl_product/bath-body/bg_satinique_anti.png) no-repeat bottom center;}
.visual-area.satinique_smooth{min-height:1062px;background:url(../images/akl_product/bath-body/bg_satinique_smooth.png) no-repeat top center;}
.visual-area.treatment01{min-height:1034px;background:url(../images/akl_product/bath-body/bg_treatment01.png) no-repeat bottom center;}
.visual-area.treatment02{min-height:1062px;background:url(../images/akl_product/bath-body/bg_treatment02.png) no-repeat top center;}
.visual-area.styling{min-height:1080px;background:url(../images/akl_product/bath-body/bg_styling.png) no-repeat center center;}
.visual-area.styling.min{min-height:800px;}
.visual-area.scalp-care01{min-height:1062px;background:url(../images/akl_product/bath-body/bg_scalp_care01.png) no-repeat center center;}
.visual-area.scalp-care02{min-height:1108px;background:url(../images/akl_product/bath-body/bg_scalp_care02.png) no-repeat bottom center;}
.visual-area.hair-color{min-height:963px;background:url(../images/akl_product/bath-body/bg_hair_color.png) no-repeat bottom center;}

.visual-area.others{padding-bottom:90px;background:#f4f4f4;}
.visual-area.queen{min-height:807px;background:url(../images/akl_product/home-living/bg_queen_01.png) no-repeat bottom center;}
.visual-area.queen02{min-height:953px;background:url(../images/akl_product/home-living/bg_queen_02.png) no-repeat top center;}
.visual-area.queen03{min-height:904px;background:url(../images/akl_product/home-living/bg_queen_03.png) no-repeat top center;}
.visual-area.home-giftset{min-height:844px;background:url(../images/akl_product/home-living/bg_home_giftset_01.png) no-repeat bottom center;}
.visual-area.espring{min-height:1103px;background:url(../images/akl_product/home-living/bg_espring_01.png) no-repeat bottom center;}




.visual-area .v-logo.truvivity img{width:135px;height:25px;}
.visual-area .v-logo.energy01 img{width:102px;height:25px;}
.visual-area .v-logo.energy02 img,
.visual-area .v-logo.energy03 img{width:77px;height:40px;}
.visual-area .v-logo.energy04 img{width:122px;height:41px;}


/* 색 */




/* 비주얼 텍스트 */
.txt-info-visual .v-txt.acerola_C span {display:block;}
.txt-info-visual .v-txt.foundation_trio_bundlepack {margin:30px 20% 0;}
.txt-info-visual .v-txt.foundation_trio_bundlepack span {display:block;}

.com-tit sup{top:-1.3em;font-size:16px;}
.txt-info-visual .v-txt sup{top:-0.3em;}

.effet-area .col-md-9{width:75%;}
.effet-area .col-md-8{width:66.66666667%;}
.effet-area .col-md-4{width:33.33333333%;}
.effet-area .col-md-3{width:25%;}

.bd-left{border-left:1px solid #e3e3e3;}

.inge-box{margin-top:24px;}
.inge-box p{margin:0;}
.ingestion-usage dd .inge-box:first-child{margin-top:0;}

.pro-feature{margin-top:42px;padding-bottom:30px;border-bottom:1px solid #e3e3e3;overflow:hidden;}
.pro-feature .com-tit{text-align:left;line-height:1.2;}
.feature-box{margin-top:25px;padding:0;vertical-align:middle;}
.feature-box li{display:table;padding:10px 7% 10px 0;table-layout:fixed;}
.feature-box .ico-box{display:table-cell;width:80px;height:80px;padding-top:30px;font-size:16px;color:#ff0075;letter-spacing:-1px;vertical-align:middle;border-radius:50%;text-align:center;vertical-align:middle;background:#ffeaea url('../images/akl_product/icon/ico_feature.png') no-repeat 50% 18px;}
.feature-box p{display:table-cell;padding:0 10px 0 16px;font-size:16px;color:#808285;letter-spacing:-1px;vertical-align:middle;font-weight:300}

.feat-txt .inge-lst02{padding:0;}
.advantage-area .sie-box .inge-lst08{margin-top:15px;}
.com-tit .s-txt{font-size:32px;}

.detail-content-area .advan-com-tit:first-child{margin-top:50px;}

.ad-setp-lst3 {margin-top:20px;clear:both;width:100%;} 
.ad-setp-lst3:after {content:'';display:block;clear:both;}
.ad-setp-lst3 li {float:left;width:50%;font-size:16px;vertical-align:middle;margin:15px 0;}
.ad-setp-lst3 li dl {display:table;width:100%;margin:0 auto;}
.ad-setp-lst3 li dl dt, .ad-setp-lst3 li dl dd {display:inline-block;vertical-align:middle;letter-spacing:-1px;box-sizing: border-box;}
.ad-setp-lst3 li dl dt {text-align:center;font-weight:500;margin:0 auto;}
.ad-setp-lst3 li dl dt > div {margin:0 auto;width:80px;text-align:center;}
.ad-setp-lst3 li dl dt p {display:table-cell;width:100%;text-align:left;padding:0;margin:0;vertical-align:middle;color:#fff;font-weight:300;text-align:center;}
.ad-setp-lst3 li dl dt p span {border-bottom:1px solid #fff;}
.ad-setp-lst3 li dl dd {display:table-cell;padding:0 10px;font-size:14px;font-weight:300;width:100%;}
.ad-setp-lst3 li dl dd p{margin:0;}
.ad-setp-lst3 li em{display:block;}
.ad-setp-lst3 li sub{bottom:0;}
.ad-setp-lst3 .i-won{width:80px;height:80px;}
.ad-setp-lst3 .i-won.green {color:#fff !important;background:#20893d;}

.txt-lound.purple07{background:#731472;} 
.txt-lound.red{background:#c4133f;}
.txt-lound.blue08{background:#258b98;}
.txt-lound.orange02{background:#f68e2d;}
.txt-lound.green02{background:#20893d;}
.txt-lound.gray04{background:#80859d;}

.deaf03.bep-lst li{width:33.33%;}
.point-wrap .s-tit{margin:0;font-size:24px;color:#56565a;font-weight:300;line-height:1.1;text-transform:uppercase;}
.point-wrap .desc.t-big, .point-wrap .desc.t-big em{font-size:18px;margin-top:5px;}

.inge-lst04 .inge-lst06{margin:5px 0;}

.inge-numlst01 .inge-lst06 li {position:relative;font-size:14px;color:#808285;font-weight:300;letter-spacing:-1px;} 

.noico.spc-list > li{background:none;}
.noico div.feat-txt{padding:0 10% 0 5%;}

.p-tit .comp-box dl dd{height:70px;}

.t-big.ad-setp-lst dt{font-size:18px;}

/* 건강정보 */
.effect-img2041 .effect-comment img, .effect-img2076 .effect-comment img{width:23px;height:23px;}
.effect-img2041 .comment01-01, .effect-img2076 .comment01-01{top:0;left:64%;}
.effect-img2041 .comment01-02, .effect-img2076 .comment01-02{top:11%;left:64%;}
.effect-img2041 .comment01-03, .effect-img2076 .comment01-03{top:18.5%;left:64%;}
.effect-img2041 .comment01-04, .effect-img2076 .comment01-04{top:26%;left:64%;}
.effect-img2041 .comment02-01, .effect-img2076 .comment02-01{top:35%;left:64%;}
.effect-img2041 .comment02-02, .effect-img2076 .comment02-02{top:39%;left:64%;}
.effect-img2041 .comment02-03, .effect-img2076 .comment02-03{top:43%;left:64%;}

.effect-graph{padding-bottom:70px;}
.effect-graph .effect-comment img{width:37px;height:42px;}
.effect-graph .comment{width:100%;display:table;bottom:0;left:0%;text-align:center;}
.effect-graph .comment li{display:table-cell;position:relative;width:auto;padding-left:10%;}
.effect-graph .comment li:first-child{padding:0;}

.effect-img2060{margin:0;}
.effect-img2060 .comment01,
.effect-img2060 .comment02{bottom:4%;left:0%;}
.effect-img2060 .comment03{top:12%;left:66%;}

.effect-img2051 .comment01{top:40%;left:10%;text-align:center;}
.effect-img2051 .comment02{bottom:-7%;left:2%;}
.effect-img2051 .comment03{bottom:13%;right:5%;text-align:center;}
.effect-img2051 .comment04{top:17%;left:10%;text-align:center;}
.effect-img2051 .comment05{bottom:-7%;left:66%;}

.com-ingred.effect-img2051,
.com-ingred.effect-img2025{margin-top:0;}
.effect-img2025 .comment01{top:21%;left:81%;}
.effect-img2025 .comment02{top:49%;left:81%;}
.effect-img2025 .comment03{top:80%;left:81%;}

.com-ingred.effect-img2099{display:block;text-align:center;}
.effect-img2099 .effect-comment{line-height:1.5;letter-spacing:-1px;}
.effect-img2099 .effect-comment p{display:block;margin:0;font-size:14px;color:#56565a;font-weight:400;}
.effect-img2099 .comment01{top:6%;left:62%;}
.effect-img2099 .comment02{bottom:9%;left:62%;}

.effect-img1480 .effect-comment{top:46%;line-height:1.5;letter-spacing:-1px;text-align:center}
.effect-img1480 .effect-comment em{display:block;margin:0;font-size:16px;color:#008fc5;font-weight:400;}
.effect-img1480 .comment01{left:7%;}
.effect-img1480 .comment02{left:61%;}
.effect-img1480 .comment03{top:68%;left:23%;}

.effect-img4523 .effect-comment{left:68%; color:#0075a4}
.effect-img4523 .comment01{top:3%}
.effect-img4523 .comment02{top:76%}

.effect-img2029_01 .comment01{top:0;left:0;padding-left:21px;}
.effect-img2029_01 .comment01:before{display:inline-block;position:absolute;top:0;left:0;width:16px;height:16px;background-color:#c5cacf;content:"";}
.effect-img2029_01 .comment02{top:0;left:30%;padding-left:21px;}
.effect-img2029_01 .comment02:before{display:inline-block;position:absolute;top:0;left:0;width:16px;height:16px;background-color:#598f41;content:"";}
.effect-img2029_01 .comment03{bottom:0;left:17%;margin-bottom:0;}
.effect-img2029_01 .comment04{bottom:0;left:68%;margin-bottom:0;}
.effect-img2029_02{margin-top:0;}
.effect-img2029_02 .graph-conts dt{text-align:left;}
.effect-img2029_02 .comment01{top:28%;right:0;width:100%;text-align:right;}
.effect-img2029_02 .comment01 li{display:inline-block;position:relative;padding:0 0 0 21px;margin-left:18px;font-size:14px;color:#666;font-weight:300;line-height:1.2;text-align:left;letter-spacing:-1px;}
.effect-img2029_02 .comment01 li:first-child{margin:0;}
.effect-img2029_02 .comment01 li:before{display:inline-block;position:absolute;top:0;left:0;width:16px;height:16px;content:"";}
.effect-img2029_02 .comment01 .comment01_01:before{background-color:#20893d;}
.effect-img2029_02 .comment01 .comment01_02:before{background-color:#96c11f;}
.effect-img2029_02 .comment01 .comment01_03:before{background-color:#999;}
.effect-img2029_02 .comment02{bottom:20px;left:33%;margin-bottom:0;}
.effect-img2029_02 .comment03{bottom:20px;left:75%;margin-bottom:0;}

.effect-img2169-01{margin-top:30px;}
.effect-img2169-01 .effect-comment{max-width:125px;font-size:14px;font-weight:300;text-align:center;line-height:1.5;}
.effect-img2169-01 .effect-comment p{margin-bottom:1px;}
.effect-img2169-01 .comment01{top:52%;left:0;}
.effect-img2169-01 .comment01 p{color:#7cbf49;}
.effect-img2169-01 .comment02{top:52%;left:38%;}
.effect-img2169-01 .comment02 p{color:#fdb813;}
.effect-img2169-01 .comment03{top:52%;left:78%;} 
.effect-img2169-01 .comment03 p{color:#f58220;}

.effect-img2169-02 .effect-comment, .effect-img2169-02 .effect-comment em{font-size:18px;color:#56565a;text-align:center;font-weight:400;}
.effect-img2169-02 .comment01{top:56%;left:-7px;width:100%;font-size:16px;}
.effect-img2169-02 .comment02{top:-2%;left:-7px;width:100%;}
.effect-img2169-02 .comment02 em{color:#7cbf49;}
.effect-img2169-02 .comment03{top:91%;left:0;}
.effect-img2169-02 .comment03 em{color:#fdb918;}
.effect-img2169-02 .comment04{top:91%;left:55%;}
.effect-img2169-02 .comment04 em{color:#f58424;}

.com-ingred.effect-img7070{margin-top:0;}
.effect-img7070 p{right:63%;font-size:14px;color:#808285;font-weight:300;text-align:right;}
.effect-img7070 .comment01{top:39%;}
.effect-img7070 .comment02{top:66%;}

.effect-difference{display:inline-block;float:none;padding:0;margin:35px 0 0;vertical-align:top;}
.effect-difference:after{content:'';display:block;clear:both;}
.effect-difference .img-box{display:table-cell;vertical-align:top;}
.effect-difference .difference-box{display:table-cell;padding:10px 0 0 30px;vertical-align:top;}
.difference-box .difference-tit{font-size:20px;color:#222;font-weight:400;letter-spacing:-2px;}
.difference-box .difference-txt{font-size:16px;color:#666;font-weight:300;letter-spacing:-1px;}
.difference-box ul{padding-top:9px;}
.difference-box li{margin-top:4px;}

.ad-setp-lst p {color:#0075a4;font-weight: 400;font-size:18px;margin:23px 0 0;}

.effect-info .effect-num-list{width:-webkit-calc(100% + 3%);width:-moz-calc(100% + 3%);width:-ms-calc(100% + 3%);width:calc(100% + 3%);margin:6px 0 0 -3%;}
.effect-num-list li{display:inline-block;padding:0 0 0 3%;vertical-align:top;text-align:center;}
.divide05.effect-num-list li{width:20%;}

.effect-info-step{margin-top:47px;}
.effect-info-step{width:-webkit-calc(100% + 30px);width:-moz-calc(100% + 30px);width:-ms-calc(100% + 30px);width:calc(100% + 30px);display:table;float:none;padding:0;margin-left:-30px;}
.effect-info-step li{float:none;position:relative;display:table-cell;margin:0;padding:0 0 0 30px;text-align:center;}
.effect-info-step .col-sm-2{width:16.66666667%;}
.effect-info-step li:before{display:inline-block;position:absolute;top:50%;left:10px;width:10px;height:17px;margin-top:-8px;background:url('../images/akl_product/ico_arr_right.png') no-repeat 0 0;content:"";}
.effect-info-step li:first-child:before{display:none;}
.effect-step-etc{margin-top:25px;font-size:14px;color:#56565a;text-align:center;letter-spacing:-1px;font-weight:300;}
.effect-step-etc br{line-height:0;}

.effect-num-list{width:-webkit-calc(100% + 3%);width:-moz-calc(100% + 3%);width:-ms-calc(100% + 3%);width:calc(100% + 3%);margin:10px 0 0 -3%;}
.effect-num-list .num-img{display:inline-block;width:23px;height:33px;padding-top:10px;font-size:14px;color:#fff;background:url('../images/akl_product/common/icon_num_list.png') no-repeat left center;}
.effect-num-list .num-txt{display:block;margin-top:5px;font-size:16px;color:#808285;font-weight:300;letter-spacing:-1px;}

.list-box{margin-top:20px;}
.num-list .tit-blue-b{margin:0;}
.num-list{margin-top:20px;}
.num-list li{margin-left:15px;text-indent:-15px;}

.product-rank {clear:both;display:table;width:100%;margin-top:50px;padding:20px 0;background-color:#f2f8ec;table-layout:fixed;}
.product-rank .rank-img {display:table-cell;vertical-align:middle;width:27%;text-align:center;}
.product-rank .rank-img .img-box {display:inline-block;text-align:center;}
.product-rank .rank-box {display:table-cell;vertical-align:middle;text-align:left;width:73%;padding:0 0;}
.product-rank .rank-box .com-tit2 {font-size:26px;font-weight:400;color:#56565a;letter-spacing:-2px;}
.product-rank .rank-box .inge-lst03{padding:0;}
.product-rank .rank-box .inge-lst03 strong{display:block;}
.product-rank .rank-box .inge-lst03 li{display:block;margin-top:19px;font-size:14px;color:#808285;font-weight:300;letter-spacing:-1px;}
.product-rank .rank-box .inge-lst03 li:after{top:8px;}
.product-rank .rank-box .rank-txt{margin:19px 0 0;font-size:14px;color:#808285;font-weight:300;letter-spacing:-1px;}

.bor-img-list{width:-webkit-calc(100% + 30px);width:-moz-calc(100% + 30px);width:-ms-calc(100% + 30px);width:calc(100% + 30px);margin:-30px 0 20px -30px;}
.bor-img-list li{float:none;display:inline-block;padding:0 0 0 30px;margin-top:30px;text-align:center;vertical-align:top;}
.bor-img-list .img-txt{display:block;margin-top:8px;font-size:14px;color:#56565a;line-height:1;letter-spacing:-1px;}
.bor-img-list .img-box{display:inline-block;border:2px solid #c7cdd1;border-radius:50%;}
.bor-img-list br{line-height:1.3;}

.effect-part{margin:0 0 0 -30px;}
.effect-part li{float:none;display:inline-block;margin-top:15px;padding:0 0 0 30px;vertical-align:top;}
.effect-part .part-tit{display:inline-block;width:80px;padding:2px 2px 3px;font-size:14px;letter-spacing:-1px;text-align:center;color:#fff;background-color:#20893d;border-radius:20px;}
.effect-part .part-txt{display:block;margin-top:6px;font-size:14px;color:#808285;font-weight:300;letter-spacing:-1px;}

.pro-component{margin-top:46px;text-align:center;}
.component-list{overflow:hidden;float:none;padding:0;width:-webkit-calc(100% + 15px);width:-moz-calc(100% + 15px);width:calc(100% + 15px);margin:30px 0 0 -15px;}
.component-list li{width:20%;float:left;padding:23px 0 0;min-height:200px;text-align:center;border-left:15px solid #fff;background-color:#f4f4f4;}
.component-list .col-sm-3{width:25%;}
.component-list .list-icon{display:inline-block;height:108px;line-height:108px;}
.component-list .list-txt{display:block;margin-top:15px;font-size:16px;color:#56565a;font-weight:300;letter-spacing:-1px;}
.component-list .list-txt em{display:block;font-size:14px;color:#808285;line-height:1;}

.pro-video{margin-top:50px;}
.ingestion-usage .notice-ap{margin:39px 0 7px;padding:15px 20px 17px;font-size:18px;color:#56565a;text-align:center;font-weight:300;letter-spacing:-2px;background-color:#f4f4f4;}
.inge-numlst01 li .bar{margin:0 0 0 8px;text-indent:-8px;}

.pro-gum{max-width:915px;margin:50px auto 0;padding:40px;text-align:center;background:#000 url('../images/akl_product/nutrition-health/bg_5997_red_blast_delivery.png') no-repeat 0 0;background-size:100% 100%;background-size:cover;}
.pro-gum .com-tit{position:relative;display:inline-block;text-align:center;}
.pro-gum .com-tit:before{display:inline-block;width:100%;height:100%;position:absolute;top:0;left:0;content:"";background:#a1e33e;opacity:0.4;-webkit-transform:skewX(-20deg);-moz-transform:skewX(-20deg);-ms-transform:skewX(-20deg);transform:skewX(-20deg);}
.pro-gum .com-tit span{position:relative;display:inline-block;padding:5px 34px 8px;font-size:30px;color:#fff;letter-spacing:-2px;}
.pro-gum .gum-img{display:inline-block;}
.pro-gum .gum-img-box{position:relative;margin-top:27px;}
.pro-gum .gum-img-box li{position:absolute;left:47%;font-size:16px;font-weight:300;color:#ddd;text-align:left;line-height:1;letter-spacing:-1px;}
.pro-gum .gum-img-box li em{font-size:16px;font-weight:300;color:#a1e33e;line-height:1.2;}
.pro-gum .gum-img-box .gum-txt01{top:15%;}
.pro-gum .gum-img-box .gum-txt02{top:45%;}
.pro-gum .gum-img-box .gum-txt03{top:76%;}

.pro-energy{max-width:915px;margin:50px auto 0;padding:30px 0 40px;text-align:center;border:10px solid #e3e3e3;}
.pro-kcal + .pro-energy{margin-top:40px;}
.pro-energy .com-tit{font-size:30px;color:#57565b;}
.energy-list{margin-top:22px;display:-webkit-box;display:-moz-box;display:-ms-flexbox; display:-moz-flex;display:-webkit-flex;display:flex;justify-content:space-between;}
.energy-list:before,
.energy-list:after{display: inline-block;width: 1px;content:"";}
.energy-list li{display:inline-block;width:140px;}
.energy-list .energy-box{position:relative;text-align:center;}
.energy-list .energy-img{display:inline-block;}
.energy-list .energy-img-tit{position:absolute;top:39px;left:50%;width:76px;margin-left:-38px;font-size:15px;font-weight:500;text-align:center;color:#fff;letter-spacing:-1px;}
.energy-list .energy-img-tit .top-txt{display:inline-block;margin-top:-14px;font-size:26px;}
.energy-list .energy-img-tit .top-txt sub{font-size:14px;bottom:0;}
.energy-list .energy-img-tit .bottom-txt{display:block;margin-top:-7px;font-size:11px;letter-spacing:0;font-weight:300;}
.energy-list .energy-graph{position:relative;width:100%;height:20px;margin-top:10px;border-radius:3px;background-color:#bbb;}
.energy-list .energy-graph .total{display:inline-block;position:absolute;top:1px;left:10px;font-size:12px;color:#fff;font-weight:300;}
.energy-list .energy-graph .num{display:inline-block;position:absolute;top:0px;right:10px;text-align:right;font-size:12px;color:#fff;font-weight:300;}
.energy-list .energy-graph .bar{display:inline-block;height:20px;position:absolute;top:0;right:0;border-top-right-radius:3px;border-bottom-right-radius:3px;background-color:#5c9b02;}
.energy-list .energy-txt{margin-top:2px;font-size:20px;color:#000;text-align:center;}
.energy-info{margin-top:13px;text-align:center;}
.energy-info ul{display:inline-block;padding:4px 20px 6px 0;border-radius:5px;background-color:#eef5e5;}
.energy-info li{position:relative;display:inline-block;padding-left:50px;font-size:14px;color:#56565a;letter-spacing:-1px;}
.energy-info li:before{display:inline-block;position:absolute;top:50%;left:20px;width:20px;height:10px;margin-top:-5px;background-color:#bbb;border-radius:3px;content:"";}
.energy-info li.content:before{background-color:#5c9b02;}
.brown .energy-list .energy-graph .bar,
.brown .energy-info li.content:before{background-color:#9a4519;}
.brown .energy-info ul{background-color:#f5ece8;}
.purple .energy-list .energy-graph .bar,
.purple .energy-info li.content:before{background-color:#a50f79;}
.purple .energy-info ul{background-color:#f6e7f1;}
.green .energy-list .energy-graph .bar,
.green .energy-info li.content:before{background-color:#20893d;}
.green .energy-info ul{background-color:#e8f3eb;}

.pro-blast{margin-top:50px;padding-top:42px;border-top:1px solid #e3e3e3;}
.pro-blast .com-tit{text-align:center;}
.pro-blast .com-tit div{display:inline-block;margin:0 10px 0 4px;font-size:44px;color:#57565b;font-weight:400;letter-spacing:-2px;}
.pro-blast .com-tit p{display:inline-block;position:relative;padding:0 15px;}
.pro-blast .com-tit p:before{position:absolute;top:1px;left:0;width:100%;height:54px;content:"";background-color:#56565a;-webkit-transform:skewX(-20deg);-moz-transform:skewX(-20deg);-ms-transform:skewX(-20deg);transform:skewX(-20deg);}
.pro-blast .com-tit .up{margin-right:0;}
.purple.pro-blast .com-tit .up{color:#a50f79;}
.purple.pro-blast .com-tit .up p:before{background-color:#a50f79;}
.green.pro-blast .com-tit .up{color:#20893d;}
.green.pro-blast .com-tit .up p:before{background-color:#20893d;}
.pro-blast .com-tit p em{position:relative;color:#fff;font-size:44px;font-weight:400;letter-spacing:-2px;}
.blast-list{max-width:915px;margin:11px auto 0;}
.blast-list li{display:inline-block;width:48%;padding-top:15px;}
.blast-list li:nth-child(even){width:52%;padding-left:4%;}
.blast-list li .blast-img{display:table-cell;width:23%;vertical-align:middle;}
.blast-list .blast-img span{display:inline-block;}
.blast-list li .blast-box{display:table-cell;padding-left:4%;vertical-align:middle;}
.blast-box .blast-tit{display:block;font-size:16px;color:#56565a;font-weight:500;letter-spacing:-1px;}
.blast-box .blast-txt{display:block;font-size:14px;color:#808285;font-weight:300;letter-spacing:-1px;}

.pro-kcal{max-width:915px;margin:50px auto 0;padding:30px 64px 40px;text-align:center;border:10px solid #e3e3e3;}
.pro-kcal .com-tit{font-size:30px;color:#57565b;}
.kcal-list{position:relative;margin-top:22px;}
.kcal-list:before{display:inline-block;position:absolute;bottom:54px;left:0;width:100%;height:2px;background: #e3e3e3;content:"";}
.purple .kcal-list:before{background: -moz-linear-gradient(left, #e3e3e3 0%, #e3e3e3 40%, #af2a87 100%);background: -webkit-linear-gradient(left, #e3e3e3 0%,#e3e3e3 40%,#af2a87 100%);background: linear-gradient(to right, #e3e3e3 0%,#e3e3e3 40%,#af2a87 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#af2a87',GradientType=1 );}
.green .kcal-list:before{background: -moz-linear-gradient(left, #e3e3e3 0%, #e3e3e3 40%, #32914d 100%);background: -webkit-linear-gradient(left, #e3e3e3 0%,#e3e3e3 40%,#32914d 100%);background: linear-gradient(to right, #e3e3e3 0%,#e3e3e3 40%,#32914d 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#32914d',GradientType=1 );}
.kcal-list ul{display:-webkit-box;display:-moz-box;display:-ms-flexbox; display:-moz-flex;display:-webkit-flex;display:flex;justify-content:space-between;}
.kcal-list ul:before,
.kcal-list ul:after{display: inline-block;width: 1px;content:"";}
.kcal-list li{display:inline-block;width:156px;padding:10px 3px 25px;text-align:center;}
.kcal-list .kcal-img{display:inline-block;}
.kcal-list .kcal-tit{display:block;margin-top:15px;font-size:14px;color:#999;font-weight:300;letter-spacing:-1px;}
.kcal-list .kcal-txt{position:relative;margin-top:8px;display:block;padding-top:12px;font-size:16px;color:#808285;}
.kcal-list .kcal-txt:after{display:block;position:absolute;top:0;left:50%;width:8px;height:8px;margin-left:-4px;background-color:#56565a;border-radius:50%;content:"";}
.purple .kcal-list .xs{background-color:#f6e7f1;}
.purple .kcal-list .xs .kcal-txt,
.purple .kcal-list .xs .kcal-tit{color:#a50f79;}
.purple .kcal-list .xs .kcal-txt:after{background-color:#a50f79;}
.green .kcal-list .xs{background-color:#e8f3eb;}
.green .kcal-list .xs .kcal-txt,
.green .kcal-list .xs .kcal-tit{color:#20893d;}
.green .kcal-list .xs .kcal-txt:after{background-color:#2d9048;}

.ingred-analy02{position:relative;max-width:416px;height:397px;margin:37px auto 0;background:url('../images/akl_product/nutrition-health/bg_doubleX_leaf.png') no-repeat center top;background-size:contain;}
.ingred-analy02 li{position:absolute;left:50%;}
.ingred-analy02 .analy-01{top:12%;margin-left:-23px;}
.ingred-analy02 .analy-02{top:56%;margin-left:-31%;}
.ingred-analy02 .analy-03{top:54%;margin-left:13%;}
.ingred-analy02 .analy-num em{display:block;margin-bottom:-13px;font-size:14px;font-weight:300;letter-spacing:-1px;}
.ingred-analy02 .analy-num{display:block;font-size:44px;color:#20893d;letter-spacing:-2px;}
.ingred-analy02 .analy-txt{display:block;margin-top:35px;font-size:14px;color:#808285;font-weight:300;letter-spacing:-1px;}

/* 뉴트리라이트 파운데이션 트리오 번들팩 */
.pcomp-area.foundation_trio_bundlepack {border-bottom:1px solid #e3e3e3;padding:20px 0 30px;margin-bottom:70px}
.pcomp-area.foundation_trio_bundlepack .comp-info dl dt {height:20px}
.pcomp-area.foundation_trio_bundlepack .comp-info dl dd p {height:70px;padding:0 80px;}


/* 뷰티 */
.advantage-area .sie-box sup{top:-1.5em}
.com-txt + .inge-lst07{margin-top:22px;}
.inge-lst08 .inge-lst07{margin-left:7px;}
.advan-full .inge-lst08{margin-top:10px;}
.effet-area .fleft{padding:0;}

.bt-list{margin-top:20px;}
.img-bt-txt{margin-top:15px;}

.personalized-serum{position:relative;max-width:400px;margin:43px auto 0;}
.personalized-serum ul{position:absolute;bottom:0;left:0;width:-webkit-calc(100% + 10px);width:-moz-calc(100% + 10px);width:-ms-calc(100% + 10px);width:calc(100% + 10px);margin-left:-10px;}
.personalized-serum ul:after{content:''; display:block; clear:both;}
.personalized-serum li{float:left;width:calc(20% - 10px);height:70px;max-width:70px;margin-left:10px;padding-top:15px;line-height:1.3;border:1px solid #e3e3e3;border-radius:50%;font-size:14px;color:#808285;font-weight:300;letter-spacing:-1px;background-color:#fff;}
.personalized-serum li:nth-child(3),
.personalized-serum li:nth-child(5){padding-top:24px;}
.personalized-serum li br{line-height:0;}

.ade-photo .shape{margin:15px 0 0;font-size:14px;letter-spacing:-1px;line-height:1.7;font-weight:300;color:#808285;} 

.perfume-list .ad-setp-lst dt{color:#ad9172;}
.perfume-list .inge-lst03{margin-top:13px;}
.perfume-list .inge-lst03 strong{display:block;font-weight:400;color:#56565a;}


/* 베스바디 */
.special-list{margin-top:-30px;}
.advan-left .special-list{margin-top:0;}
.special-list:after{content:'';display:block;clear:both;}
.special-list > li{display:table;float:left;width:50%;padding:30px 30px 0 0;table-layout:fixed;}
.advan-left .special-list > li{width:100%;padding:30px 0 0 0;}
.advan-left .special-list > li:first-child{padding:0;}
.advan-left .special-list > li:last-child{padding:30px 0 0 0;margin-top:0px;}
.special-list .special-icon{display:table-cell;width:120px;vertical-align:top;}
.advan-left .special-list .special-icon{vertical-align:middle;}
.special-icon span{position:relative;display:table-cell;width:100px;height:100px;border-radius:50%;vertical-align:middle;text-align:center;}
.purple07 .special-icon span{background:#d5b9d5;}
.blue08 .special-icon span{background:#bedce0;}
.orange02 .special-icon span{background:#f5d9be;}
.red .special-icon span{background:#edb9c6;}
.green02 .special-icon span{background:#bddcc5;}
.gray04 .special-icon span{background:#d9dbe2;}
.black .special-icon span{background:#bbb;}

.special-icon span img {position:relative;vertical-align:middle;text-align:center;}
.special-list .special-txt{display:table-cell;padding-right:30px;vertical-align:middle;}
.advan-left .special-list .special-txt{padding-right:0;}
.special-list dt,
.special-list p{font-size:16px;color:#56565a;font-weight:400;}
.special-list dd{margin-top:2px;font-size:16px;color:#808285;font-weight:300;line-height:1.6;}
.special-list .special-txt span,
.special-list .special-txt .list-star li{display:block;font-size:14px;color:#808285;font-weight:300;line-height:1.6;}
.special-list .special-txt .list-star li{margin:0;line-height:1.5;margin-left:5px;text-indent:-5px;}
.special-list .list-star li:nth-child(1){margin-left:7px;text-indent:-7px;}
.special-list .list-star li:nth-child(2){margin-left:12px;text-indent:-12px;}
.special-list .list-star li:nth-child(3){margin-left:18px;text-indent:-18px;}
.special-list dd sup{top:-.25em;}

.ad-setp-lst .purple07{color:#731472;}
.ad-setp-lst .orange02{color:#df7e24;}
.ad-setp-lst .red{color:#c4133f;}
.ad-setp-lst .gray04{color:#80859d;}
.ad-setp-lst .blue08{color:#258b98;}

.satinique-box{display:inline-block;position:relative;}
.satinique-box p{position:absolute;padding:2px 10px 3px;font-size:14px;color:#fff;border-radius:15px;background-color:#bbb;}
.satinique-box .one{top:20%;left:27%;}
.satinique-box .two{top:40%;left:34%;}
.satinique-box .three{top:77%;left:5%;}

.enerjuvetm-complex{margin-top:50px;float:left;width:100%;}
.enerjuvetm-complex ul{width:760px;margin:0 auto;}
.enerjuvetm-complex ul:after{content:'';display:block;clear:both;}
.enerjuvetm-complex li{float:left;position:relative;width:295px;margin-left:170px;text-align:center;}
.enerjuvetm-complex li span{display:inline-block;position:relative;}
.enerjuvetm-complex li span:before{display:inline-block;position:absolute;top:50%;left:-90px;width:10px;height:17px;margin:-8px 0 0;background:url('../images/akl_product/common/arr-gray.png') 0 0 no-repeat;content:"";}
.enerjuvetm-complex li:first-child{margin-left:0;}
.enerjuvetm-complex li:first-child span:before{display:none;}
.enerjuvetm-complex .clx-txt{margin:14px 0 0;font-size:16px;color:#808285;font-weight:300;line-height:1.6;}

/* 홈리빙 */
.queen .v-pro{margin-top:18%;}
.advan-img2025-01,
.advan-img2025-02{display:inline-block;position:relative;}
.advan-img2025-01 .comment01{position:absolute;bottom:17%;width:100%;text-align:center;font-size:14px;font-weight:300;color:#808285;}
.advan-img2025-02 .comment01{position:absolute;top:17%;width:100%;text-align:center;font-size:14px;font-weight:300;color:#808285;}
.advan-img2025-02 .comment02{position:absolute;top:47%;left:21%;font-size:14px;font-weight:300;color:#fff;}
.advan-img2025-02 .comment03{position:absolute;top:47%;left:69%;font-size:14px;font-weight:300;color:#fff;}
.advan-img2025-02 .comment04{position:absolute;top:62%;left:60%;font-size:14px;font-weight:300;color:#e11e45;}
.advan-img2025-02 .comment05{position:absolute;top:80%;width:100%;text-align:center;font-size:14px;font-weight:300;color:#fff;}
.others.component-list .list-txt{margin:0;}

.advan-queen-img{display:inline-block;position:relative;}
.advan-queen-img .comment{position:absolute;top:29%;left:14%;font-size:18px;font-weight:500;color:#525262;}

.special-item {clear:both;display:table;width:100%;margin-top:50px;padding:30px 50px;background-color:#f7f7f7;table-layout:fixed;}
.special-item .item-img {display:table-cell;vertical-align:middle;width:27%;text-align:center;}
.special-item .item-img .img-box {display:inline-block;text-align:center;}
.special-item .item-box {display:table-cell;vertical-align:middle;text-align:left;width:73%;padding:0 0;}
.special-item .item-box dt {font-size:26px;font-weight:400;color:#56565a;letter-spacing:-2px;}
.special-item .item-box li{margin-top:3px;}
.special-item .item-box li:first-child{margin-top:0;}

.btm-line{border-bottom:1px solid #e3e3e3;padding:0 0 40px}

.k-icon.ad-setp-lst{padding-left:50px;}
.k-icon.ad-setp-lst dt{position:relative;}
.k-icon.ad-setp-lst .icon-img{display:inline-block;position:absolute;top:0;left:-50px;width:42px;height:42px;padding:7px 0;vertical-align:middle;border-radius:50%;text-align:center;background-color:#f4f4f4;}

.gray-box.queen{margin-top:18px;}
.gray-box.queen .inge-lst03{padding:0 20px;}
.gray-box.queen .inge-lst03:after{content:'';display:block;clear:both;}
.gray-box.queen .inge-lst03 li{float:left;width:50%;}
.gray-box.queen .inge-lst03 li:after{top:11px;}


@media (min-width: 1074px) and (max-width: 1280px) {
	
}

@media (min-width: 769px) and (max-width: 1073px) {
	.enerjuvetm-complex ul{width:660px;}
	.enerjuvetm-complex li{margin-left:50px;}
	.enerjuvetm-complex li span:before{left:-30px;}	
	
	.advan-queen-img .comment{position:absolute;top:28%;left:14%;font-size:16px;}
}

@media (max-width: 768px) {
	.visual-area .v-logo.perfume img,
	.visual-area .v-logo.queen img{width:200px;}
	.effet-area .col-md-9,
	.effet-area .col-md-8,
	.effet-area .col-md-4,
	.effet-area .col-md-3,
	.effect-info-step .col-sm-2{width:100%;}
	
	.t-big.ad-setp-lst dt{font-size:16px;}
	.ad-setp-lst dd{font-size:14px;}

	.product-effect-info .list-box{margin-top:7px;}
	.product-effect-info .num-list{margin-top:5px;}
	.product-effect-info .num-list li{font-size:14px;margin-left:13px;text-indent:-13px;}
	
	.product-rank{padding:20px 30px;margin-top:30px;}
	.product-rank .rank-img{display:block;text-align:center;width:100%;}
	.product-rank .rank-box{display:block;padding:15px 0 0 0;width:100%;}
	.product-rank .rank-box .com-tit2{font-size:16px;}
	.product-rank .rank-box .com-etc{font-size:14px;}
	.product-rank .rank-box .inge-lst03 li{margin-top:10px;}
	
	.pro-feature{padding:0 0 15px}
	.pro-feature .com-tit{line-height:1;}
	.feature-box{margin-top:0;}
	.feature-box li{width:100%;}
	.feature-box p{padding-left:10px;font-size:14px;}
	
	.bor-img-list{width:-webkit-calc(100% + 15px);width:-moz-calc(100% + 15px);width:-ms-calc(100% + 15px);width:calc(100% + 15px);margin:-15px 0 0 -15px;}
	.bor-img-list li{width:33.33%;margin-top:15px;padding:0 0 0 15px;}
	
	.effet-area .effect-part li{display:block;width:100%;margin-top:8px;}
	
	.pro-component{margin-top:25px;}
	.component-list{margin-top:12px}
	.component-list li,
	.component-list .col-sm-3{width:100%;min-height:126px;padding:20px 0 19px;margin-top:3px;}
	.component-list .list-icon{height:60px;line-height:60px;}
	.component-list .list-icon img{width:70%}
	.component-list .list-txt{margin-top:10px;font-size:14px;}
	
	.amo-info > span.amo-thumbnail,
	.amo-info > dl.amo-txt{vertical-align:top;}
	.amount-list > li{width:100%;margin-top:20px;}
	.amount-list > li:first-child{margin-top:0;}
	
	.pro-video{margin-top:25px;}
	.ingestion-usage .notice-ap{padding:10px 20px 12px;font-size:15px;margin:0 0 25px;}
	.inge-numlst01 li .bar{margin-left:6px;text-indent:-6px;font-size:13px;line-height:1.4;}
	
	.pro-gum{margin-top:25px;padding:35px 20px;}
	.pro-gum .com-tit span{padding:5px 20px 8px;font-size:18px;}
	.pro-gum .gum-img-box{margin-top:15px;}
	.pro-gum .gum-img{display:none;}
	.pro-gum .gum-img-box li{position:static;margin-top:10px;font-size:14px;text-align:center;}
	.pro-gum .gum-img-box li em{font-size:14px;}
	
	.pro-energy{padding:20px 0 20px;margin-top:25px;}
	.pro-kcal + .pro-energy{margin-top:20px;}
	.energy-list{display:block;text-align:left;}
	.energy-list li{width:50%;text-align:center;}
	.energy-list .energy-graph{display:inline-block;width:120px;}
	.energy-list .energy-graph .total{top:2px;left:5px;font-size:11px;}
	.energy-list .energy-graph .num{top:2px;right:5px;font-size:11px;}
	.energy-list .energy-txt{margin:-5px 0 15px;}
	.energy-list:before, .energy-list:after{display:none;}
	.energy-info{margin:0;}
	.energy-info ul{margin:0 15px;}
	
	.pro-blast{margin-top:25px;padding-top:17px;}
	.pro-blast .com-tit div{display:block;font-size:26px;}
	.pro-blast .com-tit p{margin-left:10px;}
	.pro-blast .com-tit p:before{height:30px;top:5px;}
	.pro-blast .com-tit .up{margin:-10px 0 0;}
	.pro-blast .com-tit p em{font-size:26px;}
	.blast-list{margin-top:-5px;}
	.blast-list li,
	.blast-list li:nth-child(even){display:table;width:100%;padding:10px 0 0;table-layout:fixed;}
	.blast-list li .blast-img{width:100px;}
	.blast-box .blast-tit{font-size:14px;}
	.blast-box .blast-txt{font-size:13px;}

	.pro-kcal{padding:20px 0;margin-top:25px;}
	.kcal-list{margin-top:20px;}
	.pro-kcal ul{display:block;}
	.pro-kcal ul:before, .product-kcal ul:after, .kcal-list:before, .kcal-list .kcal-txt:after{display:none;}
	.pro-kcal li{width:50%;padding:0;}
	
	.kcal-list .kcal-tit{margin-top:5px;font-size:13px;}
	.kcal-list .kcal-txt{margin-top:0;padding-top:0;font-size:14px;}
	.purple .kcal-list .xs,
	.green .kcal-list .xs{background-color:#fff;}
	
	.com-ingred .effect-comment *{font-size:12px;line-height:1.1;}
	
	.effect-img2041{width:calc(100% + 40px);margin-left:-20px;text-align:center;}
	.effect-img2041 img{width:70%;}
	.effect-img2041 .effect-comment, .effect-img2076 .effect-comment{left:59%;font-size:11px;line-height:1;}
	.effect-img2041 .effect-comment br, .effect-img2076 .effect-comment br{}
	.effect-img2041 .comment02-01, .effect-img2076 .comment02-01{top:33%}
	.effect-img2041 .comment02-02, .effect-img2076 .comment02-02{top:39%;}
	.effect-img2041 .comment02-03, .effect-img2076 .comment02-03{top:45%;}
	.effect-img2041 .effect-comment span, .effect-img2076 .effect-comment span{font-size:11px;}
	
	.detail-img.effect-img1480 .effect-comment {top:45%;font-size:11px;}
	.detail-img.effect-img1480 .effect-comment em{font-size:12px;}
	.detail-img.effect-img1480 .comment01{left:6%;}
	.detail-img.effect-img1480 .comment02{left:60%;}
	.detail-img.effect-img1480 .comment03{top:65%;left:21%;}

	.effect-img2029_02 .comment01{top:20%;}
	.effect-img4523 .effect-comment {font-size:12px}

	.effect-img2169-02 .comment li{width:auto;padding-left:6%;}
	.effect-img2169-02 .effect-comment img{width:25px;height:auto;}
	.effect-img2169-01{display:block;max-width:418px;margin:15px auto 0;}
	.effect-img2169-02 .effect-comment, 
	.effect-img2169-02 .effect-comment em{font-size:13px;}
	.effect-img2169-02 .comment02{top:0;}
	.effect-img2169-02 .comment03{left:2%;top:92%;}
	.effect-img2169-02 .comment04{left:56%;top:92%;}
	
	.effect-img2051 .comment01{left:12%;}
	.effect-img2051 .comment02{left:5%;}
	.effect-img2051 .comment03{right:7%;}
	.effect-img2051 .comment04{left:13%;top:19%;}
	
	.effect-img7070 .effect-comment{text-align:right;}
	
	.effect-info-step{margin:21px 0 0;width:100%;}
	.effect-info-step li{display:block;width:100%;padding:40px 0 0;margin:0 auto;}
	.effect-info-step li:first-child{padding:0;}
	.effect-info-step li:before{top:12px;left:50%;margin:0 0 0 -5px;-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);-moz-transform:rotate(90deg);transform:rotate(90deg);}
	.effect-info-step .effect-step-txt{margin-top:15px;}
	.effect-info .img-wrap{margin:15px 0 0 0;text-align:center;}
	
	.effet-area .bor-img-list{width:-webkit-calc(100% + 15px);width:-moz-calc(100% + 15px);width:-ms-calc(100% + 15px);width:calc(100% + 15px);margin:-15px 0 0 -15px;}
	.effet-area .bor-img-list li{width:33.33%;margin-top:15px;padding:0 0 0 15px;}
	
	.effet-area .effect-num-list li{display:table;width:100%;margin-top:10px;text-align:left;}
	.effet-area .effect-num-list li:first-child{margin-top:0;}
	.effect-num-list .num-img{display:table-cell;padding:6px 0 0;text-align:center;vertical-align:middle;}
	.effect-num-list .num-txt{display:table-cell;padding-left:10px;font-size:14px;vertical-align:middle;}
	.round-list li{width:100%;padding:15px 0 0 30px;}
	.round-list .round-list-txt{padding-left:10px;}
	
	.ingred-analy02{width:264px;height:245px;margin-top:20px;}
	.ingred-analy02 .analy-num{font-size:25px;}
	.ingred-analy02 .analy-txt{font-size:12px;margin-top:12px;}
	.ingred-analy02 .analy-num em{margin-bottom:-8px;}
	.ingred-analy02 .analy-01{top:15%;margin-left:-8%;}
	.ingred-analy02 .analy-02{top:60%;margin-left:-33%;}
	.ingred-analy02 .analy-03{top:55%;margin-left:9%;}
	
	.ad-setp-lst3 li{width:100%;margin:8px;}
	
	.com-tit sup{font-size:13px;top:-0.7em;}

	/* 비주얼 텍스트 */
	.txt-info-visual .v-txt.acerola_C {margin:30px 5% 0;}
	.txt-info-visual .v-txt.acerola_C span {display:inline-block;}

	.txt-info-visual .v-txt.foundation_trio_bundlepack {margin:30px 5% 0;}

	/* 뷰티 */
	.advantage-area .sie-box sup{top:-.5em;}
	.com-txt + .inge-lst07{margin-top:15px;}
	.technology-step .program-list .program-step{width:120px;height:36px;line-height:36px;font-size:16px;}
	.technology-step .program-list .program-img img{max-width:100%;}
	.advan-right .technology-step{margin-top:25px;} 
	.advan-left .technology-step{margin-bottom:25px;}
	
	/* 베스바디 */
	.special-list > li,
	.special-list > li:last-child,
	.advan-left .special-list > li,
	.advan-left .special-list > li:last-child{width:100%;padding:15px 0 0 0;margin:0;}
	.enerjuvetm-complex ul,
	.enerjuvetm-complex li{width:100%;margin:0;}
	.enerjuvetm-complex li:first-child{margin-bottom:50px;}
	.enerjuvetm-complex li span:before{top:-27px;left:50%;margin-left:-5px;transform: -webkit-rotate(90deg);transform: -moz-rotate(90deg);transform: -ms-rotate(90deg);transform: rotate(90deg);}
	.enerjuvetm-complex .clx-txt{padding:0 30px;}
	
	.deaf03.bep-lst li{width:50%;}
	
	/* 홈리빙 */
	.special-item{padding:20px 30px;margin-top:25px;}
	.special-item .item-img{display:block;text-align:center;width:100%;}
	.special-item .item-box{display:block;padding:15px 0 0 0;width:100%;}
	.special-item .item-box dt{font-size:16px;}
	.special-item .item-box ul{padding:5px;}
	
	.gray-box.queen .inge-lst03 li{width:100%;}
}

@media (max-width: 324px) {
	.enerjuvetm-complex li span,
	.enerjuvetm-complex .clx-img img{width:100%;}
	.special-list .special-icon{display:block;width:100%;text-align:center;}
	.special-icon span{display:block;line-height:100px;margin:0 auto;}
	.special-list .special-txt{display:block;width:100%;padding:10px 0 0;text-align:center;}
}


