/************************************************
Version : AKL Hybris UIUX 1.0
Date : 2018-01-25
Editor : eunmyoung Noh
*************************************************/
@import url("shop-finder.css");
@import url("select2.css");
@import url("register.css");
@import url("sprint.css");
@import url("akl-contents_0.css");
@import url("akl-contents.css");
@import url("akl-contents_min.css");
@import url("akl-product.css");

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/NotoSansKR-Light.woff2) format('woff2'),
       url(../fonts/NotoSansKR-Light.woff) format('woff'),
       url(../fonts/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 400;
   src: url(../fonts/NotoSansKR-Regular.woff2) format('woff2'),
        url(../fonts/NotoSansKR-Regular.woff) format('woff'),
        url(../fonts/NotoSansKR-Regular.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 500;
   src: url(../fonts/NotoSansKR-Medium.woff2) format('woff2'),
        url(../fonts/NotoSansKR-Medium.woff) format('woff'),
        url(../fonts/NotoSansKR-Medium.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 700;
   src: url(../fonts/NotoSansKR-Bold.woff2) format('woff2'),
        url(../fonts/NotoSansKR-Bold.woff) format('woff'),
        url(../fonts/NotoSansKR-Bold.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 900;
   src: url(../fonts/NotoSansKR-Black.woff2) format('woff2'),
        url(../fonts/NotoSansKR-Black.woff) format('woff'),
        url(../fonts/NotoSansKR-Black.otf) format('opentype');
 }
  


/* 상품목록 > 카드형 */ 
.akl .product-list__item { height: 640px;}
.akl .product-list__item-content {height: 549px;}
.akl .product-list__thumbnail {height:auto;  }
.akl .product__list--wrapper {margin: 0 ;}
.search-left-header { color:#002f5f; font-weight:500; background-color: #f4f4f4; border-top: 1px solid #e3e3e3;font-size: 14px; padding:12px 20px;}
.search-left-list li{border-bottom: 1px solid #dadada; padding:15px 20px; }
.search-left-list li [type="checkbox"]:checked+label,[type="checkbox"]:not(:checked)+label{ color:#002f5f; font-weight:500}
.akl .search-list-page-right-result-list-slot { padding-top:0; }
.akl .search-list-page-right-result-list-slot .pagination-bar {margin: 0 ; padding-bottom:10px; border-bottom: 1px solid #e3e3e3; }
.akl .product__list--wrapper .pagination-bar .pagination-toolbar { padding-right:0;}
.akl .search-list-page-right-result-list-slot .pagination-bar .pagination-bar-results{margin-top:0; color: #002f5f; font-weight:700; font-family:'Noto Sans KR', sans-serif; font-size:14px; line-height: 15px;}
.akl .search-list-page-right-result-list-slot .pagination-bar .pagination-bar-results span {font-weight:700;} 
.akl .product-list__item-content.amwahover .checkbox-element-wrapper {top: 15px; right: 11px;} 
.akl .search-list-page-right-result-list-slot .product__list--wrapper .product__list { margin:0;}
.akl .search-list-page-right-result-list-slot .product__list--wrapper .product__list .product__list--item { padding:30px 7px 0;font-family:'Noto Sans KR', sans-serif; }
.akl .search-list-page-right-result-list-slot .product__list--wrapper .product__list { margin-bottom:60px; font-size: 14px;}
.akl .search-list-page-right-result-list-slot .product__list--wrapper .product__list .content-list-item {font-family:'Noto Sans KR', sans-serif; padding: 35px 0;border-top:0;border-bottom: 1px solid #e3e3e3;}
.akl .search-list-page-right-result-list-slot .product__list--wrapper .product__list .content-list-item .item-header .header-text { font-size:14px;font-weight:500;}
.col-search-right .product-list__item-title { font-size:14px; font-weight:500; letter-spacing: -1px}
.col-search-right .product-list__item-count { font-size:13px; font-weight:400; }
.col-search-right .product-list__item-number { font-size:13px; font-weight:400; }
.col-search-right .product-list__item-retailprice {font-size:13px; font-weight:400; }
.col-search-right .wish-conts { float:left;}
.col-search-right .wish-conts .drop-btn {font-size:13px; font-weight:500; padding:0 5px 4px 0; margin:4px 0 0 5px }
.col-search-right .wish-conts .drop-btn span.icon-add-shopping-list { padding:0 10px ;  width: 20px; height: 20px; background: url(../images/akl_common/ico_heart.png) no-repeat 0 0; background-size: 20px auto; top:4px;}
.akl .product__list + .text-center { margin-top: -40px;}
.akl .text-center.show-more-products-wrapper .btn{ font-size: 14px;}
.akl .product__list.basic .content-list-item .item-footer,
.akl .product__list.basic .content-list-item .item-description { padding-left:0}
.akl .item-header { margin-bottom:15px; }
.akl .search-list-page-right-result-list-slot .product__list--wrapper .product__list .content-list-item .item-header .header-image-wrapper {  margin-right:0; }
.akl .search-list-page-right-result-list-slot .product__list--wrapper .product__list .content-list-item .item-header .header-date { font-size:13px;}
.akl .item-header .header-image-wrapper img{ width:20px; }
.akl .item-footer a { font-size:14px;font-weight:500;}
.product-results-list {margin:30px 0 20px; overflow:hidden;}
.product-results-list .col-lg-12 {padding:0 }
.product-results-list .col-md-4 { padding:0 7px 10px;}
.product-results-list .news-result-prom {margin-bottom:6px;}
.akl-no-results h1 { text-align:center}
.akl-no-results p { text-align:center; margin-bottom:30px; margin-top:-10px}
.akl-no-results .ui-front { padding: 12px 0 300px; z-index: 100; width:280px; margin:0 auto}
.akl-no-results .input-group { width: auto; border-radius: 4px; font-weight:400; min-height: 38px; border: 1px solid #dadada; }
.akl-no-results input[type="text"] { border:0;}
.akl-no-results .icon-check-bold { background: transparent !important; }
.akl-no-results .btn {width: 40px;padding: 0;  max-height: 38px; background-color:transparent !important; color:navy;; }
.akl #show-more { font-size: 14px;  font-weight:500;font-family:'Noto Sans KR', sans-serif; }

/* 상품목록 > 카드형 카테고리*/    
.akl .category-soultion .product-list__item-title {font-size:14px;font-weight:500;line-height:18px;}
.akl .category-soultion .product-list__item-count, .akl .category-soultion .product-list__item-number {font-size:13px;font-weight:400;margin-bottom:10px}
.akl .category-soultion .product-list__item-aboprice {height:30px;}
.akl .category-soultion .product-list__item-retailprice {font-size:13px;font-weight:400;margin-bottom:10px;}
.akl .category-soultion .product-list__item-retailprice.quantity {font-size:14px;font-weight:500;}
.product-allchoice {clear:both;display:block;background:#f4f4f4;border-top:1px solid #e3e3e3;border-bottom:1px solid #e3e3e3;padding:0 20px;height:48px;}
.product-solition-top {padding:40px 0 0}

/* 상품목록 >  위시리스트, 스마트오더 담기 영역 ***/
.akl .product-list__item-link-text button,
.akl .product-list__item-link-ditto button { background-color:#fff; white-space:nowrap;color:#0075a4;letter-spacing:-1px;font-weight:500}
.akl .product-list__item-link-ditto { background:none !important; }
.akl .product-list__item-link-ditto button {  padding: 0 15px 0 35px; display: inline-block; background: url(../images/ditto_2.svg) no-repeat 10px center !important; background-size:20px 20px !important;}
.akl .product-list__item-link .plp-add-to-shopping-list .product-list__item-link-common { position: absolute; left: 10px; top:0 }   
.akl .product-list__item .product-list__item-link-text {background:url("../images/akl_common/ico_heart.png") no-repeat 0 center;background-size:20px 20px;padding-left:20px;}  
.ditto-changeTo-sop .product-list__item-link-ditto {text-align:left;padding:0 0 0 0;float:none;}
.new-product__listing .product-list__item-link-ditto:before {width:0;height:0;}

.col-search-right .plp-add-to-ditto .dropdown-menu { left: auto; right: 0; }
.akl .plp-add-to-shopping-list .dropdown-menu .dropdown-menu-bottom a {  float:none; font-size:14px; ;top: auto;left: 10px; display:inline-block;}
.plp-add-to-ditto .dropdown-menu .dropdown-menu-bottom { height:60px; overflow:hidden;}
.plp-add-to-ditto .dropdown-menu .dropdown-menu-bottom a { float:none; top: auto; left: 10px;}
.form-wrapper.address-pop02 form input {margin-right:0;}

.akl .product-list__item-link .plp-add-to-shopping-list .dropdown-menu {top:44px;}
.akl .plp-add-to-shopping-list .dropdown-menu li {line-height:18px;border-bottom: 1px solid #dadada; padding:18px 0 8px}
.akl .plp-add-to-shopping-list .dropdown-menu li label {top:0;height:21px;font-size:14px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-wieght:400}
.akl .plp-add-to-shopping-list .dropdown-menu li:last-child {border-bottom:0;}
.akl .product-list__item-link .plp-add-to-ditto .dropdown-menu {top:44px;left:auto; right: 0}
.akl .plp-add-to-ditto .dropdown-menu ul li { padding:15px 0}
.akl .plp-add-to-ditto .dropdown-menu ul li:last-child {border-bottom:0;}
.akl .plp-add-to-ditto .dropdown-menu ul li span  { display: block; margin:-15px 0 0 30px; overflow:hidden; white-space: nowrap;text-overflow: ellipsis;  }
.akl .plp-add-to-ditto .dropdown-menu ul li p  {  margin:0 0 0 30px; overflow:hidden; white-space: nowrap;text-overflow: ellipsis; }
.product-list__item-link-text {background:url("../images/akl_common/ico_heart.png") no-repeat 8px center;background-size:20px 20px;}
.product-list__item-link .product-list__item-link-ditto {padding:0 0 0 25px;display:inline-block;text-align:left;float:right;}
.search-list-page-right-result-list-component {padding:0 0;}
.product-list__item-link-common {font-weight:500;font-size:14px;}


/* 상품상세 하단 배너  추가 */
 .akl .experience-brands__content { background-image: none; }  
 .akl .sub-banner .img-area  { position: absolute; left:0; top:0}
 .akl .sub-banner .img-area img { width: 100%} 
  
@media (max-width: 768px) {
	/* 상품목록 */
	.akl .product-list__item { height:320px;}
	.akl .product-list__item-content { height:300px;}
    .akl .product-list__item-link { padding:0 0 0 10px; } 
    .akl .product-list__item-link:after{ content:""; clear:both; display: block;} 
	.akl .product-list__item-link .plp-add-to-shopping-list .dropdown-menu { width: auto; margin-right: 10px; border-top:1px solid #ccc; top:30px;}
	.akl .product-list__item-link .plp-add-to-ditto .dropdown-menu { left:0!important;  width: auto; margin-right: 10px;  border-top:1px solid #ccc; top:30px !important; left:13px; }
	
	/* 상품목록 >  위시리스트, 스마트오더 담기 영역 ***/
	.product-list__item-link .product-list__item-link-ditto {padding:0; float:none;}
	.akl .product-list__item-link .plp-add-to-shopping-list .product-list__item-link-common { position: static; left: 0; top:0 } 
	.akl .product-list__item-link-ditto button {padding: 0 15px 0 25px; background: url(../images/ditto_2.svg) no-repeat 0 center !important;}     	
}

@media (max-width: 660px){
	.product__list--item:last-child .plp-add-to-shopping-list .dropdown-menu {bottom: auto;}
	.product__list--item:last-child .plp-add-to-ditto .dropdown-menu {bottom: auto;}
}
 
 