/************************************************
Version : AKL Hybris UIUX 1.0
Date : 2018-07-02
Editor : 
*************************************************/ 

/* depth01 > depth02 */ 
 

@media (max-width: 768px) { 
	/* depth01 > depth02 */ 	 
}