/************************************************
Version : AKL Hybris UIUX 1.0
암웨이 플라자 옮김 : 2018.04.10
*************************************************/   
/*** 암웨이 플라자 ***/
.akl .shop-finder-container .order-history-container .order-history-search-wrapper .form-wrapper form button{ }
.akl .shop-finder-main-content-body-area-left { padding-left: 0;}
.akl .shop-finder-main-content-body-area-right { padding-right: 0; margin-top:-79px;}
.akl .shop-finder-main-content-body-area #business-page-accordion {padding: 20px 0;}
.akl .shop-finder-main-content .tab-pane { margin-top: 10px; }
.shop-finder-container .shop-finder-main-content .shop-finder-main-content-body-area .shop-finder-main-content-body-area-left .QA-container {height:680px;}
.akl .tab-content .shop-finder-main-content-body-area {min-height:680px; }
.akl .shop-finder-main-content-body-area p {position:relative; height:680px; background:#f0f0f0 }
.akl .shop-finder-main-content-body-area .no-map span{ position: absolute; left:50%; top:50%; padding-top:85px; text-align:center; transform: translate(-50%,-50%); font-size:14px; background: url("../images/akl_common/ico_nomap.png") no-repeat 50% 0; }
.akl .shop-finder-main-content-body-area .no-map.no-img span { background: url("../images/akl_common/ico_noimg.png") no-repeat 50% 0; }
.akl .shop-finder-container #business-page-accordion .panel-title .accordion-header-text{font-size: 18px; display: block; font-weight:500; padding: 30px 0 10px}
.akl .shop-finder-container #business-page-accordion .panel-title div { padding: 23px 0; position: relative; }
.akl .shop-finder-container #business-page-accordion .panel-title div span {font-size: 18px}
.akl .shop-finder-container #business-page-accordion .panel-title div.collapsed span.indicator:after {position:absolute; top: 15px; right: 0}
.akl .shop-finder-container #business-page-accordion {font-size: 14px;font-family:'Noto Sans KR', sans-serif}
.akl .shop-finder-container .shop-finder-main-content .shop-finder-main-content-body-area .shop-finder-main-content-body-area-left .business-page-accordion#business-page-accordion .panel .panel-collapse .shop-finder-wrapper-top:first-child {padding-top:10px; }
.akl .shop-finder-container .shop-finder-main-content .shop-finder-main-content-body-area .shop-finder-main-content-body-area-left .business-page-accordion#business-page-accordion .panel .panel-collapse { padding-left:5px;}
.akl .shop-finder-container .shop-finder-main-content .shop-finder-main-content-body-area .shop-finder-main-content-body-area-left .business-page-accordion#business-page-accordion .panel .panel-heading .shop-finder-position {padding:10px 0 30px;}
.akl .business-page-accordion .icon-minus { margin-top: -35px;}
.akl .business-page-accordion .icon-minus:before {font-size:22px;font-weight:700;line-height:20px; }
.akl .shop-finder-container .shop-finder-main-content .shop-finder-main-content-title-area .shop-finder-main-content-title { font-weight:700; font-size:18px; padding-top:30px;letter-spacing:-2px }
.akl .shop-finder-container .shop-finder-main-content .shop-finder-main-content-body-area .shop-finder-main-content-body-area-left .QA-container {top: 15px;}
.akl .shop-finder-container .shop-finder-main-content .shop-finder-main-content-body-area .shop-finder-main-content-body-area-left .business-page-accordion#business-page-accordion .panel .panel-heading .shop-finder-position .shop-finder-title-area span {font-size: 14px; }
.akl .order-history-container .order-history-search-wrapper .form-wrapper select.form-control.width185 { margin-right:5px;}
.akl .order-history-container .order-history-search-wrapper .form-wrapper select.form-control.width185 + button { vertical-align:top !important;}
.check-area { display: none}
.map-list .wrapper { position: relative; left:0; top:0;width: 100%; height:680px}
.map-list .wrapper img { width: 100%}
.akl .shop-finder-container .owl-carousel {padding:0}
.akl .shop-finder-container .owl-theme .owl-controls .owl-dots { margin-top:-50px}
.akl .shop-finder-container .owl-theme .owl-dots .owl-dot span { opacity: 0.9;  background: #fff;}
.akl .shop-finder-container .owl-theme .owl-dots .owl-dot.active span { opacity: 0.6; background: #685d52;}
.akl .shop-finder-container .owl-theme .owl-controls .owl-nav .owl-prev { left: 10px;}
.akl .shop-finder-container .owl-theme .owl-controls .owl-nav .owl-next { right: 10px;}  
 

@media (max-width: 768px) { 
    
} 
