/** ---------------------------------------------------------
  * Version : AKL Hybris UIUX 1.0
  * @ 파일 : akl-common.css
  * @ 구분 : css import 및 폰트 설정
  * ---------------------------------------------------------
  */

/* 코어제공 */
@import url("sprint.css");

/* akl */
@import url("akl-basic.css");
@import url("akl-customer.css");
@import url("akl-shop.css");
@import url("akl-sop.css");
@import url("akl-account.css");
@import url("akl-business.css");
@import url("akl-product.css");
@import url("akl-brand.css");
@import url("akl-brand_hw.css");
@import url("akl-print.css");

/* 운영팀게시물 */
@import url("content_res_all.css");


@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: url(../fonts/NotoSansKR-Light.woff2) format('woff2'),
		 url(../fonts/NotoSansKR-Light.woff) format('woff') ;
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/NotoSansKR-Regular.woff2) format('woff2'),
		 url(../fonts/NotoSansKR-Regular.woff) format('woff') ;
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src: url(../fonts/NotoSansKR-Medium.woff2) format('woff2'),
		 url(../fonts/NotoSansKR-Medium.woff) format('woff') ;
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	src: url(../fonts/NotoSansKR-Bold.woff2) format('woff2'),
		 url(../fonts/NotoSansKR-Bold.woff) format('woff') ;
}
/*
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 900;
	src: url(../fonts/NotoSansKR-Black.woff2) format('woff2'),
		 url(../fonts/NotoSansKR-Black.woff) format('woff');
}*/

@font-face {
	font-family:'Free 3 of 9 Regular';
	src:url(../fonts/FREE3OF9.woff) format('woff');
}

/* -------- 이하 공백 -------- */
.brand .brand-artisti-banner { height:344px; width:100%; display:table; }
.brand .brand-artisti-banner.type01 { background:url(/_ui/responsive/theme-blue/images/akl_brand/artistry/banner/bg_01.jpg) no-repeat right top; background-size:cover }
.brand .brand-artisti-banner a { display:table-row;}
.brand .brand-artisti-banner a p { height:344px; width:50%; display: table-cell; vertical-align:middle; margin:0; padding:55px 0 0; text-align: center;}
.brand .brand-artisti-banner a p img { height:289px; width:auto}
.brand .brand-artisti-banner a dl {display: table-cell; height:344px; vertical-align:middle;  }
.brand .brand-artisti-banner a dl dt { font-size:36px; font-weight:500; color:#6d5f3c; padding-left:100px;letter-spacing: -2px;}
.brand .brand-artisti-banner a dl dt span{ font-size:26px; font-weight:400; color:#57575a; display:block;}
.brand .brand-artisti-banner a dl dd { font-size: 14px; color:#808184; padding-left:100px; margin-top: 20px}
.brand .brand-artisti-banner a dl dd span {display:block;}

.brand .brand-artisti-banner.type02 { background:url(/_ui/responsive/theme-blue/images/akl_brand/artistry/banner/bg_02.jpg) no-repeat right top; background-size:cover }
.brand .brand-artisti-banner.type03 { background:url(/_ui/responsive/theme-blue/images/akl_brand/artistry/banner/bg_03.jpg) no-repeat right top; background-size:cover }
.brand .brand-artisti-banner.type04 { background:url(/_ui/responsive/theme-blue/images/akl_brand/artistry/banner/bg_04.jpg) no-repeat right top; background-size:cover }
.brand .brand-artisti-banner.type05 { background:url(/_ui/responsive/theme-blue/images/akl_brand/artistry/banner/bg_05.jpg) no-repeat right top; background-size:cover }
.brand .brand-artisti-banner.type06 { background:url(/_ui/responsive/theme-blue/images/akl_brand/artistry/banner/bg_06.jpg) no-repeat right top; background-size:cover }
.brand .brand-artisti-banner.type07 { background:url(/_ui/responsive/theme-blue/images/akl_brand/artistry/banner/bg_07.jpg) no-repeat right top; background-size:cover }
.brand .brand-artisti-banner.type08 { background:url(/_ui/responsive/theme-blue/images/akl_brand/artistry/banner/bg_08.jpg) no-repeat right top; background-size:cover }
.brand .brand-artisti-banner.type09 { background:url(/_ui/responsive/theme-blue/images/akl_brand/artistry/banner/bg_09.jpg) no-repeat right top; background-size:cover }
.brand .brand-artisti-banner.type10 { background:url(/_ui/responsive/theme-blue/images/akl_brand/artistry/banner/bg_10.jpg) no-repeat right top; background-size:cover }
.brand .brand-artisti-banner.type11 { background:url(/_ui/responsive/theme-blue/images/akl_brand/artistry/banner/bg_11.jpg) no-repeat right top; background-size:cover }
.brand .brand-artisti-banner.type12 { background:url(/_ui/responsive/theme-blue/images/akl_brand/artistry/banner/bg_12.jpg) no-repeat right top; background-size:cover }
.brand .brand-artisti-banner.type13 { background:url(/_ui/responsive/theme-blue/images/akl_brand/artistry/banner/bg_13.jpg) no-repeat right top; background-size:cover }
.brand .brand-artisti-banner.type14 { background:url(/_ui/responsive/theme-blue/images/akl_brand/artistry/banner/bg_14.jpg) no-repeat right top; background-size:cover }
.brand .brand-artisti-banner.type15 { background:url(/_ui/responsive/theme-blue/images/akl_brand/artistry/banner/bg_15.jpg) no-repeat right top; background-size:cover }
.brand .brand-artisti-banner.type16 { background:url(/_ui/responsive/theme-blue/images/akl_brand/artistry/banner/bg_16.jpg) no-repeat right top; background-size:cover }
.brand .brand-artisti-banner.type17 { background:url(/_ui/responsive/theme-blue/images/akl_brand/artistry/banner/bg_17.jpg) no-repeat right top; background-size:cover }
.brand .brand-artisti-banner.type18 { background:url(/_ui/responsive/theme-blue/images/akl_brand/artistry/banner/bg_18.jpg) no-repeat right top; background-size:cover }
.brand .brand-artisti-banner.type19 { background:url(/_ui/responsive/theme-blue/images/akl_brand/artistry/banner/bg_19.jpg) no-repeat right top; background-size:cover }
.brand .brand-artisti-banner.type20 { background:url(/_ui/responsive/theme-blue/images/akl_brand/artistry/banner/bg_20.jpg) no-repeat right top; background-size:cover }
.brand .brand-artisti-banner.type21 { background:url(/_ui/responsive/theme-blue/images/akl_brand/artistry/banner/bg_21.jpg) no-repeat right top; background-size:cover }


.brand .brand-artisti-banner.type02 a dl dt span { color:#ffddaf;}
.brand .brand-artisti-banner.type03 a dl dt span { color:#fffefc;}
.brand .brand-artisti-banner.type04 a dl dt span { color:#57575a;}
.brand .brand-artisti-banner.type05 a dl dt span { color:#57575a;}
.brand .brand-artisti-banner.type06 a dl dt span { color:#57575a;}
.brand .brand-artisti-banner.type07 a dl dt span { color:#57575a;}
.brand .brand-artisti-banner.type08 a dl dt span { color:#57575a;}
.brand .brand-artisti-banner.type09 a dl dt span { color:#57575a;}
.brand .brand-artisti-banner.type10 a dl dt span { color:#57575a;}
.brand .brand-artisti-banner.type11 a dl dt span { color:#57575a;}
.brand .brand-artisti-banner.type12 a dl dt span { color:#57575a;}
.brand .brand-artisti-banner.type13 a dl dt span { color:#57575a;}
.brand .brand-artisti-banner.type14 a dl dt span { color:#57575a;}
.brand .brand-artisti-banner.type15 a dl dt span { color:#57575a;}
.brand .brand-artisti-banner.type16 a dl dt span { color:#57575a;}
.brand .brand-artisti-banner.type17 a dl dt span { color:#57575a;}
.brand .brand-artisti-banner.type18 a dl dt span { color:#57575a;}
.brand .brand-artisti-banner.type19 a dl dt span { color:#57575a;}
.brand .brand-artisti-banner.type20 a dl dt span { color:#57575a;}
.brand .brand-artisti-banner.type21 a dl dt span { color:#57575a;}

.brand .brand-artisti-banner.type02 a dl dt { color:#be906c;}
.brand .brand-artisti-banner.type03 a dl dt { color:#6be4f7;}
.brand .brand-artisti-banner.type04 a dl dt { color:#6d5f3c;}
.brand .brand-artisti-banner.type05 a dl dt { color:#6d5f3c;}
.brand .brand-artisti-banner.type06 a dl dt { color:#6d5f3c;}
.brand .brand-artisti-banner.type07 a dl dt { color:#6d5f3c;}
.brand .brand-artisti-banner.type08 a dl dt { color:#6d5f3c;}
.brand .brand-artisti-banner.type09 a dl dt { color:#6d5f3c;}
.brand .brand-artisti-banner.type10 a dl dt { color:#6d5f3c;}
.brand .brand-artisti-banner.type11 a dl dt { color:#6d5f3c;}
.brand .brand-artisti-banner.type12 a dl dt { color:#6d5f3c;}
.brand .brand-artisti-banner.type13 a dl dt { color:#6d5f3c;}
.brand .brand-artisti-banner.type14 a dl dt { color:#6d5f3c;}
.brand .brand-artisti-banner.type15 a dl dt { color:#6d5f3c;}
.brand .brand-artisti-banner.type16 a dl dt { color:#6d5f3c;}
.brand .brand-artisti-banner.type17 a dl dt { color:#6d5f3c;}
.brand .brand-artisti-banner.type18 a dl dt { color:#6d5f3c;}
.brand .brand-artisti-banner.type19 a dl dt { color:#6d5f3c;}
.brand .brand-artisti-banner.type20 a dl dt { color:#6d5f3c;}
.brand .brand-artisti-banner.type21 a dl dt { color:#6d5f3c;}


.brand .brand-artisti-banner.type02 a dl dd {color:#dbd9da;}
.brand .brand-artisti-banner.type03 a dl dd {color:#dbdbd9;}
.brand .brand-artisti-banner.type04 a dl dd {color:#808184;}
.brand .brand-artisti-banner.type05 a dl dd {color:#808184;}
.brand .brand-artisti-banner.type06 a dl dd {color:#808184;}
.brand .brand-artisti-banner.type07 a dl dd {color:#808184;}
.brand .brand-artisti-banner.type08 a dl dd {color:#808184;}
.brand .brand-artisti-banner.type09 a dl dd {color:#808184;}
.brand .brand-artisti-banner.type10 a dl dd {color:#808184;}
.brand .brand-artisti-banner.type11 a dl dd {color:#808184;}
.brand .brand-artisti-banner.type12 a dl dd {color:#808184;}
.brand .brand-artisti-banner.type13 a dl dd {color:#808184;}
.brand .brand-artisti-banner.type14 a dl dd {color:#808184;}
.brand .brand-artisti-banner.type15 a dl dd {color:#808184;}
.brand .brand-artisti-banner.type16 a dl dd {color:#808184;}
.brand .brand-artisti-banner.type17 a dl dd {color:#808184;}
.brand .brand-artisti-banner.type18 a dl dd {color:#808184;}
.brand .brand-artisti-banner.type19 a dl dd {color:#808184;}
.brand .brand-artisti-banner.type20 a dl dd {color:#808184;}
.brand .brand-artisti-banner.type21 a dl dd {color:#808184;}


@media (max-width:768px) {
	.brand .brand-artisti-banner { height:auto; min-height:500px; width:auto; display:block; }
	.brand .brand-artisti-banner a { display:block;}
	.brand .brand-artisti-banner a p { height:auto; width:auto; display:block; padding:20px 50px 0; text-align:right;}
	.brand .brand-artisti-banner a dl {display:block; height:auto; }
	.brand .brand-artisti-banner a dl dt { padding:40px 30px 0; }
	.brand .brand-artisti-banner a dl dt span{ display:block;}
	.brand .brand-artisti-banner a dl dd { padding-left:30px; margin-top:20px}
	.brand .brand-artisti-banner a dl dd span {display:block;}
}

