/************************************************
Version : AKL Hybris UIUX 1.0
Date : 2018.05.03
Editor : ji-min Park
*************************************************/



/**************************************************
			          뷰티	비주얼 영역 bg 공통 모음
***************************************************/
.visual-area.type02.ad-vitamin{background: #f8f8f8 url(../images/akl_product/beauty/bg_intensive_advanced_1480.png) no-repeat top center;height:929px;} /*01 인텐시브 비타민 */
.visual-area.type02.boosting-infusion{background: #f8f8f8 url(../images/akl_product/beauty/bg_intensive_boosting_infusion.png) no-repeat top center;height:1039px;} /*01 인텐시브 부스팅 인퓨전  */
.visual-area.type02.intensive-skin{background: #f8f8f8 url(../images/akl_product/beauty/bg_intensive_skincare.png) no-repeat top center;height:1085px;}   /*01 인텐시브 스킨케어 */
.visual-area.type02.intensive-restore{background: #f8f8f8 url(../images/akl_product/beauty/bg_intensive_night_restore.png) no-repeat top center;height:1098px;} /*01 인텐시브 리스토어 프로그램*/
.visual-area.type02.youth-xtend{background: #f8f8f8 url(../images/akl_product/beauty/bg_youth_xtend.png) no-repeat top center;height:1085px;}   /* 02 Youth_Xtend*/
.visual-area.type02.youth-xtend.cream{background: #f8f8f8 url(../images/akl_product/beauty/bg_youth_xtend.png) no-repeat top center;height:900px;}   /* 02 Youth_Xtend*/
.visual-area.type02.youth-xtend-set{background: #f3e8e6 url(../images/akl_product/beauty/bg_youth_xtend_set.png) no-repeat top center;height:1090px;}  /* 02 Youth_Xtend set*/
.visual-area.type02.ultra-lifting{background: #f8f8f8 url(../images/akl_product/beauty/bg_youth_xtend_ultra_lifting.png) no-repeat top center;height:auto;} /*03 Youth Xtend lifting */
.visual-area.type02.ideal{background: #d3e1f8 url(../images/akl_product/beauty/bg_ideal_radience.png) no-repeat top center;height:1100px;} /* 4. 아이디얼 */
.visual-area.type02.ideal-uv{background: #f8f8f8 url(../images/akl_product/beauty/bg_ideal_radience_uv_protect.png) no-repeat top center;height:1064px;}/* 4. 아이디얼 프로덱트 */
.visual-area.type02.zone-patch{background: #f8f8f8 url(../images/akl_product/beauty/bg_zone_patch.png) no-repeat top center;height:904px;} /* 4. 아이디얼 존패치 */
.visual-area.type02.hydrav{background: #f8f8f8 url(../images/akl_product/beauty/bg_hydrav_refreshing.png) no-repeat top center;height:1189px;}  /*05 하이드라v */
.visual-area.type02.hydrav-set{background: #f8f8f8 url(../images/akl_product/beauty/bg_hydrav_aqua_set.png) no-repeat top center;height:911px;}/*05 하이드라v 기프트세트 */
.visual-area.type02.special-care{background: #f8f8f8 url(../images/akl_product/beauty/bg_special_care.png) no-repeat top center;height:1095px;}/*06 스페셜 케어 */
.visual-area.type02.water-uv{background: #f8f8f8 url(../images/akl_product/beauty/bg_sun_protect_1416.png) no-repeat top center;height:1141px;}/*06 스페셜 케어 - 워터에센스 선 프로텍트 */
.visual-area.type02.duma-sonic{background: #f8f8f8 url(../images/akl_product/beauty/bg_duma_sonic_4779.png) no-repeat top center;height:1036px;}/*06 스페셜 케어 더마 갈바닉 */
.visual-area.type02.essentials_by{background: #f8f8f8 url(../images/akl_product/beauty/bg_essentials_by.png) no-repeat top center;height:1100px;}/*09 에센셜 바이 */
.visual-area.type02.supreme_lx{background: #000000 url(../images/akl_product/beauty/bg_supreme_lx_regenerating.png) no-repeat top center;height:1130px;}
.visual-area.type02.artistry_men{background: #000000 url(../images/akl_product/beauty/bg_artistry_men.png) no-repeat top center;height:1024px;}


.fleft{float:left !important;padding: 30px 0 0;}
.fleft .sie-box{padding-top:0;}
.fright{float:right !important;}
.com-txt .point{font-weight:400;} 
.ade-photo-txt{display:block;font-size:16px;color:#56565a;padding-top:20px;}
.ade-photo-txt02{display:block;font-size:14px;font-weight:300;color:#808285;}
.product-process-step .step-img{display:inline-block;text-align:center;vertical-align: bottom;min-height: 124px;}
p, div, li span{word-break: keep-all;word-wrap: break-word;}
.clearfix:after {content:''; display:block; clear:both;}


/* 스킨케어 예외 */
.skin-care .txt-info-visual .v-tit{padding: 32px 0 0;}
.skin-care .txt-info-visual .inge-lst04 li{font-size:14px;color: #808285;}
.advan-left.full{display: block;padding: 30px 4% 0;width: 100%;}  /* typeBB의 예외 */
.step-badge{display:inline-block;width:70px;font-size:16px;font-weight:400;color:#fff;padding:3px 0;border-radius:50px;text-align:center;margin-bottom:20px;background-color:#0075a4;} /* 아이디얼 래디언스 예외 */
.visual-area.type02 .txt-info-visual .v-tit span.cobalt{display:inline;color:#0075a4;} /* 스페셜케어 */


/* 스페셜 케어 */
.advan-right .ingre-list{padding-top:20px;}
.skin-care .advan-br{border-bottom:0;}
.ingre-list-wrap{overflow:hidden;padding: 0 5% 0;box-sizing:border-box;}
.ingre-list-wrap.sie-box{padding:30px 0 0;}
.ingre-list{overflow:hidden;margin-left:-12px;}
.ingre-list li:nth-child(3n+1):before{display:none;}
.ingre-list li{position:relative;float:left;width:33.33333333333333%;min-width:172px;margin-top:30px;box-sizing:border-box;}
.ingre-list li:before{content:"";position:absolute;top: 50%;left:-6px;width:12px;height:12px;margin-top:-6px;border-radius:100%;background-color:#e3e3e3;}
.ingre-list li > span{display:block;text-align:center;}
.ingre-list li .ingre-img{position:relative;padding-bottom:10px;}
.ingre-list li .ingre-img img{max-width:100%;}
.ingre-list li .ingre-txt{font-weight:300;}
.ingre-list.ingre-list-type02 li{min-width:auto;}
.ingre-btm-img{padding:0 15% 0;}
.ingre-btm-wrap .ingre-btm-img{display:block;text-align: center;}
.ingre-btm-wrap .ingre-btm-img img{width:100%;}

.special-care-box{padding: 40px 2%;border:1px solid #e3e3e3;overflow:hidden;}
.special-care-box .special-care-item{float:left;padding: 0 15px;box-sizing:border-box;}
.special-care-box dl{position:relative;display:table;width:100%;height:235px;margin-bottom:0;background-color:#f4f4f4;}
.special-care-box dt{position:absolute;top:-20px;left:0;width:100%;text-align:center;}
.special-care-box dt span{display:inline-block;font-weight:400;color:#fff;padding: 5px 45px;border-radius:50px;background-color:#999;font-size: 20px;}
.special-care-box dt span.brown{background: #ad9172;}
.special-care-box dd{display:table-cell;vertical-align:bottom;text-align:center;padding-bottom:20px;color: #808285;}
.special-care-item dd span{display:block;line-height: 1.1;font-size: 14px;min-height: 43px;margin-top: 8px;}

.special-care-box .cleansing-box{width: 40%;}
.cleansing-box dd{width:25%;}
.special-care-box .turnover-box{width:28%;}
.special-care-box .intensivecare-box{width: 32%;}
.intensivecare-box dd{width:33.33333%;}
.intensivecare-box dd strong{;}

.skin-care .ingre-list.ingre-list-n2 li{width:50%;}
.ade-photo.sie-box{padding:30px 0 0 !important;}


/* 1480 */
.polymer{position: relative;display:inline-block;}
.polymer img{width: auto; display: block;}
.polymer p{position:absolute;letter-spacing:-1px;}
.polymer .one{display: inline-block;top: 45%;left: 5.5%;}
.polymer .two{display: inline-block;top: 45%;right: 5%;}
.polymer p em{display: block;font-size: 16px;font-weight: 400;}

.ade-photo{}
.ade-photo .reposom-wrap{position: relative;margin:0 auto 0;}
.ade-photo .reposom-wrap img{text-align:center;max-width:100%;width:auto;}
.ade-photo .reposom-wrap em{position:absolute;display:inline-block;padding-left:5px;font-size:14px;color:#0075a4;font-weight:300;line-height:1.2;vertical-align:middle;letter-spacing:-1px;text-align:left;}
.ade-photo .reposom-wrap em.one{top:15px;left: 66.6841%;width:91px;height:34px;}
.ade-photo .reposom-wrap em.two{bottom:47px;left: 65.9841%;width:91px;height:17px;}
.ade-photo .reposom-wrap em br{line-height:0;}
.ade-photo .reposom-wrap .point-txt{text-indent:-9999px;}


.separation{position: relative;display:inline-block;}
.separation img{width: auto; display: block;}
.separation p{display: inline-block;position: absolute;top: 67%;left: 14%;letter-spacing: 0;color: #808285;font-weight: 300;font-size: 14px;}

/*9622 라운드 썸네일 나열*/
.ingredient-list{display: block;overflow:hidden;margin-top:10px;}
.ingredient-list li{width: 22%;display: inline-block;float: left;margin: 0 0 4% 4%;}
.ingredient-list li:first-child, .ingredient-list li:nth-child(4n+1){margin-left:0;}
.ingredient-list li img{max-width:100%;} 


/* 하이드라 브이 1323 */
.ad-step-lst {width:100%;font-size: 16px;letter-spacing: -1px;}
.ad-step-lst li {display:block; margin-right:5px;margin-top:23px;font-weight: 300;}
.ad-step-lst li strong{display:inline-block;margin-right:5px;color: #0075a4;font-weight: 400;}

.hydra-list-wrap{margin-top: 20px;}
.hydra-list-wrap ul{}
.hydra-list-wrap ul > li{margin-bottom: 30px;overflow: hidden;}
.hydra-list-wrap ul > li > .hydra-thum-wrap{display: table;width: 100%;overflow: hidden;}
.hydra-list-wrap ul > li > .hydra-thum-wrap .thum{display: table-cell;width: 140px;vertical-align: middle;padding-right: 15px;} /* 20180510 - j  width: 12%; 수정 */
.hydra-list-wrap ul > li > .hydra-thum-wrap .thum img{;}
.hydra-list-wrap ul > li > .hydra-thum-wrap .txt{display: table-cell;vertical-align: middle;}
.hydra-list-wrap ul > li > .hydra-thum-wrap .txt dt{color: #0075a4;font-weight: 400;}
.hydra-list-wrap ul > li > .hydra-thum-wrap .txt dd{font-weight: 300;color: #808285;}
.hydra-list-wrap ul > li > .hydra-thum-wrap .txt dd.point{font-size: 14px;color: #808285;margin-top: 19px;}

/* 제품 구성 리스트 공통 */
.pcomp-list div.comp-info{position:relative;}
.pcomp-list div.comp-info .free-gift{display:table;position: absolute;top: 15px;right: 10px;border-radius: 50%;height: 66px;width: 66px;background: #bbbbbb;}
.pcomp-list div.comp-info .free-gift em{display:table-cell;vertical-align:middle;font-size: 14px;line-height: 1;text-align: center;color: #ffffff;font-weight: 400;letter-spacing: -1px;}
.pcomp-list div.comp-info .free-gift br{line-height:1;}

/* 롤링 박스 공통 옮겨갈거 */
.product-body-view .product-process{padding:37px 50px 35px;margin-top:50px;border:10px solid #eff0f1;}
.product-body-view .space .product-process{margin-top:0;}
.product-body-view .product-process .owl-stage{margin:0 auto;}
.skin-care .product-process .detail-tit{font-size:36px;font-weight:400;color:#56565a;text-align: center;}


/* 주의사항 추가 */
.ingestion-usage.line{display: block;margin: 80px 0 0;padding: 12px 0 0;border-top: 1px solid #e3e3e3;/*border-bottom: 1px solid #e3e3e3;*/overflow: hidden;clear: both;}
.ingestion-usage.line.short{margin: 30px 0 0;}
.line-top-gray{display: block;margin: 80px 0 0;padding: 12px 0 0;border-top: 1px solid #e3e3e3;clear: both;}


/* 유스 익스텐드 울트라 리프팅 크림  */	
.ade-photo img{max-width:100% !important;}
.beauty-list-wrap{margin-top: 20px;}
.beauty-list-wrap ul > li{margin-bottom: 30px;overflow: hidden;}
.beauty-list-wrap ul > li > .beauty-thum-wrap{display: table;width: 100%;overflow: hidden;}
.beauty-list-wrap ul > li > .beauty-thum-wrap .thum{display: table-cell;width: 100px;vertical-align: middle;padding-right: 15px;}
.beauty-list-wrap ul > li > .beauty-thum-wrap .txt{display: table-cell;vertical-align: middle;}
.beauty-list-wrap ul > li > .beauty-thum-wrap .txt dt{color: #0075a4;font-weight: 400;}
.beauty-list-wrap ul > li > .beauty-thum-wrap .txt dd{font-weight: 300;color: #808285;}

.youth_xtend_relative{position:relative;width:469px;height:197px;margin: auto;}
.youth_xtend_relative .youth_xtend_txt01, .youth_xtend_relative .youth_xtend_txt02, .youth_xtend_relative .youth_xtend_right{position:absolute;width:100%;}
.youth_xtend_relative .youth_xtend_txt01,
.youth_xtend_relative .youth_xtend_txt02{top:0;left:0;text-align:left;display:table;width:100%;height:88px;margin:0;}
.youth_xtend_relative .youth_xtend_txt01 dt,
.youth_xtend_relative .youth_xtend_txt02 dt{display:table-cell;color:#fff;font-weight:400;width:98px;line-height:20px;letter-spacing:-1px;vertical-align:middle;text-align:center;}
.youth_xtend_relative .youth_xtend_txt01 dd,
.youth_xtend_relative .youth_xtend_txt02 dd{display:table-cell;vertical-align:middle;padding-left:15px;}
.youth_xtend_relative dd p{font-weight:300;color:#808285;line-height:20px;letter-spacing:-1px;}
.youth_xtend_relative dd p span{display:block;color:#56565a;}
.youth_xtend_relative .youth_xtend_txt02{top:109px;}

.youth_xtend_relative .youth_xtend_right{top:40px;right:0;display:table;width:130px;height:117px;text-align:center;}
.youth_xtend_relative .youth_xtend_right span{display:table-cell;vertical-align:middle;font-size:24px;line-height:34px;color:#fff;font-weight:500;}

.technology-step{padding:0 5% 0 0;margin-top:0;}
.technology-step .step-tit{display:block;margin:0;font-size:30px;color:#808285;font-weight:300;letter-spacing:-2px;line-height:1;}
.technology-step .step-tit em{display:block;font-size:30px;font-weight:400;letter-spacing:-2px;color: #ad9172;}
.technology-step .program-list li{display:table;width:100%;padding-top:20px;}
.technology-step .program-list .program-box{display:table-cell;width:50%;padding-right:15px;vertical-align:middle;}
.technology-step .program-list .program-img{display:table-cell;width:50%;padding-right:10px;vertical-align:middle;}
.technology-step .program-list .program-step{display:block;width:140px;height:40px;line-height:40px;font-size:18px;color:#fff;text-align:center;background-color:#ad9172;border-radius:20px;}
.technology-step .program-list .program-tit{display:block;padding-left:15px;margin-top:10px;font-size:16px;color:#56565a;font-weight:400;letter-spacing:-1px;}
.technology-step .program-list .program-txt{display:block;padding-left:15px;font-size:14px;color:#808285;font-weight:300;letter-spacing:-1px;}
.technology-lst .tit{padding-top:0;margin-top:20px;font-size: 20px;color: #ad9172;font-weight: 400;}
.technology-lst .ad-setp-lst dt{color: #ad9172;}

/* step flow */
.skin-care .step04.product-process-step{text-align:center;}
.skin-care .step04.product-process-step > .step-flow{width:22%;}

/* 더마 소닉 4779 */
.ad-setp-title.ad-setp-first{margin-top:80px}
.ad-setp-title{font-size:18px;margin-top:15px}
.ad-setp-lst.ad-setp-type02 dt{font-weight:300;color:#56565a}
.ad-setp-lst.ad-setp-type02 dd{color:#808285;}

.ctrl-product{display:table;width:100%;margin-top:40px;}
.ctrl-product{margin-bottom:35px}
.ctrl-product >*{display:table-cell;width:50%;vertical-align:middle;}
.ctrl-product .product-img{text-align:center;margin-bottom:35px}
.ctrl-product .product-btn li:first-child{margin-top:0}
.ctrl-product .product-btn li{min-width:222px; font-size:14px;font-weight:300;color:#fff;padding:6px 0 7px 40px;margin-top:10px;border-radius:50px;background:#999 url(../images/akl_product/icon/icon_on.png) 15px 50% no-repeat;}
.product-mode{position:relative;display:table;width:100%}
.product-mode:before{content:"";position:absolute;top:50%;left:0;width:100%;height:1px;background-color:#e3e3e3}
.product-mode + .product-mode{margin-top:20px}
.product-mode >*{display:table-cell;vertical-align:middle;}
.product-mode .circle-tit{position:relative;width:90px;z-index:1}
.product-mode .circle-tit span{display:table;line-height:26px;width:90px;height:90px;border-radius:100%;text-align:center;}
.product-mode .circle-tit span em{display:table-cell;font-size:20px;color:#fff;vertical-align:middle;}
.product-mode .mid-tit{min-width:150px;font-size:14px;font-weight:300;color:#808285;text-align:center;}
.product-mode .mid-tit span{display:block;background-color:#fff}
.product-mode .mid-tit span + span{margin-top:20px}
.product-mode .mode-box{width:190px}
.product-mode .mode-box .mode-table{position:relative;padding-left:21px;text-align:center;z-index:1;background-color:#fff}
.product-mode .mode-box .mode-row{display:table;width:100%;position:relative;}
.product-mode .mode-box .mode-row:before{content:"";position:absolute;top:50%;left:-21px;width:23px;height:5px;margin-top:-2px;z-index:1;background:url(../images/akl_product/icon/bg_dot_line.png) no-repeat;}
.product-mode .mode-box .mode-row:after{content:"";position:absolute;top:0;left:-22px;height:100%;width:1px;background-color:#e3e3e3}
.product-mode .mode-box .mode-row:only-child:after{content:none;}
.product-mode .mode-box .mode-row:first-child:after{top:50%;height:50%}
.product-mode .mode-box .mode-row:last-child:after{top:0;height:50%}
.product-mode .mode-box .mode-row + .mode-row{padding-top:10px}
.product-mode .mode-box .mode-row .mode-tit{display:block;font-size:18px;color:#56565a;padding-bottom:10px}
.product-mode .mode-box .mode-row .mode-cont{font-weight:300;line-height:18px;color:#808285;margin:0}
.product-mode .mode-box .mode-row-box{display:table-cell;vertical-align:middle;height:90px;border:1px solid #e3e3e3;border-radius:3px;background-color:#f4f4f4}
.product-mode.mode-type01 .circle-tit span{background-color:#002f5f}
.product-mode.mode-type02 .circle-tit span{background-color:#0075a4}

.imgtage-area{display:table;width:100%}
.imgtage-area > *{display:table-cell;width:50%;vertical-align:middle;}
.imgtage-area .imgtage-left{padding-right:50px;text-align:right;}
.imgtage-area .imgtage-row{display:block;}
.imgtage-area .imgtage-row + .imgtage-row{padding-top:10px}

.plus-mid{display:inline-block;position:relative;width:37px;height:37px;text-indent:-9999px;}
.plus-mid:before,
.plus-mid:after{content:"";position:absolute;background-color:#0075a4}
.plus-mid:before{top:16px;left:0;width:37px;height:5px;}
.plus-mid:after{top:0;left:16px;width:5px;height:37px}

/* 아이디얼 래디언스 */
.photo-relative{position:relative;margin:0 auto;text-align:center;}
.photo-relative .photo-txt01,
.photo-relative .photo-txt02,
.photo-relative .photo-txt03{position:absolute;font-size:14px;}

.photo-relative.photo-ideal-uv{max-width:440px;}
.photo-ideal-uv .ade-photo{max-height:234px;margin-bottom:10px;}
.photo-ideal-uv .photo-txt01{top:15px;right:-5px;}
.photo-ideal-uv .photo-txt02{top:65px;left:-10px;}
.photo-ideal-uv .photo-txt03{bottom:14%;right:-5px;}

/* 아티스트리 트라이앵글존 패치 */
.skin-care .com-icon span{display:inline-block;padding:9px;border:1px solid #e3e3e3;border-radius:100%;}
.skin-care .com-icon span + span{margin-left:8px;}
.effet-area .com-icon{margin-top:20px;}

.photo-zone-patch{max-width:478px;}
.photo-zone-patch .ade-photo{max-height:282px;}
.photo-zone-patch .photo-txt01{top:0;right: 0;text-align:left;}
.photo-zone-patch .photo-txt02{top:47%;right: 65px;text-align:left;}
.photo-zone-patch .photo-txt03{bottom:0;right: -50px;text-align:left;}




@media (max-width: 768px) {
	/* 스킨케어 뷰티 비주얼 영역 공통 */	
	.skin-care .visual-area.type02{height:inherit;}	
	.skin-care .visual-area.type02.hydrav{min-height:595px;}
	.skin-care .visual-area.type02.hydrav-set{min-height: 528px;}		
	.skin-care .visual-area.type02.youth-xtend-set{min-height: 475px;background:#f3e8e6;}		

	.skin-care .visual-area.type02 .v-logo.beauty img{height:30px;}	
	.skin-care .visual-area .v-logo{padding: 34px 0 0;}
	.skin-care .visual-area .v-logo img {height:30px;}
	.skin-care .visual-area.type02.special-care .v-logo img {height:15px;}
	.skin-care .visual-area .txt-info-visual .v-logo-txt{font-size:18px;}
	.skin-care .visual-area .txt-info-visual .v-pro span img{width:auto;}
	.skin-care .txt-info-visual .v-tit{padding:19px 0 0;}
	.skin-care .txt-info-visual .v-tit strong, 
	.skin-care .txt-info-visual .v-tit strong.green, 
	.skin-care .txt-info-visual .v-tit strong span{font-size:35px;}
	
	.special-care-box dl dt span{font-size:16px;padding:5px 45px;font-weight:400;}
				
    /* 인텐시브 */
    .ade-photo.sie-box{padding:15px 0 0 !important;;}
    .ade-photo .reposom-wrap{margin:0 auto 40px;}
    .ade-photo .reposom-wrap em.one{top: 8px;left: 74%;width:91px;height:34px;}
	.ade-photo .reposom-wrap em.two{bottom: 29px;left: 73%;width:91px;height:17px;}	
	.advan-left.full{padding: 30px 12% 0;}
	
	
    
	/* 스페셜 케어 */
	.skin-care .ingre-btm-wrap{text-align:center;}
	.skin-care .ingre-btm-wrap .ingre-btm-img {display:block;text-align: center;}
	.skin-care .ingre-btm-wrap .ingre-btm-img img{width:100%;}
	.skin-care .ingestion-usage.line{margin:40px 0 0;padding: 6px 0 14px;}
	.skin-care .advantage-area{/*padding: 0 0 20px;*/;}
	.special-care-box .special-care-item{width:100%;}
	.special-care-item + .special-care-item{margin-top:40px;}
	.skin-care .ingre-list li:last-child{padding-bottom:10px;}
	
	
	/* 하이드라v */	
	.hydra-list-wrap ul > li > .hydra-thum-wrap .thum{display: block;text-align: center;overflow: hidden;width: 100%;padding: 0;margin-bottom: 12px;}
	.hydra-list-wrap ul > li > .hydra-thum-wrap .thum img{width: auto;height: auto;}
	.hydra-list-wrap ul > li > .hydra-thum-wrap .txt{display: block;}
	.skin-care .ingre-list-wrap.sie-box{padding:15px 0 0;}	
	
	/*  유스 익스텐드 울트라 리프팅 크림  */
	.beauty-list-wrap ul > li > .beauty-thum-wrap .thum{display: block;text-align: center;overflow: hidden;width: 100%;padding: 0;margin-bottom: 12px;}
	.beauty-list-wrap ul > li > .beauty-thum-wrap .thum img{width: auto;height: auto;}
	.beauty-list-wrap ul > li > .beauty-thum-wrap .txt{display: block;}
	.youth_xtend_relative .youth_xtend_right img.img-micro{width:70%;}
	.youth_xtend_relative .youth_xtend_right span{font-weight:300;font-size:12px;}
	.youth_xtend_relative .youth_xtend_txt01 dt, .youth_xtend_relative .youth_xtend_txt01 dd p, .youth_xtend_relative .youth_xtend_txt01 dd p span, 
	.youth_xtend_relative .youth_xtend_txt02 dt, .youth_xtend_relative .youth_xtend_txt02 dd p, .youth_xtend_relative .youth_xtend_txt02 dd p span{font-size:12px;}
	.ade-photo .youth_xtend_relative img.img-micro{max-width:60%;}
	
	/* 아이디얼 */
	.visual-area.type02.ideal{height:inherit;}
	.visual-area.ideal .v-logo.beauty img{height:30px;}
	.pcomp-list.deaf04 div.comp-info {width: 100%;}
	

	
}


/* 다단 대응 디자인 확정시 삭제 */



@media (min-width: 769px) and (max-width: 1144px) {
	.skin-care .ingre-list-wrap .ingre-list li{width:33.333%;min-width:auto;}	
}




@media (max-width: 576px) {
	.skin-care .ingre-list li{width:50%;}
	
	/* 더마 소닉 4779 */
	.ctrl-product{display:block;}
	.ctrl-product >*{display:block;width:100%}
	.product-mode{display:block;}
	.product-mode >*{display:block;width:100% !important;}
	.product-mode .mode-box .mode-table{padding-left:0}
	.product-mode .circle-tit span{margin:0 auto;}
	.product-mode:before{content:none;}
	.product-mode + .product-mode{margin-top:30px}
	.product-mode .mid-tit span + span{margin-top:0}
	.product-mode .mid-tit{margin:20px 0}
	.product-mode .mode-box .mode-row:before{content:none;}
	.product-mode .mode-box .mode-row:after{content:none;}
}

@media (max-width: 474px) {
	.skin-care .ingre-list li{width:100% !important;}
}


@media (max-width: 324px) {
	/* 에센셜 바잉 */
	.ingre-list li:before{display:none;}
}


	
	
	