/************************************************
Version : AKL Hybris UIUX 1.0
Date : 2018.05.03
Editor : ji-min Park
*************************************************/




/*01 ¿Œ≈ŸΩ√∫Í */
.advantage-img{}
.advantage-img .ingredient_list{}
.advantage-img .ingredient_list li{width:24%;}



@media (max-width: 768px) {


}