/** ---------------------------------------------------------
  * Version : AKL Hybris UIUX 1.0
  * @ 파일 : akl-common.css
  * @ 구분 : css import 및 폰트 설정
  * ---------------------------------------------------------
  */

/* 코어제공 */
@import url("sprint.css");

/* akl */
@import url("akl-basic.css");
@import url("akl-customer.css");
@import url("akl-shop.css");
@import url("akl-sop.css");
@import url("akl-account.css");
@import url("akl-business.css");
@import url("akl-product.css");
@import url("akl-brand.css");
@import url("akl-brand_hw.css");
@import url("akl-print.css");

/* 운영팀게시물 */
@import url("content_res_all.css");


@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: url(../fonts/NotoSansKR-Light.woff2) format('woff2'),
		 url(../fonts/NotoSansKR-Light.woff) format('woff') ;
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/NotoSansKR-Regular.woff2) format('woff2'),
		 url(../fonts/NotoSansKR-Regular.woff) format('woff') ;
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src: url(../fonts/NotoSansKR-Medium.woff2) format('woff2'),
		 url(../fonts/NotoSansKR-Medium.woff) format('woff') ;
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	src: url(../fonts/NotoSansKR-Bold.woff2) format('woff2'),
		 url(../fonts/NotoSansKR-Bold.woff) format('woff') ;
}
/*
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 900;
	src: url(../fonts/NotoSansKR-Black.woff2) format('woff2'),
		 url(../fonts/NotoSansKR-Black.woff) format('woff');
}*/

@font-face {
	font-family:'Free 3 of 9 Regular';
	src:url(../fonts/FREE3OF9.woff) format('woff');
}

/* -------- 이하 공백 -------- */
.brand .brand-artisti-banner { height:344px; width:100%; display:table; position:relative;}
.brand .brand-artisti-banner.type01 { background:url(/_ui/responsive/theme-blue/images/akl_brand/artistry/banner/bg_01.jpg) no-repeat right top; background-size:cover }
.brand .brand-artisti-banner a { display:table-row;}
.brand .brand-artisti-banner a p { height:344px; width:50%; display: table-cell; vertical-align:middle; margin:0; padding:55px 0 0; text-align: center;}
.brand .brand-artisti-banner a p img { height:289px; width:auto}
.brand .brand-artisti-banner a dl {display: table-cell; height:344px; padding-top: 80px }
.brand .brand-artisti-banner a dl dt { font-size:36px; font-weight:500; color:#6d5f3c; padding-left:100px;letter-spacing: -2px;}
.brand .brand-artisti-banner a dl dt span{ font-size:26px; font-weight:400; color:#57575a; display:block; line-height:100%}
.brand .brand-artisti-banner a dl dd { font-size: 14px; color:#808184; padding-left:100px; margin-top: 20px}
.brand .brand-artisti-banner a dl dd span {display:block;}

.brand .brand-artisti-banner.type02 { background:url(/_ui/responsive/theme-blue/images/akl_brand/artistry/banner/bg_02.jpg) no-repeat right top; background-size:cover }/* 수프림 엘엑스 */
.brand .brand-artisti-banner.type03 { background:url(/_ui/responsive/theme-blue/images/akl_brand/artistry/banner/bg_03.jpg) no-repeat right top; background-size:cover }/* 인텐시브 */
.brand .brand-artisti-banner.type04 { background:url(/_ui/responsive/theme-blue/images/akl_brand/artistry/banner/bg_04.jpg) no-repeat right top; background-size:cover }/* 유스 익스텐드 울트라 */
.brand .brand-artisti-banner.type05 { background:url(/_ui/responsive/theme-blue/images/akl_brand/artistry/banner/bg_05.jpg) no-repeat right top; background-size:cover }/* 유스 익스텐드 */
.brand .brand-artisti-banner.type06 { background:url(/_ui/responsive/theme-blue/images/akl_brand/artistry/banner/bg_06.jpg) no-repeat right top; background-size:cover }/* 아이디얼 래디언스 */
.brand .brand-artisti-banner.type07 { background:url(/_ui/responsive/theme-blue/images/akl_brand/artistry/banner/bg_07.jpg) no-repeat right top; background-size:cover }/* 하이드라- 브이 */
.brand .brand-artisti-banner.type08 { background:url(/_ui/responsive/theme-blue/images/akl_brand/artistry/banner/bg_08.jpg) no-repeat right top; background-size:cover }/* 스페셜 케어 */
.brand .brand-artisti-banner.type09 { background:url(/_ui/responsive/theme-blue/images/akl_brand/artistry/banner/bg_09.jpg) no-repeat right top; background-size:cover }/* 아티스트리 맨 */
.brand .brand-artisti-banner.type10 { background:url(/_ui/responsive/theme-blue/images/akl_brand/artistry/banner/bg_10.jpg) no-repeat right top; background-size:cover }/* 에센셜 바이 아티스트리 */
.brand .brand-artisti-banner.type11 { background:url(/_ui/responsive/theme-blue/images/akl_brand/artistry/banner/bg_11.jpg) no-repeat right top; background-size:cover }/* 파운데이션 */
.brand .brand-artisti-banner.type12 { background:url(/_ui/responsive/theme-blue/images/akl_brand/artistry/banner/bg_12.jpg) no-repeat right top; background-size:cover }/* 파우더 */
.brand .brand-artisti-banner.type13 { background:url(/_ui/responsive/theme-blue/images/akl_brand/artistry/banner/bg_13.jpg) no-repeat right top; background-size:cover }/* 파운데이션 베이스 */
.brand .brand-artisti-banner.type14 { background:url(/_ui/responsive/theme-blue/images/akl_brand/artistry/banner/bg_14.jpg) no-repeat right top; background-size:cover }/* 컨실러 */
.brand .brand-artisti-banner.type15 { background:url(/_ui/responsive/theme-blue/images/akl_brand/artistry/banner/bg_15.jpg) no-repeat right top; background-size:cover }/* 립 */
.brand .brand-artisti-banner.type16 { background:url(/_ui/responsive/theme-blue/images/akl_brand/artistry/banner/bg_16.jpg) no-repeat right top; background-size:cover }/* 아이 */
.brand .brand-artisti-banner.type17 { background:url(/_ui/responsive/theme-blue/images/akl_brand/artistry/banner/bg_17.jpg) no-repeat right top; background-size:cover }/* 치크 */
.brand .brand-artisti-banner.type18 { background:url(/_ui/responsive/theme-blue/images/akl_brand/artistry/banner/bg_18.jpg) no-repeat right top; background-size:cover }/* 아티스트리 스튜디오 */
.brand .brand-artisti-banner.type19 { background:url(/_ui/responsive/theme-blue/images/akl_brand/artistry/banner/bg_19.jpg) no-repeat right top; background-size:cover }/* 화장품 보조용품 */
.brand .brand-artisti-banner.type20 { background:url(/_ui/responsive/theme-blue/images/akl_brand/artistry/banner/bg_20.jpg) no-repeat right top; background-size:cover }/* 플로라 시크 */
.brand .brand-artisti-banner.type21 { background:url(/_ui/responsive/theme-blue/images/akl_brand/artistry/banner/bg_21.jpg) no-repeat right top; background-size:cover }/* 아티스트리맨 언노운 */

.brand .brand-artisti-banner.type12 a p {padding:25px 0 0;}
.brand .brand-artisti-banner.type21 a p { padding-right:250px}

.brand .brand-artisti-banner.type02 a p img { height:289px;}/* 수프림 엘엑스 */
.brand .brand-artisti-banner.type03 a p img { height:250px;}/* 인텐시브 */
.brand .brand-artisti-banner.type04 a p img { height:260px;}/* 유스 익스텐드 울트라 */
.brand .brand-artisti-banner.type05 a p img { height:265px;}/* 유스 익스텐드 */
.brand .brand-artisti-banner.type06 a p img { height:265px;}/* 아이디얼 래디언스 */
.brand .brand-artisti-banner.type07 a p img { height:240px;}/* 하이드라- 브이 */
.brand .brand-artisti-banner.type08 a p img { height:255px;}/* 스페셜 케어 */
.brand .brand-artisti-banner.type09 a p img { height:253px;}/* 아티스트리 맨 */
.brand .brand-artisti-banner.type10 a p img { height:250px;}/* 에센셜 바이 아티스트리 */
.brand .brand-artisti-banner.type11 a p img { height:255px;}/* 파운데이션 */
.brand .brand-artisti-banner.type12 a p img { height:295px;}/* 파우더 */
.brand .brand-artisti-banner.type13 a p img { height:245px;}/* 파운데이션 베이스 */
.brand .brand-artisti-banner.type14 a p img { height:247px;}/* 컨실러 */
.brand .brand-artisti-banner.type15 a p img { height:265px;}/* 립 */
.brand .brand-artisti-banner.type16 a p img { height:240px;}/* 아이 */
.brand .brand-artisti-banner.type17 a p img { height:245px;}/* 치크 */
.brand .brand-artisti-banner.type18 a p img { height:272px; }/* 아티스트리 스튜디오 */
.brand .brand-artisti-banner.type19 a p img { height:255px; }/* 화장품 보조용품 */
.brand .brand-artisti-banner.type20 a p img { height:289px; }/* 플로라 시크 */
.brand .brand-artisti-banner.type21 a p img { height:265px; }/* 아티스트리맨 언노운 */


.brand .brand-artisti-banner.type02 a dl dt span { color:#ffddaf;}
.brand .brand-artisti-banner.type03 a dl dt span { color:#fffefc;}
.brand .brand-artisti-banner.type04 a dl dt span { color:#ffdddb;}
.brand .brand-artisti-banner.type05 a dl dt span { color:#fefffd;}
.brand .brand-artisti-banner.type06 a dl dt span { color:#56555b;}
.brand .brand-artisti-banner.type07 a dl dt span { color:#545559;}
.brand .brand-artisti-banner.type08 a dl dt span { color:#55565a;}
.brand .brand-artisti-banner.type09 a dl dt span { color:#bcbcbc;}
.brand .brand-artisti-banner.type10 a dl dt span { color:#56555b;}

.brand .brand-artisti-banner.type11 a dl dt span { color:#ffffff;}
.brand .brand-artisti-banner.type12 a dl dt span { color:#ffffff;}
.brand .brand-artisti-banner.type13 a dl dt span { color:#56555a;}
.brand .brand-artisti-banner.type14 a dl dt span { color:#fefffd;}
.brand .brand-artisti-banner.type15 a dl dt span { color:#feffff;}
.brand .brand-artisti-banner.type16 a dl dt span { color:#feffff;}
.brand .brand-artisti-banner.type17 a dl dt span { color:#56555b;}
.brand .brand-artisti-banner.type18 a dl dt span { color:#fffeff;}
.brand .brand-artisti-banner.type19 a dl dt span { color:#ffffff;}
.brand .brand-artisti-banner.type20 a dl dt span { color:#545559;}
.brand .brand-artisti-banner.type21 a dl dt span { color:#dbdbdb;}

.brand .brand-artisti-banner.type02 a dl dt { color:#be906c;}
.brand .brand-artisti-banner.type03 a dl dt { color:#6be4f7;}
.brand .brand-artisti-banner.type04 a dl dt { color:#fe9991;}
.brand .brand-artisti-banner.type05 a dl dt { color:#ffbf93;}
.brand .brand-artisti-banner.type06 a dl dt { color:#0078ac;}
.brand .brand-artisti-banner.type07 a dl dt { color:#0078ac;}
.brand .brand-artisti-banner.type08 a dl dt { color:#0079ac;}
.brand .brand-artisti-banner.type09 a dl dt { color:#ffffff;}
.brand .brand-artisti-banner.type10 a dl dt { color:#555459;}

.brand .brand-artisti-banner.type11 a dl dt { color:#e5b46f;}
.brand .brand-artisti-banner.type12 a dl dt { color:#e4b56f;}
.brand .brand-artisti-banner.type13 a dl dt { color:#9b4f13;}
.brand .brand-artisti-banner.type14 a dl dt { color:#ff6685;}
.brand .brand-artisti-banner.type15 a dl dt { color:#ff95ac;}
.brand .brand-artisti-banner.type16 a dl dt { color:#90b8e9;}
.brand .brand-artisti-banner.type17 a dl dt { color:#ff6688;}
.brand .brand-artisti-banner.type18 a dl dt { color:#ffffff;}
.brand .brand-artisti-banner.type19 a dl dt { color:#c9a3dc;}
.brand .brand-artisti-banner.type20 a dl dt { color:#bf627f;}
.brand .brand-artisti-banner.type21 a dl dt { color:#ffffff;}


.brand .brand-artisti-banner.type02 a dl dd {color:#dbd9da;}
.brand .brand-artisti-banner.type03 a dl dd {color:#dbdbd9;}
.brand .brand-artisti-banner.type04 a dl dd {color:#bcbdb8;}
.brand .brand-artisti-banner.type05 a dl dd {color:#bcbdb8;}
.brand .brand-artisti-banner.type06 a dl dd {color:#828385;}
.brand .brand-artisti-banner.type07 a dl dd {color:#7f8287;}
.brand .brand-artisti-banner.type08 a dl dd {color:#828388;}
.brand .brand-artisti-banner.type09 a dl dd {color:#828385;}
.brand .brand-artisti-banner.type10 a dl dd {color:#808487;}

.brand .brand-artisti-banner.type11 a dl dd {color:#dadada;}
.brand .brand-artisti-banner.type12 a dl dd {color:#dbdbdb;}
.brand .brand-artisti-banner.type13 a dl dd {color:#828387;}
.brand .brand-artisti-banner.type14 a dl dd {color:#dadbdd;}
.brand .brand-artisti-banner.type15 a dl dd {color:#dfdbdc;}
.brand .brand-artisti-banner.type16 a dl dd {color:#dcdbd9;}
.brand .brand-artisti-banner.type17 a dl dd {color:#808285;}
.brand .brand-artisti-banner.type18 a dl dd {color:#ffffff;}
.brand .brand-artisti-banner.type19 a dl dd {color:#dbdbdb;}
.brand .brand-artisti-banner.type20 a dl dd {color:#828387;}
.brand .brand-artisti-banner.type21 a dl dd {color:#dbdad8;}


@media (max-width:768px) {
	.brand .brand-artisti-banner { height:auto; min-height:350px; width:auto; display:block; overflow:hidden; margin:20px 15px !important; }
	.brand .brand-artisti-banner a { display:block;}
	.brand .brand-artisti-banner a p { height:auto; width:auto; padding:0; text-align:right;display:block; }
	.brand .brand-artisti-banner a dl {display:block; height:auto;  padding-top:0; position:relative;z-index:2 }
	.brand .brand-artisti-banner a dl dt { padding:20px 20px 0; font-size:22px; }
	.brand .brand-artisti-banner a dl dt span{ display:block; font-size:16px;}
	.brand .brand-artisti-banner a dl dd { padding:0 20px; font-size:12px; margin-top:10px; }
	.brand .brand-artisti-banner a dl dd span {display:block;}
	.brand .brand-artisti-banner a dl dd .break-mob {display:block;font-size:12px;}

	.brand .brand-artisti-banner.type01 {background: url(/_ui/responsive/theme-blue/images/akl_brand/artistry/banner/bg_01.jpg) no-repeat 65% top;background-size: cover;}
	.brand .brand-artisti-banner.type03 {background: url(/_ui/responsive/theme-blue/images/akl_brand/artistry/banner/bg_03.jpg) no-repeat 50% top; background-size: cover;}
	.brand .brand-artisti-banner.type04 { background: url(/_ui/responsive/theme-blue/images/akl_brand/artistry/banner/bg_04.jpg) no-repeat 74% top;background-size: cover;}
	.brand .brand-artisti-banner.type05 { background:url(/_ui/responsive/theme-blue/images/akl_brand/artistry/banner/bg_05.jpg) no-repeat 80% top; background-size:cover }
	.brand .brand-artisti-banner.type11 {background: url(/_ui/responsive/theme-blue/images/akl_brand/artistry/banner/bg_11.jpg) no-repeat 77% top; background-size:cover}
	.brand .brand-artisti-banner.type14 {background: url(/_ui/responsive/theme-blue/images/akl_brand/artistry/banner/bg_14.jpg) no-repeat 50% top;background-size: cover;}
	.brand .brand-artisti-banner.type19 {background: url(/_ui/responsive/theme-blue/images/akl_brand/artistry/banner/bg_19.jpg) no-repeat 65% top;background-size: cover;}
	.brand .brand-artisti-banner.type20 {background: url(/_ui/responsive/theme-blue/images/akl_brand/artistry/banner/bg_20.jpg) no-repeat left top;background-size: cover;}
	.brand .brand-artisti-banner.type21 { background:url(/_ui/responsive/theme-blue/images/akl_brand/artistry/banner/bg_21.jpg) no-repeat 50% top; background-size:cover }

	.brand .brand-artisti-banner a p img {  display:block; position:absolute; bottom:30px; right:20px; width:60%; z-index:1}
	.brand .brand-artisti-banner.type01 a p img { height:auto; bottom:10px; right:30px; width:42%;}/* 시그니처 셀렉트 */
	.brand .brand-artisti-banner.type02 a p img { height:auto; bottom:-5px; right:-15px; width:60%;}/* 수프림 엘엑스 */
	.brand .brand-artisti-banner.type03 a p img { height:auto; bottom:20px; right:35px; width:48%;}/* 인텐시브 */
	.brand .brand-artisti-banner.type04 a p img { height:auto; bottom:15px; right:35px; width:42%;}/* 유스 익스텐드 울트라 */
	.brand .brand-artisti-banner.type05 a p img { height:auto; bottom:20px; right:35px; width:35%;}/* 유스 익스텐드 */
	.brand .brand-artisti-banner.type06 a p img { height:auto; bottom:20px; right:25px; width:45%;}/* 아이디얼 래디언스 */
	.brand .brand-artisti-banner.type07 a p img { height:auto; bottom:20px; right:35px; width:45%;}/* 하이드라- 브이 */
	.brand .brand-artisti-banner.type08 a p img { height:auto; bottom:20px; right:30px; width:45%;}/* 스페셜 케어 */
	.brand .brand-artisti-banner.type09 a p img { height:auto; bottom:20px; right:15px; width:50%;}/* 아티스트리 맨 */
	.brand .brand-artisti-banner.type10 a p img { height:auto; bottom:20px; right:35px; width:50%;}/* 에센셜 바이 아티스트리 */
	.brand .brand-artisti-banner.type11 a p img { height:auto; bottom:20px; right:35px; width:50%;}/* 파운데이션 */
	.brand .brand-artisti-banner.type12 a p img { height:auto; bottom:0px; right:30px; width:55%;}/* 파우더 */
	.brand .brand-artisti-banner.type13 a p img { height:auto; bottom:25px; right:20px; width:45%;}/* 파운데이션 베이스 */
	.brand .brand-artisti-banner.type14 a p img { height:auto; bottom:25px; right:20px; width:45%;}/* 컨실러 */
	.brand .brand-artisti-banner.type15 a p img { height:auto; bottom:15px; right:30px; width:45%;}/* 립 */
	.brand .brand-artisti-banner.type16 a p img { height:auto; bottom:20px; right:35px; width:45%;}/* 아이 */
	.brand .brand-artisti-banner.type17 a p img { height:auto; bottom:15px; right:25px; width:50%;}/* 치크 */
	.brand .brand-artisti-banner.type18 a p img { height:auto; bottom:20px; right:25px; width:50%;}/* 아티스트리 스튜디오 */
	.brand .brand-artisti-banner.type19 a p img { height:auto; bottom:20px; right:30px; width:50%;}/* 화장품 보조용품 */
	.brand .brand-artisti-banner.type20 a p img { height:auto; bottom:10px; right:-10px; width:50%;}/* 플로라 시크 */
	.brand .brand-artisti-banner.type21 a p img { height:auto; bottom:20px; right:25px; width:25%;}/* 아티스트리맨 언노운 */

	.brand .brand-artisti-banner.type01 a dl dd {color:#57575a;}
	.brand .brand-artisti-banner.type09 a dl dd {color:#eee;}
}

@media (max-width:414px) {
	.brand .brand-artisti-banner { min-height:250px;}
}

