/* 비즈니스 공통 */
.jump-to-business { background:#f4f4f4; padding:20px 0;  margin-bottom: 37px;  }
.jump-to-business:after {content:""; display:block; clear:both;}
.jump-to-business > div { max-width:1400px; margin:0 auto;position:relative; }
.jump-to-business > div > p { position:absolute; left:15px; top:10px; font-weight:500; color:#002f5f;  }
.jump-to-business > div .jump-to-wrapper { margin-left:85px;} 
.business .list-content.business-type01 .list-row-title {padding:10px 20px}
.business .list-content.business-type01 .content-list {padding:0}
.business .list-content.business-type01 .content-list li {padding:18px 20px 22px; background: #fff;display: table;box-sizing:border-box;vertical-align: middle;width: 100%;margin: 0;border-top: none;}
.business .list-content.business-type01 .content-list li:nth-child(even) {background:#f4f4f4;} 
.business .list-content.business-type01 .bt-akl-txt.list-type01 {min-width:0; height:auto; padding:0; border:0; background-color:initial} 
.business .list-content.business-type01 .con-list-item > div.money-type01 {/*text-align:right;*/ padding-right:80px}
.business .list-content.business-type01 .con-list-item > div.money-type02 {/*text-align:right;*/padding-right:20px}
.business .list-content.business-type01 .con-list-item > div.thumb {padding-right:20px}
.business .list-content.business-type01 .w5 {width:5%}
.business .list-content.business-type01 .w8 {width:8%}
.business .list-content.business-type01 .w9 {width:9%}
.business .list-content.business-type01 .w10 {width:10%}
.business .list-content.business-type01 .w12 {width:12%}
.business .list-content.business-type01 .w13 {width:13%}
.business .list-content.business-type01 .w14 {width:14%}
.business .list-content.business-type01 .w15 {width:15%}
.business .list-content.business-type01 .w16 {width:16%}
.business .list-content.business-type01 .w17 {width:17%} 
.business .list-content.business-type01 .w18 {width:18%}
.business .list-content.business-type01 .w20 {width:20%}
.business .list-content.business-type01 .w21 {width:21%}
.business .list-content.business-type01 .w22 {width:22%}
.business .list-content.business-type01 .w25 {width:25%}
.business .list-content.business-type01 .w26 {width:26%}
.business .list-content.business-type01 .w27 {width:27%}
.business .list-content.business-type01 .w30 {width:30%}
.business .list-content.business-type01 .w35 {width:35%}
.business .list-content.business-type01 .w39 {width:39%}
.business .list-content.business-type01 .w40 {width:40%}
.business .list-content.business-type01 .w60 {width:60%} 

/* 비즈니스 > 나의탑업 */
.topup-search { margin-top:38px; margin-bottom:38px; }
.business .topup-search .cuton-sel select  {width:150px;  } 
.business .topup-search.type02 .cuton-sel select + select { margin-left:10px  } 
.topup-search button { margin-left:20px }
.business .tbl-list-board .tr>div.td { text-align: right;}
.business .list-content.business-type01 + .title-h6 {  margin-top: 40px} 
.title-h6 + .list-content.business-type01 {  margin-top: 10px}  
.list-content.business-type01 + .tbl-list-board { margin-top: 10px;}

/*  비즈니스 > 그룹 내 총 반품 */ 
.business .title-h2 + .filter-search {margin-top:20px}
.business .filter-search .label-sel {margin-right:15px;font-size:14px;font-weight:500;color:#002f5f}
.business .cuton-sel select.w150 {width:150px !important}
.business .losmap-wrap {position:relative;overflow:hidden;height:350px;margin-top:20px}
.business .est-txt-area a {font-weight:500}
.business .business-info-wrap {border-top:1px solid #e3e3e3; margin:30px 0 25px; padding-top:33px;}
.business .business-info-wrap.no-line {border-top:0; padding-top:0}
.business .business-info-wrap .customer-info {display:block; margin-bottom:15px; font-size:16px; font-weight:500}
.business .business-info-wrap .customer-info em {font-size:16px; color:#002f5e}
.business [class*="info-list-type"] {}
.business [class*="info-list-type"] li {display:table;width:100%}
.business [class*="info-list-type"] li > * {display:table-cell; font-size:14px; font-weight:500}
.business [class*="info-list-type"] li + li > * {padding-top:10px}
.business [class*="info-list-type"] .tit {color:#002f5e}
.business [class*="info-list-type"] .txt {color:#56565a}
.business .info-list-type01 .tit {width:150px}
.business .info-list-type02 .tit {width:90px}
.business .title-h6 + .info-list-type02 {margin-top:20px} 

.business .link-btn {}
.business .link-btn .glyphicon-triangle-left {font-size:10px; color:#008fc5; margin:-4px 5px 0 0; vertical-align:middle}

.business .list-type5.type01 > li {font-size:16px; font-weight:500}
.business .list-type5.type01 > li + li {margin-top:30px}
.business .list-type-num {counter-reset:li; margin-top:5px}
.business .list-type-num li {margin-left:17px; text-indent:-17px; font-size:14px; font-weight:400}
.business .list-type-num li:before {counter-increment:li; content:counter(li) ". "}

/*  비즈니스 > 성취보고서 */
.report-top {padding:30px 0 40px}
.report-top .btn-business { margin-top:10px; }
.report-top .btn-business button {  margin-right:20px }
.report-body {}
.report-body .title-h6 { margin-bottom:30px}
.report-body .panel b{ font-size:14px;}
.report-body .accordion-custom .icon-minus { margin-top:-5px;}
.report-body .accordion-custom .icon-minus:before {font-size: 20px !important;} 
.report-body li { list-style:160%} 

/*  비즈니스 > 사업현황보고서 */
.business-tab {border-top:1px solid #e3e3e3; padding-top:40px; margin-top:40px; }
.business-tab .list-type5 {margin-top:40px;}
.report-body dl {}
.report-body dt { font-weight:500}
.report-body dd { margin-bottom:30px; } 
.report-body .business-img-area {border:1px solid #e3e3e3; margin:20px 0 20px 30px ; padding:20px; }
.report-body .tab-content ol.decimal-list li { text-indent:-20px; padding-left:20px; font-size:14px;}
.report-body dd.word-Description {padding-bottom:30px; margin-bottom:30px; border-bottom:1px solid #e3e3e3;}

@media (max-width: 768px) {

	/* 비즈니스 */
	.jump-to-business > div { margin:0 15px 0 0;}  
	.jump-to-business > div .jump-to-wrapper .jump-menu { width: auto;}
	.business [class*="info-list-type"] .txt {text-align:right}
	.business .list-content.business-type01 .list-row-title {padding:0}
	.business .list-content.business-type01 .list-row-title > div {display:none}
	.business .list-content.business-type01 .con-list-item > div {display:block; width:100%; padding:3px 0}
	.business .list-content.business-type01 .con-list-item > div:after {content:"";display:block;clear:both}
	.business .list-content.business-type01 .con-list-item > div.money-type01 {text-align:inherit; padding-right:0}
	.business .list-content.business-type01 .con-list-item > div.money-type02 {text-align:inherit; padding-right:0}
	.business .list-content.business-type01 .con-list-item > div .tite-label {display:inline-block}
	.business .list-content.business-type01 .con-list-item > div .tite-label + .txte-wrap {float:right}
	.business .list-content.business-type01 .thumb-type .con-list-item > div {padding-left:80px}
	.business .list-content.business-type01 .thumb-type .con-list-item > div.thumb {padding-left:0}
	.business .cart-popup__item-info {padding:25px 20px !important}
	.business .m-hide {display:none !important}
	
	/* 비즈니스 > 나의 탑업 */ 
	.business .topup-search .cuton-sel select  {width:100%; margin-bottom:15px; }
	.business .topup-search:after {content:""; display:block; clear:both;} 
	.business .topup-search.type02 .cuton-sel select  {width:48%; margin-bottom:15px; float:left;}
	.business .topup-search.type02 .cuton-sel select + select { float:right; margin-left:0; }
	.topup-search button:first-child { margin-left:0 }
	.business .tbl-list-board {display:block; } 
 	.business .tbl-list-board .tr>div {display:block; float:left; padding-top:10px;padding-bottom:10px;}
	.business .tbl-list-board .th { width:60%; color:#002f5f; padding-left:20px}
	.business .tbl-list-board .td { width:40%; text-align: right; background: #f4f4f4; font-weight:500; padding-right:20px}   
}

@media (max-width: 992px) {

	/* 비즈니스 */
	.business .filter-search {border:0 none;}
	.business .filter-search .toggle-buttons-container button {float:left;border:1px solid #d3d3d3;width:calc(50% - 6px)}
	.business .filter-search .toggle-buttons-container button + button {float:left;border:1px solid #d3d3d3;width:calc(50% - 6px);margin-left:12px;}
    .business .filter-search .form-wrapper {width:100%;}
    .business .filter-search .cuton-form-wrapper .form-s input.input-st {width:100%;padding-right:50px;}
	.business .filter-search .cuton-form-wrapper .form-s button {border:0 none;}
	.business .filter-search .cuton-form-wrapper .form-s .btn-primary span {display:none}
	.business .filter-search .form-s {position:relative;}
	.business .filter-search .form-s .btn.btn-primary { position: absolute;right:0; top:0; width:40px; padding:0; border:0;  background: url(../images/search@2x_mobile.png) no-repeat 50% 50% !important; background-size: 15px auto !important; }
	.business .filter-search .form-s .bt-akl-txt {display:none;}
	.business .filter-search .col-md-12 {padding:0}
	.business .filter-search .cuton-sel select.w150 {width:calc(50% - 6px) !important; float:left; margin-right:0 !important}
	.business .filter-search .cuton-sel select.w150 + select {margin-left:12px}
	.business .filter-search .label-sel {display:none}

}
