/************************************************
Version :AKL Hybris UIUX 1.0
Date :2018-07-02
Editor :
*************************************************/ 

/***** 미디어 라이브러리 *****/ 
/* 미디어 리스트 */ 
[class*="media-borad-list"] {position:relative;}
[class*="media-borad-list"] ul {margin-left:-26px;}
[class*="media-borad-list"] ul:after {clear:both;content:'';display:block;}
[class*="media-borad-list"] li {float:left;width:25%;box-sizing:border-box;}
[class*="media-borad-list"] li:nth-child(7) ~ li {display:none;}
[class*="media-borad-list"] li a {display:block;position:relative;margin:0 0 25px 26px; background:#000}
[class*="media-borad-list"] li a .view-img {position:relative;overflow:hidden;height:244px}
[class*="media-borad-list"] li a .view-img:after {clear:both;content:'';display:block;position:absolute;left:0;top:0;right:0;bottom:0;background:rgba(0, 0, 0, 0.5);}
[class*="media-borad-list"] li a .view-img img {width:100%;height:100%;}
[class*="media-borad-list"] li a .tag {position:absolute;top:23px;right:20px;padding:0 15px;color:#fff;font-size:13px;border-radius:2px;}
[class*="media-borad-list"] li a .tag span {display:inline-block;padding-left:20px;background:url(../images/akl_brand/common/bg_tag_movie.png) no-repeat 0 50%;background-size:13px auto;text-align:center;line-height:28px;font-weight:400;}
[class*="media-borad-list"] li a .tit-txt-wrap {position:absolute;bottom:25px;left:0;right:0;color:#fff;padding:0 30px;}
[class*="media-borad-list"] li a .tit-txt-wrap strong {display:block;overflow:hidden;font-size:15px;text-overflow:ellipsis;white-space:nowrap;word-wrap:break-word;}
[class*="media-borad-list"] li a .tit-txt-wrap p {overflow:hidden;margin:5px 0 0;font-size:14px;text-overflow:ellipsis;white-space:nowrap;word-wrap:break-word;font-weight:300;}
[class*="media-borad-list"] li.highlight {width:50%;}
[class*="media-borad-list"] li.highlight a .view-img {height:354px}
[class*="media-borad-list"] li.highlight a .tag {right:30px;}
[class*="media-borad-list"] li.highlight a .tit-txt-wrap {bottom:35px;padding:0 40px;}
[class*="media-borad-list"] li.highlight a .tit-txt-wrap strong {font-size:17px;}
[class*="media-borad-list"] li.media-more-btn.grid-item {display:block;}
[class*="media-borad-list"] li.media-more-btn button {margin:0 0 0 25px;height:85px;width:85px;text-align:center;background:#e11e45;color:#fff;border-radius:5px;}
[class*="media-borad-list"] li.media-more-btn button span {display:inline-block;padding:0 0 20px;background:url(../images/akl_brand/common/btn_more_arrow.png) no-repeat 50% bottom;}

.media-borad-list-video li a .tag {background-color:#e11e45;}
.media-borad-list-video li a .tit-txt-wrap:after {clear:both;content:'';display:block;position:absolute;left:30px;top:-90px;width:62px;height:62px;background:url(../images/akl_brand/common/bg_movie_play.png) no-repeat 0 0;background-size:contain;}
.media-borad-list-video li.highlight .tit-txt-wrap:after {top:-119px;left:30px;width:78px;height:78px;}
.media-borad-list-gallery li a .tag {background:#002f5f;}
.media-borad-list-gallery li a .tag span {display:inline-block;padding-left:20px;background:url(../images/akl_brand/common/bg_tag_gallery.png) no-repeat 0 50%;background-size:13px auto;}


@media (max-width:1024px) { 
/***** 미디어 라이브러리 *****/ 
/* 미디어 리스트 */ 
	[class*="media-borad-list"] li {width:33.333%;}
	[class*="media-borad-list"] li.highlight {width:66.666%;}
	[class*="media-borad-list"] li.two-part {width:66.666%;}
}

@media (max-width:768px) { 
/***** 미디어 라이브러리 *****/ 
/* 미디어 리스트 */ 
	[class*="media-borad-list"] ul {margin-left:0;}
	[class*="media-borad-list"] li {width:100%;position:static !important}
	[class*="media-borad-list"] li.two-part {width:100%;}
	[class*="media-borad-list"] li a {margin:0 0 20px 0;}	
	[class*="media-borad-list"] li a .view-img {height:61.19vw;}	
	[class*="media-borad-list"] li.highlight a .view-img {height:99.47vw;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
	[class*="media-borad-list"] li.highlight a .view-img  img {width:auto;}
	[class*="media-borad-list"] li a .tag {top:15px;right:8px;padding:0 12px;}
	[class*="media-borad-list"] li a .tit-txt-wrap {padding:0 20px;}
	[class*="media-borad-list"] li a .tit-txt-wrap strong {font-size:17px;}
	[class*="media-borad-list"] li.highlight {width:100%;}
	[class*="media-borad-list"] li.highlight a {margin:0 -15px 20px;}
	[class*="media-borad-list"] li.highlight a .tag {top:20px;right:15px;}
	[class*="media-borad-list"] li.highlight a .tit-txt-wrap {padding:0 15px;bottom:30px;}
	[class*="media-borad-list"] li.highlight a .tit-txt-wrap strong {font-size:20px;}
	[class*="media-borad-list"] li.media-more-btn button {height:44px;width:100%;border-radius:0;margin:0;}
	[class*="media-borad-list"] li.media-more-btn button span {display:inline-block;padding:0 0 0;background:none;}
	.media-borad-list-video li a .tit-txt-wrap:after {left:20px;top:-66px;width:48px;height:48px;}
	.media-borad-list-video li.highlight .tit-txt-wrap:after {top:-92px;left:15px;width:66px;height:66px;}
}

/***** 암웨이 소개 *****/ 
/* 사회공헌 */ 

.img-bnr {margin:35px 0 55px;overflow:hidden;}
.img-bnr img {width:100%;}

.brand .numList {margin-top:12px;}
.brand .numList > li { line-height:23px; padding-left:10px; text-indent:-10px;}
.brand .numList > li li {font-weight:normal; text-indent:0}

.brand .list-star > li {background:url('../images/akl_common/ico_star.png') no-repeat left 5px;padding:0 0 4px 10px;line-height:18px;}


.brand .title-txt01 {font-size:16px;letter-spacing:-1px;font-weight:500;color:#002f5f;}

.brand [class*="box-bnr"] {position:relative;height:400px;}
.brand [class*="box-bnr"] .txt-wrap {position:absolute;top:125px;left:9.76%;}
.brand [class*="box-bnr"] .txt-wrap strong {position:relative;font-size:40px;font-weight:500;color:#002f5f;line-height:52px;}
.brand [class*="box-bnr"] .txt-wrap p {margin-top:20px;font-size:20px;font-weight:400;color:#002f5f;letter-spacing:0;}
.brand [class*="box-bnr"] .txt-wrap em {font-style:italic;font-size:40px;font-weight:500;color:#002f5f;letter-spacing:0;}
.brand [class*="box-bnr"].quotes .txt-wrap strong::before {position:absolute;left:-45px;top:-5px;display:block;width:35px;height:26px;content:'';background-image:url(../images/quote_upper.png);background-repeat:no-repeat;background-size:contain;}
.brand [class*="box-bnr"].quotes .txt-wrap strong::after {position:absolute;right:-55px;bottom:22px;display:block;width:35px;height:26px;content:'';background-image:url(../images/quote_down.png);background-repeat:no-repeat;background-size:contain;}

.brand [class*="box-bnr"].quotes02 .txt-wrap::before {position:absolute;left:-65px;top:8px;display:block;width:50px;height:37px;content:'';background-image:url(../images/quote_upper.png);background-repeat:no-repeat;background-size:contain;}
.brand [class*="box-bnr"].quotes02 .txt-wrap::after {position:absolute;right:-55px;bottom:12px;display:block;width:50px;height:37px;content:'';background-image:url(../images/quote_down.png);background-repeat:no-repeat;background-size:contain;}

.brand .box-bnr-01 {background:url(../images/akl_brand/about/img_bnr_pdt01.jpg) no-repeat center 0;background-size:cover;}
.brand .box-bnr-01 .txt-wrap {top:110px;}
.brand .box-bnr-02 {background:url(../images/akl_brand/about/img_bnr_pdt02.jpg) no-repeat center 0;background-size:cover;}
.brand .box-bnr-03 {background:url(../images/akl_brand/about/img_csr_visual01.png) no-repeat left 0;background-size:cover;}
.brand .box-bnr-03 .txt-wrap {position:absolute;top:115px;left:auto;right:15.85%;}
.brand .box-bnr-03 .txt-wrap p {font-size:14px;color:#56565a;line-height:24px;font-weight:400;}

@media (max-width:768px) { 
/***** 암웨이 소개 *****/ 
/* 사회공헌 */ 
	.brand .full-component {padding:0;height:auto;margin:0 -15px;width:auto;}
}



/*레이어 팝업*/

.gallery-wrapper {width:100%;height: 524px;overflow-y: auto;}
.gallery-wrapper img {max-width:100%;}

