/************************************************ 
Version : AKL Hybris UIUX 1.0
Date : 2018-03-13
Editor : sookkyung Han
*************************************************/ 
/*** 상품상세 가이드 ***/
.akl .product-detail-view{padding-bottom:40px;}
.product-detail-view > div{max-width:1100px;margin:0 auto;}
.akl .product-detail-view .product-visual{width:-webkit-calc(100% + 100px);width:-moz-calc(100% + 100px);width:calc(100% + 100px);max-width:calc(100% + 100px);max-width:calc-webkit-(100% + 100px);max-width:-moz-calc(100% + 100px);margin-left:-50px;padding:78px 0 70px;}
.akl .typeA .product-visual{background-color:#eeede3;}
.akl .typeA .product-visual.bg-img02{background-color:#faffee;}
.akl .typeB .product-visual{background-color:#ffeaea;}
.akl .product-visual.bg-img01{padding:98px 0 77px;}
.akl .typeC .product-visual{background-color:#c0def4;}
.akl .product-visual{position:relative;overflow:hidden;}
.akl .product-visual .visual-bg img{position:absolute;display:inline-block;top:0;}
.akl .product-visual .visual-bg .bottom{bottom:0;top:auto;}
.akl .visual-info{position:relative;padding:0 30px;}
.akl .product-visual .txt-area{text-align:center;}
.akl .visual-logo{display:inline-block;}
.akl .product-visual .logo-txt{display:block;margin-top:12px;font-size:26px;color:#56565a;letter-spacing:-2px}
.akl .visual-tit{margin-top:24px;font-size:60px;color:#56565a;font-weight:400;line-height:0.9;letter-spacing:-2px;}
.akl .visual-tit strong{font-size:60px;font-weight:500;}
.akl .typeA .visual-tit strong{color:#20893d;}
.akl .typeB .visual-tit strong{color:#c4133f;}
.akl .typeC .visual-tit strong{color:#0075a4;}
.akl .txt-area .visual-txt{margin-top:9px;font-size:16px;color:#444;font-weight:300;line-height:1.6;letter-spacing:-1px}
.akl .visual-img{width:100%;margin-top:65px;text-align:center;}
.akl .visual-img span{display:inline-block;}

.akl .detail-tit{display:block;font-size:44px;color:#57565b;font-weight:400;letter-spacing:-2px;text-align:center;}
.akl .detail-tit.small{font-size:30px;color:#57565b;font-weight:500;}
.akl .detail-tit em{font-size:44px;color:#20893d;font-weight:400;letter-spacing:-2px;}
.akl .detail-info-txt{font-size:20px;color:#57565b;font-weight:300;letter-spacing:-2px;}
.akl .detail-info-etc{display:block;font-size:16px;color:#818286;font-weight:300;letter-spacing:-1px;}
.akl .detail-info-etc.big{font-size:18px;letter-spacing:-2px;}
.akl .tit-blue-s{font-size:16px;color:#0090c5;font-weight:400;letter-spacing:-1px;}
.akl .tit-blue-b{font-size:18px;color:#0075a4;font-weight:400;letter-spacing:-2px;}
.akl .typeA .detail-tit em{color:#20893d;}
.akl .typeB .detail-tit em{color:#c4133f;}
.akl .detail-img{display:inline-block;}

.akl .product-detail-view .product-info{padding-top:56px;border-top:1px solid #e3e3e3;text-align:center;}
.akl .product-visual + .product-info{border-top:none;}
.akl .product-info .detail-info{margin-top:13px;}
.akl .product-info .detail-info-etc{margin-top:19px;}

.akl .info-img-list{width:-webkit-calc(100% + 58px);width:-moz-calc(100% + 58px);width:calc(100% + 58px);margin:19px 0 0 -29px;text-align:left;}
.akl .info-img-list li{display:inline-block;width:14%;padding-top:26px;min-height:140px;vertical-align:top;}
.akl .info-img-list span{display:block;padding:4px 10px 0;font-size:16px;color:#57565b;letter-spacing:-1px;text-align:center;}
.akl .info-img-list .img-box{padding:0 29px;}

.akl .product-info-box{margin-top:50px;padding:35px 20px 0;border:1px solid #e3e3e3;text-align:center;}
.akl .product-info-box .detail-info{margin-top:4px;}
.akl .product-info-box .detail-img{margin-top:36px;}

.akl .product-notice{padding:5px 0 60px;margin-top:50px;border:solid #e3e3e3;border-width:1px 0;}
.akl .product-notice .notice-list > li{display:table;width:100%;padding-top:27px;}
.akl .product-notice .detail-tit{display:table-cell;width:200px;font-size:26px;color:#444;font-weight:500;text-align:left;vertical-align:top;letter-spacing:-2px;}
.akl .product-notice .detail-list{display:table-cell;padding-top:7px;font-size:16px;color:#666;font-weight:300;vertical-align:top;letter-spacing:-1px;}
.akl .product-notice .detail-list li{padding-top:2px;margin-left:17px;text-indent:-17px;font-size:16px;color:#666;font-weight:300;letter-spacing:-1px;}
.akl .product-notice .detail-list li:first-child{padding-top:0;}

.akl .product-feature{margin-top:36px;text-align:center;}
.akl .feature-list{margin-top:18px;}
.akl .feature-list > li{display:table;width:100%;padding:20px 93px 21px;border:solid #e3e3e3;border-width:0 0 1px;table-layout:fixed;}
.akl .feature-list > li:first-child{border-width:1px 0;}
.akl .feature-list .detail-bullet{display:table-cell;width:36px;vertical-align:middle;}
.akl .feature-list .detail-txt{display:table-cell;padding:0 50px 0 20px;font-size:20px;color:#57565b;vertical-align:middle;text-align:left;letter-spacing:-2px;}
.akl .feature-list .detail-img{display:table-cell;width:20%;vertical-align:middle;text-align:right;}

.akl .detail-dot{position:relative;padding-left:15px;font-size:16px;text-align:left;color:#808285;letter-spacing:-1px;}
.akl .detail-dot:after{position:absolute;top:10px;left:0;display:inline-block;width:5px;height:5px;border-radius:50%;background-color:#c9c9c9;content:"";}
.akl .product-feature .detail-dot{margin:15px 0 0 94px;}

.akl .product-setup{margin-top:36px;text-align:center;}
.akl .setup-list{width:100%;margin-top:16px;padding-bottom:50px;border:solid #e3e3e3;border-width:1px 0;text-align:center;}
.akl .setup-list li{display:inline-block;width:25%;padding:30px 30px 0;text-align:center;}
.akl .setup-list.divid01 li{width:100%;}
.akl .setup-list.divid02 li{width:50%;}
.akl .setup-list.divid03 li{width:33.3%;}
.akl .setup-list .detail-img{max-width:180px;margin:0 auto;}
.akl .setup-list .setup-tit{display:block;margin-top:3px;font-size:20px;color:#222;font-weight:400;letter-spacing:-2px;}
.akl .setup-list .setup-txt{display:block;font-size:16px;color:#666;letter-spacing:-1px;}
.akl .setup-list .btn-box{margin-top:26px;}

.akl .product-feature02{margin-top:42px;padding-bottom:30px;border-bottom:1px solid #e3e3e3;}
.akl .product-feature02 .detail-tit{text-align:left;line-height:1.2;}
.akl .product-feature02 .feature-box{margin-top:15px;}

.akl .feature-box, 
.akl .feature-txt li{display:table;width:100%;table-layout:fixed;}
.akl .product-feature02 .feature-txt{display:inline-block;width:49%;vertical-align:middle;}
.akl .product-feature02 .feature-img{display:inline-block;width:49%;max-width:538px;text-align:right;vertical-align:middle;}
.akl .feature-txt li{padding:10px 0;}
.akl .feature-txt .ico-box{display:table-cell;width:80px;height:80px;border-radius:50%;text-align:center;vertical-align:middle;background-color:#ffeaea;}
.akl .feature-txt .ico-img{display:inline-block;width:22px;}
.akl .feature-txt .ico-txt{display:block;font-size:16px;color:#ff0075;letter-spacing:-1px;vertical-align:middle;}
.akl .feature-txt p{display:table-cell;padding-left:16px;font-size:16px;color:#666;letter-spacing:-1px;vertical-align:middle;}

.akl .product-effect-info{margin-top:70px;border:solid #e3e3e3;border-width:1px;}
.product-effect-info .detail-tit{padding:15px 0 18px;background-color:#eeefef;}
.product-effect-info .effect-info{padding:30px 92px;border:solid #e3e3e3;border-width:1px 0 0;}
.product-effect-info .effect-info .info-txt{font-size:16px;color:#808285;font-weight:300;letter-spacing:-1px;line-height:1.7;}

.effect-info .effect-info-tit{display:block;margin-bottom:15px;font-size:30px;color:#56565a;font-weight:400;letter-spacing:-2px;}
.effect-info-wrap > div{padding-left:8px;}
.effect-info-wrap > div:first-child{padding:0 8px 0 0;}
.effect-info-box{font-size:16px;color:#808285;font-weight:300;letter-spacing:-1px;line-height:1.7;}
.effect-info .effect-info-wrap{display:table;width:100%;table-layout:fixed;}
.effect-info .effect-info-box{display:table-cell;vertical-align:top;}
.effect-info .effect-info-img, .effect-info .effect-info-right{display:table-cell;width:50%;vertical-align:top;text-align:right;}
.effect-info .effect-info-right{text-align:left;}
.effect-info .mid .effect-info-box,
.effect-info .mid .effect-info-img{vertical-align:middle;}

.effect-info-list{margin-top:-6px;}
.effect-info-list li{display:inline-block;width:50%;padding:20px 5% 0 0;vertical-align:top;}
.effect-info-list .detail-img{display:table-cell;width:81px;vertical-align:middle;}
.age-group{display:table-cell;padding-left:20px;vertical-align:middle;}
.age-group .age-group-tit{display:block;font-size:16px;color:#56565a;font-weight:500;letter-spacing:-1px;}
.age-group .age-group-txt{display:block;margin-top:2px;font-size:13px;color:#808285;font-weight:300;line-height:1.6;letter-spacing:-1px;}

.effect-info .info-graph{margin-top:30px;}
.info-graph li{display:inline-block;width:50%;padding-left:8px;}
.info-graph li:first-child{padding:0 8px 0 0;}
.effect-info .tit-blue-s{display:block;margin-bottom:7px;}

.product-effect-info .dot-list{margin-top:36px;}
.akl .dot-list li{position:relative;padding-left:14px;margin-top:15px;}
.akl .dot-list li:first-child{margin-top:0;}
.akl .dot-list .dot-tit{display:block;font-size:14px;color:#56565a;font-weight:300;letter-spacing:-1px;}
.akl .dot-list .dot-tit:after{position:absolute;top:8px;left:0;display:inline-block;width:5px;height:5px;border-radius:50%;background-color:#c9c9c9;content:"";}
.akl .dot-list .dot-txt{display:block;margin-top:1px;font-size:14px;color:#808285;font-weight:300;letter-spacing:-1px;}

.effect-info .tit-blue-b{margin-top:30px;}
.effect-info .tit-blue-b:first-child{margin-top:0;}

.akl .product-advantage{margin-top:40px;}
.akl .product-advantage + .product-advantage{margin-top:70px;}
.akl .product-advantage .detail-tit{text-align:left;line-height:1.3;}
.akl .product-advantage:after{content:""; display:block;  clear:both; width: 0; height: 0;}
.akl .advantage-box{float:right;width:50%;text-align:left;}
.akl .reverse .advantage-box{float:left;}
.akl .advantage-txt{margin-top:18px;font-size:16px;color:#808285;letter-spacing:-1px;font-weight:300;line-height:1.6;}
.akl .advantage-txt-etc{font-size:16px;color:#008fc5;letter-spacing:-1px;}
.akl .advantage-txt-etc:first-child{margin-top:20px;}
.akl .advantage-img{float:left;width:50%;text-align:left;padding-right:50px;}
.akl .reverse .advantage-img{float:right;text-align:right;padding:0 0 0 50px;}

.akl .product-process{padding:26px 50px 23px;margin-top:50px;border:10px solid #eff0f1;}
.akl .product-process .detail-tit{font-size:36px;color:#444;}
.akl .product-process .product-process-step{margin-top:36px;}
.akl .product-process-step li{display:inline-block;}
.akl .step05.product-process-step li{width:20%;padding:0 30px;vertical-align:top;text-align:center;}
.akl .product-process-step .step-img{display:inline-block;}
.akl .product-process-step .step-num{display:block;max-width:60px;margin:30px auto 0;padding:0px 10px;border-radius:10px;font-size:14px;color:#fff;letter-spacing:-1px;font-weight:300;background-color:#bbb;}
.akl .product-process-step .step-txt{display:block;margin-top:7px;font-size:14px;color:#808285;letter-spacing:-1px;font-weight:300;line-height:1.7;}

.akl .effect-info-step{display:table;width:100%;margin-top:47px;}
.akl .effect-info-step li{position:relative;display:table-cell;padding:0 10px;}
.akl .effect-info-step li:before{display:inline-block;position:absolute;top:50%;left:-5px;width:10px;height:17px;margin-top:-8px;background:url('../images/akl_product/ico_arr_right.png') no-repeat 0 0;content:"";}
.akl .effect-info-step li:first-child:before{display:none;}
.akl .effect-info-step.divid03 li{width:33.33%;text-align:center;} 
.akl .effect-info-step .effect-step-txt{display:block;margin-top:30px;font-size:14px;color:#56565a;font-weight:300;letter-spacing:-1px;}






@media (max-width: 990px) {
	.product-detail-view .product-setup .setup-list li{width:50%;}
	.product-detail-view .product-feature .feature-list > li{padding:20px 20px 21px;}
	.product-detail-view .product-feature .detail-txt{padding-right:20px;}
	.akl .feature-txt p br{display:none;}
	.step05.product-process-step{margin-top:0;}
	.step05.product-process-step li{width:33.33%;margin-top:30px;}
}



@media (max-width: 768px) {
	.product-detail-view > div{margin:0 12px;}
	.product-visual .visual-info{padding:0 120px;}
	.product-visual .txt-area .visual-tit{margin-top:10px;font-size:50px;}
	.product-visual .txt-area .visual-tit strong{font-size:50px;line-height:1.0;}
	.product-visual .txt-area .visual-txt br, 
	.product-info .info-txt br, 
	.product-setup .detail-title .detail-s-tit br{display:none;}
	.product-visual .txt-area .logo-txt{font-size:22px;}
	.product-detail-view .detail-tit,
	.product-detail-view .detail-tit em{font-size:36px;}
	.product-info .info-txt{font-size:16px;letter-spacing:-1px;}
	.product-info .img-list li{width:25%;}
	.product-feature .detail-bullet{width:5%;} 
	.product-feature .detail-txt{padding:0 5% 0 2%;font-size:16px;}
	.product-feature .detail-dot{margin:15px 0 0 20px;}
	.product-effect-info .effect-info{padding:30px 50px}
	.product-effect-info .effect-info .effect-info-list .detail-img,
	.product-effect-info .effect-info .effect-info-list .age-group{vertical-align:top;}
	.product-effect-info .detail-tit{padding:10px 0 12px;}
	.product-effect-info .effect-info .effect-info-tit{font-size:20px;}
	.product-effect-info .effect-info .effect-info-list li{width:100%;}
	.product-effect-info .effect-info .info-graph li{width:100%;margin-top:20px;text-align:center;}
	.product-effect-info .effect-info .info-graph li:first-child{margin-top:0;}
	.product-effect-info .effect-info .info-txt br{display:none;}
	.product-feature02 .tit{font-size:36px;}
	.product-feature02 .feature-list{width:100%;}
	.product-feature02 .feature-img{width:100%;max-width:100%;text-align:center;margin-top:20px;}
	.product-feature02 .feature-img img{width:50%;}
	.product-detail-view .product-process .detail-tit{font-size:30px;}
	.product-detail-view .product-advantage + .product-advantage{margin-top:50px;}
	.product-advantage .advantage-img,
	.product-advantage.reverse .advantage-img{width:100%;text-align:center;padding:0;}
	.product-advantage .advantage-box{width:100%;text-align:center;}
	.product-advantage .detail-tit{text-align:center;}
	.product-detail-view .product-process{padding:26px 25px 23px;}
	.step05.product-process-step{margin-top:20px;}
	.step05.product-process-step li{width:100%;margin-top:30px;text-align:left;overflow:hidden;}
	.step05.product-process-step li:first-child{margin-top:0;}
	.product-process-step .step-img{float:left;width:30%;padding-right:30px;}
	.product-process-step .step-num{float:left;margin-top:10px;}
	.product-process-step .step-txt{float:left;width:70%;}

}

@media (max-width: 420px) {

}



