/* 비즈니스 공통 */
.business-pop .link-btn { margin-bottom:15px }
.business-pop-cont { padding-top:10px; }
.jump-to-business { background:#f4f4f4; padding:20px 0;  margin-bottom: 37px;  }
.jump-to-business:after {content:""; display:block; clear:both;}
.jump-to-business > div { max-width:1400px; margin:0 auto;position:relative; }
.jump-to-business > div > p { position:absolute; left:15px; top:10px; font-weight:500; color:#002f5f;  }
.jump-to-business > div .jump-to-wrapper { margin-left:85px;} 
.business .list-content.business-type01 .list-row-title {padding:10px 20px}
.business .list-content.business-type01 .content-list {padding:0}
.business .list-content.business-type01 .content-list li {padding:18px 20px 22px; background: #fff;display: table;box-sizing:border-box;vertical-align: middle;width: 100%;margin: 0;border-top: none;}
.business .list-content.business-type01 .content-list li:nth-child(even) {background:#f4f4f4;} 
.business .list-content.business-type01 .bt-akl-txt.list-type01 {min-width:0; height:auto; padding:0; border:0; background-color:initial} 
.business .list-content.business-type01 .con-list-item > div.money-type01 {/*text-align:right;*/ padding-right:80px}
.business .list-content.business-type01 .con-list-item > div.money-type02 {/*text-align:right;*/padding-right:20px}
.business .list-content.business-type01 .con-list-item > div.thumb {padding-right:20px}
.business .list-content.business-type01 .w5 {width:5%}
.business .list-content.business-type01 .w8 {width:8%}
.business .list-content.business-type01 .w9 {width:9%}
.business .list-content.business-type01 .w10 {width:10%}
.business .list-content.business-type01 .w12 {width:12%}
.business .list-content.business-type01 .w13 {width:13%}
.business .list-content.business-type01 .w14 {width:14%}
.business .list-content.business-type01 .w15 {width:15%}
.business .list-content.business-type01 .w16 {width:16%}
.business .list-content.business-type01 .w17 {width:17%} 
.business .list-content.business-type01 .w18 {width:18%}
.business .list-content.business-type01 .w20 {width:20%}
.business .list-content.business-type01 .w21 {width:21%}
.business .list-content.business-type01 .w22 {width:22%}
.business .list-content.business-type01 .w25 {width:25%}
.business .list-content.business-type01 .w26 {width:26%}
.business .list-content.business-type01 .w27 {width:27%}
.business .list-content.business-type01 .w30 {width:30%}
.business .list-content.business-type01 .w35 {width:35%}
.business .list-content.business-type01 .w39 {width:39%}
.business .list-content.business-type01 .w40 {width:40%}
.business .list-content.business-type01 .w60 {width:60%} 

/* 비즈니스 > 나의탑업 */
.topup-search { margin-top:38px; margin-bottom:38px; }
.business .topup-search .cuton-sel select  {width:150px;  } 
.business .topup-search.type02 .cuton-sel select + select { margin-left:10px  } 
.topup-search button { margin-left:20px }
.business .tbl-list-board .tr>div.td { text-align: right;}
.business .list-content.business-type01 + .title-h6 {  margin-top: 40px} 
.title-h6 + .list-content.business-type01 {  margin-top: 10px}  
.list-content.business-type01 + .tbl-list-board { margin-top: 10px;}

/*  비즈니스 > 그룹 내 총 반품 */ 
.business .title-h2 + .filter-search {margin-top:20px}
.business .filter-search .label-sel {margin-right:15px;font-size:14px;font-weight:500;color:#002f5f}
.business .cuton-sel select.w150 {width:150px !important}
.business .losmap-wrap {position:relative;overflow:hidden;height:350px;margin-top:20px}
.business .est-txt-area a {font-weight:500}
.business .business-info-wrap {border-top:1px solid #e3e3e3; margin:30px 0 25px; padding-top:33px;}
.business .business-info-wrap.no-line {border-top:0; padding-top:0}
.business .business-info-wrap .customer-info {display:block; margin-bottom:15px; font-size:16px; font-weight:500}
.business .business-info-wrap .customer-info em {font-size:16px; color:#002f5e}
.business [class*="info-list-type"] {}
.business [class*="info-list-type"] li {display:table;width:100%}
.business [class*="info-list-type"] li > * {display:table-cell; font-size:14px; font-weight:500}
.business [class*="info-list-type"] li + li > * {padding-top:10px}
.business [class*="info-list-type"] .tit {color:#002f5e}
.business [class*="info-list-type"] .txt {color:#56565a}
.business .info-list-type01 .tit {width:150px}
.business .info-list-type02 .tit {width:90px}
.business .title-h6 + .info-list-type02 {margin-top:20px} 

.business .link-btn {}
.business .link-btn .glyphicon-triangle-left {font-size:10px; color:#008fc5; margin:-4px 5px 0 0; vertical-align:middle}

.business .list-type5.type01 > li {font-size:16px; font-weight:500}
.business .list-type5.type01 > li + li {margin-top:30px}
.business .list-type-num {counter-reset:li; margin-top:5px}
.business .list-type-num li {margin-left:17px; text-indent:-17px; font-size:14px; font-weight:400}
.business .list-type-num li:before {counter-increment:li; content:counter(li) ". "}

/*  비즈니스 > 성취보고서 */
.report-top {padding:30px 0 40px}
.report-top .btn-business { margin-top:10px; }
.report-top .btn-business button {  margin-right:20px }
.report-body {}
.report-body .title-h6 { margin-bottom:30px}
.report-body .panel b{ font-size:14px;}
.report-body .accordion-custom .icon-minus { margin-top:-5px;}
.report-body .accordion-custom .icon-minus:before {font-size: 20px !important;} 
.report-body li { list-style:160%} 

/*  비즈니스 > 사업현황보고서 */
.business-tab {border-top:1px solid #e3e3e3; padding-top:40px; margin-top:40px; }
.business-tab .list-type5 {margin-top:40px;}
.report-body dl {}
.report-body dt { font-weight:500}
.report-body dd { margin-bottom:30px; } 
.report-body .business-img-area {border:1px solid #e3e3e3; margin:20px 0 20px 30px ; padding:20px; display: inline-block; }
.report-body .business-img-area img {  width:100%}

.report-body .tab-content ol.decimal-list { margin-top:10px;}
.report-body .tab-content ol.decimal-list li { text-indent:-20px; padding-left:20px; font-size:14px;}
.report-body dd.word-Description {padding-bottom:30px; margin-bottom:30px; border-bottom:1px solid #e3e3e3;}
.report-body dd.word-Description .guid-box a.title {font-size:14px;color:#0075a4;font-weight:500;background:url('../images/akl_common/ico_ars_down.png') no-repeat right center;padding-right:20px}
.report-body dd.word-Description .guid-box.on a.title {background:url('../images/akl_common/ico_ars_up.png') no-repeat right center;}

.report-date-area { position:relative; padding:40px 40px 15px}
.akl .report-date-area .form-group select.form-control{ width:150px; margin-right: 5px;}
.akl .report-date-area .bt-akl-blue { position: absolute; right:40px; top:40px; min-width:90px;}
.akl .report-date-area .list-type2 { padding-top:20px; clear:both}


.col-search-tab.num04  ul li { margin-bottom: -1px; width:25%}
.col-search-tab.num04  ul li:nth-of-type(4) a{  border-right: 1px solid #dadada;  }

/*  비즈니스 > 사업성장 특별보상 프로그램 */
.akl .business .akl-toggle-wrap { margin-top:40px}
.akl .business .accordion-custom .icon-minus:before { font-size: 20px; }
.title-h2 + .fsize14 { margin-top:10px }
.akl .pin-statelist { overflow:hidden; margin-top:5px; margin-bottom:35px;text-align:center} 
.akl .pin-statelist .pin-state { display:inline-block; height:204px; width:400px; padding-top:27px; border:1px solid #dadada}
.akl .pin-statelist .pin-state .pin-icon { height:120px; font-size:18px; } 
.akl .pin-statelist .pin-state p { display:table; font-weight:500; color:#002f5f; width:100%;   } 
.akl .pin-statelist .pin-state p span { display:table-cell; font-weight:500; color:#002f5f; height:40px;; font-size:14px; vertical-align:middle;text-align:center}  
.akl .pin-statelist .pin-state.numbs .pin-icon { height:auto; }  
.akl .pin-statelist .pin-state.numbs p span { height:120px; vertical-align:middle; font-size:60px; color: #002f5f;  }   
.akl .pin-statelist.num1 {}
.akl .pin-statelist.num2 {} 

.akl .pin-statelist.num3 .pin-state { display:block; float:left; width:33.33333% }
.akl .pin-statelist.num3 .pin-state:nth-of-type(2) { border-width:1px 0 1px}

.akl .pin-statelist.num4 .pin-title { font-size:16px !important; font-weight:500; margin:20px 0 10px; text-align: left;}
.akl .pin-statelist.num4 .pin-state { display:block; float:left; width:50% }
.akl .pin-statelist.num4 .pin-state:nth-of-type(2) {  border-left:0}
.akl .pin-statelist.num4 .pin-statelist-left {width:49%; float:left;}
.akl .pin-statelist.num4 .pin-statelist-right {width:49%; float:right;}

.akl .pin-icon.bg-pinlevel-crownamb {background: #fff url(../images/akl_common/business/bg_reward_crownamb.gif) no-repeat center bottom; background-size:120px auto}
.akl .pin-icon.bg-pinlevel-feme {background: #fff url(../images/akl_common/business/bg_reward_feme.gif) no-repeat center  bottom; background-size:120px auto}
.akl .business .tbl-list-board .tr>div.td.left-al {text-align:left;} 

.rewards-tale .title-h6 { margin-bottom:20px;}
.rewards-tale ul { background:#f6f6f6; padding:35px 0; overflow:hidden;}
.rewards-tale li { float:left; width:20%; text-align:center;} 
.rewards-tale li strong{ display:block; font-size:28px; color: #002f5f;} 
.rewards-tale li span{font-size:14px;} 

.akl .panel-body .panel-business dl { margin-bottom:0;}
.akl .panel-body .panel-business dl dt{ font-size:16px; font-weight:500;margin-bottom:8px }
.akl .panel-body .panel-business dl dd{ margin-bottom:30px; font-size:14px }
.akl .panel-body .panel-business dl dd:last-of-type{ margin-bottom:0 } 
.akl .panel-body .panel-business dl dd p.btnw { padding-left:16px; padding-top:5px}
.akl .panel-body .panel-business dl dd ul li strong { font-size:14px} 
.akl .panel-body .panel-business dl dd ol { margin-top: 5px;}
.akl .panel-body .panel-business dl dd ol li { text-indent:-16px; padding-left:16px; font-size:14px} 
.akl .panel-body .panel-business dl dd ol li li { padding-left:25px}
.akl .panel-body .panel-business dl dd .box-diagram { background:#f6f6f6;  padding:40px; margin:18px 0 10px}
.akl .panel-body .panel-business dl dd .box-diagram + .list-type5 { margin-top:20px }
.akl .panel-body .panel-business dl dd .list-type5 + .box-diagram { margin-top:10px }

/*  비즈니스 > 사업성장 특별보상 프로그램 > diagram */
.box-diagram02 {background:#f6f6f6; overflow:hidden;padding:40px; margin:18px 0 10px}
.box-diagram02.case02 {padding:40px 60px;}
.box-diagram02 .diag-calculation {width:60%; } 
.box-diagram02 .diag-calculation>p {display:table; width:100%; height:102px; margin-bottom:0}
.box-diagram02 .diag-calculation p>.math-txt:first-child {width:28%;}
.box-diagram02 .diag-calculation .math-txt {position:relative;display:table-cell; width:28%; box-sizing:border-box; vertical-align:middle;}
.box-diagram02 .diag-calculation .math-txt.plus {width:8%}
.box-diagram02 .diag-calculation .math-txt.last {width:36%;}
.box-diagram02 .diag-calculation .math-txt * {display:inline-block; vertical-align:middle;}
.box-diagram02 .diag-calculation [class^=ico-type] {position:relative; display:inline-block; padding:15px 0 0 82px; height:72px;}
.box-diagram02 .diag-calculation [class^=ico-type]:before {content:''; position:absolute; top:0; left:0; width:72px; height:72px; background:url(../images/akl_common/business/img_rewards_travel22_pc.png) no-repeat;}
.box-diagram02 .diag-calculation .ico-type-equal {padding-left:100px; width:100%; height:100px;}
.box-diagram02 .diag-calculation .ico-type-equal:before {width:100px; height:100px; background-position:0 0;}
.box-diagram02 .diag-calculation .ico-type-equal:after {content:''; position:absolute; top:50%; left:50%; margin:-7px 0 0 40px; width:24px; height:14px; background:url(../images/akl_common/business/img_rewards_travel22_pc.png) no-repeat 0 -300px;}
.box-diagram02 .diag-calculation .ico-type-a:before {background-position:50% -120px;}
.box-diagram02 .diag-calculation .ico-type-a:after {display:none;}
.box-diagram02 .diag-calculation .ico-type-b:before {right:30px; background-position:50% -210px;}
.box-diagram02 .diag-calculation .ico-type-plus{width:20px; height:20px; padding:0;}
.box-diagram02 .diag-calculation .ico-type-plus:before {width:20px; height:20px; background-position:0 -350px; top:50%; right:; margin-top:-10px;}  

.box-ratio { background:#f6f6f6; overflow:hidden;padding:40px 60px; margin:10px 0 10px} 
.box-diagram-table { position:relative; }
.box-diagram-table > p { position:absolute; left:0; top:70px; width:120px; height:120px; padding-top:34px; text-align:center;  background:#fff; border:2px solid #002f5f; border-radius:50%; color:#002f5f; font-weight:500}
.box-diagram-table > p:before {content: '';position: absolute; top: 50%;left:160px;width:20px;height:20px;margin-top: -10px;background: url(../images/akl_common/business/img_rewards_travel22_pc.png) no-repeat;
 background-position: 0 -350px;}
.box-ratio ul { margin-left:237px; max-width:945px; }
.box-ratio ul li{ border-bottom:1px solid #dedede; overflow:hidden; } 
.box-ratio ul li.thead span{ color:#002f5f; font-weight:500;font-size:13px;} 
.box-ratio ul li.thead p span{ position:relative; display:block; float:right; width:36%; padding:0 0 10px;  text-align:center; border-bottom:1px solid #dedede; }
.box-ratio ul li.thead p span:before { content:""; position:absolute; left:0; bottom:-15px; height:15px; border-left:1px solid #dedede; }
.box-ratio ul li.thead p span:after { content:""; position:absolute; right:0; bottom:-15px; height:15px; border-left:1px solid #dedede; }
.box-ratio ul li.thead div { display:table; width:100%; clear:both;}
.box-ratio ul li.thead div span { display:table-cell; padding:10px 0; vertical-align:middle; }
.box-ratio ul li.thead div span:nth-of-type(1) { width:44%; padding-left:20px}
.box-ratio ul li.thead div span:nth-of-type(2) { width:20%; padding-left:20px}
.box-ratio ul li.thead div span:nth-of-type(3) { width:12%; text-align:center;}
.box-ratio ul li.thead div span:nth-of-type(4) { width:12%; text-align:center;}
.box-ratio ul li.thead div span:nth-of-type(5) { width:12%; text-align:center;}
.box-ratio ul li.tbody div { display:table; width:100%}
.box-ratio ul li.tbody div span {display:table-cell; padding:10px 0;font-size:14px; vertical-align:middle;}
.box-ratio ul li.tbody div span:nth-of-type(1) { width:44%; padding-left:20px}
.box-ratio ul li.tbody div span:nth-of-type(2) { width:20%; padding-left:20px; border-left:1px solid #dedede;}
.box-ratio ul li.tbody div span:nth-of-type(3) { width:12%; text-align:center; background:#42cbd3; color:#fff}
.box-ratio ul li.tbody div span:nth-of-type(4) { width:12%; text-align:center; background:#00b2e2; color:#fff}
.box-ratio ul li.tbody div span:nth-of-type(5) { width:12%; text-align:center; background:#005cb9; color:#fff}

.box-ratio.type02 { padding:40px;} 
.box-ratio.type02 .box-diagram-table > p {top:30px;} 
.box-ratio.type02 ul { max-width:525px }  
.box-ratio.type02 ul li.thead div span:nth-of-type(1) { width:50%; text-align:center;}
.box-ratio.type02 ul li.thead div span:nth-of-type(2) { width:50%; text-align:center;}  
.box-ratio.type02 ul li.tbody div span:nth-of-type(1) { width:50%; padding-left:0; text-align:center;}
.box-ratio.type02 ul li.tbody div span:nth-of-type(2) { width:50%; padding-left:0; text-align:center;} 
.box-ratio.type02 ul li.tbody:nth-of-type(2) div span:nth-of-type(2) { background:#42cbd3; color:#fff} 
.box-ratio.type02 ul li.tbody:nth-of-type(3) div span:nth-of-type(2) { background:#00b2e2; color:#fff} 
.box-ratio.type02 ul li.tbody:nth-of-type(4) div span:nth-of-type(2) { background:#005cb9; color:#fff} 

.list-type5.busi{ margin-top:20px; border-top:1px solid #dedede; padding:40px 0 0} 
.list-type5.busi li{ margin-bottom:33px; } 
.list-type5.busi li strong { display:block; margin-bottom:10px; font-size:16px; } 

.popup-calculation {height:301px; text-indent:-999px;overflow:hidden; background:url(../images/akl_common/business/img_pop_01.png) no-repeat 50% 0; }
 

@media (max-width: 768px) {
 
	/* 비즈니스 */
	.jump-to-business > div { margin:0 15px 0 0;}  
	.jump-to-business > div .jump-to-wrapper .jump-menu { width: auto;}
	.business [class*="info-list-type"] .txt {text-align:right}
	.business .list-content.business-type01 .list-row-title {padding:0}
	.business .list-content.business-type01 .list-row-title > div {display:none}
	.business .list-content.business-type01 .con-list-item > div {display:block; width:100%; padding:3px 0}
	.business .list-content.business-type01 .con-list-item > div:after {content:"";display:block;clear:both}
	.business .list-content.business-type01 .con-list-item > div.money-type01 {text-align:inherit; padding-right:0}
	.business .list-content.business-type01 .con-list-item > div.money-type02 {text-align:inherit; padding-right:0}
	.business .list-content.business-type01 .con-list-item > div .tite-label {display:inline-block}
	.business .list-content.business-type01 .con-list-item > div .tite-label + .txte-wrap {float:right}
	.business .list-content.business-type01 .thumb-type .con-list-item > div {padding-left:80px}
	.business .list-content.business-type01 .thumb-type .con-list-item > div.thumb {padding-left:0}
	.business .cart-popup__item-info {padding:25px 20px !important}
	.business .m-hide {display:none !important}
	
	/* 비즈니스 > 나의 탑업 */ 
	.business .topup-search .cuton-sel select  {width:100%; margin-bottom:15px; }
	.business .topup-search:after {content:""; display:block; clear:both;} 
	.business .topup-search.type02 .cuton-sel select  {width:48%; margin-bottom:15px; float:left;}
	.business .topup-search.type02 .cuton-sel select + select { float:right; margin-left:0; }
	.topup-search button:first-child { margin-left:0 }
	.business .tbl-list-board {display:block; } 
 	.business .tbl-list-board .tr>div {display:block; float:left; padding-top:10px;padding-bottom:10px;}
	.business .tbl-list-board .th { width:60%; color:#002f5f; padding-left:20px}
	.business .tbl-list-board .td { width:40%; text-align: right; background: #f4f4f4; font-weight:500; padding-right:20px} 
	
	/* 비즈니스 > 사업현황보고서 */ 
	.report-top { padding: 20px 0 10px;}
	.business .list-content.business-type01.report .report02 .con-list-item > div .tite-label + .txte-wrap {float:left; width:100%;}  
	.business .list-content.business-type01.report .con-list-item span.txte-wrap em { display:inline;}
	.list-type5 + dl { margin-top:20px; }
	.report-body .business-img-area {margin: 20px 10px ;}
	.akl .link-btn { margin-top: 15px}
	.report-date-area { position:relative; padding:20px 20px 5px}
	.akl .report-date-area .form-group select.form-control{ float:left; width:49%; margin-right:0;}
	.akl .report-date-area .form-group select.form-control + select.form-control{ float:right}
	.akl .report-date-area .bt-akl-blue { display:none} 
	
	/*  비즈니스 > 사업성장 특별보상 프로그램  */
	.akl .pin-statelist .pin-state { width:100%;}
	.akl .pin-statelist .pin-state:nth-of-type(3),
	.akl .pin-statelist .pin-state.numbs .pin-icon { height:auto; }  
	.akl .pin-statelist .pin-state.numbs p span { height:80px; vertical-align:middle; font-size:60px; color: #002f5f;  } 
	
	.akl .pin-statelist.num2 .pin-state { width:50% }
	.akl .pin-statelist.num2 .pin-state:nth-of-type(2) { border-width:1px 1px 1px 0}
	
	.akl .pin-statelist.num3 .pin-state { width:50% }
	.akl .pin-statelist.num3 .pin-state:nth-of-type(2) { border-width:1px 1px 1px 0}
	.akl .pin-statelist.num3 .pin-state:nth-of-type(3) {border-width:0 1px 1px; width:100% }
 
	.akl .pin-statelist.num4 .pin-statelist-left {width:100%; }
	.akl .pin-statelist.num4 .pin-statelist-right {width:100%; }
  	
  	.akl .pin-statelist .pin-state .pin-icon,.akl .pin-statelist .pin-state .pin-icon i { font-size:14px; line-height:120%}

	.rewards-tale .title-h6 { margin-bottom:20px;}
	.rewards-tale ul { padding:20px 0 0;}
	.rewards-tale li { width:100%; margin-bottom:20px; }  

	/*  비즈니스 > 사업성장 특별보상 프로그램 > diagram */
	.akl .panel-body .panel-business dl dd .box-diagram { padding:20px 15px; }
	.box-diagram02,.box-diagram02.case02 { padding:20px 0px ; } 
	.box-diagram02 .diag-calculation [class^=ico-type] {padding:15px 0 0 62px; height:52px;}
	.box-diagram02 .diag-calculation [class^=ico-type]:before, .diag-calculation [class^=ico-type]:after {display:none;}
	.box-diagram02 .diag-calculation>p {overflow:hidden; display:block; height:1px; padding:102px 0 0; margin:0; background:url(../images/akl_common/business/img_rewards_travel22_mob.png) 50% 0 no-repeat; background-size:auto 102px;}
 	
 	.box-ratio { padding:20px 10px; }  
	.box-diagram-table > p { left:50%; top:40px; width:70px; height:70px; margin-left:-35px; padding-top:14px;font-size:12px;   }
	.box-diagram-table > p span {font-size:12px;}
	.box-diagram-table > p:before { top:100px; left:50%; margin-left:-10px; }
	.box-ratio ul { margin:0 ; padding-top:170px; max-width:none; display:table; }
	.box-ratio ul li{display:table-cell; width:20%; vertical-align:top} 
	.box-ratio ul li.thead p { position:absolute; top:0; left:0; width:100%;} 
	.box-ratio ul li.thead p span{ float:none; width:100%; padding:0 0 10px; border-bottom:0 }
	.box-ratio ul li.thead p span:before {display:none;  }
	.box-ratio ul li.thead p span:after { display:none;  }
	.box-ratio ul li.thead div {display:block; width:100%}
	.box-ratio ul li.thead div span { display:table; table-layout:fixed; padding:5px 0; border-top:1px solid #dedede; }
	.box-ratio ul li.thead div span i { display:table-cell; font-size:12px ;height:50px;  vertical-align: middle;}
	.box-ratio ul li.thead div span:nth-of-type(1) { width:100%; padding-left:0;text-align:center; height:90px }
	.box-ratio ul li.thead div span:nth-of-type(2) { width:100%; padding-left:0;text-align:center; }
	.box-ratio ul li.thead div span:nth-of-type(3) { width:100%; }
	.box-ratio ul li.thead div span:nth-of-type(4) { width:100%; }
	.box-ratio ul li.thead div span:nth-of-type(5) { width:100%; }
	.box-ratio ul li.tbody div { display:block; width:100%}
	.box-ratio ul li.tbody div span {display:table; table-layout:fixed; padding:5px 0; border-top:1px solid #dedede; }
	.box-ratio ul li.tbody div span i { display:table-cell; height:50px; font-size:12px; vertical-align: middle; }
	.box-ratio ul li.tbody div span:nth-of-type(1) { width:100%; padding-left:0; text-align:center;  border-left:1px solid #dedede; height:90px}
	.box-ratio ul li.tbody div span:nth-of-type(2) { width:100%; padding-left:0; text-align:center; border-left:1px solid #dedede;}
	.box-ratio ul li.tbody div span:nth-of-type(3) { width:100%; border-left:1px solid #dedede; }
	.box-ratio ul li.tbody div span:nth-of-type(4) { width:100%; border-left:1px solid #dedede; }
	.box-ratio ul li.tbody div span:nth-of-type(5) { width:100%; border-left:1px solid #dedede; } 
	
	.box-ratio.type02 { padding:20px 15px;} 
	.box-ratio.type02 .box-diagram-table > p {top:30px;} 
	.box-ratio.type02 ul { max-width:525px }  
	.box-ratio.type02 ul li{display:table-cell; width:25%; }  
	.box-ratio ul li.thead div span {padding:5px 3px; }
	.box-ratio.type02 ul li.thead div span:nth-of-type(1) { width:100%;  height:40px}
	.box-ratio.type02 ul li.thead div span:nth-of-type(2) { width:100%; text-align:center;}  
	.box-ratio.type02 ul li.tbody div span:nth-of-type(1) { width:100%; padding-left:0; ; height:40px }
	.box-ratio.type02 ul li.tbody div span:nth-of-type(2) { width:100%; padding-left:0; text-align:center;}
	
	.popup-calculation { height:788px; background:url(../images/akl_common/business/img_pop_01_mob.png) no-repeat 50% 0; background-size:305px auto }
	  
}

@media (max-width: 992px) {

	/* 비즈니스 */
	.business .filter-search {border:0 none;}
	.business .filter-search .toggle-buttons-container button {float:left;border:1px solid #d3d3d3;width:calc(50% - 6px)}
	.business .filter-search .toggle-buttons-container button + button {float:left;border:1px solid #d3d3d3;width:calc(50% - 6px);margin-left:12px;}
    .business .filter-search .form-wrapper {width:100%;}
    .business .filter-search .cuton-form-wrapper .form-s input.input-st {width:100%;padding-right:50px;}
	.business .filter-search .cuton-form-wrapper .form-s button {border:0 none;}
	.business .filter-search .cuton-form-wrapper .form-s .btn-primary span {display:none}
	.business .filter-search .form-s {position:relative;}
	.business .filter-search .form-s .btn.btn-primary { position: absolute;right:0; top:0; width:40px; padding:0; border:0;  background: url(../images/search@2x_mobile.png) no-repeat 50% 50% !important; background-size: 15px auto !important; }
	.business .filter-search .form-s .bt-akl-txt {display:none;}
	.business .filter-search .col-md-12 {padding:0}
	.business .filter-search .cuton-sel select.w150 {width:calc(50% - 6px) !important; float:left; margin-right:0 !important}
	.business .filter-search .cuton-sel select.w150 + select {margin-left:12px}
	.business .filter-search .label-sel {display:none} 
}

@media (max-width: 1220px){
	/*  비즈니스 > 사업성장 특별보상 프로그램 > diagram */
	.box-diagram02 .diag-calculation .math-txt.plus {width:6%;}
	.box-diagram02 .diag-calculation .math-txt.last {width:38%;}
}
@media (max-width: 1148px){
	/*  비즈니스 > 사업성장 특별보상 프로그램 > diagram */
	.box-diagram02 .diag-calculation {width:auto; padding-right:30px;} 
	.box-diagram02 .diag-calculation>p {width:auto;}
	.box-diagram02 .diag-calculation p>.math-txt:first-child {width:auto; min-width:150px} 
	.box-diagram02 .diag-calculation [class^=ico-type] {padding-left:72px}
	.box-diagram02 .diag-calculation .math-txt em { text-align:left; margin-left:10px }
	.box-diagram02 .diag-calculation .ico-type-plus {padding-left:0;}
	.box-diagram02 .diag-calculation .math-txt {width:auto; min-width:80px; text-align:center;}
	.box-diagram02 .box-diagram02.diag-calculation .math-txt.plus {width:auto; min-width:50px; text-align:center;}
	.box-diagram02 .diag-calculation .math-txt.last {width:auto;}  
}

@media (max-width:940px){
	/*  비즈니스 > 사업성장 특별보상 프로그램 > diagram */
	.box-diagram02 .diag-calculation {  width:100%; padding:0 ; } 
	.box-diagram02 .diag-calculation>p {width:100%;}
}

@media (max-width: 360px) { 
	/*  비즈니스 > 사업성장 특별보상 프로그램 > diagram */
	.box-ratio ul li.thead div span:nth-of-type(1),.box-ratio ul li.tbody div span:nth-of-type(1) { height:110px }
}

@media (max-width: 320px) {
	/*  비즈니스 > 사업성장 특별보상 프로그램 > diagram */
	.panel-body { padding: 15px 0; }
	.box-ratio ul li.thead div span:nth-of-type(1),.box-ratio ul li.tbody div span:nth-of-type(1) { height:110px }
}
