/************************************************
Version : AKL Hybris UIUX 1.0
Editor : eunmyoung Noh
*************************************************/   

/* 비즈니스 > 시설예약,체험예약 팝업  */
.akl-reservation { text-align:center;  margin:0 auto;  }
.akl-reservation .navigation-tabs-container { margin-top: 20px;}
.akl-reservation .navigation-tabs-container .tab-toggle-wrap:first-child { margin-left: 20px;  }
.akl-reservation .navigation-tabs-container .tab-toggle-wrap:last-child { margin-right: 20px;  }

/* 비즈니스 > 시설예약,체험예약 팝업 > tab */ 
.akl-reservation .navigation-tabs-container .tab-toggle-wrap {min-width: 143px !important;}
.akl-reservation .outer-border-bottom .tabs-toggles .tab-toggle-wrap .tab-toggle .toggle-text {min-width: 143px !important;} 
.akl-reservation .amway-theme .tabs-toggles .tab-toggle-wrap .tab-toggle {padding: 1.1875em 0;}

/* 비즈니스 > 시설예약,체험예약 팝업 >  아이프레임 */ 
.reser-iframe { margin-left:20px;}
 
