/************************************************
Version : AKL Hybris UIUX 1.0
Date : 2018-07-02
Editor : HYEWON HWANG
*************************************************/ 

.colorM {color:#0a70d3 !important;}
.rela {position:relative;}
.fl {float:left;}
.fr {float:right;}
.tl {text-align:left;}
.tr {text-align:right;}

/* 전체메뉴 */
/* select2.css 
.select2-container .select2-selection--single {border:1px solid #dadada;border-radius:0;height:40px;overflow:hidden;}
.select2-container .select2-selection--single:focus {border-color:#002F5F; outline:none;}
.select2-container .select2-selection--single .select2-selection__rendered {padding:0 30px 0 15px;}
.select2-container .selection .select2-selection .select2-selection__rendered {text-transform:uppercase;letter-spacing:.2px;font-weight:400;}
.select2-container--default .select2-selection--single .select2-selection__rendered {line-height:38px;}
.select2-container .selection .select2-selection .select2-selection__arrow {height:38px;padding:0;background: url(/_ui/responsive/theme-blue/images/selector-arrow.png) right center no-repeat #ffffff;background-size:18px auto;}
.select2-container--default .select2-selection--single .select2-selection__arrow b {display:none;}
.select2-dropdown {border-color:#7a9cd3;border-radius:0;}
.select2-search--dropdown {padding:0;}
.select2-container--default .select2-results__option[aria-selected=true]{background-color:#002f5f;color:#fff;}
.select2-container--default .select2-results__option {padding:10px 10px;text-transform:uppercase;line-height:1.5;letter-spacing:.2px;font-weight:100;}
*/

#brandMenu {position:relative;/*top:139px;*/background:#fff;width:100%;}
.brand-fullmenu {padding:25px 0 25px;max-width:1376px;margin:auto;}
.brand-fullmenu .breadcrumb {margin:0;padding:0;}
.brand-fullmenu .breadcrumb li::after {padding:0 5px;content:'/ ';color:#cccccc;}
.brand-fullmenu .breadcrumb li::before, .brand-fullmenu .breadcrumb li:last-child::after, .brand-fullmenu .breadcrumb li > div > div:last-child::after {content:none;}
.brand-fullmenu .breadcrumb li:nth-of-type(3) {width:calc(100% - 110px);padding:0;vertical-align:middle;}
.brand-fullmenu .breadcrumb li > div {display:flex; width:100%;}
.brand-fullmenu .breadcrumb li > div > div {position:relative;padding-right:20px;min-width:230px;} /* pc */
.brand-fullmenu .breadcrumb li > div > div::after {position:absolute;top:8px;right:8px;content:'/ ';color:#cccccc;}
.brand-fullmenu .breadcrumb li > div > div:last-child {padding:0;}
.brand-fullmenu .form-control {width:100%;}
.brand-fullmenu .select2-container {width:100% !important;}

/* ### 공통 ###*/
/* 버튼스타일 */
.arr1 {position:relative;display:inline-block;} /* 오른쪽 화살표 > */
.arr1:after {content:'';position:absolute;top:50%;right:-9px;width:7px;height:7px;transform:rotate(45deg) translatey(-50%);border:2px solid #fff;border-width:2px 2px 0 0;}
.brand img:hover, .brand a:hover{-webkit-transform:none !important;-ms-transform:none !important;transform:none !important;}


/* ### 브랜드 템플릿 ### */ 

/* 브랜드 메인 레이아웃 */
.brand {letter-spacing:-1px;}
.full-component {position:relative;width:100%;max-width:1400px;margin:0 auto;}
.full-component img {width:100%;}

/* 메인 비주얼 영역 */
.akl .brand .homepage_banner, 
.akl .brand .homepage_banner .owl-carousel .owl-stage-outer,
.akl .brand .homepage_banner .wrapper .banner__wrapper,
.akl .brand .homepage_banner .owl-carousel .owl-item .banner__image-sub {height:727px;}

.akl .brand .homepage_banner .owl-dots {right:0;left:0;bottom:auto;top:50%;width:1367px;margin:auto;}
.akl .brand .homepage_banner .owl-dots .owl-dot {position:relative;display:block;left:0;right:auto;padding:10px 0 10px 30px !important;text-align:left;color:#fff;font-size:16px;font-weight:100;}
.akl .brand .homepage_banner .owl-dots .owl-dot.active:before {content:'';display:block;position:absolute;left:0;top:20px;width:20px;height:3px;background:#e11e44;}
.akl .brand .homepage_banner .owl-dots .owl-dot.active {font-weight:400;font-size:17px;}
.akl .brand .homepage_banner .owl-dots .owl-dot span {background:none;box-shadow:none;width:auto;height:auto;margin:0;}

.akl .brand .homepage_banner .wrapper {background:#fff;}
.akl .brand .homepage_banner .banner__wrapper {max-width:1376px;}
.akl .brand .homepage_banner .banner__wrapper * {color:#fff !important;}
.akl .brand .homepage_banner .banner__title {position:absolute;z-index:11;top:40px;right:0;padding:10px 40px 0 0;font-size:14px;}
.akl .brand .homepage_banner .banner__title:before {content:'';display:block;position:absolute;right:0;top:0px;width:83px;height:3px;background:#e11e44;}
/* 기본 스타일 */
.akl .brand .homepage_banner .banner__wrapper .banner__message {position:absolute;top:17%;left:50%;width:40%;height:70%;margin:0;padding:30px;}
.akl .brand .homepage_banner .banner__message:before {content:'';position:absolute;z-index:-1;right:0;top:0;display:block;width:75%;height:100%;background:#e11e44;}
.akl .brand .homepage_banner .banner__message--main {font-size:44px;font-weight:500;line-height:1.3;}
.akl .brand .homepage_banner .banner__message--sub {position:absolute;right:30px;bottom:40px;padding:50px 0 0;width:auto;font-size:16px; line-height:1.5;}

/* 암웨이퀸 두번째 스타일 */
.akl .brand .homepage_banner .banner__wrapper.s2 {}
.akl .brand .homepage_banner  .owl-carousel .owl-item .banner__wrapper.s2 .banner__image-sub { position:absolute;z-index:1;float:none;height:auto;width:70%;max-width:708px;margin:0; left:50%; top:45%;
	-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}
.akl .brand .homepage_banner .banner__wrapper.s2 .banner__message {top:72%;left:50%;right:auto;width:700px;height:auto;transform:translate(-50%,-50%);}
.akl .brand .homepage_banner .banner__wrapper.s2 .banner__message:before, 
.akl .brand .homepage_banner .banner__wrapper.s3 .banner__message:before {content:none;}
.akl .brand .homepage_banner .banner__wrapper.s2 .banner__message--sub {position:relative;right:auto;bottom:auto;width:100%;padding:0;}

/* 암웨이퀸 세번째 스타일 */
.akl .brand .homepage_banner .banner__wrapper.s3 .banner__message {top:10%;left:20%;max-width:800px;width:75%;height:auto;}
.akl .brand .homepage_banner .banner__wrapper.s3 .banner__message--main {font-size:25px;font-weight:400;} 
.akl .brand .homepage_banner .banner__wrapper.s3 .banner__message--sub {position:relative;right:auto;bottom:auto;width:100%;padding-top:24px;margin-top:10px;}
.akl .brand .homepage_banner .banner__wrapper.s3 .banner__message--sub:before {content:'';display:block;position:absolute;left:0;top:0px;width:33px;height:3px;background:#e11e44;}
.akl .brand .homepage_banner .banner__wrapper.s3 .banner__message--sub > div {width:48%;float:left;}
.akl .brand .homepage_banner .banner__wrapper.s3 .banner__message--sub > div:last-child {float:right;}
.akl .brand .homepage_banner .banner__wrapper.s3 .banner__message--sub > div > p {margin-bottom:40px;font-size:14px;}
.akl .brand .homepage_banner .banner__wrapper.s3 .banner__message--sub > div > p strong {display:block;font-size:16px;margin-bottom:10px;}
/**/

.title-component {clear:both;margin:50px 0 50px;text-align:center;}
.title-component h2 {margin:0;text-transform:none;}
.title-component h2 span {display:block;font-size:24px;font-weight:400;margin-bottom:8px;}
.title-component > p {margin:10px 0 0;font-size:18px;font-weight:400;line-height:1.4;letter-spacing:-1px;}
.title-component .title-ul {margin:40px auto;width:80%;display:flex;}
.title-component .title-ul li{position:relative;padding:75px 0 0;display:inline-block;-webkit-flex:1;flex:1;text-align:center;font-weight:700;}
.title-component .title-ul li:before {content:'';display:block;position:absolute;top:0;width:100%;height:60px;background:url('../images/akl_brand/queen/queen_icons.png') no-repeat 50% 0;background-size:62px auto;}
.title-component .title-ul li:nth-of-type(2):before {background-position-y:-96px;}
.title-component .title-ul li:nth-of-type(3):before {background-position-y:-196px;}
.title-component .title-ul li:nth-of-type(4):before {background-position-y:-300px;}
.title-component .title-ul li:nth-of-type(5):before {background-position-y:-395px;}
.title-component + .content-row {margin-top:0;}

.brand .video-preview {margin:0;height:400px;overflow:hidden;background:url('/_ui/responsive/theme-blue/images/akl_brand/queen/movie_bg.jpg') no-repeat 50% 50%;background-size:1376px auto;}
.oneforone .video-preview {background-image:url('/_ui/responsive/theme-blue/images/akl_brand/oneforone/movie_bg.jpg');}
.espring .video-preview {background-image:url('/_ui/responsive/theme-blue/images/akl_brand/espring/movie_bg.jpg');}
.artistry .video-preview {background-image:url('/_ui/responsive/theme-blue/images/akl_brand/artistry/movie_bg.jpg');}

.content-row {position:relative;clear:both;overflow:hidden;display:flex;width:100%;margin-top:60px;}
.content-row article {position:relative;-webkit-flex:1;flex:1;max-width:50%;}
.content-row.col3 article {max-width:31.0%;}
.content-row article + article {margin-left:2.3%;}
.content-row article .cont-type1 {margin:0;height:100%;background:#f4f4f4;}
.content-row article img {width:100%;}
.content-row article .cont-type1 figcaption{padding:20px 20px 10px;font-size:16px;font-weight:500;color:#002f5f;}
.content-row article .cont-type1 figcaption + p {margin:0;padding:0 20px 20px;line-height:1.8;}

.akl .brand .item-content-wrap h2 {margin:0 0 10px;}
.akl .brand .category-success-story .success-story__item {-webkit-flex:1;flex:1;max-width:50%;}
.akl .brand .category-success-story .success-story__item + .success-story__item {margin-left:2.3%;padding:0;}

.txtbox {position:relative;display:flex;align-items:center;margin:0;width:100%;height:400px;overflow:hidden;background-repeat:no-repeat;background-position:50% 0;background-size:1200px auto;}
.txtbox div{position:absolute;max-height:100%;max-width:50%;}
.txtbox img {width:100%;}
.txtbox .mob-image {display:none;}
.txtbox h3 {font-size:34px;font-weight:400;line-height:1.2;color:#00305e;}
.txtbox p {margin-top:10px;font-size:20px;}
.txtbox div.s1 {left:7%;max-width:50%;}
.txtbox div.s2 {left:51%;}
.txtbox div span {display:block;margin-top:10px;}
.txtbox div a.arr1:after {border-color:#0075a4;}
.txtbox div strong {color:#00305e;font-weight:700;}

/* 뉴트리라이트 */
.nutrilite .txtbox.s1 {background-image:url('/_ui/responsive/theme-blue/images/akl_brand/nutrilite/fullimg1.png');}
.nutrilite .txtbox.s2:before {content:"";position:absolute;z-index:-1;left:0;display:block;width:650px;height:100%;background:url('/_ui/responsive/theme-blue/images/akl_brand/nutrilite/fullimg2.jpg') no-repeat 0 0;}
.nutrilite .txtbox.s2:after {content:"";position:absolute;z-index:-1;right:0;display:block;width:550px;height:100%;background:url('/_ui/responsive/theme-blue/images/akl_brand/nutrilite/fullimg2.jpg') no-repeat 100% 0;}
.nutrilite .txtbox div.s2 h3 {color:#20893d;}

/* 배스/바디 */
.bathbody .txtbox.s1 {height:454px;background-image:url('/_ui/responsive/theme-blue/images/akl_brand/bathbody/fullimg1.jpg');background-position:50% 0;background-size:1376px auto;}
.bathbody .txtbox.s2 {height:490px;background-image:url('/_ui/responsive/theme-blue/images/akl_brand/bathbody/fullimg2.jpg');background-position:50% 0;background-size:1376px auto;}
.bathbody .txtbox.s3 {height:464px;background-image:url('/_ui/responsive/theme-blue/images/akl_brand/bathbody/fullimg3.jpg');background-position:50% 0;background-size:1376px auto;}
.bathbody .txtbox div.s2 {left:60%;max-width:40%;}
.bathbody .txtbox h3, .bathbody .txtbox p {color:#000;}
.bathbody .txtbox.s1 div h3, .bathbody .txtbox.s1 div p {color:#fff;}
.bathbody .txtbox.s1 div a.arr1 {color:#fff;}
.bathbody .txtbox.s1 div a.arr1:after {border-color:#fff;}

/* 아티스트리 */
.akl .artistry .homepage_banner .banner__message:before,
.akl .artistry .homepage_banner .banner__title:before,
.akl .artistry .homepage_banner .owl-dots .owl-dot.active:before {background-color:#e1b738;}
.artistry .txtbox.s1 {background-image:url('/_ui/responsive/theme-blue/images/akl_brand/artistry/fullimg1.jpg');background-position:50% 0;background-size:1376px auto;}
.artistry .txtbox.s2 {background-image:url('/_ui/responsive/theme-blue/images/akl_brand/artistry/fullimg2.jpg');background-position:50% 0;background-size:1376px auto;}
.artistry .txtbox.s3 {background-image:url('/_ui/responsive/theme-blue/images/akl_brand/artistry/fullimg3.jpg');background-position:50% 0;background-size:1376px auto;}
.artistry .txtbox.s4 {background-image:url('/_ui/responsive/theme-blue/images/akl_brand/artistry/fullimg4.jpg');background-position:50% 0;background-size:1376px auto;}
.artistry .txtbox.s1 div, .artistry .txtbox.s2 div {top:50px;max-width:90%;}
.artistry .txtbox.s4 h3 {color:#000;font-size:40px;}
.artistry .txtbox.s4 p {color:#000;font-size:16px;font-style:italic;letter-spacing:0;} 

/* 이스프링 */
.espring .txtbox.s1 {background-image:url('/_ui/responsive/theme-blue/images/akl_brand/espring/fullimg1.jpg');background-position:50% 0;background-size:1376px auto;}
.espring .txtbox.s2 {background-image:url('/_ui/responsive/theme-blue/images/akl_brand/espring/fullimg2.jpg');background-position:50% 0;background-size:1376px auto;}
.espring .txtbox.s1 div, .espring .txtbox.s2 div {top:50px;max-width:90%;}
.espring .txtbox.s1 p, .espring .txtbox.s2 p {font-size:16px;}
.espring .txtbox.s1 p.b {color:#00305e;font-size:20px;font-weight:400;}

/* 엣모스피어 */
.atmosphere .txtbox.s1 {height:574px;background-image:url('/_ui/responsive/theme-blue/images/akl_brand/atmosphere/fullimg1.png');background-position:50% 0;background-size:1376px auto;}
.atmosphere .txtbox.s2 {background-image:url('/_ui/responsive/theme-blue/images/akl_brand/atmosphere/fullimg2.jpg');background-position:55% 0;background-size:1376px auto;}
.atmosphere .txtbox.s3 {background-image:url('/_ui/responsive/theme-blue/images/akl_brand/atmosphere/fullimg3.jpg');background-position:50% 0;background-size:1376px auto;}
.atmosphere .title-component.t1 {margin-top:-82px;}
.atmosphere .txtbox {-webkit-justify-content: center; justify-content:center;} 
.atmosphere .txtbox.s1 div {max-width:100%;top:140px;}
.atmosphere .txtbox.s2 div {max-width:100%;top:10px;}
.atmosphere .txtbox.s3 div {left:19%;top:35%;}

/* XS에너지 */


/* ### 암웨이소개: 레이아웃 ### */
.brand .brand-contents {position:relative;}
.brand .brand-contents > h1 {margin:10px 0 27px;}
.brand .brand-contents > h1 + .tit-txt {margin:-15px 0 30px;} 
.brand .brand-contents h2{font-size:18px;text-align:left;text-transform:none;letter-spacing:-1px;margin:0 0 20px;}
.brand .brand-contents h2:not(:first-child) {margin-top:40px;}
.brand .brand-contents h3 {margin-bottom:10px;}
.brand .brand-contents p {margin:0 0 10px;}
.brand-cont1, .tit-txt + section {margin-top:30px;}
.brand-cont1 > article:nth-of-type(1){margin-top:0;}
.brand-cont1 article{margin-top:30px;overflow:hidden;clear:both;}
.brand-cont1 article > div {float:left;width:60%;}
.brand-cont1 article > div:last-child{width:40%;height:100%;background:#eee;}
.brand-cont1 article dl {overflow:hidden;}
.brand-cont1 article dl dt {float:left;margin-top:10px;}
.brand-cont1 article dl dd {padding-left:100px;margin-top:10px;}
.brand-cont1 article dl dd span{display:block;}
.brand-cont1 article a {text-decoration:underline;}


.brand-contents .accordion-custom .pull-right {position:absolute;display:inline-block;top:50%;right:0;margin-top:-6px;}
.brand-contents .accordion-custom .pull-right:before {position:absolute;right:0;}
.brand-contents section .con-title {font-size:20px;letter-spacing:-2px;font-weight:500;}
.brand-contents .list-type5 > li > strong {display:block;}

.brand-contents .col-search-tab {margin-top:40px;}
.brand-contents .col-search-tab li:last-child a {border-right:1px solid #dadada;}

.akl .bod-customer.nonepointer {padding:0;}
.akl .nonepointer .thumnail-box .featured-product__thumnail,
.akl .nonepointer .news-result-item-text {cursor:default;min-height:80px;text-align:center;}
.akl .nonepointer .featured-product__title:hover {color:#002f5f;}

/* 연혁 */
.history-area {display:block;margin-top:30px;}
.history-area article {
    display: inline-block;
    width: 100%;
    height: 100%;
    max-height: 180px;}

/* 부산 아시아 물류 허브 센터 */    
    



/* ### 글로벌 암웨이 ### */ 

/* 미디어 라이브러리 게시판 == customer > 공지사항 레이아웃(.customer-area)을 따름. */
/* 이벤트 > 목록 */
.akl .list-content.evt-list .cuo-subje {width:60%;}



@media (max-width: 768px){
	
	/* 브랜드 전체메뉴 */
	#brandMenu {top:0;}
	.akl .brand-fullmenu {padding:10px 0;}
	.brand-fullmenu .select.form-control {width:100%;}
	.brand-fullmenu .breadcrumb li:nth-of-type(3) {display:block;margin-top:10px;width:100%;}
	.brand-fullmenu .breadcrumb li > div > div {position:relative;padding-right:10px;flex:1;min-width:33%;}
	.brand-fullmenu .breadcrumb li > div > div::after {content:none;}
	.brand-fullmenu .breadcrumb li > div > div .form-control {width:100%;}
	
	.select2-container .select2-selection--single {width:100%;}
	.select2-container .selection .select2-selection .select2-selection__rendered {max-width:100%;}
	
	.brand .brand-contents > h1 {margin:10px 0 27px;}
	.brand .brand-contents > h1 + .tit-txt {margin:-15px 0 15px;} 

	/* 브랜드 템플릿 */
	.akl .brand .homepage_banner, 
	.akl .brand .homepage_banner .owl-carousel .owl-stage-outer,
	.akl .brand .homepage_banner .wrapper .banner__wrapper,
	.akl .brand .homepage_banner .owl-carousel .owl-item .banner__image-sub {height:auto;}
	
	.akl .brand .homepage_banner .owl-dots {top:auto;bottom:20px;width:100%;}
	.akl .brand .homepage_banner .owl-dots .owl-dot {display:inline-block;padding:0 !important;}
	.akl .brand .homepage_banner .owl-dots .owl-dot.active:before {content:none;}
	.akl .brand .homepage_banner .owl-dots .owl-dot span {width:30px;height:10px;background:rgba(0,0,0,0.5);font-size:0;border-radius:0;margin:5px 5px;}
	.akl .brand .homepage_banner .owl-dots .owl-dot.active span {background:#cb1a3a;}
	
	.akl .brand .homepage_banner .banner__wrapper .banner__message {width:80%;left:20%;margin:0;padding:30px 20px 20px;}
	.akl .brand .homepage_banner .banner__message--main {font-size:25px;line-height:1.4;text-align:left;}
	.akl .brand .homepage_banner .banner__message--sub {position:relative;display:block;right:auto;bottom:auto;font-size:14px;padding:30px 0 0 30%;}
	.akl .brand .homepage_banner .banner__wrapper .banner__image {display:none;}
	
	.brand .video-preview {height:320px;background-size:auto 100%;}

	.content-row {display:block;}
	.content-row article, .content-row.col3 article {max-width:100%;margin:0 0 30px;}
	.content-row.col3 + .content-row.col3 {margin-top:30px;}
	.content-row article + article {margin-left:0;}
	.content-row article:last-child {margin-bottom:0;}
	
	.akl .brand .category-success-story {display:block;margin:0;}
	.akl .brand .category-success-story .success-story__item {max-width:100%;margin:30px 0 0;}
	.akl .brand .category-success-story .success-story__item + .success-story__item {margin-left:0;}
	
	.title-component .title-ul {display:block;width:60%;}
	.title-component .title-ul li {display:block;margin-top:30px;padding:0 0 0 73px;text-align:left;}
	.title-component .title-ul li:before {width:50px;height:50px;left:0;background-size:52px auto;}
	.title-component .title-ul li:nth-of-type(2):before {background-position-y:-90px;}
	.title-component .title-ul li:nth-of-type(3):before {background-position-y:-165px;}
	.title-component .title-ul li:nth-of-type(4):before {background-position-y:-250px;}
	.title-component .title-ul li:nth-of-type(5):before {background-position-y:-332px;}
	
	.txtbox .desktop-image {display:none;}
	.txtbox .mob-image {display:block;}
	.txtbox h3 {font-size:26px;}
	.txtbox p {display:none;}
	.txtbox div.s2 {left:49%;}
	.txtbox div.s2 span {margin-top:20px;}
	.txtbox {max-height:400px;}
	
	/* 아티스트리 */
	.artistry .txtbox.s1 p, .artistry .txtbox.s2 p {display:block;}
	/* 이스프링 */
	.espring .txtbox.s1 p, .espring .txtbox.s2 p {display:block;}
	/* 엣모스피어 */


	/* 한국암웨이 */ 
	.brand-cont1 article {float:none;width:100% !important;}
	.brand-cont1 article + article {margin-top:15px;}
	
	/* 글로벌 암웨이 */	 
}