/************************************************
Version : AKL Hybris UIUX 1.0
Date : 2018-01-25
Editor : minjung Koo
*************************************************/
/* common */
.akl .container {clear:both;display:block;margin:0 auto;}
.akl .title-box {clear:both;display:block;padding:10px 0 0}


/* 주문결제 */
.akl .col-md-9.cart-items-wrapper {padding:0 15px 0 0; margin:0;}
.akl .col-md-3.shipping-delivery-summary {padding-right:0;padding-left:0;}
.akl .checkout-step {font-size:16px;font-weight:500;letter-spacing:-1px;}
.akl .shipping-delivery-shipping-header {font-size:16px;font-weight:500;letter-spacing:-1px;margin-bottom:12px;}
.akl .shipping-delivery-radio-body {margin:17px 0 0 30px}
.akl .shipping-delivery > .form-group > input {width:100%;}
.btn-delivery-guide {padding-left:10px;}
.delivery-txt {padding:0 0 20px;}
.akl .shipping-delivery-ship .panel label {line-height:18px;}
.akl .shipping-delivery-ship {clear:both;display:block;margin:0 0;padding:35px 0;}
.akl .shipping-delivery-ship:after {clear:both;display:block;content:'';}
label.tax-bill {display:inline-block;}
span.btn-business {display:inline-block;}
.shipping-list-order span {display:block;margin-top:20px}
.akl .amwa-btnbar {margin:0 auto; text-align:center;padding:20px 0 0}
.akl .shipping-delivery-radio-body.card {margin:17px 0 0 0}
.akl .show-more-products-wrapper {clear:both;display:block;}

/* 주문결제 > Tab */
.akl .amway-theme.order-payment {}
.akl .amway-theme.order-payment .tabs-toggles {border-bottom:0 none;}
.akl .amway-theme.order-payment .outer-border-bottom .tabs-toggles .tab-toggle-wrap {min-width:62px;padding:0 0;}
.akl .amway-theme.order-payment .tabs-toggles .tab-toggle-wrap .tab-toggle {border:1px solid #dadada;background:#f4f4f4;padding:0 0;min-width:62px;height:38px;}
.akl .amway-theme.order-payment .tabs-toggles .tab-toggle-wrap .tab-toggle .toggle-text {font-size:14px;color:#bbb;font-weight:700}
.akl .amway-theme.order-payment .tabs-toggles .tab-toggle-wrap.active .tab-toggle {border:1px solid #dadada;background:#fff;}
.akl .amway-theme.order-payment .tabs-toggles .tab-toggle-wrap.active .tab-toggle .toggle-text {color:#20893d;font-weight:700}
.akl .amway-theme.order-payment .tabs-toggles .tab-toggle-wrap:first-child .tab-toggle {border-top-left-radius:4px;border-top-right-radius:0px;border-bottom-right-radius:0px;border-bottom-left-radius:4px;}
.akl .amway-theme.order-payment .tabs-toggles .tab-toggle-wrap:last-child .tab-toggle {margin-left:-1px;border-top-left-radius:0px;border-top-right-radius:4px;border-bottom-right-radius:4px;border-bottom-left-radius:0px;}

/* 주문결제 > 단일 */
.single-body {position:relative;}
.btn-adress-list {position: absolute;top:-51px;left:160px;}
.btn-adress-list.mounting {position: relative;top:0;left:0;}

/* 주문결제 > 단일 > 기본배송지 */
.default-shipping-address {clear:both;display:block;border-top:1px solid #e3e3e3;border-bottom:1px solid #e3e3e3;overflow:hidden;margin-top:30px;padding:20px 0 0}
.default-shipping-address.no-botm {border-bottom:0 none;}
.address-tit {font-size:16px;font-weight:500;letter-spacing:-1px;}
.default-shipping-address .detail-content {margin:0 0;padding:0 0;letter-spacing:-1px;width:100%;}
.default-shipping-address .detail-content .col-xs-12 {margin:0 0 10px;padding:0 0;}
.default-shipping-address .detail-content .col-xs-12 .col-md-2.left-content {padding:0 0;font-size:14px;font-weight:500;color:#002f5f;}
.default-shipping-address .detail-content .form-group label {margin-right:0;}
.default-shipping-address .detail-content .form-group label.control-label {font-size:14px;font-weight:500;color:#002f5f;}
.default-shipping-address .detail-content .right-info {font-size:14px;font-weight:400;}
.default-shipping-address .detail-content input.form-control {width:90%;}
.default-shipping-address .message-shop {padding:15px 30px 0 10px;}

/* 주문결제 > 단일 > 새배송지 */
.new-shipping-address {border-top:1px solid #e3e3e3;border-bottom:1px solid #e3e3e3;overflow:hidden;margin-top:30px;padding:20px 0 0}
.new-message-shop {padding:0 0 10px;}
.new-message-shop > p {font-size:13px; font-weight:400;letter-spacing:-1px;}
.new-message-shop > p span {vertical-align:middle;}
.new-shipping-address .detail-content {width:100%;}
.new-shipping-address .detail-content .col-md-3 {padding:0 0;margin:0 0;}
.new-shipping-address .detail-content .col-md-9 {padding:0 0 0 10px;margin:0 0;}
.new-shipping-address .detail-content .col-xs-12 {padding:0 0;margin:0 0;}
.new-shipping-address .detail-content .new-cart {width:100%;text-align:left;}
.new-shipping-address .detail-content .new-cart .delv-shopbox {width:600px;}
.new-shipping-address .detail-content .new-cart .delv-shopbox label {text-align:left;}
.new-shipping-address .detail-content .new-cart .delv-shopbox .form-group {width:100%;}
.new-shipping-address .detail-content .new-cart .delv-shopbox label.control-label {font-size:14px;font-weight:500;color:#002f5f;}
.new-shipping-address .detail-content .new-cart .delv-shopbox .form-group .address p {margin-right:105px}
.new-shipping-address .detail-content .new-cart .delv-shopbox .form-group .address input[type="text"] {width:98%;}
.new-shipping-address .new-shipping-agree .form-group {width:100%;padding:10px 0 0;}
.new-shipping-address .new-shipping-agree p {font-size:14px;font-weight:500;}
.new-shipping-address .new-shipping-agree .form-group > label {padding-top:0 !important;}
.new-shipping-address .new-shipping-btnw .list-type2 li span {display:inline-block;vertical-align:top;margin:0 0;padding:0 0;}
.new-shipping-address .new-shipping-btnw .list-type2 li {vertical-align:top;}
.new-shipping-address .new-shipping-agree .form-group {width:100%;padding:10px 0 0;}
.new-shipping-address .new-shipping-agree .form-group > label {padding-top:0 !important;}

.pot-basic {color:#0075a4;font-size:13px;}
.new-shipping-address .new-shipping-btnw {padding-bottom:20px}
.new-shipping-address .new-shipping-btnw .list-type2 {padding:0;margin:0 0 20px;}
.new-shipping-address .phone-group {padding-left:10px !important;}
.new-shipping-address .phone-group > .control-group {width:30%;margin:0 0;padding:0 0;float:none;display:table-cell;vertical-align:top;}
.new-shipping-address .phone-group > .form-group {width:70%;margin:0 0;padding:0 0;float:none;display:table-cell;vertical-align:top;}

/* 주문결제 > 단일 > 배송지 목록 */
.address-book {}
.address-book input {vertical-align:middle;width:60%;}
.address-book button {vertical-align:middle;}
.address-book .btn.btn-primary {margin-left:10px;}
.address-book button.link-btn {margin-left:30px}
p.my-Shipping-txt {font-size:16px;font-weight:500;letter-spacing:-1px;padding:10px 0 10px;margin:0;}
.table-wrapper.my-Shipping-list  {height:260px;overflow:auto;}
.table-wrapper.my-Shipping-list .tbl-type1 tr:nth-child(even) td {background:#f4f4f4;}
.table-wrapper.my-Shipping-list .tbl-type1 td.no-data {text-align:center;padding:30px 0;}
.table-wrapper.my-Shipping-list .tbl-type1 td.right {text-align:right;}
.my-Shipping-info {padding:10px 0 0}

/* 주문결제 > 복수 */
.pay-sender {border-bottom:1px solid #e3e3e3;padding:10px 0 30px}
.pay-sender .form-group .col-md-3 {padding:0 0;}
.pay-sender .form-group .col-md-3 label {font-size:14px;font-weight:500;color:#002f5f !important;}
.pay-sender .form-group .col-md-8 {padding:0 0;}
.pay-sender .form-group .col-md-8 input {margin-left:0;width:50%;}
.pay-sender .form-group .col-md-8 select.form-control {width:20%;}
.pay-sender .form-group .col-md-8.send-phone input {margin-left:0;width:29.5%;}

.revenge-shipping-info {margin-top:30px}
.revenge-shipping-info p.tit {margin:0;padding:0 0;font-size:16px;font-weight:500;letter-spacing:-1px;}
.rev-default {padding:20px 0 0}
.rev-default span{display:inline-block;}
.btn-defult-list {margin-left:30px;}
.reven-ship-title {clear:both;display:block;padding:20px 0 0}
.reven-ship-title:after {clear:both;display:block;content:''}
.reven-ship-title .left {float:left;font-size:14px;font-weight:400;letter-spacing:-1px;}
.reven-ship-title .right {float:right;}
.reven-ship-title .right span {padding:0 8px 0 12px;display:inline-block;background:url("../images/akl_common/ico_line.png") no-repeat left center;}
.reven-ship-title .right span:first-child {padding:0 8px 0 0;background:none}
.akl-toggle-wrap.reven-ship {margin-top:10px}

.akl .reven-ship .accordion-custom .panel-title {padding:12px 10px 14px;position:relative;}
.akl .reven-ship .accordion-custom .panel {border:initial;border-bottom:1px solid #e3e3e3 !important;}
.akl .reven-ship .panel-group .panel + .panel {margin-top:0;}
.akl .reven-ship .panel-title .text-uppercase .accordion-header-text {font-size:14px;font-weight:500;letter-spacing:-1px;}
.akl .reven-ship .panel-title .text-uppercase .accordion-header-name {font-size:14px;font-weight:500;letter-spacing:-1px;padding-left:30px;}
.akl .reven-ship .icon-minus {font-size:30px;font-weight:700;line-height:20px;}
.akl .reven-ship .icon-minus:before {font-size:30px;font-weight:700;line-height:20px;}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {.akl .reven-ship .accordion-custom .icon-minus {line-height:25px;}}

.reven-ship-box {position:relative}
.reven-ship-box .p-delect {position: absolute;top:0;right:5px;}
.reven-ship-box p {margin:0;padding:5px 20px 0 0;font-size:14px;font-weight:400;letter-spacing:-1px;line-height:22px;}
.form-group.ship-messige {}
.form-group.ship-messige label {display:block;}
.form-group.ship-messige input {display:block;width:60%;margin-left:0;}
.messige-batch {padding:10px 0 0}
.agree-raio-area {display:block;padding:15px 0 0}

.new-shipp-info {margin-top:40px}
.akl .new-shipp-info .accordion-custom .panel-title {padding:12px 10px 14px;}
.new-shipp-info .accordion-header-text {color:#0075a4;}

.detail-content .new-shipping-agree .form-group {width:100%;padding:10px 0 0;}
.detail-content .new-shipping-agree .form-group > label {padding-top:0 !important;}

/* 주문결제 > 복수 > 배송지 목록(복수)*/
.pop-revenge-mob {display:none;}
.pop-revenge-web {display:block;width:100%;}

.row.po-revlist-body {padding:0 0;}
.row.po-revlist-body .col-md-5 {padding:0 0;width:46%;}
.row.po-revlist-body .col-md-2 {padding:130px 0 0;width:8%;text-align:center;}
.row.po-revlist-body .col-md-5 {padding:0 0;width:46%;}
.row.po-revlist-body .col-md-2 p {padding:20px 0 0}

.po-rev-title {padding:20px 0 10px}
.po-rev-title strong {font-weight:500;}
.table-wrapper.my-revenge-list  {height:260px;overflow:auto;}
.table-wrapper.my-revenge-list .tbl-type1 tr:nth-child(even) td {background:#f4f4f4;}
.table-wrapper.my-revenge-list .tbl-type1 td {padding:15px 15px;}
.table-wrapper.my-revenge-list .tbl-type1 td.no-data {text-align:center;padding:30px 0;}
.table-wrapper.my-revenge-list .tbl-type1 td.center {text-align:center;}
.table-wrapper.my-revenge-list .tbl-type1 p {padding:5px 0 0;margin:0;}
.table-wrapper.my-revenge-list .tbl-type1 p:first-child {padding:0 0 0;}

/* 주문결제 > 복수 > 새배송지 */
.new-shipp-info .detail-content {width:100%;}
.new-shipp-info .detail-content .col-md-3 {padding:0 0;margin:0 0;}
.new-shipp-info .detail-content .col-md-9 {padding:0 0 0 10px;margin:0 0;}
.new-shipp-info .detail-content .col-xs-12 {padding:0 0;margin:0 0;}
.akl .new-shipp-info .detail-content .form-group > label {padding-top:0;}
.new-shipp-info .detail-content .new-cart {width:100%;text-align:left;}
.new-shipp-info .detail-content .new-cart .delv-shopbox {width:600px;}
.new-shipp-info .detail-content .new-cart .delv-shopbox label {text-align:left;}
.new-shipp-info .detail-content .new-cart .delv-shopbox label.control-label {font-size:14px;font-weight:500;color:#002f5f;}
.new-shipp-info .detail-content .new-cart .delv-shopbox .form-group .address p {margin-right:105px}
.new-shipp-info .detail-content .new-cart .delv-shopbox .form-group .address input[type="text"] {width:98%;}
.new-shipp-info .phone-group {padding-left:10px !important;}
.new-shipp-info .phone-group > .control-group {width:30%;margin:0 0;padding:0 0;float:none;display:table-cell;vertical-align:top;}
.new-shipp-info .phone-group > .form-group {width:70%;margin:0 0;padding:0 0;float:none;display:table-cell;vertical-align:top;}

/* 주문결제 > 픽업주문 */
.pickup-order-body {}
.pickup-ap {padding-bottom:10px;}
.pickup-ap span {font-size:14px;font-weight:500;}
.pickup-ap .btn-ap {padding-left:20px;}
.pickup-gge {width:60%;}
.akl .pickup-gge .form-group {margin:0 0;padding:0 0;}
.akl .pickup-gge .form-group select.form-control {width:50%;}
.ads-sm {font-size:14px;font-weight:400;margin:0 0;padding:8px 0 0}
.shipping-delivery .form-group label {text-transform:initial;}

/* 주문결제 > 픽업주문 > AP안내 */
ul.ap-tabs {margin:0;padding:0;}
ul.ap-tabs li {display:inline-block;font-size:14px;color:#0075a4;padding:0 10px;border-left:1px solid #55565a;margin-bottom:10px;}
ul.ap-tabs li a.active {color:#56565a;}
ul.ap-tabs li:first-child {border-left:0 none;padding:0 10px 0 0}
.aptab_content  {width:100%;margin:20px 0 0;padding:0;overflow:hidden;}
.ap-container {margin:0 auto;}
.map-info-pay {padding:0 0 20px;}
.ap-map-google {}
.ap-map-google img {width:100%;height:auto;}
.tab-tit {font-weight:500;font-size:16px;}
.title-adder, .title-phone, .title-time {font-size:14px;color:#002f5f;font-weight:500;margin-top:30px}
.title-adder {background:url("../images/akl_common/ico_address.png") no-repeat left top;padding:0 0 0 30px;}
.title-phone {background:url("../images/akl_common/ico_phone.png") no-repeat left top;padding:0 0 0 30px;}
.title-time {background:url("../images/akl_common/ico_time.png") no-repeat left top;padding:0 0 0 30px;}
.map-inp-txt {padding:0 30px;font-size:14px;font-weight:400;letter-spacing:-1px;}
.map-inp-txt p {margin:0;padding:0 0 5px;}
.map-inp-txt ul {}
.map-inp-txt ul > li {background:url("../images/akl_common/ico_dot_arrow.png") no-repeat left 9px;padding:0 0 0 12px;margin-bottom:5px}
.map-inp-txt ul > li ul li {background:none;padding:0 0 0 0;margin-bottom:0}
.map-inp-txt ul > li ul li strong {color:#002f5f;font-weight:500;}

/* 주문결제 > 결제방법 선택 */
.shipping-delivery-ship.method .panel {margin:15px 0 0;}

.panel-body.paymemnt {padding:0 0 20px;border-bottom:1px solid #e3e3e3;}
.card-promotion {clear:both;display:block;border:1px solid #dadada;padding:20px 20px 0;overflow:hidden;margin:10px 0 20px;}
.card-promotion:after {clear:both;display:block;content:''}
.card-promotion span {float:left;vertical-align:top;}
.card-promotion dl {float:left;vertical-align:top;width:50%;margin-left:40px;letter-spacing:-1px;}
.card-promotion dl dt {font-size:14px;font-weight:500;color:#002f5f;}
.card-promotion dl dd {font-size:14px;font-weight:400;}

.row.card-method {padding:0 0;letter-spacing:-1px;}
.row.card-method .form-group > .col-md-3 {padding:0 0;}
.row.card-method .form-group > label {font-size:14px;font-weight:500;color:#002f5f;}
.row.card-method .form-group select.shipping-delivery-size {margin-left:0 !important;display:inline-block;vertical-align:middle;font-size:14px;}
.row.card-method .form-group .card-tit, .row.card-method .form-group .card-tit label {font-size:14px;font-weight:500;color:#002f5f;}
.row.card-method .form-group input {font-size:13px;font-weight:400;}

.comm-inp {margin-left:0 !important;}
.a-point {margin:0;padding:0 0;}
.a-point input {margin-left:0 !important;text-align:right;}
.a-point span.txt-won {font-size:14px;font-weight:400;padding:0 10px 0 5px;}
.a-point.info {padding:8px 0 0}
.a-point input.auto-pw {text-align:left;}

.card-kinds {display:inline-block;vertical-align:middle}
.card-favor {display:block;padding:8px 0 0}

.pay-system {clear:both;display:block;}
.pay-system .col-xs-12 {padding:0 0;}
.pay-system .col-md-4 {padding:0 0;}

.pay-line {clear:both;display:block;}
.pay-line .form-group {padding:10px 0 0;}
.pay-line > .form-group > label {color:#002f5f !important;}
.pay-line .form-group .col-md-2 {padding:0 0;}
.pay-line .form-group .col-md-10 {padding:0 0;}
.pay-line .form-group input.card-inp {display:inline-block;width:20% !important;}
.pay-line .form-group input.card-inp2 {display:inline-block;width:20% !important;text-align:right;}
.pay-line .form-group input.card-inp3 {display:inline-block;width:20% !important;text-align:right;}
.pay-line .form-group input.card-inp4 {display:inline-block;width:20% !important;}

.akl .payment-forms-back-slash {color:#b8b8b9;vertical-align:middle;padding:6px 0 0}
.payment-forms-txt, .payment-forms-txt2 {vertical-align:middle;display:inline-block;font-size:14px;font-weight:400;padding:8px 0 0 10px}
.payment-forms-txt3 {vertical-align:middle;display:inline-block;font-size:14px;font-weight:400;padding:8px 0 0 0}
.precautions-txt {padding:6px 0 0;}

.transfer-resver-guide {border-top:1px solid #e3e3e3;margin-top:20px;padding:20px 20px 0;}
.transfer-resver-guide p {font-size:14px;font-weight:500;color:#002f5f;}
.transfer-resver-guide .list-type5 li strong {font-weight:500;color:#002f5f;}
/* .transfer-resver-guide .guid-box {width:80%;} */

.panel-body.paymemnt-point {padding:10px 0 0;}

/* 주문결제 > 결제방법 선택 > 카드사 혜택보기팝업 */
.col-search-tab.card {margin-bottom:30px}
.col-search-tab.card ul li {width:20%;}
.col-search-tab.card ul li:last-child {border-right:1px solid #dadada}
.pop-card-title {font-size:16px;font-weight:500;letter-spacing:-1px;padding:0;}

/* 주문결제 > 거래내역증빙신청 */
.akl .pay-transaction.col-xs-12 {padding:0;margin:0;}
.akl .shipping-delivery-setup-title.col-md-3 {padding:0 12px 0 0;font-size:14px;font-weight:500;}
.akl .pay-transaction .amwa-radio + label {font-size:14px;font-weight:500;}
.akl .panel.cash-receipts {display:block;width:100%;margin-bottom:10px;}
.akl .panel.cash-receipts .col-xs-12.col-md-3 {padding:0 0;}
.akl .panel.cash-receipts label {display:inline-block;}
.akl .panel.cash-receipts .cash-type {display:table;width:75%;text-align:right;}
.akl .panel.cash-receipts .cash-type .cash-phone {display:block;text-align:right;width:100%;}
.akl .panel.cash-receipts .cash-phone select.form-control {width:170px;display:inline-block;vertical-align:middle;margin-right:8px}
.akl .panel.cash-receipts .cash-phone input.form-control {width:55%;display:inline-block;vertical-align:middle;}
.akl .panel.cash-receipts .receipt-type {display:block;text-align:right;padding:10px 0 0;width:100%;}
.receipt-type label {font-size:14px;width:110px;display:inline-block;vertical-align:middle;text-align:right;margin-right:8px}
.receipt-type select.form-control {font-size:14px;width:55%;display:inline-block;vertical-align:middle;}

.akl .shipping-delivery .panel label {font-size:14px;color:#56565a;font-weight:500;}
.txt-tye {padding:25px 0 0;font-size:14px;letter-spacing:-1px;}
.txt-tye .setup-title {color:#002f5f;font-weight:500;line-height:20px;padding:0;margin:0;}
.txt-tye .setup-info {font-weight:400;line-height:20px;padding:5px 0 0;margin:0;}
.txt-tye .setup-info strong {color:#e11e45;font-weight:500;}

.akl .panel.pay-pvbv label {margin-right:10px;}
.akl .panel.pay-pvbv label:last-child {margin-right:0;}

/* 주문결제 > 소비자 피해보상보험 가입안내 */
.deli-introduction {margin:0 0;padding:0;}
.deli-introduction p {margin:0 0;padding:0;font-size:14px;font-weight:400;line-height:22px;}
.deli-introduction p.tit {font-weight:500;}
.btn-checking-insurance {padding:10px 0 0;}

/* 주문결제 > 이용동의 */
.akl .shipping-delivery-ship .row.dev-agree {padding:0 0;margin:0;}
.akl .shipping-delivery-ship .row.dev-agree .col-xs-12 {padding:0 0;}
.akl .shipping-delivery-ship .row.dev-agree label {font-size:14px;font-weight:500;}
.akl .shipping-delivery-ship .row.dev-agree .col-md-4 {text-align:right;}
.use-agreement {margin:15px 0 10px; border:1px solid #e3e3e3;}
.use-agreement .box-sizing {font-size:14px;table-layout:fixed;}
.use-agreement #terms h3 {font-size:14px;font-weight:500;margin:0 0 10px;}
.use-agreement #terms h4 {font-size:13px;padding:12px 18px;}
.use-agreement #terms .col-text {padding:10px 18px 0;}
.akl .use-agreement #terms .conditions {border:0; margin-bottom:0;}

/* 주문결제 > 리스트 */
.akl .cartlist {margin:0 0;padding:0 0;}
.akl .cartlist-content .container-fluid {margin:0 0;padding:0 0;}
.akl .cartlist-content .container-fluid .row {margin:0 0;padding:0 0;}
.akl .cartlist-content .container-fluid .col-xs-12 {margin:0 0;padding:0 0;}
.akl .cartlist-text {padding-left:0;width:75%;margin-top:40px}
.akl .cartlist-text .cartlist-big {font-size:14px;font-weight:500;line-height:20px}
.akl .cartlist-text .cartlist-big .cartlist-small2 {display:block;font-size:13px;font-weight:400;padding:10px 0 0;margin:0;}
.akl .cartlist-text .cartlist-big .cartlist-small3 {display:block;font-size:13px;font-weight:400;padding:0 0;margin:0;}
.akl .cartlist-text .cartlist-big .cartlist-instock {display:block;font-size:13px;font-weight:500;padding:14px 0 0;}
.akl .cartlist-header {font-weight:500;font-size:18px;letter-spacing:-2px;}
.akl .cartlist-header a {color:#002f5f;}
.akl .cartlist-header:after {display:none;}
.akl .cartlist-header .icon-minus {font-weight:500;font-size:30px;padding:5px 10px 0 0}

.akl .cartlist .value-wrapper.option img {vertical-align:middle;}
.akl .cartlist .value-wrapper.option .option-info {vertical-align:middle;}
.akl .cartlist-image {margin-top:40px;}
.akl .cartlist-image img { max-width: 67px}
.akl .cartlist-td {margin-top:40px;font-size:14px;font-weight:400;}
.akl .cartlist-mbweight {font-size:14px;;}
.akl .cartlist-mbleft {font-weight:500}
.akl .cartlist-mbright {color:#55565a;font-weight:400;}

/* 주문결제 > 주문불가제품알림 팝업 */
.pop-prot-body {padding:20px 0;border-style:solid;border-color:#e3e3e3;border-width:1px 0 1px;overflow:hidden;}
.pop-prot-body .cartlist-image {margin-top:0;}
.pop-prot-body .cartlist-text {margin:0 0;padding:6px 0 0;}
.pop-prot-body .cartlist-text .cartlist-small2 {color:#808285;padding:8px 0 0;margin:0 0;}
.pop-prot-body .cart-popup__item-head {clear:both;display:table;width:100%;}
.cart-popup__item-head .cartlist-title {display:table-cell;width:60%;vertical-align:top;}
.cart-popup__item-head .cartlist-quantity {display:table-cell;width:30%;font-size:14px;vertical-align:top;text-align:right;}
.cartlist-quantity .qua-tite {display:block;font-weight:500;color:#002f5f;}
.cartlist-quantity .qua-num {display:block;font-weight:400;color:#56565a;}

.pop-prot-body .cart-popup__item-com {clear:both;display:block;padding:20px 0 0;font-size:14px;letter-spacing:-1px;}
.cart-popup__item-com .com-ttile {display:inline-block;color:#002f5f;font-weight:500}
.cart-popup__item-com .com-num {display:inline-block;}
.ico-i {display:inline-block;background:url("../images/akl_common/ico_i.png") no-repeat left center;padding:0 0 0 20px;font-size:13px;color:#731472}
.cart-popup__item-com .com-txt {display:block;padding:6px 0 0;line-height:22px;font-weight:400}

.pop-prot-form {clear:both;display:block;padding:20px 0 0}
.pop-prot-form > .form-group {padding:10px 0 0}
.pop-prot-form label {font-size:14px;font-weight:400;letter-spacing:-1px;}

/* 주문결제 > 사업자등록증관리 팝업 */
.business-pop {border-bottom:1px solid #e3e3e3;padding:15px 0 30px;margin-bottom:26px}
.business-pop label {display:inline-block;vertical-align:middle;padding:0 80px 0 0}
.business-pop input {display:inline-block;vertical-align:middle;width:45%;}
.business-pop span.busn-search-btn {display:inline-block;vertical-align:middle;}
.business-pop span.busn-search-btn button {vertical-align:middle;}
.business-pop span.busn-search-btn button.btn {margin-left:7px}
.business-pop span.busn-search-btn button.link-btn {padding-left:20px}

.popTable-list.busim {width:100%;padding:0 0 0}
.popTable-list.busim span.company-name {width:22%;}
.popTable-list.busim span.company-num {width:23%;}
.popTable-list.busim span.company-exponent {width:15%;}
.popTable-list.busim span.company-day {width:18%;}
.popTable-list.busim span.company-sel {width:9%;}
.popTable-list.busim span.company-view {width:13%;}

.popTable-list.busim  ul li.tbody {display:table;table-layout:fixed;box-sizing:border-box;}
.popTable-list.busim  ul li.tbody div.com-inof {float:left;display:table;width:78%;}
.popTable-list.busim  ul li.tbody div.com-btn {float:right;display:table;width:22%;}
.popTable-list.busim  ul li.tbody div.company-name {width:23%;display:table-cell;}
.popTable-list.busim  ul li.tbody div.company-num {width:24%;display:table-cell;}
.popTable-list.busim  ul li.tbody div.company-exponent {width:15%;display:table-cell;}
.popTable-list.busim  ul li.tbody div.company-day {width:18%;display:table-cell;}

.popTable-list.busim  ul li.tbody div.company-sel {width:40%;display:table-cell;}
.popTable-list.busim  ul li.tbody div.company-view {width:auto;display:table-cell;}

/* 주문결제 > 사업자등록증 상세보기 팝업 */
.cart-popup__item-info .busine-tit {font-size:16px;line-height:24px;font-weight:500;margin:0;padding:34px 0 17px;letter-spacing:-1px;}
.cart-popup__item-info .busine-tit:first-child {padding:4px 0 17px;}
.tbl-type1.buse-view th {width:25%;}
.tbl-type1.buse-view td {width:75%;}
.busine-infotxe {padding:10px 0 0}

/* 주문결제 > 오른쪽 내용 */
.order-fixed { position: fixed; z-index: 1; right: 50%;background: #fff; width:344px;}
.order-fixed .shipping-delivery-side {background: #fff;}
@media (max-width: 1024px) { .fixe { margin-right: -50%;}}

/* 주문결제 > 오른쪽 주문회원정보 */
.akl .shipping-delivery-summary {z-index:10;background:#fff;padding:0 0;right:0; max-width:344px;}
.akl .shipping-delivery-summary-header {font-size:13px;font-weight:500;padding:10px 0 10px 18px;}
.akl .shipping-delivery-list-item {font-size:14px;}
.akl .shipping-delivery-item-label {font-weight:500}
.akl .performance-box-item-abovalue {font-weight:400}
.akl .shipping-delivery-summary-prices li {padding:5px 18px;line-height:18px;}
.akl .shipping-delivery-summary-prices li.shipping-delivery-list-item-total {padding:5px 0;}
.akl .shipping-delivery-list-item-total {margin:8px 15px;}
.akl .shipping-delivery-list-item-total .shipping-delivery-item-total {font-size:14px;padding:10px 0;margin:0 0;}
.akl .shipping-delivery-list-item-total .shipping-delivery-item-totalvalue {font-size:18px;padding:10px 0;}
.akl .shipping-delivery-list-item-pvbv {font-size:14px;}
.akl .shipping-delivery-list-item-pvbv .shipping-delivery-item-total{ padding:0 0;}
.akl .shipping-delivery-list-item-pvbv .shipping-delivery-item-totalvalue {font-size:14px;padding:0 0;}

/* 주문결제 > 오른쪽 > 쿠폰선택 */
.shipping-delivery-coupon {margin:0 15px;border-top:1px solid #e3e3e3}
.delivery-coupon-choice {padding:15px 0 10px;}
.delivery-coupon-choice label {display:inline-block;font-size:14px;font-weight:400;padding-right:15px;}
.delivery-coupon-choice label:last-child {padding-right:0;}
.delivery-coupon-box {border:1px solid #e3e3e3;padding:20px 20px 0;}
.delivery-coupon-box span {display:inline-block;vertical-align:top;width:60px;height:35px;}
.delivery-coupon-box span img {width:60px;height:35px;}
.delivery-coupon-box dl {display:inline-block;vertical-align:top;padding-left:18px;font-size:14px;letter-spacing:-1px;}
.delivery-coupon-box dl dt {font-weight:500;color:#002f5f;}
.delivery-coupon-box dl dd {font-weight:400;line-height:20px;}
.akl .shipping-delivery-summary-link {padding:20px 15px;}

.coupon-offer-search {padding:0 0 10px;}
.coupon-offer-search input {width:65%;vertical-align:middle;}
.coupon-offer-search button {vertical-align:middle;}
.coupon-offer-body {padding:0 0 10px;}

/* 주문결제 > 쿠폰선택 팝업 */
.popTable-list {width:100%;padding:0 0 0}
.popTable-list ul {width:100%;border-top:1px solid #e3e3e3;}
.popTable-list ul li.thead-tit {width:100%;display:table;table-layout:fixed;background:#f4f4f4;border-bottom:1px solid #e3e3e3;padding:10px 15px;text-align:center;box-sizing:border-box;}
.popTable-list ul li.thead-tit span {display:table-cell;vertical-align:middle;font-size:13px;font-weight:500;color:#002f5f;text-align:left;}
.popTable-list ul li.thead-tit span.pcupon-number {width:40%;padding-left:10%;}
.popTable-list ul li.thead-tit span.pcupon-name {width:30%;}
.popTable-list ul li.thead-tit span.pcupon-period {width:30%;}

.popTable-list ul li.tbody {clear:both;width:100%;display:table;table-layout:fixed;padding:16px 15px;box-sizing:border-box;}
.popTable-list ul li.tbody > div {display:table-cell;font-size:14px;vertical-align:middle;box-sizing:border-box;word-break: break-all;}
.popTable-list ul li.tbody button {vertical-align:middle;}
.popTable-list ul li.tbody span {font-size:14px;vertical-align:middle;}
.popTable-list ul li.tbody:nth-child(odd) {background:#f4f4f4;}

.popTable-list ul li.tbody > div.pcupon-check {width:10%;vertical-align:top;padding:12px 0 0}
.popTable-list ul li.tbody > div.pcu-group {width:90%;vertical-align:middle;letter-spacing:-1px;}
.popTable-list ul li.tbody > div.pcu-group div.pcupon-number {display:inline-block;width:32%;vertical-align:middle;}
.popTable-list ul li.tbody > div.pcu-group div.pcupon-name {display:inline-block;width:32%;vertical-align:middle;padding:0 10px 0 0;}
.popTable-list ul li.tbody > div.pcu-group div.pcupon-period {display:inline-block;width:34%;vertical-align:middle;}

.popTable-list .mob-txt {display:none;}

/* 주문결제 > 설치주문 */
.installation-order {padding:38px 0 30px;border-bottom:1px solid #e3e3e3;}
.insta-area {}
.insta-area p {font-size:14px;font-weight:400;line-height:22px;padding:0;margin:0;letter-spacing:-1px;}
.insta-area p.tit {color:#002f5f;font-weight:500;padding:0;margin:0;}
.insta-area .detail-content {padding:10px 0 15px;}
.insta-area .detail-content .col-md-2 {padding:5px 0;font-size:14px;font-weight:500;width:12%;color:#002f5f;}
.insta-area .detail-content .col-md-2.day {padding:10px 0 0;font-size:14px;font-weight:500;vertical-align:middle;}
.insta-area .detail-content .col-md-4 {padding:5px 0;}
.insta-area .detail-content .form-group input {margin-left:0;width:auto;}
.insta-area .detail-content .box-date-select {width:60%}
.akl .datepicker.dropdown-menu { min-width: 200px; }
.akl .table-condensed>tbody>tr>td { padding:4px;}
.akl .datepicker .datepicker-switch{width:135px;}
.akl .datepicker th,
.akl .datepicker td { -webkit-border-radius:0;  -moz-border-radius:0;  border-radius:0; }
.akl .datepicker table tr td.active.active,
.akl .datepicker table tr td span.active.active { background:#023061; -webkit-border-radius:0;  -moz-border-radius:0;  border-radius:0; }
.akl .datepicker .table-condensed thead tr:nth-of-type(2) { background:#023061}
.akl .datepicker .table-condensed thead tr:nth-of-type(3) { background:#bfbbbc}
.akl .datepicker .table-condensed thead tr th {color:#fff; vertical-align: middle; }
.akl .datepicker .table-condensed thead tr th.prev { font-size:22px; padding-top:0px; }
.akl .datepicker .table-condensed thead tr th.next { font-size:22px; padding-top:0px; }
.akl .datepicker .table-condensed thead tr th.atepicker-switch { padding-top:7px;}

.akl .datepicker .prev:hover,
.akl .datepicker .next:hover,
.akl .datepicker .datepicker-switch:hover{ background:#023061}

.akl .panel.shop-install {margin-bottom:0;}
.akl .panel.shop-install .default-shipping-address, .akl .panel.shop-install .new-shipping-address {border-bottom:0 none;}
.text-sm {font-size:13px;font-weight:400}
.text-regul {font-weight:400}

/* 주문결제 > 주문완료 */
.akl .confirm-box {padding:34px 0 34px;}
.akl .confirm-box-message {font-size:16px;font-weight:700;letter-spacing:-1px;}
.akl .confirm-box-continue-shopping {font-size:14px;font-weight:500;letter-spacing:-1px;}
.akl .order-preview-box {}
.akl .order-preview-label {font-size:14px;font-weight:500;letter-spacing:-1px;}
.akl .order-preview-value {font-size:14px;font-weight:400;letter-spacing:-0.05em;}
.akl .order-preview-value strong {font-weight:500;}
.akl .shipping-delivery-address-name {font-size:14px;font-weight:400;letter-spacing:-0.05em;}

@media (max-width: 990px) {
	/* 카테고리 */
	.akl .amway-theme .full-width-banner-component.banner-left-align .banner-content-wrap {width:100%;}
}

@media (min-width: 769px) {
	/* 위시리스트 */
	.akl #ShopListDetailForm .col-md-12 {width: 88%;}
	.akl #ShopListDetailBody .btn-wrapper { top:0;}
}

@media (max-width: 768px) {

    /* layer popup style1 */
    .akl .cart-popup__content.payment .cart-popup__item-info {padding:10px 20px;}
    .akl .cbox .cart-popup__dialog .cart-popup__content .cart-popup__item-link {padding:20px 20px;}

    /* layer popup style2 */
    .akl #cboxLoadedContent  #cboxTitle {width:80%;}
    .akl #cboxLoadedContent  #cboxTitle .headline {font-size:18px;letter-spacing:-1px;width:60%;word-break:break-all;line-height:20px;padding:20px 0}

	/* 주문결제 */
	.akl .col-md-9.cart-items-wrapper {padding:0 0 0 0;margin:0;}
	.akl .shipping-delivery {margin-top:0;}
	.akl .checkout-steps-active {width:75%}
	.akl .shipping-delivery-ship {padding:25px 0}
	span.btn-business {padding-left:30px;}
	.akl .shipping-delivery-radio-body {margin:10px 0 0 10px;}

	/* 주문결제 > Tab */
	.akl .amway-theme.order-payment .outer-border-bottom {border-bottom:0 none;}
	.akl .amway-theme.order-payment .outer-border-bottom .tabs-toggles .tab-toggle-wrap {margin-bottom:0 !important;}
	.akl .amway-theme.order-payment .tabs-toggles .tab-toggle-wrap .tab-toggle {height:38px;}

	/* 주문결제 > 단일 */
	.btn-adress-list {position: absolute;top:-60px;left:140px;}

	/* 주문결제 > 단일 > 배송지 목록 */
	.address-book span.btn-book {display:block;margin:10px 0 0}
	.address-book input {width:100%;}
	.address-book .btn.btn-primary {margin-left:0;}

	p.my-Shipping-txt {padding:8px 0 10px;}
	.table-wrapper.my-Shipping-list  {height:200px;overflow:auto;}
	.table-wrapper.my-Shipping-list .tbl-type1 td {padding:8px 15px}

	/* 주문결제 > 단일 > 기본배송지 */
	.default-shipping-address .detail-content .right-info {display:block;}

	/* 주문결제 > 단일 > 새배송지 */
	.new-shipping-address .detail-content .new-cart .delv-shopbox {width:100%;}
	.new-shipping-address .detail-content .new-cart .delv-shopbox .form-group {width:100%;}
	.new-shipping-address .detail-content .new-cart .delv-shopbox .form-group .address p {margin-right:0;}
	.new-shipping-address .detail-content .new-cart .delv-shopbox .phone-group {padding-left:0 !important;}
	.new-shipping-address .detail-content .new-cart .delv-shopbox .phone-group > .form-group {width:68%;padding-left:10px}
	.new-shipping-address .detail-content .new-cart .delv-shopbox .form-group .address button {margin-top:10px;}

	.new-shipping-address .new-shipping-agree {padding-top:20px}
	.new-shipping-btnw .list-type2 {padding:0 0 20px}
	.shipping-delivery .form-group input {width:100%;}

	/* 주문결제 > 복수 */
	.pay-sender .form-group .col-md-8 input {width:100%;}
	.pay-sender .form-group .col-md-8 select.form-control {width:30%;}
	.pay-sender .form-group .col-md-8.send-phone input {width:67%;}
	.form-group.ship-messige input {width:100%;}
	.akl .reven-ship .panel-title .text-uppercase .accordion-header-name {padding-left:10px}
	.akl .reven-ship .accordion-custom .panel-title .p-delect {right:40px}
	.new-shipp-info .new-cart .form-group input {width:100%;}
	.reven-ship-title .right {float:left;padding:10px 0 0}
	.btn-defult-list {margin-left:15px;}

	.reven-ship-box p {padding:5px 50px 0 0}
	.reven-ship-box .p-delect {position: absolute;top:3px;right:0;}

	.new-shipp-info .detail-content .new-cart .delv-shopbox {width:100%;}
	.new-shipp-info .detail-content .new-cart .delv-shopbox .form-group .address p {margin-right:0;}
	.new-shipp-info .detail-content .new-cart .delv-shopbox .phone-group {margin-left:0;}
	.new-shipp-info .detail-content .new-cart .delv-shopbox .form-group .address input[type="text"] {width:100%;}

	/* 주문결제 > 복수 > 배송지 목록(복수)*/
	.pop-revenge-web {display:none;}
	.pop-revenge-mob {display:block;}

	/* 주문결제 > 픽업주문 */
	.pickup-ap .btn-ap {display:block;padding-left:0;}
	.pickup-gge {width:100%;}
	.akl .pickup-gge .form-group {margin:0 0;padding:0 0;}
	.akl .pickup-gge .form-group select.form-control {width:100%;}
	.akl .pickup-gge .form-group button {display:block;margin-top:10px}

	/* 주문결제 > 결제방법 선택 */
	.card-promotion dl {margin-left:10px;}
	.a-point input {width:98% !important;}
	.a-point button {margin-left:0 !important;display:block;margin-top:10px}
	.payment-forms-txt2 {display:block;margin:0;padding:10px 0 0;}

	.pay-line .form-group input.card-inp {width:24% !important;}
	.pay-line .form-group input.card-inp2 {width:45% !important;}
	.pay-line .form-group input.card-inp3 {width:45% !important;}
	.pay-line .form-group input.card-inp4 {width:100% !important;}
	.card-kinds .col-xs-12 {width:auto;padding-right:12px;}
	.pay-system  .col-xs-12 {width:auto;padding-right:12px;}
	.row.card-method .comm-inp {width:100%;}
	.card-favor {padding:0 0 8px;}
	.transfer-resver-guide .guid-box {width:100%;}

	/* 주문결제 > 거래내역증빙신청 */
	.akl .panel.cash-receipts .cash-type {width:100%;text-align:left;padding:8px 0 0 30px}
	.akl .panel.cash-receipts .cash-type .cash-phone {text-align:left;}
	.akl .panel.cash-receipts .cash-phone select.form-control {width:44%;margin-right:4px;padding-left:5px;font-size:12px;letter-spacing:-1px;}
	.akl .panel.cash-receipts .cash-phone input.form-control {width:52%;}
	.akl .panel.cash-receipts .receipt-type {display:block;text-align:left;padding:10px 0 0}
	.receipt-type label {width:100%;text-align:left;margin-right:0}
	.receipt-type select.form-control {width:98%;}

	/* 주문결제 > 쿠폰선택 팝업 */
	.popTable-list ul li.thead-tit {display:none;}
	.pop-coupon-list ul li.tbody div {display:inline-block;vertical-align:top;}

	.popTable-list ul li.tbody > div.pcupon-check {width:15%;vertical-align:top;padding:10px 0 0}
	.popTable-list ul li.tbody > div.pcu-group {width:85%;vertical-align:middle;letter-spacing:-1px;}
	.popTable-list ul li.tbody > div.pcu-group span.mob-txt {display:block;font-size:14px;color:#002f5f;font-weight:500;letter-spacing:-1px}
	.popTable-list ul li.tbody > div.pcu-group div.pcupon-number {clear:both;display:block;width:100%;vertical-align:middle;padding:5px 0 0 0;}
	.popTable-list ul li.tbody > div.pcu-group div.pcupon-name {display:block;width:100%;vertical-align:middle;padding:5px 0 0 0;}
	.popTable-list ul li.tbody > div.pcu-group div.pcupon-period {display:block;width:100%;vertical-align:middle;padding:5px 0 0 0;}


	/* 주문결제 > 사업자등록증관리 팝업 */
	.business-pop label {padding:0 0 0 0}
	.business-pop input {display:block;width:100%;}
	.business-pop span.busn-search-btn {display:block;padding-top:10px}
	.business-pop span.busn-search-btn button.btn {margin-left:0}
	.business-pop span.busn-search-btn button.link-btn {padding-left:20px}

	.popTable-list.busim li.thead-tit {display:none;}
	.popTable-list.busim .mob-txt {display:inline-block;}
	.popTable-list.busim .web-txt {display:none;}
	.popTable-list.busim ul li.tbody {letter-spacing:-1px;}
	.popTable-list.busim ul li.tbody div.com-inof {width:100%;}
	.popTable-list.busim ul li.tbody div.com-btn {clear:both;display:block;width:100%;padding:10px 0 0}
	.popTable-list.busim ul li.tbody div.company-name {display:inline-block;width:auto;}
	.popTable-list.busim ul li.tbody div.company-num {display:inline-block;width:auto;}
	.popTable-list.busim ul li.tbody div.company-exponent {clear:both;display:block;width:100%;padding:5px 0}
	.popTable-list.busim ul li.tbody div.company-day {clear:both;display:block;width:100%;padding:5px 0 0}
	.popTable-list.busim ul li.tbody div.company-exponent .mob-txt {float:left;color:#002f5f;font-weight:500;}
	.popTable-list.busim ul li.tbody div.company-exponent .mob-right {float:right;}

	.popTable-list.busim ul li.tbody div.company-day .mob-txt {color:#002f5f;font-weight:500;}
	.popTable-list.busim ul li.tbody div.company-day .mob-right {float:right;}
	.popTable-list.busim ul li.tbody div.company-sel {float:left;width:50%;}
	.popTable-list.busim ul li.tbody div.company-view {float:right;width:50%;text-align:right;}

	/* 주문결제 > 사업자등록증 상세보기 팝업 */
	.tbl-type1.buse-view th {width:40%;}
	.tbl-type1.buse-view td {width:60%;}

	/* 주문결제 > 주문불가 제품알림 팝업 */
	.pop-prot-body .cartlist-text {padding:6px 0 0 30px;}
	.cart-popup__item-head .cartlist-title {display:block;width:100%;}
	.cart-popup__item-head .cartlist-quantity {clear:both;display:block;width:100%;padding:12px 0 0}
	.cartlist-quantity .qua-tite {float:left;display:inline-block;font-weight:500;color:#002f5f;}
	.cartlist-quantity .qua-num {float:right;display:inline-block;font-weight:400;color:#56565a;}
	.cart-popup__item-com .com-ttile {float:left;}
	.cart-popup__item-com .com-num {float:right;}
	.cart-popup__item-com .com-txt {clear:both;display:block;}

	/* 주문결제 > 리스트 */
	.akl .cartlist-content .container-fluid {padding:0 10px;}
	.akl .cartlist-content .cartlist-tbody .cartlist-text {padding-left:25px;}
	.akl .amwa-btnbar {margin:40px 0 0;}

	/* 주문결제 > 설치주문 */
	.insta-area .detail-content .col-md-2 {width:100%;}
	.insta-area .detail-content .col-md-4 {width:100%;padding:0 0 5px;}

	/* 주문결제 > 오른쪽 */
	.akl .shipping-delivery-summary {width:100%;max-width:100%;}


}