
.FAQ-QA .order-history-container .order-history-search-wrapper .form-wrapper.search-form-wrapper input[type="text"] {
  margin-right: 5px;
  height: 40px;
  padding: 0 8px;
}
.FAQ-QA .announcement-container {
  padding: 0 12px;
}
.FAQ-QA .announcement-container .amway-theme .ditto-schedule-table-content .ditto-schedule-table tbody tr {
  cursor: auto;
}
.FAQ-QA .account-section-content {
  margin-bottom: 0;
}
.FAQ-QA .account-section-content .search-form-wrapper form {
  position: relative;
}
.FAQ-QA .account-section-content .search-form-wrapper form .question-search-box {
  display: none;
  border: 1px solid #dadada;
  width: 200px;
  height: 308px;
  position: absolute;
  top: 42px;
  padding: 0 8px;
  background-color: #fff;
  z-index: 99;
  overflow-y: auto;
}
.FAQ-QA .account-section-content .search-form-wrapper form .question-search-box .question-search-box-content input[type=text] {
  width: 100%;
  border: none;
  border-bottom: 1px solid #dadada;
  padding-left: 0;
  outline: none;
}
.FAQ-QA .account-section-content .search-form-wrapper form .question-search-box .question-search-box-content ul {
  text-align: left;
  color: #002F5F;
}
.FAQ-QA .account-section-content .search-form-wrapper form .question-search-box .question-search-box-content ul li {
  padding: 4px 0;
  cursor: pointer;
}
.FAQ-QA .question-main-body {
  margin-bottom: 40px;
}
.FAQ-QA .question-main-body #business-page-accordion {
  padding: 0;
}
.FAQ-QA .question-main-body #business-page-accordion .panel .panel-heading {
  padding: 0 24px;
}
.FAQ-QA .question-main-body #business-page-accordion .panel .panel-heading .panel-title div {
  padding: 24px 0;
}
.FAQ-QA .question-main-body #business-page-accordion .panel .panel-heading .panel-title div .indicator:after {
  color: #0075a4;
}
.FAQ-QA .question-main-body #business-page-accordion .panel .panel-collapse {
  padding: 0 24px;
  position: relative;
  top: -18px;
  width: 64%;
}
.FAQ-QA .no-logged-qa {
  margin: 45px 0;
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
}
.FAQ-QA .no-logged-qa div {
  padding: 10px 0;
}
.FAQ-QA .no-logged-qa .no-logged-qa-text1 {
  color: #002F5F;
  text-transform: uppercase;
}
.FAQ-QA .no-logged-qa .no-logged-qa-text2 span {
  text-decoration: underline;
  color: #002F5F;
  cursor: pointer;
}
.FAQ-QA .email-toggle-content .account-section-content .logged-qa {
  margin: 0;
}
.FAQ-QA .email-toggle-content .account-section-content .logged-qa #business-page-accordion {
  padding: 0;
}
.FAQ-QA .email-toggle-content .account-section-content .logged-qa #business-page-accordion .panel:first-child {
  border-top: none;
}
.FAQ-QA .email-toggle-content .account-section-content .logged-qa #business-page-accordion .panel .panel-heading {
  padding: 0;
}
.FAQ-QA .email-toggle-content .account-section-content .logged-qa #business-page-accordion .panel .panel-heading .panel-title div span:after {
  color: #0075a4;
}
.FAQ-QA .email-toggle-content .account-section-content .logged-qa #business-page-accordion .panel .panel-collapse {
  padding: 0;
}
.FAQ-QA .email-toggle-content .account-section-content .logged-qa #business-page-accordion .logged-qa-top {
  padding-bottom: 45px;
}
.FAQ-QA .email-toggle-content .account-section-content .logged-qa #business-page-accordion .logged-qa-top span {
  text-decoration: underline;
  cursor: pointer;
  color: #0075a4;
}
.FAQ-QA .email-toggle-content .account-section-content .logged-qa #business-page-accordion .logged-qa-top span:hover {
  color: #002F5F;
}
.FAQ-QA .email-toggle-content .account-section-content .logged-qa #business-page-accordion .order-history-search-wrapper {
  margin: 0;
}
.FAQ-QA .email-toggle-content .account-section-content .logged-qa .amway-theme .ditto-schedule-table-content .table-block-wrapper {
  padding-top: 0;
}
.FAQ-QA .email-toggle-content .account-section-content .logged-qa .amway-theme .ditto-schedule-table-content .table-block-wrapper .ditto-schedule-table thead .ditto-field-name {
  width: 15%;
  padding-left: 20px;
}
.FAQ-QA .email-toggle-content .account-section-content .logged-qa #register-step-page .form-item-row {
  width: auto;
}
.FAQ-QA .email-toggle-content .account-section-content .logged-qa #register-step-page .form-item-row .form-control {
  text-transform: inherit;
}
.FAQ-QA .email-toggle-content .account-section-content .logged-qa #register-step-page .form-group label {
  padding-top: 0;
  text-transform: uppercase;
}
.FAQ-QA .email-toggle-content .account-section-content .logged-qa #register-step-page .form-group .email-alert {
  text-decoration: underline;
  font-style: italic;
  color: #002F5F;
  cursor: pointer;
}
.FAQ-QA .email-toggle-content .account-section-content .logged-qa #register-step-page .form-group .question-input {
  width: 100%;
  color: #002F5F;
}
.FAQ-QA .email-toggle-content .account-section-content .logged-qa #register-step-page .form-group .question-content {
  height: 150px;
  min-height: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  resize: none;
  white-space: pre-wrap;
  font-weight: 100;
}
.FAQ-QA .email-toggle-content .account-section-content .logged-qa #register-step-page .form-group .attachment-upload .attachment-btn {
  position: absolute;
  top: 5px;
  z-index: 1;
}
.FAQ-QA .email-toggle-content .account-section-content .logged-qa #register-step-page .form-group .attachment-upload .attachment-btn:before {
  content: 'UPLOAD';
  border: 1px solid #002F5F;
  color: #002F5F;
  cursor: pointer;
  padding: 8px 20px;
  text-transform: uppercase;
}
.FAQ-QA .email-toggle-content .account-section-content .logged-qa #register-step-page .form-group .attachment-upload input[type=file] {
  position: relative;
  opacity: 0;
  z-index: 99;
  cursor: pointer;
  font-size: 0;
}
.FAQ-QA .email-toggle-content .account-section-content .logged-qa #register-step-page .form-group.last-form-group {
  margin-bottom: 70px;
}
.FAQ-QA .point-management .amway-theme .tabs-content-blocks .content-block {
  margin: 0;
}
.FAQ-QA .point-management .amway-theme .tabs-content-blocks .content-block .ditto-schedule-table tbody .mob-QATitle-text,
.FAQ-QA .point-management .amway-theme .tabs-content-blocks .content-block .ditto-schedule-table tbody .mob-submission-date {
  display: none;
}
.question-details .back-to-previous {
  color: #002F5F;
  position: relative;
  top: -18px;
}
.question-details .back-to-previous .glyphicon-menu-left::before {
  content: "";
}
.question-details .back-to-previous:before {
  content: "\e257";
  font-family: 'Glyphicons Halflings';
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  top: 2px;
  color: #0075a4;
}
.question-details .back-to-previous span:last-child {
  color: #dadada;
  padding: 0 10px;
}
.question-details .question-details-content #business-page-accordion {
  padding: 0;
}
.question-details .question-details-content #business-page-accordion .panel .panel-collapse {
  padding: 0 16px;
}
.question-details .question-details-content #business-page-accordion .panel .panel-collapse .amway-theme .form-group {
  margin-bottom: 0;
}
.question-details .question-details-content #business-page-accordion .panel .panel-collapse .amway-theme .form-group label {
  padding-top: 0;
  text-transform: uppercase;
}
.question-details .question-details-content #business-page-accordion .panel .panel-collapse .amway-theme .form-group .question-description {
  line-height: 24px;
}
.question-details .question-details-content #business-page-accordion .panel .panel-collapse .amway-theme .form-group.attachment {
  margin-top: 30px;
  margin-bottom: 10px;
}
.question-details .question-details-content #business-page-accordion .panel .panel-collapse .amway-theme .form-group.attachment ul li {
  padding: 5px 0;
}
.question-details .question-details-content #business-page-accordion .panel .panel-collapse .amway-theme .form-group .question-content {
  height: 150px;
  min-height: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  resize: none;
  width: 100%;
  white-space: pre-wrap;
}
.question-details .question-details-content #business-page-accordion .panel .panel-collapse .amway-theme .form-group.last-form-group {
  margin-bottom: 80px;
}
.question-details .question-details-content #business-page-accordion .panel .panel-collapse .amway-theme .form-group.question-title {
  margin-top: 30px;
}
.question-details .question-details-content #business-page-accordion .panel .panel-collapse .amway-theme .form-group.question-content {
  margin-top: 30px;
}
.question-details .question-details-content #business-page-accordion .panel .panel-title div span:after {
  color: #0075a4;
}
.modify-question .cartTitile {
  padding-bottom: 0;
}
.modify-question .cartTitile a {
  float: right;
  position: relative;
  top: -22px;
  font-size: 16px;
}
.modify-question .cartTitile .mb25 {
  margin-bottom: 0;
}
.modify-question #business-page-accordion .panel {
  border-bottom: 0;
}
.modify-question #business-page-accordion .panel .form-group:first-child label {
  position: relative;
  top: 10px;
}
.modify-question #business-page-accordion .panel .form-group.attachment-list ul li {
  border-bottom: 1px solid #dadada;
  padding: 10px 0;
}
.modify-question #business-page-accordion .panel .form-group.attachment-list ul li a {
  float: right;
}
.modify-question #business-page-accordion .panel .form-group.production-btn {
  margin-top: 50px;
  border-top: 1px solid #dadada;
  padding-top: 30px;
}
.modify-question #business-page-accordion .panel .account-section-content {
  border-bottom: 0;
}
.modify-question .question-details-content #business-page-accordion .panel .panel-collapse {
  padding-top: 30px;
}
.modify-question .question-details-content #business-page-accordion .panel .panel-collapse .amway-theme .form-group label {
  padding-left: 0;
}
.knowledge-center .knowledge-center-one {
  overflow: visible;
  padding: 0 12px;
}
.knowledge-center .knowledge-center-one .cartTitile {
  padding-bottom: 0;
}
.knowledge-center .knowledge-center-one .order-history-account-section-content {
  margin-bottom: 0;
}
.knowledge-center .promotions {
  overflow: visible;
}
.knowledge-center .promotions .account-section-content .order-history-container .order-history-search-wrapper .news-search-results {
  position: relative;
  top: 5px;
  font-size: 20px;
}
.knowledge-center .promotions .account-section-content .order-history-container .order-history-search-wrapper .form-wrapper form select#category-desk {
  margin-right: 5px;
}
.knowledge-center .promotions .account-landing-page .account-orderhistory-pagination {
  margin-top: 25px;
}
.knowledge-center .promotions .account-landing-page .option-item-container .news-result-item-text {
  min-height: 130px;
  font-size: 16px;
}
.knowledge-center .promotions .account-landing-page .option-item-container .news-result-item-text p.featured-product__title {
  padding-top: 10px;
}
.knowledge-center .promotions .account-landing-page .option-item-container .news-result-item-text .click-thumb {
  text-align: right;
}
.knowledge-center .promotions .account-landing-page .option-item-container .news-result-item-text .click-thumb .thumb {
  background: url("../images/thumb.png") no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  top: 1px;
  margin-right: 5px;
}
.knowledge-center .promotions .account-landing-page .option-item-container .news-result-item-text .click-thumb .thumb.click {
  background: url("../images/thumb-click.png") no-repeat;
}
@media (max-width: 768px) {
  .FAQ-QA .QA-container {
    padding-top: 12px;
  }
  .FAQ-QA .QA-container #business-page-accordion .panel .panel-title div {
    position: relative;
  }
  .FAQ-QA .QA-container #business-page-accordion .panel .panel-title div .indicator {
    position: absolute;
    top: 24px;
    right: 0;
  }
  .FAQ-QA .QA-container #business-page-accordion .panel .panel-heading {
    padding: 0 12px;
  }
  .FAQ-QA .QA-container #business-page-accordion .panel .panel-collapse {
    padding: 0 12px;
    width: 90%;
  }
  .FAQ-QA .amway-theme .ditto-schedule-table-content .table-block-wrapper .ditto-schedule-table thead .ditto-field-name {
    padding-left: 20px !important;
  }
  .FAQ-QA .email-toggle-content .account-section-content .logged-qa .form-group .account-profile__label,
  .FAQ-QA .email-toggle-content .account-section-content .logged-qa .form-group .account-profile__value {
    line-height: 24px;
  }
  .FAQ-QA .email-toggle-content .account-section-content .logged-qa #business-page-accordion .logged-qa-top {
    padding-bottom: 20px;
  }
  .FAQ-QA .email-toggle-content .account-section-content .logged-qa #business-page-accordion .category-filters {
    background-color: #fff;
    text-transform: uppercase;
    text-align: left;
    padding: 0 12px;
    color: #002F5F;
  }
  .FAQ-QA .email-toggle-content .account-section-content .logged-qa #business-page-accordion .category-filters .pull-right:before {
    content: "\ea79";
    color: #0075a4;
    font-size: 12px;
  }
  .FAQ-QA .email-toggle-content .account-section-content .logged-qa #business-page-accordion .category-filters.collapsed .pull-right:before {
    content: "\ea78" !important;
  }
  .FAQ-QA .email-toggle-content .account-section-content .logged-qa #business-page-accordion .filter-form-category {
    padding: 10px;
  }
  .FAQ-QA .email-toggle-content .account-section-content .logged-qa #business-page-accordion .filter-form-category .form-item-row {
    padding: 0 15px;
  }
  .FAQ-QA .email-toggle-content .account-section-content .logged-qa #business-page-accordion .filter-form-category .form-item-row .col {
    padding-right: 0;
  }
  .FAQ-QA .order-history-container .order-history-search-wrapper {
    margin-top: 12px!important;
    margin-bottom: 12px!important;
  }
  .FAQ-QA .point-management .amway-theme .tabs-content-blocks .content-block {
    margin: 0;
  }
  .FAQ-QA .point-management .amway-theme .tabs-content-blocks .content-block .ditto-schedule-table tbody tr {
    height: 118px;
  }
  .FAQ-QA .point-management .amway-theme .tabs-content-blocks .content-block .ditto-schedule-table tbody tr .mob-QATitle-text {
    font-weight: 600;
    color: #55565a;
  }
  .FAQ-QA .point-management .amway-theme .tabs-content-blocks .content-block .ditto-schedule-table tbody tr .mob-QATitle-text,
  .FAQ-QA .point-management .amway-theme .tabs-content-blocks .content-block .ditto-schedule-table tbody tr .mob-submission-date {
    display: block;
    position: absolute;
    left: 0;
    padding-top: 46px;
    padding-left: 20px;
  }
  .FAQ-QA .point-management .amway-theme .tabs-content-blocks .content-block .ditto-schedule-table tbody tr .mob-submission-date {
    padding-top: 76px;
    color: #55565a;
  }
  .FAQ-QA .point-management .amway-theme .tabs-content-blocks .content-block .ditto-schedule-table tbody tr td:nth-child(4) {
    font-weight: 100;
  }
  .FAQ-QA .account-section-content .search-form-wrapper form .question-search-box {
    width: 91.5%;
  }
  .question-details .back-to-previous {
    top: 0;
  }
  .question-details .question-details-content #business-page-accordion .panel .panel-collapse {
    padding: 0;
  }
  .question-details .question-details-content #business-page-accordion .panel .panel-collapse .amway-theme .form-group {
    padding: 10px 0;
  }
  .question-details .question-details-content #business-page-accordion .panel .panel-collapse .amway-theme .form-group label.account-profile__label,
  .question-details .question-details-content #business-page-accordion .panel .panel-collapse .amway-theme .form-group .account-profile__value {
    line-height: 16px;
  }
  .question-details .question-details-content #business-page-accordion .panel .panel-collapse .amway-theme .form-group .question-description {
    line-height: 24px;
  }
  .question-details .question-details-content #business-page-accordion .panel .panel-collapse .amway-theme .form-group.question-title {
    margin-top: 0;
  }
  .question-details .question-details-content #business-page-accordion .panel .panel-collapse .amway-theme .form-group.question-content {
    margin-top: 0;
  }
  .question-details .question-details-content #business-page-accordion .panel .panel-collapse .amway-theme .form-group.question-title {
    margin-top: 30px;
  }
  .question-details .question-details-content #business-page-accordion .panel .panel-collapse .amway-theme .form-group.attachment {
    margin-top: 0;
  }
  .question-details .question-details-content #business-page-accordion .panel .panel-collapse .amway-theme .form-group.attachment label {
    padding-bottom: 10px;
  }
  .modify-question .cartTitile {
    padding-bottom: 10px;
  }
  .modify-question .cartTitile a {
    float: none;
    position: relative;
    top: 0;
  }
  .modify-question .cartTitile .mb25 {
    margin-bottom: 20px;
  }
  .modify-question #business-page-accordion .panel .form-group.production-btn {
    border-top: none;
    margin-top: 20px;
  }
  .modify-question .question-details-content #business-page-accordion .panel .panel-collapse {
    padding-top: 0;
  }
  .knowledge-center .knowledge-center-one .order-history-account-section-content {
    margin-bottom: 8px;
  }
  .knowledge-center .account-section-content .order-history-container .order-history-search-wrapper .form-wrapper {
    top: 0;
  }
  .knowledge-center .promotions .account-landing-page .option-item-container .news-result-item-text {
    min-height: 163px;
  }
}
@media (max-width: 420px) {
  .FAQ-QA .point-management .amway-theme .tabs-content-blocks .content-block .ditto-schedule-table tbody tr {
    height: 150px;
  }
  .FAQ-QA .point-management .amway-theme .tabs-content-blocks .content-block .ditto-schedule-table tbody tr .mob-QATitle-text {
    padding-top: 50px;
    font-weight: 600;
    color: #55565a;
  }
  .FAQ-QA .point-management .amway-theme .tabs-content-blocks .content-block .ditto-schedule-table tbody tr .mob-submission-date {
    padding-top: 106px;
  }
  .knowledge-center .knowledge-center-one .order-history-account-section-content {
    margin-bottom: 8px;
  }
  .knowledge-center .promotions .account-landing-page .option-item-container .news-result-item-text {
    min-height: 130px;
  }
}