/*온라인 팩스 주문*/
.cartlist-detail-desktop {display: inline-block;vertical-align: middle;}
.shipping-delivery-ship {margin-bottom: 0;}
.shipping-delivery-ship .form-group input {vertical-align: top;}
.shipping-delivery-ship .form-group input + button {margin-left: 10px;}
.shipping-delivery-ship .form-group textarea { width: 300px; min-height: 100px;border: 1px solid #dadada;}

/*쇼핑*/
.shipping-delivery-summary .cartlist-instock {color: #20883e;text-align: left;font-weight: 600;display: block;margin: 0px 0 20px 20px;font-size: 16px;}
.shipping-delivery-summary .cartlist-instock .icon { font-size: 14px;margin-right: 5px;}
.shipping-delivery-summary .summary-des { margin: 0 20px 20px;}
.shipping-delivery .form-group .form-right-wrapper {line-height: 35px;display: inline-block; margin-left: 10px;vertical-align: top;}
.shipping-delivery .form-group .form-right-wrapper span {font-size: 16px;}
.shipping-delivery .form-group .form-right-wrapper label {font-size: 16px;font-weight: 100;line-height: 1;color: #55565a;margin-bottom: 20px;text-transform: none;}
.shipping-delivery .form-group .form-right-wrapper input[type="text"] {margin-left: 0;border: 1px solid #dadada;border-radius: 0;box-shadow: none;-webkit-appearance: none;}
.shipping-delivery .form-group .form-right-wrapper > a { margin-left: 10px;}
.shipping-delivery .form-group .form-right-wrapper .collapse label {font-size: 16px;font-weight: 600;color: #002F5F;width: auto!important;display: inline-block;}
.shipping-delivery .form-group .form-right-wrapper .collapse input[type="text"] { width: auto;display: inline-block; margin-left: 10px;}
.shipping-delivery .form-group .form-right-wrapper .collapse button {display: inline-block;}

/*ABO 회원가입*/
#BusinessCollapseTwo h6.toggle-text {text-align: center;}

/*카테고리*/
.simpleimagecomponent a img {width: 100%;}

/*ABO 회원가입*/
#business-page-accordion .panel-title .glyphicon {color: #0075a4;font-size: 18px;margin-right: 5px;}

/*개인정보 활용동의 관리*/
.terms-and-conditions-management .bonus-payment-content .bonus-payment-wrapper .bonus-payment__title img {top: 33px;}
.terms-and-conditions-management #terms {padding: 0 45px;}
.terms-and-conditions-management #terms .terms-title {margin: 0;background-color: #F4F4F4;padding: 12px 15px;border: 1px solid #e3e3e3; border-bottom: none;}
.terms-and-conditions-management #terms .terms-title .icon-exports {right: 15px;top: 16px;}
.terms-and-conditions-management .next-control {padding: 0 45px 20px 45px;margin-bottom: 60px;}

/*ABO TAX*/
.point-management .bonus-payment-content .bonus-payment-wrapper .bonus-payment__title img {top: 36px;left: -33px;width: 25px;}
.point-management .point-title .col-md-2 { margin-top: 25px;}
.point-management .point-title .col-md-2:first-child {font-size: 16px;font-weight: 600;color: #002F5F; text-transform: uppercase;width: 168px;}
.point-management .product-competitive__summary {text-align: left;margin-top: 30px;}
.point-management .point-amway-theme {padding: 0 45px;}
.point-management .point-amway-theme .show-more-orders { text-transform: none;}
.point-management .point-amway-theme .ditto-nav-tabs-wrap {margin-bottom: 40px;}
.point-management .form-group {margin-bottom: 0;}
.point-management .form-group .date-range-select {width: 200px;margin-top: 15px;}
.point-management .form-group .date-range-select select {width: 216px;}
.point-management .form-group.date-form-group {display: inline-flex;}
.point-management .form-group.date-form-group .box-date-select input {cursor: pointer;height: 40px;}
.point-management .form-group.date-form-group .date-range-icon {border-top: 2px solid #ddd;width: 25px;position: relative;top: 20px;margin: 0 20px;}
.point-management .form-group.date-form-group .point-search-btn {color: #fff;height: 40px;margin-left: 12px;}
.point-management .form-group.date-form-group .point-search-btn:hover {color: #002F5F;}
.point-management .amway-theme .tabs-content-blocks .content-block .ditto-schedule-table tbody tr td.ditto-field-name .mob-order-num-text {display: none;}
.point-management .amway-theme .tabs-content-blocks .content-block .ditto-schedule-table tbody tr td.ditto-field-name .mob-order-num-number {display: none;}
.point-management .amway-theme .tabs-content-blocks .content-block .ditto-schedule-table tbody tr td:nth-child(4) .mob-division-text {display: none;}
.point-management .amway-theme .tabs-content-blocks .content-block .ditto-schedule-table tbody tr td:nth-child(4) .mob-division-type {display: none;}


@media (max-width: 768px) {
	.cartlist-detail-desktop { display: none;}
	.col-md-4 a.pull-right {float: left;width: 100%;}

	/*쇼핑*/
	.shipping-delivery .form-group .form-right-wrapper {margin-left: 0;}
	.shipping-delivery .form-group .form-right-wrapper .collapse label {display: block;}
	.shipping-delivery .form-group .form-right-wrapper .collapse input[type="text"] { margin-left: 0;margin-bottom: 10px;}


	/*개인정보 활용동의 관리*/
	.terms-and-conditions-management .bonus-payment-content .bonus-payment-wrapper .bonus-payment__title img {top: 24px;}
	.terms-and-conditions-management #terms {padding: 0 25px;}
	.terms-and-conditions-management .next-control { padding: 0 25px;}
	.terms-and-conditions-management .page-bonus-payment .bonus-payment .bonus-payment-wrapper {margin-bottom: 20px;}

	/*ABO TAX*/
	.point-management .point-amway-theme { padding: 0 25px;}
	.point-management .point-amway-theme .tabs-toggles {margin-left: 24px;margin-right: 24px;margin-bottom: -1px;}
	.point-management .point-title {margin-top: 15px;}
	.point-management .point-title .col-md-2 { margin-top: 0;}
	.point-management .form-group {margin-top: 20px;}
	.point-management .form-group .date-range-select {width: 100%;}
	.point-management .form-group .date-range-select select.form-control {width: 100%;}
	.point-management .form-group.date-form-group {display: block;margin-top: 0;}
	.point-management .form-group.date-form-group .box-date-select select {display: inline-block;min-width: 0; margin: 0 1%;}
	.point-management .form-group.date-form-group .box-date-select select:nth-child(1) { width: 36%;}
	.point-management .form-group.date-form-group .box-date-select select:nth-child(2) {width: 23%;}
	.point-management .form-group.date-form-group .box-date-select select:nth-child(3) {width: 36%; margin-right: 0;}
	.point-management .form-group.date-form-group .date-range-icon {top: 0;margin: 10px auto;}
	.point-management .form-group.date-form-group .point-search-btn { margin-top: 15px;margin-left: 0;display: block;}
	.point-management .form-group.date-form-group .box-date-select input {width: 100%;}
	.point-management .amway-theme .tabs-content-blocks .content-block { margin: 0 -25px;}
	.point-management .amway-theme .tabs-content-blocks .content-block .ditto-schedule-table thead tr th:nth-child(1) { padding-left: 20px;}
	.point-management .amway-theme .tabs-content-blocks .content-block .ditto-schedule-table thead tr th:nth-child(1) .ditto-header-button { min-width: 172px; }
	.point-management .amway-theme .tabs-content-blocks .content-block .ditto-schedule-table thead tr th:nth-child(2) { display: none;}
	.point-management .amway-theme .tabs-content-blocks .content-block .ditto-schedule-table thead tr th:nth-child(3) { display: none;}
	.point-management .amway-theme .tabs-content-blocks .content-block .ditto-schedule-table thead tr th:nth-child(4) { text-align: right; padding-right: 20px;}
	.point-management .amway-theme .tabs-content-blocks .content-block .ditto-schedule-table thead tr th:nth-child(4) .ditto-header-button {text-align: right!important;}
	.point-management .amway-theme .tabs-content-blocks .content-block .ditto-schedule-table tbody tr td.ditto-field-name span { padding-left: 0;}
	.point-management .amway-theme .tabs-content-blocks .content-block .ditto-schedule-table tbody tr td.ditto-field-name span.mob-order-num-text {display: block;text-transform: uppercase; }
	.point-management .amway-theme .tabs-content-blocks .content-block .ditto-schedule-table tbody tr td.ditto-field-name span.mob-order-num-number {  display: block; }
	.point-management .amway-theme .tabs-content-blocks .content-block .ditto-schedule-table tbody tr td:nth-child(2) {display: none;}
	.point-management .amway-theme .tabs-content-blocks .content-block .ditto-schedule-table tbody tr td:nth-child(3) { display: none;}
	.point-management .amway-theme .tabs-content-blocks .content-block .ditto-schedule-table tbody tr td:nth-child(4) { text-align: right; padding-right: 20px; font-weight: 600;}
	.point-management .amway-theme .tabs-content-blocks .content-block .ditto-schedule-table tbody tr td:nth-child(4) .mob-division-text { display: block;  font-weight: 100; text-transform: uppercase;}
	.point-management .amway-theme .tabs-content-blocks .content-block .ditto-schedule-table tbody tr td:nth-child(4) .mob-division-type { display: block;font-weight: 100;}
	.point-management .outer-border-bottom { margin-left: -38px;margin-right: -42px;}
	.point-management .bonus-payment-content .bonus-payment-wrapper .bonus-payment__title img {top: 28px;left: -20px;width: 18px;}
}

@media (max-width: 440px) {
  /*ABO TAX*/
  .point-management .form-group.date-form-group .box-date-select select:nth-child(2) {width: 21.5%;}
}

@media (max-width: 320px) {
  /*쇼핑*/
  .shipping-delivery .form-group .form-right-wrapper > a {display: block;margin-left: 0;}
}