
header.main-header .amway-theme .header-container {
  height: 40px;
  background: #e11e45;
}
header.main-header .amway-theme .header-container .header-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px;
}
header.main-header .amway-theme .header-container .country-language-container .dropdown {
  display: block;
  float: left;
  height: 40px;
  border-right: 1px solid #ea627d;
}
header.main-header .amway-theme .header-container .country-language-container .dropdown .dropdown-backdrop {
  display: none !important;
}
header.main-header .amway-theme .header-container .country-language-container .dropdown.open {
  background-color: #c53131;
}
header.main-header .amway-theme .header-container .country-language-container .dropdown.open .icon:before {
  content: "\e260" !important;
}
header.main-header .amway-theme .header-container .country-language-container .dropdown-toggle .flag-icon {
  bottom: inherit;
  top: 10px;
}
header.main-header .amway-theme .header-container .country-language-container .dropdown-toggle .current-country-code {
  margin-left: 30px;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 100;
  color: #fff;
}
header.main-header .amway-theme .header-container .country-language-container .dropdown-toggle .current-language {
  font-size: 0.875em;
  font-weight: 700;
  color: #fff;
}
header.main-header .amway-theme .header-container .country-language-container .dropdown-toggle .icon {
  font-size: 10px;
  color: #fff;
  display: inline-block;
}
header.main-header .amway-theme .header-container .country-language-container .countryBox {
  top: 38px;
  border: none;
  background: #fff;
  padding: 0;
}
header.main-header .amway-theme .header-container .nav-links-container {
  float: right;
}
header.main-header .amway-theme .header-container .nav-links-container ul.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  border-left: 1px solid #ea627d;
}
header.main-header .amway-theme .header-container .nav-links-container ul.nav-list li.nav-item {
  display: block;
  float: left;
  padding: 0;
  border-right: 1px solid #ea627d;
}
header.main-header .amway-theme .header-container .nav-links-container ul.nav-list li.nav-item a {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  display: block;
  padding: 8px 25px;
  outline: none;
}
header.main-header .amway-theme .header-container .nav-links-container ul.nav-list li.nav-item a:hover {
  color: #fff;
}
header.main-header .amway-theme .header-container .nav-links-container ul.nav-list li.nav-item a:focus {
  color: #fff;
}
header.main-header .amway-theme .header-container .nav-links-container ul.nav-list li.nav-item a.img-nav-link {
  line-height: 40px;
  margin: 0;
  padding: 0;
}
header.main-header .amway-theme .header-container .nav-links-container ul.nav-list li.nav-item a.img-nav-link:hover {
  text-decoration: none;
}
header.main-header .amway-theme .header-container .nav-links-container ul.nav-list li.nav-item a.img-nav-link:hover * {
  text-decoration: none;
}
header.main-header .amway-theme .header-container .nav-links-container ul.nav-list li.nav-item a.img-nav-link:focus {
  text-decoration: none;
}
header.main-header .amway-theme .header-container .nav-links-container ul.nav-list li.nav-item a.img-nav-link:focus * {
  text-decoration: none;
}
header.main-header .amway-theme .header-container .nav-links-container ul.nav-list li.nav-item a.img-nav-link .user-name {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}
header.main-header .amway-theme .header-container .nav-links-container ul.nav-list li.nav-item a.img-nav-link .icon {
  font-size: 10px;
  color: #fff;
}
header.main-header .amway-theme .header-container .nav-links-container ul.nav-list li.nav-item a.img-nav-link img {
  position: relative;
  bottom: 1px;
  border-radius: 50%;
  width: 34px;
  height: 34px;
}
header.main-header .amway-theme .header-container .nav-links-container ul.nav-list li.nav-item a.img-nav-link.opened {
  background: #c53131;
}
header.main-header .amway-theme .header-container .nav-links-container ul.nav-list li.nav-item a.img-nav-link.opened .icon:before {
  content: "\ea87";
}
header.main-header .amway-theme .header-container .nav-links-container ul.nav-list li.nav-item .nav-cart {
  padding: 0;
}
header.main-header .amway-theme .header-container .nav-links-container ul.nav-list li.nav-item .nav-cart .mini-cart-link {
  padding: 3px 15px;
  line-height: 34px;
  color: #fff;
}
header.main-header .amway-theme .header-container .nav-links-container ul.nav-list li.nav-item .nav-cart .mini-cart-link:hover {
  text-decoration: none;
}
header.main-header .amway-theme .header-container .nav-links-container ul.nav-list li.nav-item .nav-cart .mini-cart-link:hover * {
  text-decoration: none;
}
header.main-header .amway-theme .header-container .nav-links-container ul.nav-list li.nav-item .nav-cart .mini-cart-link:focus {
  text-decoration: none;
}
header.main-header .amway-theme .header-container .nav-links-container ul.nav-list li.nav-item .nav-cart .mini-cart-link:focus * {
  text-decoration: none;
}
header.main-header .amway-theme .header-container .nav-links-container ul.nav-list li.nav-item .nav-cart .mini-cart-link .cart-icon-wrapper {
  display: none;
  position: relative;
  top: 30px;
  width: 100%;
  background: transparent;
  z-index: 10002;
}
header.main-header .amway-theme .header-container .nav-links-container ul.nav-list li.nav-item .nav-cart .mini-cart-link .cart-icon-wrapper .mini-cart-arrow {
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 14px solid white;
  margin: 0 auto;
}
header.main-header .amway-theme .header-container .nav-links-container ul.nav-list li.nav-item .nav-cart .mini-cart-link .mini-cart-icon {
  display: block;
  float: left;
  margin-left: 8px;
}
header.main-header .amway-theme .header-container .nav-links-container ul.nav-list li.nav-item .nav-cart .mini-cart-link .mini-cart-price {
  display: block;
  float: left;
  margin-left: 8px;
  font-size: 14px;
  line-height: 34px;
  font-weight: 700;
  text-transform: uppercase;
}
header.main-header .amway-theme .header-container .nav-links-container ul.nav-list li.nav-item .nav-cart .mini-cart-link .mini-cart-price * {
  font-size: inherit;
  line-height: inherit;
}
header.main-header .amway-theme .header-container .nav-links-container ul.nav-list li.nav-item .nav-cart .mini-cart-link .mini-cart-count {
  display: block;
  float: left;
  margin-left: 8px;
  font-size: 14px;
  line-height: 34px;
  font-weight: 700;
  text-transform: uppercase;
}
header.main-header .amway-theme .header-container .nav-links-container ul.nav-list li.nav-item .nav-cart .mini-cart-link .mini-cart-count * {
  font-size: inherit;
  line-height: inherit;
}
header.main-header .amway-theme .header-container .nav-links-container ul.nav-list li.nav-item .nav-cart.opened {
  background: #c53131;
}
header.main-header .amway-theme .header-container .nav-links-container ul.nav-list li.nav-item .nav-cart.opened .mini-cart-link .cart-icon-wrapper {
  display: block;
}
header.main-header .amway-theme .header-container .nav-links-container ul.nav-list li.nav-item .nav-cart-wrapper .mini-cart-items-container {
  background: #fff;
  right: 10px;
}
header.main-header .amway-theme .header-container .nav-links-container ul.nav-list li.nav-item .nav-cart-wrapper .mini-cart-items-container .list-item-image a {
  padding: 0;
}
header.main-header .amway-theme .header-container .nav-links-container ul.nav-list li.nav-item .nav-cart-wrapper .mini-cart-items-container .nav.nav-tabs li {
  color: #55565a;
}
header.main-header .amway-theme .header-container .nav-links-container ul.nav-list li.nav-item .nav-cart-wrapper .mini-cart-items-container .nav.nav-tabs li a:hover {
  text-decoration: none;
}
header.main-header .amway-theme .header-container .nav-links-container ul.nav-list li.nav-item .nav-cart-wrapper .mini-cart-items-container .nav.nav-tabs li a:hover * {
  text-decoration: none;
}
header.main-header .amway-theme .header-container .nav-links-container ul.nav-list li.nav-item .nav-cart-wrapper .mini-cart-items-container .nav.nav-tabs li a:focus {
  text-decoration: none;
}
header.main-header .amway-theme .header-container .nav-links-container ul.nav-list li.nav-item .nav-cart-wrapper .mini-cart-items-container .nav.nav-tabs li a:focus * {
  text-decoration: none;
}
header.main-header .amway-theme .header-container .nav-links-container ul.nav-list li.nav-item .nav-cart-wrapper .mini-cart-items-container .nav.nav-tabs li.active {
  color: #002F5F;
}
header.main-header .amway-theme .header-container .nav-links-container ul.nav-list li.nav-item .nav-cart-wrapper .mini-cart-items-container .cart-icon-wrapper {
  background: transparent;
}
header.main-header .amway-theme .header-container .nav-links-container ul.nav-list li.nav-item.nav-mini-cart {
  padding: 0;
}
header.main-header .amway-theme .header-container .nav-links-container ul.nav-list li.ibo-summary {
  display: block;
  float: left;
  padding: 0;
  border-right: 1px solid #ea627d;
  line-height: 40px;
  background: #c53131;
}
header.main-header .amway-theme .header-container .nav-links-container ul.nav-list li.ibo-summary .ibo-summary__toggle {
  display: block;
  float: left;
  font-size: 10px;
  line-height: 24px;
  color: #fff;
  padding: 8px 10px;
  background: #e11e45;
}
header.main-header .amway-theme .header-container .nav-links-container ul.nav-list li.ibo-summary .ibo-summary__toggle.icon-collapse-arrows {
  background: #c53131;
}
header.main-header .amway-theme .header-container .nav-links-container ul.nav-list li.ibo-summary .ibo-summary__wrapper {
  font-size: 14px;
  line-height: 24px;
  padding: 8px 25px;
  color: #fff;
  display: none;
  border-left: 1px solid #ea627d;
  float: left;
}
header.main-header .amway-theme .header-container .nav-links-container ul.nav-list li.ibo-summary .ibo-summary__wrapper * {
  line-height: inherit;
  font-size: inherit;
}
header.main-header .amway-theme .amw-navigation-menu {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  -moz-box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  -ms-box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  border-top: none;
}
header.main-header .amway-theme .amw-navigation-menu .navigation-menu-container {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}
header.main-header .amway-theme .amw-navigation-menu .navigation-menu-container .desktop-nav-menu {
  padding: 12px 0;
}
header.main-header .amway-theme .amw-navigation-menu .navigation-menu-container .desktop-nav-menu .top-menu {
  text-transform: uppercase;
  font-weight: 700;
  padding: 0 12px 0 0;
}
header.main-header .amway-theme .amw-navigation-menu .navigation-menu-container .desktop-nav-menu .top-menu .amway-logo-desktop .site-logo {
  padding: 10px 0 0;
}
header.main-header .amway-theme .amw-navigation-menu .navigation-menu-container .desktop-nav-menu .top-menu .amway-logo-desktop .site-logo .img {
  width: 142px;
  height: 48px;
}
header.main-header .amway-theme .amw-navigation-menu .navigation-menu-container .desktop-nav-menu .top-menu .top-menu-links {
  padding-left: 0;
  position: relative;
  left: 20px;
  width: auto;
}
header.main-header .amway-theme .amw-navigation-menu .navigation-menu-container .desktop-nav-menu .top-menu .top-menu-links .menu-nav-list {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
header.main-header .amway-theme .amw-navigation-menu .navigation-menu-container .desktop-nav-menu .top-menu .top-menu-links .menu-nav-list .nav-list-item {
  position: relative;
  display: block;
  float: left;
}
header.main-header .amway-theme .amw-navigation-menu .navigation-menu-container .desktop-nav-menu .top-menu .top-menu-links .menu-nav-list .nav-list-item a {
  font-size: 17px;
  position: relative;
  line-height: 24px;
  display: block;
  padding: 20px 8px 20px 30px;
}
header.main-header .amway-theme .amw-navigation-menu .navigation-menu-container .desktop-nav-menu .top-menu .top-menu-links .menu-nav-list .nav-list-item .overlay-menu-component-desktop-wrapper {
  position: relative;
  display: block;
}
header.main-header .amway-theme .amw-navigation-menu .navigation-menu-container .desktop-nav-menu .top-menu .top-menu-links .menu-nav-list .nav-list-item .overlay-menu-component-desktop-wrapper:hover {
  background: inherit;
}
header.main-header .amway-theme .amw-navigation-menu .navigation-menu-container .desktop-nav-menu .top-menu .top-menu-links .menu-nav-list .nav-list-item .overlay-menu-component-desktop-wrapper a.overlay-menu-toggle-desktop {
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 40px;
  padding: 0 25px;
  text-decoration: none;
  cursor: pointer;
  white-space: normal;
  border-right: 1px solid #dadada;
  margin: 12px 10px 12px 0;
}
header.main-header .amway-theme .amw-navigation-menu .navigation-menu-container .desktop-nav-menu .top-menu .top-menu-links .menu-nav-list .nav-list-item .overlay-menu-component-desktop-wrapper a.overlay-menu-toggle-desktop:hover {
  text-decoration: none;
  background: inherit;
}
header.main-header .amway-theme .amw-navigation-menu .navigation-menu-container .desktop-nav-menu .top-menu .top-menu-links .menu-nav-list .nav-list-item .overlay-menu-component-desktop-wrapper a.overlay-menu-toggle-desktop:hover * {
  text-decoration: none;
}
header.main-header .amway-theme .amw-navigation-menu .navigation-menu-container .desktop-nav-menu .top-menu .top-menu-links .menu-nav-list .nav-list-item .overlay-menu-component-desktop-wrapper a.overlay-menu-toggle-desktop:focus {
  text-decoration: none;
  background: inherit;
}
header.main-header .amway-theme .amw-navigation-menu .navigation-menu-container .desktop-nav-menu .top-menu .top-menu-links .menu-nav-list .nav-list-item .overlay-menu-component-desktop-wrapper a.overlay-menu-toggle-desktop:focus * {
  text-decoration: none;
}
header.main-header .amway-theme .amw-navigation-menu .navigation-menu-container .desktop-nav-menu .top-menu .top-menu-links .menu-nav-list .nav-list-item .overlay-menu-component-desktop-wrapper a.overlay-menu-toggle-desktop .hamburger-icon {
  font-size: 22px;
  line-height: 24px;
  width: 20px;
  display: inline-block;
  position: relative;
  margin-right: 7px;
  bottom: -1px;
  top: inherit;
}
header.main-header .amway-theme .amw-navigation-menu .navigation-menu-container .desktop-nav-menu .top-menu .top-menu-links .menu-nav-list .nav-list-item .overlay-menu-component-desktop-wrapper a.overlay-menu-toggle-desktop .button-text {
  font-family: Roboto;
  font-weight: 700;
  font-size: 1em;
  line-height: 24px;
}
header.main-header .amway-theme .amw-navigation-menu .navigation-menu-container .desktop-nav-menu .top-menu .top-menu-links .menu-nav-list .nav-list-item .overlay-menu-component-desktop-wrapper a.overlay-menu-toggle-desktop.collapsed .hamburger-icon {
  font-size: 18px;
}
header.main-header .amway-theme .amw-navigation-menu .navigation-menu-container .desktop-nav-menu .top-search {
  padding: 0 0 0 12px;
}
header.main-header .amway-theme .amw-navigation-menu .navigation-menu-container .desktop-nav-menu .top-search .site-search .ui-front {
  padding: 12px 0;
  z-index: 100;
}
header.main-header .amway-theme .amw-navigation-menu .navigation-menu-container .desktop-nav-menu .top-search .site-search .ui-front .input-group {
  width: auto;
  border-radius: 4px;
  font-weight: 100;
  background-color: #fff;
  min-height: 38px;
  border: 1px solid #dadada;
}
header.main-header .amway-theme .amw-navigation-menu .navigation-menu-container .desktop-nav-menu .top-search .site-search .ui-front .input-group .form-control {
  border: 0;
  box-shadow: none;
  height: 38px;
  text-transform: uppercase;
  display: table-cell;
  background: transparent;
  font-weight: 100;
}
header.main-header .amway-theme .amw-navigation-menu .navigation-menu-container .desktop-nav-menu .top-search .site-search .ui-front .input-group .input-group-btn {
  display: table-cell;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  font-size: 1em;
  background: transparent;
}
header.main-header .amway-theme .amw-navigation-menu .navigation-menu-container .desktop-nav-menu .top-search .site-search .ui-front .input-group .input-group-btn .btn {
  width: 40px;
  padding: 0;
  max-height: 38px;
}
header.main-header .amway-theme .amw-navigation-menu .navigation-menu-container .desktop-nav-menu .top-search .site-search .ui-front .input-group .input-group-btn .btn:hover {
  text-decoration: none;
}
header.main-header .amway-theme .amw-navigation-menu .navigation-menu-container .desktop-nav-menu .top-search .site-search .ui-front .input-group .input-group-btn .btn:hover * {
  text-decoration: none;
}
header.main-header .amway-theme .amw-navigation-menu .navigation-menu-container .desktop-nav-menu .top-search .site-search .ui-front .input-group .input-group-btn .btn:focus {
  text-decoration: none;
}
header.main-header .amway-theme .amw-navigation-menu .navigation-menu-container .desktop-nav-menu .top-search .site-search .ui-front .input-group .input-group-btn .btn:focus * {
  text-decoration: none;
}
header.main-header .amway-theme .amw-navigation-menu .navigation-menu-container .desktop-nav-menu .top-search .site-search .ui-front .input-group .input-group-btn .btn .icon-search {
  font-size: 1.1em;
}
header.main-header .amway-theme .amw-navigation-menu .navigation-menu-container .desktop-nav-menu .top-search .site-search .ui-front ul.ui-autocomplete {
  position: absolute;
  background: #fff;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 8px 15px rgba(0,0,0,0.5);
  box-shadow: 0 8px 15px rgba(0,0,0,0.5);
  z-index: 100;
  width: auto !important;
  padding-left: 0;
  padding-top: 0;
  list-style: none;
  margin: 0;
}
header.main-header .amway-theme .amw-navigation-menu.search-open .navigation-menu-container .desktop-nav-menu .top-search {
  display: block;
}
header.main-header .amway-theme .overlay-menu-container {
  position: fixed;
  background: #fff;
  z-index: 1000;
  top: 128px;
  left: 0;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
header.main-header .amway-theme .overlay-menu-container .overlay-menu .overlay-menu-headers {
  margin: 0;
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
}
header.main-header .amway-theme .overlay-menu-container .overlay-menu .overlay-menu-headers .menu-headers-container {
  padding: 0;
}
header.main-header .amway-theme .overlay-menu-container .overlay-menu .overlay-menu-headers .tab-header-list {
  display: flex;
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}
header.main-header .amway-theme .overlay-menu-container .overlay-menu .overlay-menu-headers .tab-header-list .tab-header-item {
  flex: 1;
  border-right: 1px solid #dadada;
  text-align: center;
}
header.main-header .amway-theme .overlay-menu-container .overlay-menu .overlay-menu-headers .tab-header-list .tab-header-item:first-of-type {
  border-left: 1px solid #dadada;
}
header.main-header .amway-theme .overlay-menu-container .overlay-menu .overlay-menu-headers .tab-header-list .tab-header-item * {
  background: inherit;
}
header.main-header .amway-theme .overlay-menu-container .overlay-menu .overlay-menu-headers .tab-header-list .tab-header-item a.tab-toggle {
  color: #002F5F;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 25px !important;
  height: 100%;
  outline: none;
}
header.main-header .amway-theme .overlay-menu-container .overlay-menu .overlay-menu-headers .tab-header-list .tab-header-item a.tab-toggle * {
  font-weight: inherit;
}
header.main-header .amway-theme .overlay-menu-container .overlay-menu .overlay-menu-headers .tab-header-list .tab-header-item a.tab-toggle .wrapper {
  display: table;
  margin: 0 auto;
  height: 100%;
}
header.main-header .amway-theme .overlay-menu-container .overlay-menu .overlay-menu-headers .tab-header-list .tab-header-item a.tab-toggle:hover {
  text-decoration: none;
}
header.main-header .amway-theme .overlay-menu-container .overlay-menu .overlay-menu-headers .tab-header-list .tab-header-item a.tab-toggle:hover * {
  text-decoration: none;
}
header.main-header .amway-theme .overlay-menu-container .overlay-menu .overlay-menu-headers .tab-header-list .tab-header-item a.tab-toggle:focus {
  text-decoration: none;
}
header.main-header .amway-theme .overlay-menu-container .overlay-menu .overlay-menu-headers .tab-header-list .tab-header-item a.tab-toggle:focus * {
  text-decoration: none;
}
header.main-header .amway-theme .overlay-menu-container .overlay-menu .overlay-menu-headers .tab-header-list .tab-header-item .tab-image {
  display: table-cell;
  vertical-align: middle;
  padding-right: 10px;
}
header.main-header .amway-theme .overlay-menu-container .overlay-menu .overlay-menu-headers .tab-header-list .tab-header-item .tab-image .active-image {
  display: none;
}
header.main-header .amway-theme .overlay-menu-container .overlay-menu .overlay-menu-headers .tab-header-list .tab-header-item .tab-title {
  display: table-cell;
  vertical-align: middle;
  line-height: 1em;
  text-align: left;
}
header.main-header .amway-theme .overlay-menu-container .overlay-menu .overlay-menu-headers .tab-header-list .tab-header-item.active {
  background: #002f5f;
}
header.main-header .amway-theme .overlay-menu-container .overlay-menu .overlay-menu-headers .tab-header-list .tab-header-item.active a.tab-toggle {
  color: #fff;
}
header.main-header .amway-theme .overlay-menu-container .overlay-menu .overlay-menu-headers .tab-header-list .tab-header-item.active .tab-image .active-image {
  display: inline-block;
}
header.main-header .amway-theme .overlay-menu-container .overlay-menu .overlay-menu-headers .tab-header-list .tab-header-item.active .tab-image .not-active-image {
  display: none;
}
header.main-header .amway-theme .overlay-menu-container .overlay-menu .tab-content .overlay-menu-tab .overlay-menu-tab-first-col {
  padding-left: 0;
}
header.main-header .amway-theme .overlay-menu-container .overlay-menu .tab-content .overlay-menu-tab .overlay-tab-title-wrapper a.overlay-tab-title {
  padding: 1em 0 !important;
  color: #55565a !important;
  font-weight: 600;
  text-transform: none;
}
header.main-header .amway-theme .overlay-menu-container .overlay-menu .tab-content .overlay-menu-tab .overlay-menu-tab-row {
  border-bottom: 1px solid #dadada;
  padding: 0 0 2.25em;
}
header.main-header .amway-theme .overlay-menu-container .overlay-menu .tab-content .overlay-menu-tab .overlay-menu-tab-row:first-of-type {
  border-bottom: none;
  padding: 0;
}
header.main-header .amway-theme .overlay-menu-container .overlay-menu .tab-content .overlay-menu-tab .overlay-menu-tab-row:last-of-type {
  border-bottom: none;
}
header.main-header .amway-theme .overlay-menu-container .overlay-menu .tab-content .overlay-menu-tab .overlay-menu-tab-categories {
  text-transform: none;
  padding-top: 1em;
}
header.main-header .amway-theme .overlay-menu-container .overlay-menu .tab-content .overlay-menu-tab .overlay-menu-tab-categories:first-of-type {
  padding: 0;
}
header.main-header .amway-theme .overlay-menu-container .overlay-menu .tab-content .overlay-menu-tab .overlay-menu-tab-categories .tab__category {
  padding-left: 0;
}
header.main-header .amway-theme .overlay-menu-container .overlay-menu .tab-content .overlay-menu-tab .overlay-menu-tab-categories .tab__category ul.category-links {
  list-style: none;
  padding: 1em 0 0;
}
header.main-header .amway-theme .overlay-menu-container .overlay-menu .tab-content .overlay-menu-tab .overlay-menu-tab-categories .tab__category ul.category-links li:last-of-type {
  margin-top: 1em;
}
header.main-header .amway-theme .overlay-menu-container .overlay-menu .tab-content .overlay-menu-tab .overlay-menu-tab-categories .tab__category ul.category-links li:last-of-type a {
  font-weight: 600;
}
header.main-header .amway-theme .overlay-menu-container .overlay-menu .tab-content .overlay-menu-tab .overlay-menu-tab-categories .tab__category ul.category-links li a {
  padding: 2px 0;
  line-height: 20px;
  color: #55565a;
  font-weight: 100;
  display: inline-block;
}
header.main-header .amway-theme .overlay-menu-container .overlay-menu .tab-content .overlay-menu-tab .overlay-menu-tab-tools {
  padding: 2.25em 0;
  border-bottom: 1px solid #dadada;
}
header.main-header .amway-theme .overlay-menu-container .overlay-menu .tab-content .overlay-menu-tab .overlay-menu-tab-tools ul.tools-list {
  list-style: none;
  padding: 1em 0 0;
}
header.main-header .amway-theme .overlay-menu-container .overlay-menu .tab-content .overlay-menu-tab .overlay-menu-tab-tools ul.tools-list li.tools-item {
  display: inline-block;
  padding: 0 1em;
  border-right: 1px solid #dadada;
}
header.main-header .amway-theme .overlay-menu-container .overlay-menu .tab-content .overlay-menu-tab .overlay-menu-tab-tools ul.tools-list li.tools-item:first-of-type {
  padding-left: 0;
}
header.main-header .amway-theme .overlay-menu-container .overlay-menu .tab-content .overlay-menu-tab .overlay-menu-tab-tools ul.tools-list li.tools-item:last-of-type {
  border-right: none;
}
header.main-header .amway-theme .overlay-menu-container .overlay-menu .tab-content .overlay-menu-tab .overlay-menu-tab-tools ul.tools-list li.tools-item a {
  padding: 0;
  font-weight: 100;
  color: #55565a;
  text-transform: none;
}
header.main-header .amway-theme .overlay-menu-container .overlay-menu .tab-content .overlay-menu-tab .overlay-menu-tab-brands {
  padding: 2.25em 0;
}
header.main-header .amway-theme .overlay-menu-container .overlay-menu .tab-content .overlay-menu-tab .overlay-menu-tab-brands .images-container {
  margin-top: 1em;
}
header.main-header .amway-theme .mobile-container {
  display: none;
  width: 100%;
  background: #e11e45;
}
header.main-header .amway-theme .mobile-container *:not(.flag-icon) {
  background: inherit;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper {
  display: table;
  width: 100%;
  height: 60px;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .mobile-header-cell {
  display: table-cell;
  vertical-align: middle;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .mobile-header-cell:first-of-type {
  border-left: none;
  border-right: 1px solid #dadada;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .navigation-menu-toggle-wrapper {
  background: #fff;
  width: 62px;
  max-width: 62px;
  min-width: 62px;
  padding: 0;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .navigation-menu-toggle-wrapper .overlay-menu-toggle-mobile {
  width: 61px;
  height: 60px;
  position: absolute;
  display: table;
  font-size: 1em;
  padding: 17px 0 17px 5px;
  color: #002F5F;
  text-align: center;
  top: 0;
  z-index: 150;
  white-space: normal;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .navigation-menu-toggle-wrapper .overlay-menu-toggle-mobile:hover {
  text-decoration: none;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .navigation-menu-toggle-wrapper .overlay-menu-toggle-mobile:hover * {
  text-decoration: none;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .navigation-menu-toggle-wrapper .overlay-menu-toggle-mobile:focus {
  text-decoration: none;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .navigation-menu-toggle-wrapper .overlay-menu-toggle-mobile:focus * {
  text-decoration: none;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .navigation-menu-toggle-wrapper .overlay-menu-toggle-mobile.overlay-menu-open {
  padding: 14px 0 12px 2px;
  width: 60px;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .navigation-menu-toggle-wrapper .overlay-menu-toggle-mobile.overlay-menu-open .hamburger-icon {
  font-size: 22px;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .navigation-menu-toggle-wrapper .overlay-menu-toggle-mobile.overlay-menu-open .hamburger-icon:before {
  content: "\e96d";
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .navigation-country-wrapper {
  display: none;
  position: absolute;
  z-index: 100;
  height: 60px;
  width: 100%;
  top: 0;
  left: 0;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .navigation-country-wrapper .wrap {
  margin-left: 60px;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .navigation-country-wrapper .wrap .mobile-country-container .dropdown {
  display: block;
  float: left;
  width: 50%;
  position: inherit;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .navigation-country-wrapper .wrap .mobile-country-container .dropdown .dropdown-backdrop {
  display: none !important;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .navigation-country-wrapper .wrap .mobile-country-container .dropdown:first-of-type {
  border-right: 1px solid rgba(255,255,255,0.3);
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .navigation-country-wrapper .wrap .mobile-country-container .dropdown .btn.dropdown-toggle {
  height: 60px;
  width: 100%;
  padding: 0 15px;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .navigation-country-wrapper .wrap .mobile-country-container .dropdown .btn.dropdown-toggle .wrapper {
  width: auto;
  display: table;
  position: relative;
  margin: 0 auto;
  line-height: 60px;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .navigation-country-wrapper .wrap .mobile-country-container .dropdown .btn.dropdown-toggle .flag-icon {
  bottom: inherit;
  top: 21px;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .navigation-country-wrapper .wrap .mobile-country-container .dropdown .btn.dropdown-toggle .current-country-code {
  font-size: 0.875em;
  font-weight: 700;
  color: #fff;
  margin-left: 30px;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .navigation-country-wrapper .wrap .mobile-country-container .dropdown .btn.dropdown-toggle .current-language {
  font-size: 0.875em;
  font-weight: 700;
  color: #fff;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .navigation-country-wrapper .wrap .mobile-country-container .dropdown .btn.dropdown-toggle .icon {
  font-size: 10px;
  color: #fff;
  display: inline-block;
  margin-left: 5px;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .navigation-country-wrapper .wrap .mobile-country-container .dropdown .dropdown-menu {
  padding: 0;
  margin: 0;
  background: #fff;
  width: 100%;
  border: 1px solid #dadada;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .navigation-country-wrapper .wrap .mobile-country-container .dropdown .dropdown-menu .content-item {
  font-size: 14px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #e3e3e3;
  display: block;
  position: relative;
  text-transform: uppercase;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .navigation-country-wrapper .wrap .mobile-country-container .dropdown .dropdown-menu .content-item * {
  font-size: 14px;
  line-height: 24px;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .navigation-country-wrapper .wrap .mobile-country-container .dropdown .dropdown-menu .content-item a.country-item-link {
  color: #55565a;
  padding: 8px 25px;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .navigation-country-wrapper .wrap .mobile-country-container .dropdown .dropdown-menu .content-item a.country-item-link:hover {
  color: #002F5F;
  text-decoration: none;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .navigation-country-wrapper .wrap .mobile-country-container .dropdown .dropdown-menu .content-item a.country-item-link:hover span {
  text-decoration: none;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .navigation-country-wrapper .wrap .mobile-country-container .dropdown .dropdown-menu .content-item a.country-item-link:focus {
  color: #002F5F;
  text-decoration: none;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .navigation-country-wrapper .wrap .mobile-country-container .dropdown .dropdown-menu .content-item a.country-item-link:focus span {
  text-decoration: none;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .navigation-country-wrapper .wrap .mobile-country-container .dropdown .dropdown-menu .content-item a.language-item-link {
  color: #55565a;
  padding: 8px 25px;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .navigation-country-wrapper .wrap .mobile-country-container .dropdown .dropdown-menu .content-item a.language-item-link:hover {
  color: #002F5F;
  text-decoration: none;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .navigation-country-wrapper .wrap .mobile-country-container .dropdown .dropdown-menu .content-item a.language-item-link:hover span {
  text-decoration: none;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .navigation-country-wrapper .wrap .mobile-country-container .dropdown .dropdown-menu .content-item a.language-item-link:focus {
  color: #002F5F;
  text-decoration: none;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .navigation-country-wrapper .wrap .mobile-country-container .dropdown .dropdown-menu .content-item a.language-item-link:focus span {
  text-decoration: none;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .navigation-country-wrapper .wrap .mobile-country-container .dropdown .dropdown-menu .content-item .flag-icon {
  bottom: 10px;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .navigation-country-wrapper .wrap .mobile-country-container .dropdown .dropdown-menu .content-item .flag-icon+.country-item-text {
  margin-left: 30px;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .navigation-country-wrapper .wrap .mobile-country-container .dropdown .dropdown-menu .content-item .country-item-text {
  font-size: 14px;
  font-weight: 100;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .navigation-country-wrapper .wrap .mobile-country-container .dropdown .dropdown-menu .content-item .country-item-link {
  line-height: 32px;
  padding: 8px 18px;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .navigation-country-wrapper .wrap .mobile-country-container .dropdown .dropdown-menu .content-item .language-item-link {
  line-height: 32px;
  padding: 8px 18px;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .navigation-country-wrapper .wrap .mobile-country-container .dropdown.open {
  background-color: #c53131;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .navigation-country-wrapper .wrap .mobile-country-container .dropdown.open .icon:before {
  content: "\ea87";
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .navigation-country-wrapper.country-menu-visible {
  display: block;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .mobile-nav-row-btn-logo {
  background: #fff;
  text-align: center;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .mobile-nav-row-btn-logo .banner {
  width: 100%;
  margin: 0;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .mobile-nav-row-btn-logo img {
  height: auto;
  width: 100%;
  max-width: 140px;
  padding: 0 10px;
  min-width: 120px;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .search-btn-container {
  background: #fff;
  width: 30px;
  text-align: center;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .search-btn-container .mobile-search-btn {
  padding: 0;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .search-btn-container .mobile-search-btn .icon {
  font-size: 25px;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .mobile-account-container .mobile-account-btn {
  display: block;
  padding: 0;
  width: auto;
  margin: 0 auto;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .mobile-cart-container {
  width: 68px;
  padding: 0 18px 0 20px;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .mobile-cart-container .nav-cart-wrapper.opened .mini-cart-link .cart-icon-wrapper {
  display: block;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .mobile-cart-container .mini-cart-link {
  color: #fff;
  text-align: center;
  position: relative;
  display: block;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .mobile-cart-container .mini-cart-link:hover {
  text-decoration: none;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .mobile-cart-container .mini-cart-link:hover * {
  text-decoration: none;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .mobile-cart-container .mini-cart-link:focus {
  text-decoration: none;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .mobile-cart-container .mini-cart-link:focus * {
  text-decoration: none;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .mobile-cart-container .mini-cart-link .mini-cart-icon {
  position: relative;
  top: 1px;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .mobile-cart-container .mini-cart-link .mini-cart-count {
  position: absolute;
  top: -12px;
  background: transparent;
  left: 1px;
  width: 100%;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .mobile-cart-container .mini-cart-link .mini-cart-count .nav-items-total {
  font-size: 14px;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .mobile-cart-container .mini-cart-link .cart-icon-wrapper {
  display: none;
  position: absolute;
  top: 41px;
  width: 100%;
  background: transparent;
  z-index: 10002;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .mobile-cart-container .mini-cart-link .cart-icon-wrapper .mini-cart-arrow {
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 14px solid white;
  margin: 0 auto;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .mobile-cart-container .mini-cart-items-container {
  background: #fff;
  top: 50px;
  right: -1px;
  max-width: 322px;
  min-width: 322px;
  max-height: calc(100vh - 60px);
  overflow-y: auto;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .mobile-cart-container .mini-cart-items-container .nav.nav-tabs li {
  color: #55565a;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .mobile-cart-container .mini-cart-items-container .nav.nav-tabs li a:hover {
  text-decoration: none;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .mobile-cart-container .mini-cart-items-container .nav.nav-tabs li a:hover * {
  text-decoration: none;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .mobile-cart-container .mini-cart-items-container .nav.nav-tabs li a:focus {
  text-decoration: none;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .mobile-cart-container .mini-cart-items-container .nav.nav-tabs li a:focus * {
  text-decoration: none;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .mobile-cart-container .mini-cart-items-container .nav.nav-tabs li.active {
  color: #002F5F;
}
header.main-header .amway-theme .mobile-container .mobile-wrapper .mobile-cart-container .mini-cart-items-container .product-item-element.list-item-image .thumb {
  width: 100%;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu {
  list-style: none;
  margin-bottom: 0;
  position: absolute;
  top: 60px;
  width: 100%;
  z-index: 100;
  background: #fff;
  max-height: calc(100vh - 60px);
  overflow-y: auto;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .nav-list-element {
  border-bottom: 1px solid #dadada;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .nav-list-element:nth-of-type(2) {
  padding-top: 30px;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .nav-list-element a {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  display: block;
  padding: 18px 30px 18px 15px;
  text-transform: uppercase;
  color: #002F5F;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .nav-list-element a:hover {
  text-decoration: none;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .nav-list-element a:hover * {
  text-decoration: none;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .nav-list-element a:focus {
  text-decoration: none;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .nav-list-element a:focus * {
  text-decoration: none;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group {
  margin: 0;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel {
  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 1px solid #dadada;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel:first-of-type {
  border-top: 1px solid #dadada;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__heading {
  padding: 0;
  width: 100%;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__heading h4.panel-title .panel-toggle {
  white-space: normal;
  width: 100%;
  text-align: left;
  padding: 14px 15px 14px 0;
  display: table;
  background: #002f5f;
  font-size: 16px;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__heading h4.panel-title .panel-toggle:hover {
  text-decoration: none;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__heading h4.panel-title .panel-toggle:hover * {
  text-decoration: none;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__heading h4.panel-title .panel-toggle:focus {
  text-decoration: none;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__heading h4.panel-title .panel-toggle:focus * {
  text-decoration: none;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__heading h4.panel-title .panel-toggle .title-element {
  display: table-cell;
  vertical-align: top;
  line-height: 30px;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__heading h4.panel-title .panel-toggle .active-parent-icon {
  display: none;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__heading h4.panel-title .panel-toggle .title-text {
  color: #fff;
  background: transparent;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__heading h4.panel-title .panel-toggle .tab-image {
  width: 60px;
  height: 30px;
  padding: 0;
  text-align: center;
  position: relative;
  bottom: 2px;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__heading h4.panel-title .panel-toggle .tab-image img {
  width: auto;
  height: auto;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__heading h4.panel-title .panel-toggle .tab-image .active-image {
  display: none;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__heading h4.panel-title .panel-toggle .accordion-icon-wrapper {
  width: 24px;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__heading h4.panel-title .panel-toggle .icon-minus {
  color: #fff;
  font-size: 12px;
  line-height: inherit;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__heading h4.panel-title .panel-toggle.collapsed {
  background: #fff;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__heading h4.panel-title .panel-toggle.collapsed .tab-image .active-image {
  display: inline-block;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__heading h4.panel-title .panel-toggle.collapsed .tab-image .not-active-image {
  display: none;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__heading h4.panel-title .panel-toggle.collapsed .title-text {
  color: #002F5F;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__heading h4.panel-title .panel-toggle.collapsed .icon-minus {
  color: #002F5F;
  font-size: 12px;
  line-height: inherit;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__heading h4.panel-title .panel-toggle.collapsed .icon-minus:before {
  content: '\ea79';
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__heading h4.panel-title .panel-toggle.active-parent {
  background: #fff;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__heading h4.panel-title .panel-toggle.active-parent .active-parent-icon {
  display: table-cell;
  width: 40px;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__heading h4.panel-title .panel-toggle.active-parent .active-parent-icon .icon-chevron-left {
  font-size: 24px;
  font-weight: 100;
  line-height: inherit;
  padding: 0 0 0 5px;
  display: block;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__heading h4.panel-title .panel-toggle.active-parent .title-text {
  color: #002F5F;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__heading h4.panel-title .panel-toggle.active-parent .icon-minus {
  display: none;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__heading h4.panel-title .panel-toggle.active-parent .tab-image {
  display: none;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__content .panel-body {
  padding: 0;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__content .panel-body .overlay-menu-subcategory {
  padding: 0;
  border-bottom: 1px solid #dadada;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__content .panel-body .overlay-menu-subcategory:last-of-type {
  border-bottom: none;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__content .panel-body .overlay-menu-subcategory h5 {
  font-size: 16px;
  line-height: 24px;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__content .panel-body .overlay-menu-subcategory h5 * {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__content .panel-body .overlay-menu-subcategory h5 a.subcategory-toggle {
  display: table;
  width: 100%;
  padding: 13px 9px 13px 60px;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__content .panel-body .overlay-menu-subcategory h5 a.subcategory-toggle:hover {
  text-decoration: none;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__content .panel-body .overlay-menu-subcategory h5 a.subcategory-toggle:hover * {
  text-decoration: none;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__content .panel-body .overlay-menu-subcategory h5 a.subcategory-toggle:focus {
  text-decoration: none;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__content .panel-body .overlay-menu-subcategory h5 a.subcategory-toggle:focus * {
  text-decoration: none;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__content .panel-body .overlay-menu-subcategory h5 a.subcategory-toggle .subcategory-title {
  display: table-cell;
  vertical-align: top;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__content .panel-body .overlay-menu-subcategory h5 a.subcategory-toggle .subcategory-icon {
  display: table-cell;
  float: right;
  vertical-align: top;
  font-size: 24px;
  font-weight: 200;
  color: #002F5F;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__content .panel-body .overlay-menu-subcategory h5 a.subcategory-toggle.active {
  background: #002f5f;
  color: #fff;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__content .panel-body .overlay-menu-subcategory h5 a.subcategory-toggle.active .subcategory-icon {
  color: #fff;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__content .panel-body .overlay-menu-subcategory h5 a.subcategory-toggle.active .subcategory-icon:before {
  content: '\e95b';
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__content .panel-body .overlay-menu-subcategory .subcategory-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__content .panel-body .overlay-menu-subcategory .subcategory-list .list-wrapper {
  padding: 20px 40px 20px 60px;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__content .panel-body .overlay-menu-subcategory .subcategory-list li a {
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
  display: block;
  padding: 20px 0;
  color: #55565a;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__content .panel-body .overlay-menu-subcategory .subcategory-list li a:hover {
  text-decoration: none;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__content .panel-body .overlay-menu-subcategory .subcategory-list li a:hover * {
  text-decoration: none;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__content .panel-body .overlay-menu-subcategory .subcategory-list li a:focus {
  text-decoration: none;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__content .panel-body .overlay-menu-subcategory .subcategory-list li a:focus * {
  text-decoration: none;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__content .panel-body .overlay-menu-subcategory .subcategory-list li a.overlay-tab-title {
  font-weight: 600;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__content .panel-body .overlay-menu-subcategory.subcategory-open {
  border-bottom: none;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__content .panel-body .overlay-menu-subcategory.main-subcategory h5 {
  color: #002F5F;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__content .panel-body .overlay-menu-subcategory.main-subcategory h5 .subcategory-toggle {
  padding-left: 70px;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__content .panel-body .overlay-menu-subcategory.main-subcategory h5 .subcategory-toggle.active {
  padding-left: 60px;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__content .panel-body .overlay-menu-subcategory.tools-brands h5 {
  color: #55565a;
  font-weight: 700;
}
header.main-header .amway-theme .mobile-container .overlay-mobile-menu .overlay-menu-component-mobile-wrapper .panel-group .overlay-menu-mobile__panel__content .panel-body .overlay-menu-subcategory.view-all-link h5 {
  color: #55565a;
  font-weight: 700;
}
.countryBox .content-item {
  font-size: 14px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #e3e3e3;
  display: block;
  position: relative;
  text-transform: uppercase;
}
.countryBox .content-item * {
  font-size: 14px;
  line-height: 24px;
}
.countryBox .content-item a.country-item-link {
  color: #55565a;
  padding: 8px 25px;
}
.countryBox .content-item a.country-item-link:hover {
  color: #002F5F;
  text-decoration: none;
}
.countryBox .content-item a.country-item-link:hover span {
  text-decoration: none;
}
.countryBox .content-item a.country-item-link:focus {
  color: #002F5F;
  text-decoration: none;
}
.countryBox .content-item a.country-item-link:focus span {
  text-decoration: none;
}
.countryBox .content-item a.language-item-link {
  color: #55565a;
  padding: 8px 25px;
}
.countryBox .content-item a.language-item-link:hover {
  color: #002F5F;
  text-decoration: none;
}
.countryBox .content-item a.language-item-link:hover span {
  text-decoration: none;
}
.countryBox .content-item a.language-item-link:focus {
  color: #002F5F;
  text-decoration: none;
}
.countryBox .content-item a.language-item-link:focus span {
  text-decoration: none;
}
.countryBox .content-item .flag-icon+.country-item-text {
  margin-left: 30px;
}
.countryBox .content-item .country-item-text {
  font-size: 14px;
  font-weight: 100;
}
.general-header {
  position: fixed;
  width: 100%;
  z-index: 9000;
  top: 0;
}
.general-header.header-not-fixed {
  z-index: 9991;
}
.main-header+div.container {
  background-color: #fff;
}
@media (max-width: 768px) {
  header.main-header .amway-theme .amw-navigation-menu .navigation-menu-container {
    padding: 0;
  }
  header.main-header .amway-theme .amw-navigation-menu .navigation-menu-container .desktop-nav-menu {
    padding: 0;
  }
  header.main-header .amway-theme .amw-navigation-menu .navigation-menu-container .desktop-nav-menu .top-menu {
    display: none;
  }
  header.main-header .amway-theme .amw-navigation-menu .navigation-menu-container .desktop-nav-menu .top-search {
    padding: 0 15px;
    border-top: 1px solid #dadada;
    display: none;
  }
  header.main-header .amway-theme .mobile-container {
    display: block;
  }
}
@media (min-width: 1281px) {
  header.main-header .amway-theme .overlay-menu-container {
    left: calc((100% - 1400px)/2);
  }
}
