/** ---------------------------------------------------------
  * @ 파일 : _guide.css
  * @ 구분 : html guide 전용
  * ---------------------------------------------------------
  */

/* 가이드용 재조정 */
h1,h2,h3,h4,h5,h6{etter-spacing:normal; margin:0; padding:0;}
.akl.htmlWSG table td {padding:0}
#guideType_form .customer-wrap {padding:0}

.mgbLarge {margin-bottom:60px;}



/* 가이드 목차 */
.container.guideIndex {position:relative; overflow:hidden; padding-top:100px;}
.container.guideIndex h1.guideHeading {position:absolute; top:50px; left:12px}
.container.guideIndex > section {float:left;}
.container.guideIndex .typeLayout {width:28%;}
.container.guideIndex .typeUIcommon {width:36%;}
.container.guideIndex .typeUIbehavior {width:36%;}

.btnLink {font-size:30px;}
.akl.htmlWSG .guideIndex h2.guideHeading {font-size:40px !important; line-height:normal; font-weight:300 !important;}
.akl.htmlWSG section{margin:0 0 20px;}
.akl.htmlWSG section li>a {}
.guideIndex ol {list-style-position:outside; padding-left:28px;}
.guideIndex ol li {padding-left:5px; list-style-type:decimal-leading-zero;}
.guideIndex ol li a {color:#777;line-height:normal; font-size:18px;}
.guideIndex ol li a:hover, .guideIndex ol li a:focus {text-decoration:underline; color:#222;/*  font-style:oblique */}

/* 가이드용 헤더 */

.akl.htmlWSG main {margin-top:;}
.akl.htmlWSG a.logo {display:inline-block; height:36px; padding:4px 0 0 120px; color:#fff; text-transform:uppercase; background:url(../theme-blue/images/logo1.png) 0 50% no-repeat; background-size:auto 36px;}
.akl.htmlWSG a.logo:hover {color:#fff;}
.akl.htmlWSG .header-wrapper {display:table; width:100%; height:100%;}
.akl.htmlWSG .header-wrapper .header-content {display:table-cell; vertical-align:middle;}
.akl.htmlWSG .navigation-menu-container {font-size:16px; height:64px;}
.akl.htmlWSG header.main-header .amw-navigation-menu .navigation-menu-container {max-width:1400px; padding:0 12px;}
.akl.htmlWSG .header-element-content h1 {margin:0; font-size:27px; font-weight:300 !important; letter-spacing:0;}


/* 가이드 제목 */
.akl.htmlWSG .topTitle {}
.akl.htmlWSG .topTitle h1 {padding:60px 0 20px; font-size:47px !important; letter-spacing:0; text-align:center; font-weight:300;  letter-spacing:-0.05em;}
.akl.htmlWSG .topTitle h1>span {display:block; margin-top:5px; font-size:18px; letter-spacing:0}

.subHeading { olor:#3f7bb7; font-weight:400 !important; font-size:18px !important; letter-spacing:0 !important; border-top:1px dashed #dcdcdc;}
.subHeading > em {display:inline-block; padding:20px; background:#444; color:#fff;}
.subHeading > em span {display:inline-block; margin-left:10px; color:#999;}
.subHeading > em span:before {content:'-'; display:inline-block; margin-right:10px;}

/* 가이드 코드 wrapper */
.guideCodeWrapper {padding:30px 0; margin-bottom:40px;}
.noline .guideCodeWrapper {}
.layerMask {background:rgba(0,0,0,0); width:100%; height:100%;}

/* 가이드 상세목록 */
.subHeading + .codeField {margin-top:20px;}

.subHeading.titType-Example {margin-top:40px; border-top:1px solid #eee; color:#aaa; font-weight:normal}
/* .subHeading.titType-Example:before {content:'\e909'; display:inline-block; padding-right:5px; vertical-align:middle; font-family:'AmwayIcons'!important; font-size:18px; } */
.subHeading.top {background:none; padding-left:0; border-top:1px solid #bbb; font-size:20px !important; color:#111 ;letter-spacing:-1px !important;}
.subList.border {margin-top:40px; border-bottom:0;}
.subList.border li {border-radius:3px; border:1px solid #ddd;}
.subList.border .subHeading {background:none;}
.subList.border .codeField {border:0;}

.subList {margin-bottom:100px;}
.subList>li {overflow:hidden;/*  border:1px solid rgba(167,186,206,.4); border-radius:15px; */}
.subList>li+li {margin-top:30px;}
.subtit {padding:45px 0 10px; margin-bottom:0; font-size:19px; font-weight:500; color:#111; letter-spacing:-1px;}
.guideCodeWrapper > .subtit:first-child {padding-top:0;}

/* 기타 */
.iconsLIST {overflow:hidden;}
.iconsLIST>li {float:left; display:block; width:20%; min-height:40px; box-sizing:border-box;}
.iconsLIST>li>span, .iconsLIST>li> div>span {display:block; padding:15px; height:auto; font-size:14px;}
.iconsLIST>li>span:before {margin-right:15px; font-size:24px; vertical-align:middle}
.iconsLIST>li [class^=icon-] {width:auto;}
.akl.htmlWSG .icon-minus:before {font-size:24px; vertical-align:middle}

.uiExample {margin:0 15px 20px;}
.codeField {padding:20px; border:1px dashed #e3e3e3; background:#f5f5f5;}
.codeField pre {border:0; padding:0; margin:0; background:#f5f5f5}
.codeField code { display:block; background:none; font-family:"Courier New", monospace;}
.codeField>p {padding:; margin-top:10px;font-size:14px;}
.codeField hr {border-top:1px dashed #ccc}
.codeField .subtit {padding:0; margin:0 0 25px; font-size:20px;}
.codeField .code-explain>span {display:inline-block; width:60px;}
.codeField .code-explain {font-family:'돋움체','DotumChe'; font-size:13px;}
.btns a+a{margin-left:10px;}

@media (max-width:900px){
	.iconsLIST>li {width:33%;}
}
@media (min-width:769px){
}
@media (max-width:768px){
	.mgbLarge {margin-bottom:30px;}

	/* 가이드용 헤더 */
	.akl.htmlWSG header.main-header .amway-theme .header-container {display:none;}
	.akl.htmlWSG header.main-header .navigation-menu-container .desktop-nav-menu {display:none;}
	.akl.htmlWSG header.main-header .amw-navigation-menu .navigation-menu-container {padding:0;}
	.akl.htmlWSG header.main-header .mobile-container {display:block;}
	.akl.htmlWSG header.main-header .mobile-container .mobile-wrapper .mobile-header-cell:first-of-type {border:0;}
	.akl.htmlWSG header.main-header .mobile-container .mobile-wrapper .mobile-nav-row-btn-logo {text-align:left;}
	.akl.htmlWSG .navigation-menu-toggle-wrapper {display:none !important;}
	.akl.htmlWSG .mobile-header-cell.mobile-nav-row-btn-logo {padding-left:15px; vertical-align:middle;}
	.akl.htmlWSG a.logo {display:inline-block; margin-top:3px; padding:6px 0 0 85px; color:#002f5f; background:url(../theme-blue/images/logo2.png) 0 50% no-repeat; background-size:auto 25px;}
	.akl.htmlWSG a.logo h1 {font-size:22px; font-weight:400 !important; letter-spacing:0;}

	/* 가이드 목차 */
	.akl.htmlWSG .guideIndex h2.guideHeading {padding:30px 0 10px; font-size:30px !important; font-weight:400 !important;}
	.container.guideIndex {padding:30px 15px;}
	.container.guideIndex h1.guideHeading {position:static; display:inline-block; padding:20px; font-size:20px !important; color:#fff; background:#333;}
	.container.guideIndex > section {float:none; width:100%; border-top:1px dashed #ddd;}
	.container.guideIndex .typeLayout {border-top:0}
	.container.guideIndex .typeLayout,
	.container.guideIndex .typeUIcommon,
	.container.guideIndex .typeUIbehavior {width:100%}
	.guideIndex ol {padding-left:0;}
	.guideIndex ol li {padding-left:33px;font-weight:300; font-size:14px; list-style-position:inside; margin-top:5px}
	.guideIndex ol li a {font-size:14px;}

	/* 가이드 제목 */
	.akl.htmlWSG .topTitle {margin-bottom:20px;}
	.akl.htmlWSG .topTitle h1 {font-size:24px !important; padding:40px 0 10px; font-weight:500;}
	.akl.htmlWSG .topTitle h1>span {font-size:14px; font-weight:400; color:#999; margin-top:2px;}
	.subHeading {position:relative; padding:20px; font-size:16px !important; background:#444; border-top:0}
	.subHeading > em {padding:0;}
	.subtit {font-size:16px; font-weight:500; padding:30px 0 15px; margin-bottom:0; color:#222;}



	/* 가이드 코드 wrapper */
	.guideCodeWrapper {border:0; border-width:0 1px 1px; border-radius:0; box-shadow:0px 10px 10px rgba(110,110,110,0);}
	#guideType_heading .guideCodeWrapper {padding:0}
	#guideType_heading .guideCodeWrapper.brand {margin-bottom:80px;}
	#guideType_heading .subList>li {overflow:visible;}
	.layerMask {padding-top:20px;}

	/* 가이드용 여백조정 */
	.akl.htmlWSG main {margin-top:62px;}
	.iconsLIST>li {width:50%;}
}
