/** ---------------------------------------------------------
  * @ 파일 : _guide.css
  * @ 구분 : html guide 전용
  * ---------------------------------------------------------
  */

h1,h2,h3,h4,h5,h6{ etter-spacing:normal; margin:0; padding:0;}

.amway-theme {}
.akl.htmlWSG a.logo {display:block; height:36px; padding-left:120px; color:#fff; font-size:26px; font-weight:500; text-transform:uppercase; background:url(../theme-blue/images/logo1.png) 0 50% no-repeat; background-size:auto 36px;}
.akl.htmlWSG a.logo:hover {color:#fff;}
.akl.htmlWSG .header-wrapper {display:table; width:100%; height:100%;}
.akl.htmlWSG .header-wrapper .header-content {display:table-cell; vertical-align:middle;}
.akl.htmlWSG .navigation-menu-container {font-size:16px; height:64px;}
.akl.htmlWSG header.main-header .amw-navigation-menu .navigation-menu-container {max-width:1400px; padding:0 12px;}
.akl.htmlWSG .header-element-content h1 {margin:0; }

.akl.htmlWSG .mobile-header-cell.mobile-nav-row-btn-logo {vertical-align:middle; border:1px solid red}

.akl h2, .akl .amway-theme h2
.akl.htmlWSG h1 {}
.akl.htmlWSG h2 {font-size:18px !important;}


.container > .topTitle {font-size:30px !important; padding:20px 0 0}
.guideCodeWrapper {border:1px solid #888; padding:20px 0; margin-bottom:40px;}
.guideCodeWrapper.noline {border:0;}

.codeField code {display:block; padding:20px;}
.codeField>p {padding:20px; margin-top:10px;font-size:14px; background:#f2f2f2; font-family:"Courier New", monospace;}

.uiExample {margin:0 15px 20px;}

.iconsLIST {overflow:hidden;}
.iconsLIST>li {float:left; display:block; width:20%; min-height:40px; box-sizing:border-box;}
.iconsLIST>li>span, .iconsLIST>li> div>span {display:block; padding:15px; height:auto; font-size:14px; }
.iconsLIST>li>span:before {margin-right:15px; font-size:24px; vertical-align:middle}
.iconsLIST>li [class^=icon-] {width:auto;}

.akl.htmlWSG .icon-minus:before {font-size:24px; vertical-align:middle}

@media (min-width:769px){
}

@media (max-width:900px){
	.iconsLIST>li {width:33%;}
}
@media (max-width:768px){
	.akl.htmlWSG header.main-header .amway-theme .header-container {display:none;}
	.akl.htmlWSG header.main-header .navigation-menu-container .desktop-nav-menu {display:none;}
	.akl.htmlWSG header.main-header .amw-navigation-menu .navigation-menu-container {padding:0;}
	.akl.htmlWSG header.main-header .mobile-container {display:block;}
	.akl.htmlWSG header.main-header .mobile-container .mobile-wrapper .mobile-header-cell:first-of-type {border:0}
	.akl.htmlWSG header.main-header .mobile-container .mobile-wrapper .mobile-nav-row-btn-logo {text-align:left;}

	.akl.htmlWSG a.logo {display:inline-block; margin-top:2px;padding-left:95px; font-size:20px; line-height:32px; color:#002f5f; background:url(../theme-blue/images/logo2.png) 0 50% no-repeat; background-size:auto 30px;}

	.akl.htmlWSG .container {margin-top:62px;}
	.guideCodeWrapper {padding:0 0 20px; margin-bottom:40px;}


	.iconsLIST>li {width:50%;}


}