/************************************************
Version : Hybris UIUX 1.0
Date : 2018-03-20
Editor : hana Kim
*************************************************/

@charset "utf-8";

@font-face {
  font-family: 'NSL';
  src: url(/assets/fonts/NotoSansKR-Light.woff2) format('woff2'),
  	   url(/assets/fonts/NotoSansKR-Light.woff) format('woff'),
       url(/assets/fonts/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
   font-family: 'NSR';
   src: url(/assets/fonts/NotoSansKR-Regular.woff2) format('woff2'),
        url(/assets/fonts/NotoSansKR-Regular.woff) format('woff'),
        url(/assets/fonts/NotoSansKR-Regular.otf) format('opentype');
 }
@font-face {
   font-family: 'NSM';
   src: url(/assets/fonts/NotoSansKR-Medium.woff2) format('woff2'),
        url(/assets/fonts/NotoSansKR-Medium.woff) format('woff'),
        url(/assets/fonts/NotoSansKR-Medium.otf) format('opentype');
 }
@font-face {
   font-family: 'NSB';
   src: url(/assets/fonts/NotoSansKR-Bold.woff2) format('woff2'),
        url(/assets/fonts/NotoSansKR-Bold.woff) format('woff'),
        url(/assets/fonts/NotoSansKR-Bold.otf) format('opentype');
 }
/* @font-face {
   font-family: 'NSBK';
   src: url(/assets/fonts/NotoSansKR-Black.woff2) format('woff2'),
        url(/assets/fonts/NotoSansKR-Black.woff) format('woff'),
        url(/assets/fonts/NotoSansKR-Black.otf) format('opentype');
 } */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin:0; padding:0; border:0}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
body {line-height:1.7em;}
ol, ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:''; content:none;}
table {border-collapse:collapse; border-spacing:0;}

h1, h2, h3, h4, h5, h6, strong, th {font-weight:normal;}
th {font-weight:normal;}
th, td {word-wrap:break-word;}
img {font-size:0; vertical-align:top;}
fieldset,img {border:0 none;}
fieldset {float:none;}
body, select, input, button, textarea, a {font-family:'NSM', 돋움, dotum, sans-serif; font-size:14px; letter-spacing:-0.025em; color:#1a1a1a;}
a {text-decoration:none; color:#1a1a1a;}
/* a:active,a:hover {color:#1a1a1a;} */
address,cite,code,dfn,em,var {font-style:normal; font-weight:normal;}
legend, hr {overflow:hidden !important; width:1px !important; height:1px !important; margin:-1px !important; position:absolute !important; clip:rect(0 0 0 0) !important; border:0 !important; padding:0 !important;}
address, em {font-style:normal;}
caption {overflow:hidden; width:1px; height:1px; padding:0; margin-top:-1px; font-size:0; line-height:0; text-indent:-999px;}
button {padding:0; border:none; background:none; cursor:pointer;}
*:focus {outline:none}

/* etc */
.elips {text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.break {display:inline-block;}
.blck {display:block;}
.hide {display:none !important; visibility:hidden;}
.blind {overflow:hidden !important; width:1px !important; height:1px !important; margin:-1px !important; position:absolute !important; clip:rect(0 0 0 0) !important; border:0 !important; padding:0 !important;}
.bg_bar span + span:before {content:''; display:inline-block; width:1px; height:12px; margin:-3px 13px 0; vertical-align:middle; background-color:#cfd3dc}

/* form */
select, input[type='text'], input[type='password'] {height:35px; padding:0 10px; line-height:normal; font-size:16px; box-sizing:border-box; vertical-align:middle; border:1px solid #08132f; color:#21243d}
input::-webkit-input-placeholder {color:#999 !important; font-family:'NSR'}
input[type='password'] {letter-spacing:normal;}
input[type='password']:disabled, input[type='text']:disabled {border-color:#999; background-color:#ececec}

select {width:160px; padding:0 10px; box-sizing:border-box; -webkit-appearance:none; background:url(/assets/images/common/ico_sel_arrow.png) right 14px  no-repeat; }
input[type='radio'], input[type='checkbox'] {position:absolute; opacity:0}
.checkmark:after {content: ""; position:absolute; display:none;}
input:checked + .checkmark:after {display:block;}
input:disabled + .checkmark:after {display:block; background-color:#999}
.inp_rd, .inp_ck {display:inline-block; position:relative; padding-left:25px; height:18px; cursor:pointer; -webkit-user-select: none;}
.inp_rd.single {padding-left:18px}
.inp_rd + .inp_rd, .inp_ck + .inp_ck {margin-left:18px}
.inp_rd .checkmark, .inp_ck .checkmark {position:absolute; top:3px; left:0; width:18px; height:18px; border:1px solid #9d9d9d; border-radius:9px; background-color:#fff; box-sizing:border-box;}
.inp_rd .checkmark:after {top:3px; left:3px; width:10px; height:10px; background-color:#1265cc; border-radius:5px}
.inp_ck .checkmark {border-radius:0}
.inp_ck input:checked + .checkmark {background-color:#1265cc; border-color:#1265cc}
.inp_ck input:disabled + .checkmark {background-color:#999; border-color:#999}
.inp_ck .checkmark:after {top:2px; left:5px; width:4px; height:7px; border:solid white; border-width:0 2px 2px 0; transform:rotate(45deg);}
.inp_rd.type01 {font-family:'NSB'; font-size:13px}

.in_form + .in_form {margin-top:8px}

/* Align */
.ac {text-align:center !important;}
.al {text-align:left !important;}
.ar {text-align:right !important;}

.vt {vertical-align:top !important;}
.vm {vertical-align:middle !important;}
.vb {vertical-align:bottom !important;}

.fl {float:left}
.fr {float:right}
.clearfix:after {content:''; display:block; clear:both;}

/* font */
.fc_red {color:#f34242}

/* text */
.txt_info01 {margin-left:-22px; text-indent:-22px; font-size:13px; font-family:'NSR'; text-align:left;}
.txt01 {font-size:13px; font-family:'NSR'; margin-bottom:1px}

/* icon */
[class*='ico_comm'] {display:inline-block; vertical-align:middle; text-indent:-999px; overflow:hidden; background:url(/assets/images/ico_comm.png) no-repeat; box-sizing:border-box;}
.ico_comm.name {width:32px; height:32px; margin:-5px 5px 0 0}
.ico_comm.plus {width:10px; height:10px; background-position:-200px 0; margin:-5px 5px 0 0}
.ico_comm.minus {width:10px; height:10px; background-position:-150px 0; margin:-5px 5px 0 0}


/* button*/
[class*='btn0'] {display:inline-block; box-sizing:border-box; text-align:center; vertical-align:middle;}
[class*='btn01'] {min-width:120px; height:35px; padding:0 20px; line-height:32px; font-family:'NSB'; font-size:16px;}
.btn01_white {color:#11224e; background-color:#fff; border:1px solid #11224e}
.btn01_white:active {background-color:#ebf2f7}
.btn01_blue {color:#fff; background-color:#11224e;}
.btn01_blue:active {background-color:#0c1836}

/* tag */
[class*='tag0'] {display:inline-block; box-sizing:border-box; text-align:center;}
.tag01 {position:relative; padding:0 8px; font-size:12px; line-height:18px; background-color:#f34242; color:#fff;}
.tag01:after {content:''; position:absolute; top:0; right:-9px; display:inline-block; margin-left:10px; border-width:20px 9px 0 0; border-color:#f34242 transparent transparent #f34242; border-style:solid;}

/* popup */
.layer_pop {position:fixed; left:0; right:0; top:0; bottom:0; background-color:rgba(0,0,0,0.8); z-index:99; display:flex; justify-content:center; align-items:center;}
.layer_pop.up {z-index:199; background-color:rgba(0,0,0,0.7);}
.layer_pop.up .pop_wrap {z-index:200}
.layer_pop.down {background-color:rgba(0,0,0,0.3)}

.pop_wrap {position:relative; background-color:#fff; z-index:100;}
.pop_container {}
.pop_content {padding:30px 30px 0; max-height:600px; overflow:auto;}
.pop_content.type02 {background-color:#f2f2f5}
.pop_footer {height:75px; padding:20px 30px; box-sizing:border-box;}
.pop_footer.line {border-top:1px solid #ccc}
.pop_footer.line02 {border-top:1px solid #ccc; margin-top:30px}
.pop_footer .fl {margin-top:8px; font-family:'NSB'; font-size:13px}
.pop_footer .finish, .pop_content .finish{float:left; position:relative; display:inline-block; width:400px; text-align:center; margin-top:7px; font-size:16px}
.pop_footer .finish:before, .pop_content .finish:before{content:''; display:inline-block; width:25px; height:25px; box-sizing:border-box; margin:-3px 10px 0 0; vertical-align:middle; background:url(/assets/images/common/ico_common.png) no-repeat}
.pop_footer .finish.ok, .pop_content .finish.ok {color:#20893d}
.pop_footer .finish.ok:before, .pop_content .finish.ok:before{background-position:-47px -135px}
.pop_footer .finish.fail, .pop_content .finish.fail{color:#f34242}
.pop_footer .finish.fail:before, .pop_content .finish.fail:before{background-position:-97px -135px}
.pop_content .finish{width:100%; margin-top:25px}

.pop_wrap.pop_s {width:380px}
.pop_wrap.pop_m {width:550px}
.pop_wrap.pop_l {width:800px}

.pop_header {height:60px; padding:18px 30px 0; box-sizing: border-box; background-color:#11224e;}
.pop_header h1 {font-family:'NSR'; font-size:20px; color:#fff;}
.pop_header .pop_close01 {position:absolute; right:30px; top:20px}

.pop_header02 {}
.pop_header02 .pop_close02 {position:absolute; right:30px; top:20px}

.txt_alert {padding:20px 0 50px; font-size:15px; font-family:'NSR'; text-align:center;}
.txt_alert .blck {margin-top:15px}

.pop_wrap.pop_new {position:static; left:auto; top:auto; width:auto; margin-left:0;}
.pop_wrap.pop_new .pop_header {position:fixed; z-index:1;}
.pop_wrap.pop_new .pop_header .pop_close01 {display:none;}
.pop_wrap.pop_new .pop_container {overflow:visible; max-height:none;}

/* alert */
.layer_alert {position:fixed; left:0; right:0; top:0; bottom:0; background-color:rgba(255,255,255,0); z-index:499; display:flex; justify-content:center; align-items:center;}
.alert_wrap {position:relative; width:400px; padding:0 30px; box-sizing:border-box; background-color:#fff; box-shadow: 0px 0px 18px 4px rgba(0,19,50,0.2); z-index:500;}
.alert_header {height:60px; padding-top:19px; box-sizing: border-box; border-bottom:1px solid #ccc}
.alert_header h1 {font-family:'NSR'; font-size:20px;}
.alert_container {padding:60px 0 65px; text-align:center;}

/* table */
table input[type='text'] {font-family:'NSM';}

.tbl_row table {width:100%; border-top:1px solid #ddd}
.tbl_row tr {height:50px; border-bottom:1px solid #ddd}
.tbl_row tr:nth-child(even) {background-color:#f2f2f5}
.tbl_row td .won {display:inline-block; width:110px; padding-right:10px; box-sizing:border-box; text-align:right;}
.tbl_row td .txt_inp01 {display:inline-block; margin-left:13px; box-sizing:border-box; vertical-align:middle; line-height:18px; font-family:'NSR'; font-size:13px}
.tbl_row tr input[type='text'] {font-size:14px}
.tbl_row th, .tbl_row td {text-align:left; padding:0 20px; box-sizing:border-box;}
.tbl_row th {color:#21243d; line-height:16px}
.tbl_row td {font-family:'NSB'}

.tbl_col table {width:100%}
.tbl_col thead tr {height:30px; font-size:13px; background-color:#f8f9fb}
.tbl_col thead tr th {color:#21243d}
.tbl_col tbody tr {border-top:5px solid #f2f2f5}
.tbl_col tbody tr td {height:40px; background-color:#fff}
.tbl_col tbody tr.on td {background-color:#1265cc; color:#fff}
.tbl_col tbody tr.on [class*='tag0'] {border:1px solid #fff}
.tbl_col tbody tr.on .elips {font-family:'NSM';}
.tbl_col tbody td {text-align:center;}
.tbl_col tbody td.name span {text-align:center;}
.tbl_col tbody td.ar {padding-right:15px}
.tbl_col tbody td .elips {display:block; box-sizing:border-box; text-align:left; font-family:'NSB'}
.tbl_col tbody td .bg_bar, .tbl_col.bg_bar td > span {position:relative; display:block; font-family:'NSR'; font-size:13px; height:23px}
.tbl_col tbody td .bg_bar:before, .tbl_col.bg_bar td > span:before {content:''; position:absolute; top:6px; left:0; display:inline-block; width:1px; height:12px; background-color:#ccc}
.tbl_col.bg_bar td > span.none:before, .tbl_col.bg_bar td:first-child > span:before {content:''; display:none}
.tbl_col.bg_bar td > span[class*='tag'] {display:inline-block; height:20px; line-height:20px; font-size:11px; font-family:'NSM';}
.tbl_col tbody td .elips.bg_bar, .tbl_col.bg_bar td > .elips {padding-left:15px}
.tbl_col tbody td .elips.mx70 {max-width:70px}
.tbl_col tbody td .elips.mx90 {max-width:90px}
.tbl_col tbody td .elips.mx110 {max-width:110px}
.tbl_col tbody td .elips.mx150 {max-width:150px}
.tbl_col tbody td .elips.mx270 {max-width:270px}
.tbl_col tbody td .elips.mx315 {max-width:315px}
.tbl_col tbody td .elips.mx420 {max-width:420px}

/* scroll table */
.scroll_tbl {position:relative; width:100%; padding:29px 0 9px; margin-top:2px; border-top:1px solid #ececec; border-bottom:1px solid #ececec; }
.scroll_tbl div {max-height:285px; overflow-y:scroll; overflow-x:hidden;}
.scroll_tbl table { width:100%; line-height:15px;}
.scroll_tbl table thead tr {position:absolute; top:0; display:inline-table; width:100%; margin-top:13px; color:#666}
.scroll_tbl table thead tr th:nth-of-type(1) {width:20px}
.scroll_tbl table thead tr th:nth-of-type(2) {}
.scroll_tbl table thead tr th:nth-of-type(3) {width:70px}
.scroll_tbl table thead tr th:nth-of-type(4) {width:30px}
.scroll_tbl table thead tr th:nth-of-type(5) {width:70px}
.scroll_tbl table tr td {padding:4px 2px; vertical-align:top;}
.scroll_tbl table tr td:nth-of-type(1) {text-align:center;}
.scroll_tbl table tr td:nth-of-type(3) {text-align:right;}
.scroll_tbl table tr td:nth-of-type(4) {text-align:center;}
.scroll_tbl table tr td:nth-of-type(5) {text-align:right;}

.no_data {height:94px; box-sizing:border-box; text-align:center; padding-top:32px; border-top:1px solid #ccc; border-bottom:1px solid #ccc; font-family:'NSB'; font-size:13px}

/* tab */


/* loading */
.loading_wrap .loading_dim {position:fixed; left:0; right:0; top:0; bottom:0; background-color:#000; opacity:0; z-index:9999;}
.loading_wrap .loading_img {position:fixed; left:50%; top:50%; margin:-65px 0 0 -80px; display:block; border-radius:5px; padding:2px; background-color:#fff; border:3px solid #47b8f2; z-index:10000; }

/* layout */
header {position:relative; height:75px; background-color:#fff; box-shadow: 0px 3px 8px 0px rgba(5,11,60,0.1); z-index:1}
header img {margin-top:20px}
header h1 {display:inline-block; height:34px; margin:21px 0 0 28px; padding:5px 0 0 10px; border-left:1px solid #dedddd; box-sizing:border-box; font-family:'NSM'; font-size:16px; color:#002f5f}
header .right {position:absolute; right:40px; top:25px}
header .right > * {color:#002f5f}
header .right a {margin-left:40px}

#container {min-width:1500px; max-width:1700px;}
.location {height:94px; padding-top:35px; box-sizing:border-box; color:#56565a; font-size:13px}
.location span + span:before {content:'/'; font-family:'NSR'; margin:-2px 3px 0 1px}
.content {display:table; width:100%; box-sizing:border-box}
.content nav {display:table-cell; width:250px; padding-right:50px}
.content nav * {box-sizing:border-box}
.content nav .menu {}
.content nav .menu h2 {height:40px; padding:7px 0 0 19px; border-top:1px solid #dadada; border-bottom:1px solid #dadada; font-size:13px; font-family:'NSB'; color:#002f5f; background-color:#f4f4f4}
.content nav .menu > ul {}
.content nav .menu > ul > li {border-bottom:1px solid #dadada}
.content nav .menu > ul > li > a {display:block; height:50px; padding:12px 0 0 19px; font-family:'NSM'; color:#002f5f}
.content nav .menu > ul > li > a .ico_comm {width:10px; height:10px; background-position:-200px 0; margin:7px 20px 0 0; float:right}
.content nav .menu ul ul {display:none; padding-left:30px; margin-top:-5px}
.content nav .menu ul ul li {}
.content nav .menu ul ul li a {display:block; height:40px; font-family:'NSR'; color:#56565a}
.content nav .menu > ul > li.open > a {}
.content nav .menu > ul > li.open ul {display:block}
.content nav .menu > ul > li.open > a .ico_comm {background-position:-150px 0;}
.content nav .menu + .menu {margin-top:30px}

.content .section {display:table-cell; vertical-align:top}
.content .section h3 {margin-top:-3px; font-size:18px; color:#002f5f}

footer {height:90px; margin-top:100px; text-align:center; padding-top:32px; box-sizing:border-box; font-size:12px; font-family:'NSR'; color:#fff; letter-spacing:0; background-color:#002f5f}







